<?php 
date_default_timezone_set("America/Bogota");
setlocale(LC_ALL,"es_ES@euro","es_ES","esp");
?>

<!DOCTYPE html>

<html lang="es">


<head>

	<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ver Hoja de Vida</title>
	<?php $this->assets->outputCss() ?>

</head>

<body onload="print()">
<div style="width: 290px">
<div style="padding-top:50px;float: left; margin-left: 13px; text-transform: uppercase; font-size: 9pt; color: #1a1a1a; position: relative; width: 100%; line-height: 17px;">
	<?=$per->per_pno." ".$per->per_pap?><br>
	cc. <?=$per->per_ide?><br>
	<?=$ord->ord_car?><br>
	<?=$emp->getEmpRaz()?><br><br>
	<? 
	include('src/BarcodeGenerator.php');
	include('src/BarcodeGeneratorPNG.php');
	include('src/BarcodeGeneratorSVG.php');
	include('src/BarcodeGeneratorJPG.php');
	include('src/BarcodeGeneratorHTML.php');
	$generator = new Picqer\Barcode\BarcodeGeneratorPNG();
echo '<img style="position: absolute; bottom: -20px; right: 0px;" src="data:image/png;base64,' . base64_encode($generator->getBarcode($per->per_ide, $generator::TYPE_CODE_128)) . '">'; ?>
	<img src="<?=$this->url->get()?>files/<?=$per->per_fot?>" style="position:absolute; right: 0px; top:0px; width: 90px; height: 110px" alt="contactamos">
</div>
</div>
</body>


</html>







