<?php 
date_default_timezone_set("America/Bogota");
setlocale(LC_ALL,"es_ES@euro","es_ES","esp");
?>

<!DOCTYPE html>

<html lang="es">


<head>

	<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Ver Hoja de Vida</title>
	<?php $this->assets->outputCss() ?>

</head>

<body>
<div id="wrapper" style="max-width: 1200px">
	<div class="content">
		<div id="foto">
			<img src="<?=$this->url->get()."files/".$per->per_fot ?>" alt=""><br>
			<h1><?=ucwords($per->per_pno . " " . $per->per_sno . " " .$per->per_pap . " " . $per->per_sap) ?></h1>
			<p><?=ucwords($per->per_pro)?></p>
		</div>
  </div>
        
        <div class="content2" style="width: auto">	       
        <div class="basicos">
        <table class="basicostb">
  		<tr>
        <td><span>Documento:</span><?=Tipos::findFirst($per->per_tid)->tip_des ?> - <?=$per->per_ide?></td>
        </tr>       
          
               <tr>
        <td><span>Fecha de Expedición:</span><?=$per->per_fex?></td>
        </tr>
        
        <tr>
        <td><span>Profesión Principal:</span><?=ucwords($per->per_pro)?></td>
        </tr>
         <tr>
        <td><span>Nivel de Escolaridad:</span> <?=Tipos::findFirst($per->per_niv)->tip_des ?></td>
        </tr>
             <tr>
        <td><span>Estado Civil:</span> <?=Tipos::findFirst($per->per_civ)->tip_des ?></td>
        </tr>
        
         <tr>
        <td><span>Aspiración Salarial:</span><?=$per->per_asp?></td>
        </tr>
        <tr>
        <td><span>Disponibilidad para turnos:</span><?=$per->per_tur?></td>
        </tr>
              
         </table>
        </div>
       
    
       </div>
       <div style=" float: left; margin-left: 30px; margin-top: 80px">
       	<img src="<?=$this->url->get()?>img/logo-perfil.png" alt="">
       </div>
       
     <div class="titulos">Datos Básicos</div>   
       
<section id="exp1">
<table class="estudiostb">
<tr><td><span>Género:</span> <?=Tipos::findFirst($per->per_sex)->tip_des ?></td></tr>
<tr><td><span>País Nacimiento:</span> <?=$per->per_pai?> <span>Lugar Nacimiento:</span><?=Muni::findFirst($per->per_cna)->mun_nom?></td></tr>
<tr><td><span>Fecha de Nacimiento:</span><?=$per->per_fna?></td></tr>
<tr><td><span>Edad:</span><?=$per->per_eda?></td></tr>
<tr><td><span>Grupo Sanguíneo:</span><?=Tipos::findFirst($per->per_gsa)->tip_des ?></td></tr>
<tr><td><span>Estatura:</span><?=Tipos::findFirst($per->per_ura)->tip_des ?> CM</td></tr>
<tr><td><span>Peso:</span><?=$per->per_pes?> </td></tr>
<tr><td><span>Talla Camisa</span><?=$per->per_tca?></td></tr>
<tr><td><span>Talla Zapato</span><?=$per->per_tza?></td></tr>
<tr><td><span>Talla Pantalón</span><?=$per->per_tpa?></td></tr>
<tr><td><span>Libreta Militar No.:</span><?=$per->per_nlm?> - <?=$per->per_dis?></td></tr>
<tr><td><span>Licencia de Conducción:</span><?=$per->per_lco?> - <?=$per->per_cat?></td></tr>

</table>
</section>

<section id="exp2">
 <table class="estudiostb">
<tr><td><span>Correo Electrónico:</span><?=$per->per_ema?></td></tr>
<tr><td><span>Teléfono:</span><?=$per->per_tel?></td></tr>
<tr><td><span>Celular:</span><?=$per->per_cel?></td></tr>
<tr><td><span>Lugar de Residencia:</span><?=Muni::findFirst($per->per_ciu)->mun_nom?></td></tr>
<tr><td><span>Dirección:</span> <?=$per->per_dir?>  - <?=$per->per_bar?></td></tr>
<tr><td><span>Estrato:</span><?=Tipos::findFirst($per->per_ato)->tip_des ?></td></tr>

</table>
</section>		
 
 
 <div class="content3">
 
 <div class="titulos">Información de Estudios</div>
 
 <table width="1868" class="basicostb">
    <tr>
       <td width="562"><span>Entidad</span></td>
       <td width="296"><span>Título</span></td>
       <td width="388"><span>Fecha Finalización</span></td>
	</tr>
 	<?php 
		if (count($estudios) > 0) { ?>
				<?php 
				foreach ($estudios as $key => $est) { ?>
					<tr>
						<td><?=ucwords($est->est_ent)?></td>
						<td><?=$est->est_pro?></td>
						<td><?=strftime("%#d de %B de %Y", strtotime($est->est_fec));?></td>
					</tr>
				<? }
				?>
		<? }
		?>

 </table>
 </div>
  
  
<div class="titulos">Experiencia Laboral</div>
<?php 
		if (count($experiencias) > 0) { ?>
			
				<?php 
				$i = 1;
				foreach ($experiencias as $key => $exp) { ?>
					<section id="exp<?=$i?>">
						<table class="estudiostb">
						<tr>
							<td><span id="funcion" style="color: #1A7E06; font-size: 12pt;"><?=ucwords($exp->exp_emp)?></span>
							</td>                            
						<tr>
							<td><span><?=$exp->exp_car?></span></td>
						</tr>
						<tr>
							<td><span>Fecha Inicio:</span><?=$exp->exp_ini?></td>
						</tr>
						<tr>
							<td><span>Fecha Finalización:</span><?=$exp->exp_ffi?></td>
						</tr>
						<tr>
							<td><span>Motivo de Retiro:</span><?=$exp->exp_mot?></td>
						</tr>
						<tr>
							<td>
							<span id="funcion">Funciones:</span><?=$exp->exp_des?></td>
						</tr>
						</table>
					</section>
				<? 
				$i++;
			}
				?>
			
		<? } else {
			echo '<p style="padding: 10px 0px; text-align: center">Sin experiencia</p>';
		}
		?>			
  
  <div class="content3">
 
 <div class="titulos">Núcleo Familiar</div>
 
 <table class="basicostb">
    <tr>
       <td><span>Nombre Completo</span></td>		       
       <td><span>Parentesco</span></td>
       <td><span>Ocupación</span></td>
       <td><span>Edad</span></td>
	</tr>
 	<?php 
		if (count($hijos) > 0) { ?>
				<?php 
				foreach ($hijos as $key => $hij) { ?>
					<tr>
						<td><?=ucwords($hij->hij_nom)?></td>
						<td><?=$hij->hij_par?></td>
						<td><?=$hij->hij_ocu?></td>
						<td><?=$hij->hij_eda?></td>
					</tr>
				<? }
				?>
		<? }
		?>

 </table>
 
 </div>
  
  <div class="content3">
 
 <div class="titulos">Referencias Personales y/o Familiares</div>
 
 <table width="1043" class="basicostb">
    <tr>
       <td width="378"><span>Nombre Completo</span></td>		       
       <td width="221"><span>Parentesco</span></td>
       <td width="165"><span>Teléfono</span></td>
       <td width="217"><span>Ocupación</span></td>
	</tr>
	<?php 
		if (count($referencias) > 0) { ?>
				<?php 
				foreach ($referencias as $key => $ref) { ?>
					<tr>
						<td><?=$ref->fam_nom?></td>
						<td><?=ucfirst($ref->fam_par)?></td>
						<td><?=$ref->fam_tel?></td>
						<td><?=ucfirst($ref->fam_ocu)?></td>
					</tr>
				<? }
				?>
		<? }
		?>
 </table>
 </div>  


</div>
<footer align="center">
Contactamos 2016
</footer>
</body>


</html>







