
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resultado 16 PF</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	 <script type="text/javascript" src="https://www.google.com/jsapi"></script>

	 <script>
	 	function AbrirModal(){
			$(".negro").css("display", "block")
			$("#modal_documentos").css("display", "block")
			
		}

		function cerrarModal(){
			$(".negro").css("display", "none")
			$("#modal_documentos").css("display", "none")


		}
	 </script>
 	

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("VerPF/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'VerPF/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'VerPF/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'VerPF/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">
	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
				<a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
				<div style="padding-left:0px;color:#f0584a">Resultado 16PF <div onclick="eliminarPrueba('<?=$pf?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
				<div id="modal_documentos" style="background-color:white;">
				


					<?

						$fotos = Fotos::find("fot_pru='16PF' AND per_cod=".$per_cod);
						foreach ($fotos as $key => $fot) {
							?>
								<center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
							<?
						}
					?>
				</div>
					<div class="consulta">
						<!-- <p>Resultado 16 PF</p> -->
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       <?php foreach ($persona as  $per): ?>
					       	
					      
					                <tr>
					                    <td><?=$per->per_ide?></td>
					                    <td><?=$per->per_pno?></td>
					                    <td><?=$per->per_pap?></td>
					                    <td><?=$per->per_pro?></td>
					                </tr>
					             <?php endforeach ?>
        				</table>
					</div>
					<br>
					<? $dis = 0; ?>
					<?php foreach ($persona as $per): ?>
						<?php 
							$edad = $per->EDAD_ACTUAL; 
							$sexo = ($per->per_sex=="6") ? "M" : "F";

							$varemo = "";
							if($edad<18 ){
								$ed = 1;
							}else{
								$ed = 5;
							}
							if($sexo=="M"){
								$sex = 1;
							}else{
								$sex = 10;
							}

							$ed_sex = $ed + $sex;

							if($ed_sex==6){
								$varemo	=1;
							}

							if($ed_sex==15){
								$varemo	=2;
							}

							if($ed_sex==2){
								$varemo	=3;
							}

							if($ed_sex==11){
								$varemo	=4;
							}

							if ($pf == "") {
								echo "El aspirante no ha realizado la prueba";
								return false;
							}

							$registros = Preguntas16pf::obtenerRes($per_cod);
							if (count($registros)> 0){
							foreach($registros  as $reg){
	$p = $reg->pregunta;
	$r = $reg->respuesta;

	//DISTORSION
	//IFR(R==A)1;0



	if(($p=="4") || ($p=="9") || ($p=="25") || ($p=="67") || ($p=="75") || ($p=="92") || ($p=="95") || ($p=="175")){

		if($r=="A"){
			$dis = $dis+1;
		}


	}
	//IF(R==C)1;0
	if(($p=="28") || ($p=="37") || ($p=="84") || ($p=="112") || ($p=="113") || ($p=="151") || ($p=="170") ){

		if($r=="C"){
			$dis = $dis+1;
		}


	}
		//IF(R="B")1;0
		if($p==3 || $p==22 || $p==40 || $p==59 || $p==78 || $p==97){
		//case '3':case '22':case '40':case '59':case '78':case '97':
		$array_y[$p]=0;
			if($r=="B"){
				$array_x[$p] = 1;

			}else{
				$array_x[$p] = 0;
			}

			$array_xy[$p] = $array_x[$p] + $array_y[$p];
		//break;
}
		//IF(R="C")1;0
		if($p==41 || $p==60 || $p==79 || $p==135 ){
		$array_y[$p]=0;
			if($r=="C"){
				$array_x[$p] = 1;

			}else{
				$array_x[$p] = 0;
			}

			$array_xy[$p] = $array_x[$p] + $array_y[$p];
		}
		//break;

		//IF(R="A")1;0
		if($p==116 || $p==173 ){

		$array_y[$p]=0;
			if($r=="C"){
				$array_x[$p] = 1;

			}else{
				$array_x[$p] = 0;
			}

			$array_xy[$p] = $array_x[$p] + $array_y[$p];
		}


		if($p==4 || $p==6 || $p==9 || $p==14 || $p==16 || $p==20 || $p==25 || $p==26
		|| $p==29 || $p==30 || $p==32 || $p==33 || $p==36 || $p==38 || $p==45 || $p==47 || $p==48 || $p==50 || $p==53 || $p==55 || $p==56 || $p==57 || $p==61 || $p==62 || $p==69 || $p==70 || $p==72 || $p==73 || $p==75|| $p==76|| $p==77 || $p==80 || $p==82 || $p==83 || $p==87 || $p==88 || $p==90 || $p==91 || $p==93 || $p==101 || $p==102 || $p==102 || $p==104 || $p==105 || $p==109 || $p==113 || $p==115 || $p==117 || $p==118 || $p==122 || $p==123 || $p==125 || $p==126|| $p==128|| $p==131 || $p==132 || $p==134 || $p==137 || $p==138 || $p==140 || $p==141 || $p==142 || $p==143 || $p==144 || $p==145 || $p==146 || $p==147 || $p==148 || $p==149 || $p==151 || $p==154 || $p==156 || $p==157 || $p==158 || $p==159 || $p==163  || $p==164  || $p==165  || $p==166  || $p==167  || $p==168  || $p==169 || $p==170 || $p==172 || $p==173 || $p==174 || $p==175 || $p==176 || $p==177 || $p==178 || $p==179 || $p==180 || $p==181 || $p==184){
		$array_y[$p]=0;
		//A2B1
			if($r=="A"){
				$array_x[$p] = 2;

			}else{
				$array_x[$p] = 0;
			}

			if($r=="B"){
				$array_y[$p] = 1;

			}else{
				$array_y[$p] = 0;
			}

			$array_xy[$p] = $array_x[$p] + $array_y[$p];

	}
		//IF(R="C")2;0

	if($p==5 || $p==7 || $p==8 || $p==10 || $p==11 || $p==12 || $p==13 || $p==15
		|| $p==17 || $p==18 || $p==19 || $p==21 || $p==23 || $p==24 || $p==27 || $p==28 || $p==31 || $p==34 || $p==35 || $p==37 || $p==39 || $p==42 || $p==43 || $p==44 || $p==46 || $p==49 || $p==51 || $p==52 || $p==54|| $p==58|| $p==63 || $p==64 || $p==65 || $p==66 || $p==67 || $p==68 || $p==71 || $p==74 || $p==81 || $p==84 || $p==85 || $p==86 || $p==89 || $p==92 || $p==94 || $p==95 || $p==96 || $p==98 || $p==99 || $p==100 || $p==103 || $p==106 || $p==107 || $p==108 || $p==110 || $p==111 || $p==112 || $p==114 || $p==119 || $p==120 || $p==121 || $p==124 || $p==127 || $p==129 || $p==130 || $p==133 || $p==136 || $p==139 || $p==150 || $p==152 || $p==153 || $p==155  || $p==160  || $p==161  || $p==162  || $p==171  || $p==182 || $p==183 || $p==185 || $p==186){

			$array_y[$p]=0;

			//B1C2
			if($r=="C"){
				$array_x[$p] = 2;

			}else{
				$array_x[$p] = 0;
			}

			if($r=="B"){
				$array_y[$p] = 1;

			}else{
				$array_y[$p] = 0;
			}

			$array_xy[$p] = $array_x[$p] + $array_y[$p];

	}


	}
}

	//VALOR A
$A=$array_xy[20]+$array_xy[21]+$array_xy[39]+$array_xy[58]+$array_xy[77]+$array_xy[96]+$array_xy[115]+$array_xy[134]+$array_xy[153]+$array_xy[172];

//VALOR B
$B=$array_xy[3]+$array_xy[22]+$array_xy[40]+$array_xy[41]+$array_xy[59]+$array_xy[60]+$array_xy[78]+$array_xy[79]+$array_xy[97]+$array_xy[116]+$array_xy[135]+$array_xy[154]+$array_xy[173];

//VALOR C
$C=$array_xy[4]+$array_xy[23]+$array_xy[42]+$array_xy[61]+$array_xy[80]+$array_xy[98]+$array_xy[99]+$array_xy[117]+$array_xy[118]+$array_xy[136]+$array_xy[137]+$array_xy[155]+$array_xy[174];

//NO HAY D

//VALOR E
$E=$array_xy[5]+$array_xy[6]+$array_xy[24]+$array_xy[43]+$array_xy[62]+$array_xy[81]+$array_xy[100]+$array_xy[119]+$array_xy[138]+$array_xy[156]+$array_xy[157]+$array_xy[175]+$array_xy[176];

//VALOR F
$F=$array_xy[7]+$array_xy[25]+$array_xy[26]+$array_xy[44]+$array_xy[45]+$array_xy[63]+$array_xy[64]+$array_xy[82]+$array_xy[101]+$array_xy[120]+$array_xy[139]+$array_xy[158]+$array_xy[177];

//VALOR G
$G=$array_xy[8]+$array_xy[27]+$array_xy[46]+$array_xy[65]+$array_xy[83]+$array_xy[102]+$array_xy[121]+$array_xy[140]+$array_xy[159]+$array_xy[178];

//VALOR H
$H=$array_xy[9]+$array_xy[28]+$array_xy[47]+$array_xy[66]+$array_xy[84]+$array_xy[85]+$array_xy[103]+$array_xy[104]+$array_xy[122]+$array_xy[123]+$array_xy[141]+$array_xy[160]+$array_xy[179];

//VALOR I
$I=$array_xy[10]+$array_xy[29]+$array_xy[48]+$array_xy[67]+$array_xy[86]+$array_xy[105]+$array_xy[124]+$array_xy[142]+$array_xy[161]+$array_xy[180];

//VALOR L
$L=$array_xy[11]+$array_xy[30]+$array_xy[49]+$array_xy[68]+$array_xy[87]+$array_xy[106]+$array_xy[125]+$array_xy[143]+$array_xy[162]+$array_xy[181];

//VALOR M
$M=$array_xy[12]+$array_xy[31]+$array_xy[50]+$array_xy[69]+$array_xy[88]+$array_xy[107]+$array_xy[126]+$array_xy[144]+$array_xy[163]+$array_xy[182]+$array_xy[145]+$array_xy[164]+$array_xy[183];

//VALOR N
$N=$array_xy[13]+$array_xy[32]+$array_xy[51]+$array_xy[70]+$array_xy[89]+$array_xy[108]+$array_xy[127]+$array_xy[146]+$array_xy[165]+$array_xy[184];


//VALOR O
$O=$array_xy[14]+$array_xy[33]+$array_xy[52]+$array_xy[71]+$array_xy[90]+$array_xy[109]+$array_xy[128]+$array_xy[147]+$array_xy[166]+$array_xy[185]+$array_xy[15]+$array_xy[34]+$array_xy[53];

//VALOR Q1
$Q1=$array_xy[16]+$array_xy[35]+$array_xy[54]+$array_xy[72]+$array_xy[91]+$array_xy[110]+$array_xy[129]+$array_xy[148]+$array_xy[167]+$array_xy[186];


//VALOR Q2
$Q2=$array_xy[17]+$array_xy[36]+$array_xy[73]+$array_xy[74]+$array_xy[92]+$array_xy[111]+$array_xy[130]+$array_xy[149]+$array_xy[168];

//VALOR Q3
$Q3=$array_xy[18]+$array_xy[37]+$array_xy[56]+$array_xy[75]+$array_xy[93]+$array_xy[94]+$array_xy[112]+$array_xy[131]+$array_xy[150]+$array_xy[169];

//VALOR Q4
$Q4=$array_xy[19]+$array_xy[38]+$array_xy[57]+$array_xy[76]+$array_xy[95]+$array_xy[113]+$array_xy[114]+$array_xy[132]+$array_xy[133]+$array_xy[151]+$array_xy[152]+$array_xy[170]+$array_xy[171];

$QQ = $array_xy[10]+$array_xy[39]+$array_xy[58]+$array_xy[77]+$array_xy[95]+$array_xy[96]+$array_xy[114]+$array_xy[133]+$array_xy[152]+$array_xy[171];
	
	//OBTENER TEXTO VAREMO
	$registros = Preguntas16pf::obtenerVaremo($varemo);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->deciseis_nom;
		echo $varemo_desc;
	}
	
	//DECATIPO A

	$registros = Preguntas16pf::decatipoA($varemo, $A);
	foreach ($registros as  $reg) {
		$d_a =  $reg->dieciseis_res;
	}
	
	if($dis>9) {
		$d_a=$d_a-1;	
	}


	//DECATIPO B

	$registros = Preguntas16pf::decatipoB($varemo, $B);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_b =  $reg->dieciseis_res;
	}

	//DECATIPO C

	$registros = Preguntas16pf::decatipoC($varemo, $C);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_c =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_c=$d_c-2;	
	}

	//DECATIPO E

	$registros = Preguntas16pf::decatipoE($varemo, $E);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_e =  $reg->dieciseis_res;
	}

	//DECATIPO F

	$registros = Preguntas16pf::decatipoF($varemo, $F);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_f =  $reg->dieciseis_res;
	}

	//DECATIPO G

	$registros = Preguntas16pf::decatipoG($varemo, $G);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_g =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_g=$d_g-1;	
	}

	//DECATIPO H

	$registros = Preguntas16pf::decatipoH($varemo, $H);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_h =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_h=$d_h-1;	
	}

	//DECATIPO I

	$registros = Preguntas16pf::decatipoI($varemo, $I);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_i =  $reg->dieciseis_res;
	}

	//DECATIPO L

	$registros = Preguntas16pf::decatipoL($varemo, $L);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_l =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_l=$d_l+1;	
	}

	//DECATIPO M

	$registros = Preguntas16pf::decatipoM($varemo, $M);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_m =  $reg->dieciseis_res;
	}

	//DECATIPO N

	$registros = Preguntas16pf::decatipoN($varemo, $N);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_n =  $reg->dieciseis_res;
	}

	//DECATIPO O

	$registros = Preguntas16pf::decatipoL($varemo, $O);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_o =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_o=$d_o+2;	
	}

	//DECATIPO Q1

	$registros = Preguntas16pf::decatipoQ1($varemo, $Q1);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_q1 =  $reg->dieciseis_res;
	}

	//DECATIPO Q2

	$registros = Preguntas16pf::decatipoQ2($varemo, $Q2);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_q2 =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_q2=$d_q2+1;	
	}

	//DECATIPO Q3

	$registros = Preguntas16pf::decatipoQ3($varemo, $Q3);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_q3 =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_q3=$d_q3-2;	
	}

	//DECATIPO Q4

	$registros = Preguntas16pf::decatipoQ4($varemo, $Q4);
	foreach ($registros as  $reg) {
		$varemo_desc =  $reg->dieciseis_nom;
		$d_q4 =  $reg->dieciseis_res;
	}

	if($dis>9) {
		$d_q4=$d_q4+2;	
	}



	



	

							

						?>
					<?php endforeach ?>
					<table class="form" width="100%">
						<tr>
							<th>P.DIRECTO</th>
							<td></td>
							<td></td>
							<th>DECATIPO</th>
						</tr>

						<tr>
							<td><?php echo $A?></td>
							<td>Reservado / Abierto</td>
							<td>A</td>
							<td><?php echo $d_a ?></td>
						</tr>
						<tr>
							<td><?php echo $B?></td>
							<td>Rto. Concreto / Abstracto</td>
							<td>B</td>
							<td><?php echo $d_b ?></td>
						</tr>
						<tr>
							<td><?php echo $C?></td>
							<td>Inestabilidad Emoc. / Estabilidad emocional</td>
							<td>C</td>
							<td><?php echo $d_c ?></td>
							 <td><?php if($d_c==-10 || $d_c==0 || $d_c==1 || $d_c==2 || $d_c==3) echo "IC" ?></td>
						</tr>
						<tr>
							<td><?php echo $E?></td>
							<td>Sumiso / Dominante</td>
							<td>E</td>
							<td><?php echo $d_c ?></td>
						</tr>
						<tr>
							<td><?php echo $F?></td>
							<td>Prudente / Impulsivo</td>
							<td>F</td>
							<td><?php echo $d_f ?></td>
						</tr>
						<tr>
							<td><?php echo $G?></td>
							<td>Despreocupado / Escrupuloso</td>
							<td>G</td>
							<td><?php echo $d_g ?></td>
							 <td><?php if($d_g==-10 || $d_g==0 || $d_g==1 || $d_g==2 || $d_g==3) echo "IC" ?></td>
						</tr>
						<tr>
							<td><?php echo $H?></td>
							<td>Timido / Espontáneo</td>
							<td>H</td>
							<td><?php echo $d_h ?></td>
						</tr>
						<tr>
							<td><?php echo $I?></td>
							<td>Racional / Emocional</td>
							<td>I</td>
							<td><?php echo $d_i ?></td>
							 <td><?php if($d_i==8 || $d_i==9 || $d_i==10) echo "IC" ?></td>
						</tr>
						<tr>
							<td><?php echo $L?></td>
							<td>Confiado / Suspicaz</td>
							<td>L</td>
							<td><?php echo $d_l ?></td>
						</tr>
						<tr>
							<td><?php echo $M?></td>
							<td>Practico / Soñador</td>
							<td>M</td>
							<td><?php echo $d_m ?></td>
						</tr>
						<tr>
							<td><?php echo $N?></td>
							<td>Sencillo / Astuto</td>
							<td>N</td>
							<td><?php echo $d_n ?></td>
						</tr>
						<tr>
							<td><?php echo $O?></td>
							<td>Seguro / Inseguro</td>
							<td>O</td>
							<td><?php echo $d_o ?></td>
							 <td><?php if($d_o==8 || $d_o==9 || $d_o==10) echo "IC" ?></td>
						</tr>
						<tr>
							<td><?php echo $Q1?></td>
							<td>Tradicionalista / Innovador</td>
							<td>Q1</td>
							<td><?php echo $d_q1 ?></td>
						</tr>
						<tr>
							<td><?php echo $Q2?></td>
							<td>Dependencia Del Grupo / Autosuficiencia</td>
							<td>Q2</td>
							<td><?php echo $d_q2 ?></td>
						</tr>
						<tr>
							<td><?php echo $Q3?></td>
							<td>Desinhibido / Controlado</td>
							<td>Q3</td>
							<td><?php echo $d_q3 ?></td>
						</tr>
						<tr>
							<td><?php echo $Q4?></td>
							<td>Tranquilo / Tensionado</td>
							<td>Q4</td>
							<td><?php echo $d_q4 ?></td>
							<td><?php if($d_q4==8 || $d_q4==9 || $d_q4==10) echo "IC" ?></td>
						</tr>
					</table>
					<?php 
					$TSO11 = $d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO12 =$d_a*-0.01+$d_b*0.05+$d_c* -0.29+$d_e* -0.02+$d_f* -0.03+$d_g*0.06+$d_h* -0.19+$d_i*0.01+$d_l*0.2+$d_m* -0.11+$d_n* -0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;

$TSO13=$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO14=$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;


$TSO15=$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO16=$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;

$TSO17=$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO18=$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;

$TSO19=$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO1_10=$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;

$TSO1_11=$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;



$TSO1_12 =$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;


$TSO1_13 =$d_a*0.07+$d_b*0.02-$d_c*0.31-$d_e*0.04+$d_f*0.01+$d_g*0.05-$d_h*0.16+$d_i*0.08+$d_l*0.19-$d_m*0.12+$d_o*0.3-$d_q1*0.03-$d_q2*0.04-$d_q3*0.12+$d_q4*0.27+4.57;

$TSO1_14 =$d_a*-0.01+$d_b*0.05+$d_c*-0.29+$d_e*-0.02+$d_f*-0.03+$d_g*0.06+$d_h*-0.19+$d_i*0.01+$d_l*0.2+$d_m*-0.11+$d_n*-0.01+$d_o*0.3+$d_q1*0.02+$d_q2*-0.04+$d_q3*-0.12+$d_q4*0.25+5.12;


$TSO21 =($d_a*0.4)-($d_b*0.07)-($d_c*0.05)+($d_e*0.05)+($d_f*0.31)+($d_g*0.24)+($d_h*0.26)+($d_i*0.08)+($d_l*0.1)-($d_m*0.06)+($d_o*0.05)-($d_q1*0.05)-($d_q2*0.42)+($d_q3*0.08)+($d_q4*0.05+0.17);

/*echo "($d_a*0.4)".($d_a*0.4)."<br>";
echo "($d_b*0.07)".($d_b*0.07)."<br>";
echo "($d_c*0.05)".($d_c*0.05)."<br>";
echo "($d_e*0.05)".($d_e*0.05)."<br>";


echo "TSOOO(21) ". $TSO21."<BR>";*/

$TSO22 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO23 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO24 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO25 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO26 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO27 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO28 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO29 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO2_10 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO2_11 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO2_12 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO2_13 =$d_a*0.4-$d_b*0.07-$d_c*0.05+$d_e*0.05+$d_f*0.31+$d_g*0.24+$d_h*0.26+$d_i*0.08+$d_l*0.1-$d_m*0.06+$d_o*0.05-$d_q1*0.05-$d_q2*0.42+$d_q3*0.08+$d_q4*0.05+0.17;

$TSO2_14 =$d_a*0.48+$d_b*-0.05+$d_c*-0.09+$d_e*0.26+$d_f*0.26+$d_g*0.13+$d_h*0.3+$d_i*-0.07+$d_l*0.46+$d_m*-0.07+$d_o*-0.03+$d_q2*0.1+$d_q3*0.11+$d_q4*0.07-4.73;

$TSO31=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;

$TSO32=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO33=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;


$TSO34=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;


$TSO35=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;

$TSO36=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO37=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;

$TSO38=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO38=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO38=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;

$TSO39=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO3_10=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO3_11=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;


$TSO3_12=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO3_13=$d_a*0.1+$d_b*0.3-$d_c*0.08-$d_e*0.18-$d_f*0.3+$d_g*0.35-$d_h*0.11+$d_i*0.05+$d_l*0.02-$d_m*0.11+$d_n*0.4-$d_o*0.04-$d_q1*0.05-$d_q2*0.03+$d_q3*0.26+$d_q4*0.08+2.31;

$TSO3_14=$d_a*0.07+$d_b*0.19+$d_c*-0.06+$d_e*-0.18+$d_f*-0.19+$d_g*0.39+$d_h*-0.07+$d_i*-0.02+$d_l*0.15+$d_m*-0.14+$d_n*0.28+$d_o*0.03+$d_q1*-0.1+$d_q2*0.02+$d_q3*0.31+$d_q4*-0.08+2.2;

$TSO41=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO42=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO43=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO44=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO45=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO46=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO47=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO48=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;


$TSO49=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO4_10=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO4_11=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO4_12=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO4_13=$d_a*0.03+$d_b*0.48-$d_c*0.02+$d_e*0.31+$d_f*0.03-$d_g*0.02+$d_h*0.04-$d_i*0.04+$d_l*0.34+$d_m*0.13+$d_n*0.07-$d_o*0.06+$d_q1*0.42+$d_q2*0.1+$d_q3*0.01+$d_q4*0.02-4.62;

$TSO4_14=$d_a*-0.18+$d_b*0.58+$d_c*-0.01+$d_e*0.15+$d_f*0.05+$d_g*0.1+$d_h*0.01+$d_i*0.08+$d_l*0.12+$d_m*0.31+$d_n*-0.08+$d_o*0.03+$d_q1*0.36+$d_q2*-0.08+$d_q3*0.11-3.14;

$TSO51=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO52=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO53=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO54=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO55=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO56=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO56=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO57=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO58=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO59=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO5_10=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO5_11=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO5_12=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

$TSO5_13=-$d_a*0.08+$d_b*0.14-$d_c*0.02-$d_e*0.22+$d_f*0.08+$d_g*0.06-$d_h*0.04+$d_i*0.64-$d_l*0.18+$d_m*0.54-$d_n*0.08+$d_o*0.05+$d_q1*0.07-$d_q2*0.09-$d_q3*0.01-$d_q4*0.04+0.99;

$TSO5_14=$d_a*-0.06+$d_b*0.08+$d_c*0.02+$d_e*0.09+$d_f*-0.16+$d_g*-0.18+$d_h*-0.07+$d_i*0.4+$d_l*0.2+$d_m*0.15+$d_n*0.14+$d_o*-0.08+$d_q1*-0.12+$d_q2*0.61+$d_q3*0.04+$d_q4*0.03-0.11;

// A two-dimensional array:
$TSO = array
  (
  array($TSO11,$TSO12,$TSO13,$TSO14,$TSO15,$TSO16,$TSO17,$TSO18,$TSO19,$TSO1_10,$TSO1_11,$TSO1_12,$TSO1_13, $TSO1_14),
  array($TSO21,$TSO22,$TSO23,$TSO24,$TSO25,$TSO26,$TSO27,$TSO28,$TSO29,$TSO2_10,$TSO2_11,$TSO2_12,$TSO2_13, $TSO2_14),
  array($TSO31,$TSO32,$TSO33,$TSO34,$TSO35,$TSO36,$TSO37,$TSO38,$TSO39,$TSO3_10,$TSO3_11,$TSO3_12,$TSO3_13, $TSO3_14),
  array($TSO41,$TSO42,$TSO43,$TSO44,$TSO45,$TSO46,$TSO47,$TSO48,$TSO49,$TSO4_10,$TSO4_11,$TSO4_12,$TSO4_13, $TSO4_14),
   array($TSO51,$TSO52,$TSO53,$TSO54,$TSO55,$TSO56,$TSO57,$TSO58,$TSO59,$TSO5_10,$TSO5_11,$TSO5_12,$TSO5_13, $TSO5_14)
  );

  //echo "<h1>DISTORSION: $dis</h1>";
//DISTORSION (PARA EL INFORME)
// $dis;

// //DATOS PARA LA GRAFICA 1
// $d_a;
// $d_b;
// $d_c;
// $d_e;
// $d_f;
// $d_g;
// $d_h;
// $d_i;
// $d_l;
// $d_m;
// $d_n;
// $d_o;
// $d_q1;
// $d_q2;
// $d_q3;
// $d_q4;

					 ?>

					<br>
					<script type="text/javascript">
						google.load('visualization', '1', {packages: ['corechart', 'line']});
						google.setOnLoadCallback(drawLineColors);

						function drawLineColors() {
					      var data = new google.visualization.DataTable();
					      data.addColumn('number', 'X');
					      data.addColumn('number', 'Perfil Ideal');
					      data.addColumn('number', 'Candidato');

      data.addRows([
        [0, 7, <?=$d_a?>],    [1, 4.48, <?=$d_b?>],   [2, 5.9, <?=$d_c?>],  [3, 5.2, <?=$d_e?>],   [4, 6.1, <?=$d_f?>],  [5, 5.7, <?=$d_g?>],
        [6, 7.1, <?=$d_h?>],  [7, 4.6, <?=$d_i?>],    [8, 4.7, <?=$d_l?>],   [9, 5.6, <?=$d_m?>],   [10, 6, <?=$d_n?>],   [11, 5.8, <?=$d_o?>],
        [12, 4.4, <?=$d_q1?>],  [13, 5.4, <?=$d_q2?>],    [14, 6.0, <?=$d_q3?>],   [15, 5.1, <?=$d_q4?>],
       
      ]);

					      var options = {
					        hAxis: {
					          title: ''
					        },
					        vAxis: {
					          title: ''
					        },
					        colors: ['#a52714', '#097138']
					      };

					      var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
					      chart.draw(data, options);
					    }
					</script>
					 <div id="chart_div" style="width:700px; height: 300px;"></div>
					

					<br>
					<?php 
						//DATOS PARA LA GRAFICA 2
						$An=round($TSO[0][$varemo-1]);
						$Ex=round($TSO[1][$varemo-1]);
						$So=round($TSO[2][$varemo-1]);
						$In=round($TSO[3][$varemo-1]);

					 ?>
					 <center>
						 <table width="300" border="0" class="form">
						     <tr>
						   		<th colspan="3">FACTORES DE RIESGO SEGUNDO ORDEN</th>
						     </tr>
							  <tr>
							    <td> Baja Ansiedad/Alta Ansiedad</td>
							    <td>An</td>
							    <td><?php echo $An;?></td>
							    </tr>
							  <tr class="celda1">
							    <td>Introversion/ Extraversi&oacute;n</td>
							    <td>Ex</td>
							    <td><?php echo $Ex;?></td>
							    </tr>
							  <tr>
							    <td>Bajo Control Social/Alto Control Social</td>
							    <td>So</td>
							    <td><?php echo $So;?></td>
							    </tr>
							  <tr class="celda1">
							    <td> Dependencia/Independencia</td>
							    <td>In</td>
							    <td><?php echo $In;?></td>
							    </tr>
						</table>
					</center>
					<br>

					<script type="text/javascript">
						google.load('visualization', '1', {packages: ['corechart', 'line']});
						google.setOnLoadCallback(drawLineColors);

						function drawLineColors() {
					      var data = new google.visualization.DataTable();
					      data.addColumn('number', 'X');
					      data.addColumn('number', 'Perfil Ideal');
					      data.addColumn('number', 'Candidato');

      data.addRows([
        [0, 4.8, <?=$An?>],    [1, 6.2, <?=$Ex?>],   [2, 5.7, <?=$So?>],  [3, 4.2, <?=$In?>]
      ]);

					      var options = {
					        hAxis: {
					          title: ''
					        },
					        vAxis: {
					          title: ''
					        },
					        colors: ['#a52714', '#097138']
					      };

					      var chart = new google.visualization.LineChart(document.getElementById('chart_div_2'));
					      chart.draw(data, options);
					    }
					</script>
					 <div id="chart_div_2" style="width:700px; height: 300px;"></div>

					<br>

					<?php //DATOS PARA LA GRAFICA 3
						$Ob = round($TSO[4][$varemo-1]);

						$Cr =  round(0.99-0.33*$d_a+0.33*$d_b+0.17*$d_e-0.33*$d_f+0.16*$d_h+0.33*$d_i+0.16*$d_m-0.16*$d_n+0.16*$d_q1+0.33*$d_q2);

						 $Ne = round(6.27-0.07*$d_b-0.26*$d_c-0.17*$d_e-0.38*$d_f-0.1*$d_g+0.1*$d_h+0.22*$d_i+0.26*$d_o-0.09*$d_q1+0.35*$d_q4);

						 $Ps = round(5.2-0.2*$d_a-0.2*$d_b+0.1*$d_c-0.4*$d_f+0.1*$d_g+0.2*$d_i-0.3*$d_l+0.4*$d_m+0.1*$d_n-0.1*$d_o+0.1*$d_q1-0.1*$d_q2-0.4*$d_q3+0.7*$d_q4);

						 $Li = round($d_b*0.12+$d_c*0.12+$d_e*0.05+$d_f*0.24+$d_g*0.24+$d_h*0.24-$d_i*0.12-$d_m*0.12+$d_n*0.05-$d_o*0.24+$d_q3*0.24-$d_q4*0.12+1.65);

						$Ac =  round(0.12*$d_b+0.18*$d_c-0.12*$d_e-0.12*$d_f+0.3*$d_g-0.3*$d_m-0.18*$d_o+0.18*$d_q3-0.18*$d_q4+6.16);
 					?>
 					<br>
 					<center>
	 					<table width="400" border="0" class="form">
							  <tr>
							   		<th colspan="3">ECUACIONES DERIVADAS PERFILES</th>
							    </tr>
							  <tr>
							    <td>Objetividad/Subjetividad</td>
							    <td>Ob</td>
							    <td><?php echo $Ob?></td>
							    </tr>
							  <tr class="celda1">
							    <td>Creatividad Baja/Creatividad Alta</td>
							    <td>Cr</td>
							    <td><?php echo $Cr?></td>
							    </tr>
							  <tr>
							    <td>Bajo Neuroticismo/Alto Neuroticismo</td>
							    <td>Ne</td>
							    <td><?php echo $Ne?></td>
							    </tr>
							  <tr class="celda1">
							    <td> Bajo Aislamiento/Alto Aislamiento</td>
							    <td>Ps</td>
							    <td><?php echo $Ps?></td>
							    </tr>

							   <tr>
							    <td>Bajo Liderazgo/Alto Liderazgo</td>
							    <td>Li</td>
							    <td><?php echo $Li?></td>
							    </tr>

							   <tr class="celda1">
							    <td> Propenso A Accidentes/ Libre Accidentes</td>
							    <td>Ac</td>
							    <td><?php echo $Ac?></td>
							    </tr>
						</table>
					</center>
					<br>
						<script type="text/javascript">
						google.load('visualization', '1', {packages: ['corechart', 'line']});
						google.setOnLoadCallback(drawLineColors);

						function drawLineColors() {
					      var data = new google.visualization.DataTable();
					      data.addColumn('number', 'X');
					      data.addColumn('number', 'Perfil Ideal');
					      data.addColumn('number', 'Candidato');

      data.addRows([
        [0, 5.0, <?=$Ob?>],    [1, 4.48, <?=$Cr?>],   [2, 5.2, <?=$Ne?>],  [3, 4.7, <?=$Ps?>], [3, 6.2, <?=$Li?>], [3, 5.5, <?=$Ac?>]
      ]);

					      var options = {
					        hAxis: {
					          title: ''
					        },
					        vAxis: {
					          title: ''
					        },
					        colors: ['#a52714', '#097138']
					      };

					      var chart = new google.visualization.LineChart(document.getElementById('chart_div_3'));
					      chart.draw(data, options);
					    }
					</script>
					 <div id="chart_div_3" style="width:700px; height: 300px;"></div>
					<br>
					<br>
					<br>
					<h3 align="center">INFORME</h3>
					<br>
					<?php



//A
if($d_a<=3){
//BAJO	
$texto_A = "Persona que da pocas demostraciones de afecto, generalmente es retraída, fría. Le gusta más trabajar sola.";
}

if(($d_a>=4) and ($d_a<=6))  {
//MEDIO	
$texto_A = "Es una persona que no tiene preferencias entre permanecer y trabajar sola, o ser participativa socialmente";
}

if($d_a>=7){
//ALTO
$texto_A = "Persona afectuosa, participativa y colaboradora . Prefiere trabajar en grupos. ";
}




//B

if($d_b<=3){
//BAJO	
$texto_B = "Dificultad en el manejo de problemas a nivel abstracto, se inclina en hacerlo a nivel concreto. De juicio intelectual pobre.";
}

if(($d_b>=4) and ($d_b<=6))  {
//MEDIO	
$texto_B = "Es una persona de juicio intelectual intermedio, no tiene niveles altos en manejar relaciones en termino de como se sitúan las cosas,  sin embargo tampoco es bajo";
}

if($d_b>=7){
//ALTO
$texto_B = "Presenta alto nivel de razonamiento abstracto. Demuestra ser de rápida comprensión y aprendizaje de ideas. ";
}



//C

if($d_c<=3){
//BAJO	
$texto_C = " Demasiado afectada por los sentimientos cuando se frustra, inestable emocionalmente. Tiende a evadir responsabilidades";
}

if(($d_c>=4) and ($d_c<=6))  {
//MEDIO	
$texto_C = "Es una persona que esta medianamente estable. El algunas ocasiones se puede mostrar inestable emocionalmente.";
}

if($d_c>=7){
//ALTO
$texto_C = "Es una persona emocionalmente estable, madura y realista.  No deja que sus necesidades emocionales afecten la realidad de las situaciones";
}



//E
if($d_e<=3){
//BAJO	
$texto_E = "La persona es sumisa, cede fácilmente ante los demás, es dócil y conformista. Es modesta, humilde y obediente.";
}

if(($d_e>=4) and ($d_e<=6))  {
//MEDIO	
$texto_E = "Persona que presenta niveles equilibrados entre ser sumisa y dominante";
}

if($d_e>=7){
//ALTO
$texto_E = "Es una persona dominante, le gusta controlar las situaciones y las personas";
}






//F
if($d_f<=3){
//BAJO	
$texto_F = "Es prudente e instrospectiva. Reflexiva, presenta temor a cometer errores y tiene indecisión acerca de tomar riesgos";
}

if(($d_f>=4) and ($d_f<=6))  {
//MEDIO	
$texto_F = "Es una persona con un nivel intermedio entre ser prudente y ser impulsiva";
}

if($d_f>=7){
//ALTO
$texto_F = "Es una persona impulsiva. Demasiado franca.  Responde con rapidez a los eventos que sean de su interés.";
}



//G
if($d_g<=3){
//BAJO	
$texto_G = "La persona suele ser inestable en sus propósitos. Demuestra alta despreocupación y muy poca consideración por las normas de la sociedad";
}

if(($d_g>=4) and ($d_g<=6))  {
//MEDIO	
$texto_G = "Presenta un nivel intermedio en su nivel de responsabilidad y en aceptar las normas sociales";
}

if($d_g>=7){
//ALTO
$texto_G = "Esta dominada por el sentido del deber, perseverante, responsable y organizada. Es escrupulosa y moralista.";
}




//H
if($d_h<=3){
//BAJO	
$texto_H= "Suele ser tímida, muy retraída. Se muestra cohibida y con falta de confianza en si misma. Puede presentar sentimientos de inferioridad. Se retrae fácilmente ante el sexo ";
}

if(($d_h>=4) and ($d_h<=6))  {
//MEDIO	
$texto_H = "Es una persona con disposición a ser sociable y espontánea. Dispuesta en algunas ocasiones a ser atrevida e intentar nuevas cosas";
}

if($d_h>=7){
//ALTO
$texto_H = "Es una persona sociable y espontánea. Dispuesta a intentar nuevas cosas, de numerosas respuestas emocionales. ";
}





//I
if($d_i<=3){
//BAJO	
$texto_I= "Es dura sentimentalmente. Actúa más basada en evidencias prácticas y lógicas. Es confiada de sí misma, acepta resopnsabilidades.  Espera poco de las personas";
}

if(($d_i>=4) and ($d_i<=6))  {
//MEDIO	
$texto_I = "La persona actúa como igual facilidad entre las respuestas de pensamiento y sentimiento";
}

if($d_i>=7){
//ALTO
$texto_I = "Es afectada por los sentimientos,  bastante sensible. Se muestra inquieta, espera afecto y atención.  Es indulgente consigo y con los demás";
}




//L
if($d_l<=3){
//BAJO	
$texto_L= "Es una persona confiada, comprensiva, permisiva y tolerante. Cede ante los cambios, no parece preocupada por corregir a los demás. Se sobrepone con facilidad a las dificultades";
}

if(($d_l>=4) and ($d_l<=6))  {
//MEDIO	
$texto_L = "Presenta un nivel intermedio de confianza en las persona y en las situaciones";
}

if($d_l>=7){
//ALTO
$texto_L = "Es una persona celosa, desconfiada de las situaciones y de la gente. Insiste en hacer comprender su opinión, busca y exige  que los demás reconozcan los errores que han cometido";
}



//M
if($d_m<=3){
//BAJO	
$texto_M= "Es una persona preocupada por intereses y hechos inmediatos. Se muestra ansiosa por hacer cosas correctamente. Antenta los problemas prácticos y cercanos. ";
}

if(($d_m>=4) and ($d_m<=6))  {
//MEDIO	
$texto_M = "Persona que esta guiada por realidades objetivas o en ocasiones puede ser imaginativa y abstraerse en su pensamientos";
}

if($d_m>=7){
//ALTO
$texto_M = "Persona muy imaginativa, se abstrae mucho en sus pensamientos. Se entusiasma rápidamente, cambia y abandona las ideas bruscamente. ";
}



//N
if($d_n<=3){
//BAJO	
$texto_N= "Es sencilla, natrual y poco sofisticada. Se le satisface y se muestra contenta con lo que acontece, es sincera e ingenua.";
}

if(($d_n>=4) and ($d_n<=6))  {
//MEDIO	
$texto_N = "Puede ser sencilla e ingenua socialmente o calculadora en ocasiones";
}

if($d_n>=7){
//ALTO
$texto_N = "Es sumamente astuta, exacta y calculadora. Diplomática , calculadora,  se desenvuelve bien en grupo. Ambisiosa y perspicaz";
}




//O
if($d_o<=3){
//BAJO	
$texto_O= "Persona segura, tranquila, flexible y serana. Nio le preocupa la aprobación de los demás. No se culpa por acciones erradas, actúa libremente sin temores";
}

if(($d_o>=4) and ($d_o<=6))  {
//MEDIO	
$texto_O = "Es una persona que puede mostrarse segura, tranquila, flexible y serena. Tiende a no culparse por sus acciones erradas, trata de actuar libremente sin temores, aunque en algunas ocasiones puede mostrar lo contrario";
}

if($d_o>=7){
//ALTO
$texto_O = "Es una persona insegura, intranquila, preocupada y deprimida. Se culpa por sus acciones erradas. Se afecta con facilidad, es muy sensible a la aprobación de los demás";
}





//Q1
if($d_q1<=3){
//BAJO	
$texto_Q1= "Es conservadora, respetuosa de las ideas establecidas, tolerante de los defectos tradicionales. Es precavida y resistente a las nuevas ideas, postone los cambios, sigue la línea ";
}

if(($d_q1>=4) and ($d_q1<=6))  {
//MEDIO	
$texto_Q1 = "Tiende a presentar interés por las nuevas ideas. Por lo general tiene actitudes de innovación y reacción ante lo establecido. Es poco convencionalista.";
}

if($d_q1>=7){
//ALTO
$texto_Q1 = "Persona con interés por las nuevas ideas. Presenta actitudes de innovación y reacción ante lo establecido, prefiere sus propias decisiones. Analítico y autónomo en su forma de pensar";
}



//Q2
if($d_q2<=3){
//BAJO	
$texto_Q2= "Dependiente del grupo. Prefiere estar en compañia y decide sobre lo correcto de su desempeño al compararse con otros más que confiar en su propio juicio. Se une fácil al grupo.";
}

if(($d_q2>=4) and ($d_q2<=6))  {
//MEDIO	
$texto_Q2 = "Tiende a ser autosuficiente e ingeniosa, llena de recursos, prefiere sus propias decisiones. Usualmente busca resolver los problemas por sí misma. ";
}

if($d_q2>=7){
//ALTO
$texto_Q2 = "Es autosuficiente, ingeniosa y llena de recursos, prefiere las propias decisiones. Busca resolver problemas por sí misma.";
}



//Q3
if($d_q3<=3){
//BAJO	
$texto_Q3= "Da poca importancia a como la perciben los demás y suele hacer lo que desea. Tiene poco autocontrol. Mantiente poca congruencia entre su autoconcepto percibido y deseado.";
}

if(($d_q3>=4) and ($d_q3<=6))  {
//MEDIO	
$texto_Q3 = "Tiene un nivel intermedio entre el autocontrol y la congruencia entre su autoconcepto percibido y deseados, de acuerdo con su cultura.";
}

if($d_q3>=7){
//ALTO
$texto_Q3 = "Tiene signos de perfeccionista, con alta congruencia en el autoconcepto percibido y el deseado. Alto nivel de autocontrol.";
}


//Q4
if($d_q4<=3){
//BAJO	
$texto_Q4= "Es una persona callada, relajada, tranquila. Es algunas situaciones su estado de mucha satisfacción le puede llevar a la pereza y al bajo rendimiento.";
}

if(($d_q4>=4) and ($d_q4<=6))  {
//MEDIO	
$texto_Q4 = "Presenta intermedio entre el estado de tensión y de tranquilidad ante sí mismo y ante la situaciones";
}

if($d_q4>=7){
//ALTO
$texto_Q4 = "Es una persona con características de estar tensa, excitable e intranquila. Puede presentar bloqueos de ansiedad";
}

// GRAFICAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA

?>
<script type="text/javascript">
						google.load('visualization', '1', {packages: ['corechart', 'line']});
						google.setOnLoadCallback(drawLineColors);

						function drawLineColors() {
					      var data = new google.visualization.DataTable();
					      data.addColumn('string', '4');
					      // data.addColumn('number', 'Perfil Ideal');
					      data.addColumn('number', 'Candidato');

      data.addRows([
        ['A',  <?=$d_a*10?>],    ['B',  <?=$d_b*10?>],   ['C', <?=$d_c*10?>],  ['E', <?=$d_e*10?>], ['F', <?=$d_f*10?>], ['G', <?=$d_f*10?>], ['H', <?=$d_h*10?>], ['I', <?=$d_i*10?>], ['L', <?=$d_l*10?>], ['M', <?=$d_m*10?>], ['N', <?=$d_n*10?>], ['O', <?=$d_o*10?>], ['Q1', <?=$d_q1*10?>], ['Q2', <?=$d_q2*10?>], ['Q3', <?=$d_q3*10?>], ['Q4', <?=$d_q4*10?>]
       
      ]);

					      var options = {
					        hAxis: {
					          title: ''
					        },
					        vAxis: {
					          title: ''
					        },
					        colors: ['#097138']
					      };

					      var chart = new google.visualization.LineChart(document.getElementById('chart_div_4'));
					      chart.draw(data, options);
					    }
					</script>
					 <div id="chart_div_4" style="width:700px; height: 300px;"></div>
					 <br>
<table width="100%" border="0" class="form">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr class="celda1">
    <td>A</td>
    <td>Reservado  /  Abierto</td>
    <td><?php echo $d_a*10?>%</td>
    <td><?php echo $texto_A?></td>
  </tr>
  <tr>
    <td>B</td>
    <td>Rto. Concreto  /  Abstracto</td>
    <td><?php echo $d_b*10?>%</td>
    <td><?php echo $texto_B?></td>
  </tr>
  <tr class="celda1">
    <td>C</td>
    <td>Inestabilidad Emoc.  /  Estabilidad emocional</td>
    <td><?php echo $d_c*10?>%</td>
    <td><?php echo $texto_C?></td>
  </tr>
  <tr>
    <td>E</td>
    <td>Sumiso  /  Dominante</td>
    <td><?php echo $d_e*10?>%</td>
    <td><?php echo $texto_E?></td>
  </tr>
  <tr class="celda1">
    <td>F</td>
    <td>Prudente  /  Impulsivo</td>
    <td><?php echo $d_f*10?>%</td>
    <td><?php echo $texto_F?></td>
  </tr>
  <tr>
    <td>G</td>
    <td>Despreocupado  /  Escrupuloso</td>
    <td><?php echo $d_g*10?>%</td>
    <td><?php echo $texto_G?></td>
  </tr>
  <tr class="celda1">
    <td>H</td>
    <td>Timido  /   Espontáneo</td>
    <td><?php echo $d_h*10?>%</td>
    <td><?php echo $texto_H?></td>
  </tr>
  <tr>
    <td>I</td>
    <td>Racional  /  Emocional</td>
    <td><?php echo $d_i*10?>%</td>
    <td><?php echo $texto_I?></td>
  </tr>
  <tr class="celda1">
    <td>L</td>
    <td>Confiado  /  Suspicaz</td>
    <td><?php echo $d_l*10?>%</td>
    <td><?php echo $texto_L?></td>
  </tr>
  <tr>
    <td>M</td>
    <td>Practico  /  Soñador</td>
    <td><?php echo $d_m*10?>%</td>
    <td><?php echo $texto_M?></td>
  </tr>
  <tr class="celda1">
    <td>N</td>
    <td>Sencillo  /  Astuto</td>
    <td><?php echo $d_n*10?>%</td>
    <td><?php echo $texto_N?></td>
  </tr>
  <tr>
    <td>O</td>
    <td>Seguro  /  Inseguro</td>
    <td><?php echo $d_o*10?>%</td>
    <td><?php echo $texto_O?></td>
  </tr>
  <tr class="celda1">
    <td>Q1</td>
    <td>Tradicionalista  /  Innovador</td>
    <td><?php echo $d_q1*10?>%</td>
    <td><?php echo $texto_Q1?></td>
  </tr>
  <tr>
    <td>Q2</td>
    <td>Dependencia Del Grupo  /  Autosuficiencia</td>
    <td><?php echo $d_q2*10?>%</td>
    <td><?php echo $texto_Q2?></td>
  </tr>
  <tr class="celda1">
    <td>Q3</td>
    <td>Desinhibido  /  Controlado</td>
    <td><?php echo $d_q3*10?>%</td>
    <td><?php echo $texto_Q3?></td>
  </tr>
  <tr>
    <td>Q4</td>
    <td>Tranquilo  /  Tensionado</td>
    <td><?php echo $d_q4*10?>%</td>
    <td><?php echo $texto_Q4?></td>
  </tr>
</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


