
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro Aspirante Interno</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>
    <script type="text/javascript">
        jQuery(document).ready(function($) {

            $(window).resize(function(){
                // $('#contenedor').height($(window).height());
            });

            $(window).trigger('resize');
            $(".SoloNumeros").keydown(function(event) {
                if(event.shiftKey) {
                    event.preventDefault();
                }
                if (event.keyCode == 46 || event.keyCode == 8)    {
                } else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    } else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });
        });



    </script>
    <style>
        #cuerpo {
            /* overflow: auto;
            padding-bottom: 90px;
            margin-bottom: 90px; */
        }
        #contenedor {
            background-size: cover;
            background-attachment: fixed;
            height: 1020px;
        }
    </style>
</head>
<body>
<div id="contenedor">
    <div id="cuerpo">
        <div id="izq" style="background-color: transparent">
            <div id="logo"><img src="<?php echo $this->url->get()?>/img/c-logo-02.png" style="width: 200px" alt=""></div>

            <div class="titulo">
                <p style="color: #006837">Iniciar Sesion</p>
                <a href="#"><img src="<?php echo $this->url->get()?>/img/icon-ayuda-03.png">¿Necesita Ayuda?</a>
            </div>
            <div class="con_tabla">
                <form id="frm_inicio">
                    <input type="hidden" name="url_base" id="url_base" value="<?=$this->url->get()?>">
                    <input type="hidden" name="url_inicio" id="url_inicio" value="<?php echo $this->url->get('registro/iniciar') ?>">
                    <table width="90%" class="tabla">
                        <tr>
                            <td><input type="text" name="txt_usu" id="txt_usu" placeholder="No. Identificación" onkeypress="if (event.keyCode == 13) iniciar_sesion();"></td>
                        </tr>
                        <tr>
                            <td><input type="password" name="txt_con" id="txt_con" placeholder="Contraseña" onkeypress="if (event.keyCode == 13) iniciar_sesion();"></td>
                        </tr>
                    </table>
                </form>
            </div>

            <div class="fondo_rosado" style="background: #006837">
                <a href="#" class="olvide" onclick="olvidar_con()">Olvidé mi Contraseña</a>
                <a href="#"  class="iniciar" id="btn_iniciar">Iniciar Sesión ></a>
            </div>
        </div>

        <div id="der">

            <div class="titulo">
                <p style="color: #006837">Registro de Usuario</p>
                <a href="#"><img src="<?php echo $this->url->get()?>/img/icon-ayuda-03.png">¿Necesita Ayuda?</a>
            </div>
            <div class="con_tabla">
                <form id="frm" method="POST">
                    <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('registro/guardarinterno') ?>">
                    <input type="hidden" name="url_red" id="url_red" value="<?php echo $this->url->get('Hojavida/') ?>"> <!-- url para donde va a redireccionar -->
                    <table width="90%" class="tabla">
                        <tr>
                            <td> <input type="text" name="per_pno" id="per_pno" placeholder="Primer Nombre">  </td>
                        </tr>
                        <tr>
                            <td><input type="text" name="per_sno" id="per_sno" placeholder="Segundo Nombre"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="per_pap" id="per_pap" placeholder="Primer Apellido"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="per_sap" id="per_sap" placeholder="Segundo Apellido"></td>
                        </tr>
                        <tr>
                            <td><input type="text" class="SoloNumeros" name="per_ide" id="per_ide" placeholder="No. Identificación"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="per_ema" id="per_ema" placeholder="Email"></td>
                        </tr>
                        <tr>
                            <td><input type="text" name="per_cel" id="per_cel" placeholder="Teléfono o celular"></td>
                        </tr>
                        <tr>
                            <td>
                                <select name="per_fre" id="per_fre">
                                    <option value="">Fuente de reclutamiento</option>
                                    <?
                                    foreach ($fuentes as $key => $fue) {
                                        echo '<option value="'.$fue->tip_cod.'">'.$fue->tip_des.'</option>';
                                    }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="car_cod" id="car_cod">
                                    <option value="">Cargo de interés (cargo que le gustaría ocupar cuando haya vacantes)</option>
                                    <?
                                    foreach ($cargos as $key => $car) {
                                        echo '<option value="'.$car->car_cod.'">'.$car->car_des.'</option>';
                                    }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <select name="req_cod" id="req_cod">
                                    <option value="">Vacantes disponibles al día de hoy</option>
                                    <?
                                    foreach ($vacantes as $key => $v) {
                                        echo '<option value="'.$v->req_cod.'">'.$v->req_til.'</option>';
                                    }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <!-- 	<tr>
                                <td><input type="password" name="per_con" id="per_con" placeholder="Contraseña"></td>
                            </tr>
                            <tr>
                                <td><input type="password" name="per_con2" id="per_con2" placeholder="Repita Contraseña"></td>
                            </tr> -->
                        <tr>
                            <td><input type="checkbox" name="chk" id="chk" value="1"> He leído y aceptado la Ley 1581 de 2012 <br>Para comprobar que llenó su hoja de vida completa, debe llegarle un correo con los documentos que se le solicitarán en caso de ser convocado a entrevista.</td>
                        </tr>
                    </table>
                    <div class="fondo_rosado" style="background: #006837">
                        <!-- <a href="#" class="olvide" onclick="olvidar_con()">Olvide mi Contraseña</a> -->
                        <div class="iniciar" onclick="registrarme()" style="color: #ffffff; cursor: pointer">
                            Registrarme >
                        </div>
                        <div class="clear"></div>
                    </div>
                </form>
            </div>




        </div>
    </div>
    <div id="pie" style="height: 66px">
        <img src="<?php echo $this->url->get()?>/img/logo.png" style="position: absolute; left: 50%; top: 5px;margin-left: -81px" alt="">
        <?php $this->partial("shared/pie_postulantes") ?>
    </div>
</div>

</body>
</html>