



<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>IPV</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("PruebaIpv/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '30:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>
		
</head>
<body>
<div id="counter" style="position: fixed;right:0;"></div>
	<h1>Prueba IPV</h1>

		<div id="camara">
			<script type="text/javascript">
				document.write( webcam.get_html(320, 240) );
			</script>
		</div>
		<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar">
		<div id="div_preguntas"  >
			<table class="tablaPsicotecnica">

					<tr>

						<td colspan="5">

								<p>

        	A continuación  encontrará cierto numero de situaciones y de preguntas seguidas de varias respuestas posibles.

			SE LE PIDE QUE ESCOJA UNA ALTERNATIVA —Y UNA SOLA— PARA CADA PREGUNTA; la que de manera espontanea le parezca preferible.



			En algunas cuestiones estará usted personalmente implicado; por ejemplo:

        </p>





        <p>

        	- Si usted pudiera elegir el tipo de vivienda de manera completamente libre, ¿qué preferiría? :

        </p>







        <p align="right">

       <span><input type="radio"  name="p" />A. Una casa en el campo con un gran jardín.</span><span><input type="radio" name="p" /> B. Un lujoso apartamento en una gran ciudad. </span><span><input type="radio"  name="p"/>C. Una casa situada en una calle tranquila de una pequeña ciudad.</span>

        </p>



        <p><strong>Otras se refieren a personas ajenas, como:</strong></p>

        <p>- J... Está comprando en un gran almacén cuando advierte que alguien esconde discretamente un disco bajo su blusa. ¿Que hará J...? :

		</p>



         <p align="right">

       <span><input type="radio"  name="p" />A. Dar cuenta del hecho al primer vendedor que encuentre.   </span><span><input type="radio" name="p" />B. No hacer nada porque piensa que no es cosa suya.</span><span><input type="radio"  name="p"/>C. Indicar al infractor con el gesto o de palabra que ha visto lo que ha hecho.</span>

        </p>

			<p>

			En este caso, usted contestará lo que, según su propia opinión, es más probable que haga J...



			En realidad, no hay respuestas buenas ni malas: cada uno piensa y actúa como cree conveniente en función de su carácter, de sus intereses, etc.



			Para indicar sus respuestas dispone de un recuadro en blanco, escriba sus respuestas marcando la letra que coincida con la alternativa elegida.



			Si quiere cambiar su respuesta regrese a la casilla en blanco a cambiar y escriba la respuesta correcta.



			Responda lo más espontánea y sinceramente posible con la contestación que se le ocurra inmediatamente al leer las alternativas que se proponen. Conteste rápidamente, sin reflexionar demasiado.



			 No de mas que una sola respuesta a cada pregunta



			—Responda a todas las preguntas. Es posible que en algunos casos ninguna de las contestaciones propuestas Ie convenza del todo; esfuércese entonces en elegir la que crea mejor entre las alternativas que se ofrecen.



			—No hay tiempo límite, pero no emplee demasiado tiempo en cada pregunta

			</p>

						</td>

					</tr>

				</table>
			<form action="<?=$this->url->get("PruebaIpv/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
				<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">

				<?php foreach ($preguntas as  $pre): ?>
					<?php
					$respuestas = IpvRes::find(array(
						"ipr_cod=".$pre->ipr_cod
					));
					?>
					<?php echo $pre->ipr_cod  ?>. <?php echo $pre->ipr_des  ?>
						<?php foreach ($respuestas as  $res): ?>

							<br/>
                  			<input type="radio"  name="<?php echo $res->ipr_cod?>" 
                  			value="<?php echo $res->ire_num?>" />
                  			<?php echo $res->ire_num.". ".$res->ire_des?>

						<?php endforeach ?>
					<br><br>
				<?php endforeach ?>
			</form>

			<input type="button" value="Finalizar" id="btn_guardar" onclick="finalizar();">
		</div>
		
</body>
</html>