

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cargos</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(3)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('cargos/actualizar') ?>">
	<input type="hidden" name="car_cod" id="car_cod" value="<?php echo $cargos->car_cod ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Cargos</th>

						</tr>
						<tr>
							<td>Nombre</td>
							<td><input type="text" name="car_des" id="car_des" value="<?php echo $cargos->car_des ?>"></td>
						</tr>

						<tr>
							<td>Tipo de Cargo</td>
							<td>
								<select name="tic_cod" id="tic_cod">
									<option value="">Seleccione</option>
									<?php foreach ($cargos_tipos as  $tic): ?>
										<option value="<?php echo $tic->tic_cod ?>" <?php if($tic->tic_cod==$cargos->tic_cod) echo "selected='selected'" ?>>
											<?php echo $tic->tic_nom ?>
										</option>
									<?php endforeach ?>
								</select>
							</td>
						</tr>

						<tr>
							<td>Sectores</td>
							<td>
								<select name="sec_cod" id="sec_cod">
									<option value="">Seleccione</option>
									<?php foreach ($sectores as  $sec): ?>
										<option value="<?php echo $sec->sec_cod ?>" <?php if($sec->sec_cod==$cargos->sec_cod) echo "selected='selected'" ?>><?php echo $sec->sec_nom ?></option>
									<?php endforeach ?>
								</select>
							</td>
						</tr>

						<tr>
							<td colspan="2">
							<input type="checkbox" name="car_16p" id="car_16p" <?php if($cargos->car_16p=="1") echo "checked='checked'"?> > 16PF <br>
							<input type="checkbox" name="car_val" id="car_val" <?php if($cargos->car_val=="1") echo "checked='checked'"?> > VALANTI <br>
							<input type="checkbox" name="car_cmt" id="car_cmt" <?php if($cargos->car_cmt=="1") echo "checked='checked'"?>> CMT <br>
							<input type="checkbox" name="car_car" id="car_car" <?php if($cargos->car_car=="1") echo "checked='checked'"?>> CARAS <br>
							<input type="checkbox" name="car_pnl" id="car_pnl" <?php if($cargos->car_pnl=="1") echo "checked='checked'"?>> PNL <br>
							<input type="checkbox" name="car_ipv" id="car_ipv" <?php if($cargos->car_ipv=="1") echo "checked='checked'"?>> IPV <br>
							</td>
						</tr>


                        <tr>
                            <td colspan="2">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="2"><h3>Competencias</h3></td>
                                    </tr>

                                    <?

                                    foreach ($competencias as $com) { ?>
                                        <tr>
                                            <td>
                                                <?
                                                if ($com->cargo_id <> "") {
                                                    $ck = "checked";
                                                } else {
                                                    $ck = "";
                                                }
                                                ?>
                                                <input type="checkbox" <?=$ck?> id="com_<?=$com->cod?>" value="<?=$com->cod?>" name="competencias[]">
                                                <label for="com_<?=$com->cod?>"> <?=$com->nombre?> </label>
                                            </td>
                                            <td align="right">
                                                <select style="width: 50px" name="radio_<?=$com->cod?>">
                                                    <option value="">Seleccione</option>
                                                    <?
                                                    for ($i=5; $i<=100; $i+=5){
                                                        if ($i == $com->valor) {
                                                            echo '<option selected value="'.$i.'">'.$i.'</option>';
                                                        } else {
                                                            echo '<option value="'.$i.'">'.$i.'</option>';
                                                        }
                                                    }
                                                    ?>
                                                </select>
                                            </td>
                                        </tr>
                                    <? }
                                    ?>

                                </table>
                            </td>
                        </tr>


						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


