
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cargos</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(3)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('cargos/guardar') ?>">

	<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get('cargos/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="70%">
						<tr>
							<th colspan="2">Agregar o Editar Cargos</th>

						</tr>
						<tr>
							<td>Nombre</td>
							<td><input type="text" name="car_des" id="car_des"></td>
						</tr>

						<tr>
							<td>Tipo de Cargo</td>
							<td>
								<select name="tic_cod" id="tic_cod">
								<option value="">Seleccione</option>
								<?php foreach ($cargos_tipos as  $tic): ?>
									<option value="<?php echo $tic->tic_cod ?>"><?php echo $tic->tic_nom ?></option>
								<?php endforeach ?>
								</select>
							</td>
						</tr>

						<tr>
							<td>Sectores</td>
							<td>
								<select name="sec_cod" id="sec_cod">
								<option value="">Seleccione</option>
								<?php foreach ($sectores as  $sec): ?>
									<option value="<?php echo $sec->sec_cod ?>"><?php echo $sec->sec_nom ?></option>
								<?php endforeach ?>
								</select>
							</td>
						</tr>

						<tr>
							<td colspan="2">
								<input type="checkbox" name="car_16p" id="car_16p"> 16PF <br>
								<input type="checkbox" name="car_val" id="car_val"> VALANTI <br>
								<input type="checkbox" name="car_cmt" id="car_cmt"> CMT <br>
								<input type="checkbox" name="car_car" id="car_car"> CARAS <br>
								<input type="checkbox" name="car_pnl" id="car_pnl"> PNL <br>
								<input type="checkbox" name="car_ipv" id="car_ipv"> IPV <br>
							</td>
						</tr>

                        <tr>
                            <td colspan="2">
                                <table border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td colspan="2"><h3>Competencias</h3></td>
                                    </tr>

                                        <?
                                        $select = '<option>Seleccione</option>';
                                        for ($i=5; $i<=100; $i+=5){
                                            $select .= '<option value="'.$i.'">'.$i.'</option>';
                                        }
                                    foreach ($competencias as $com) { ?>
                                        <tr>
                                            <td>
                                                <input type="checkbox" id="competencia_<?=$com->id?>" value="<?=$com->id?>" name="competencias[]">
                                                <label for="competencia_<?=$com->id?>"><?=$com->nombre?></label>
                                            </td>
                                            <td align="right"><select style="width: 50px" name="radio_<?=$com->id?>"><?=$select?></select></td>
                                        </tr>
                                        <? }
                                        ?>

                                </table>
                            </td>
                        </tr>

						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


