
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Permisos consolidado - Editar</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(1)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" id="url" value="<?php echo $this->url->get('permisos/actualizar') ?>">
	<input type="hidden" id="url_index" value="<?php echo $this->url->get('permisos/') ?>">
	<input type="hidden" name="usu_cod" id="usu_cod" value="<?=$usu->usu_cod?>">

	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/permisos") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="70%" >
						<tr>
							<th colspan="2">Agregar o Editar Permisos</th>
							
						</tr>

						<tr>
							<td>Nombre</td>
							<td><input type="text" name="tus_des" id="tus_des" value="<?=$usu->usu_nom . " " . $usu->usu_ape?>"></td>
							
						</tr>
						
	

		
						<tr>
							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>Empresas</strong></th>
									</tr>
									<tr>
										<td><input type="checkbox" name="todos" id="todos"></td>
										<td>Todos</td>
									</tr>
									<?php	
										$permisos->setFetchMode(Phalcon\Db::FETCH_OBJ);  
									?>
									<?php while ( $per = $permisos->fetch() ) { ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$per->car_cod?>" <?php if(!$per->permiso=="0") echo "checked='checked'"  ?> <?php if(!$per->permiso=="0") echo "checked='checked'"  ?>>
												</td>
												<td>
													<?=$per->car_des?>
												</td>
											</tr>
										
									<?php } ?>
									
								</table>
							</td>

							<td>
							</td>
						</tr>





						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


