
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Cosultar Aspirante</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'Consultaraspirante/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'Consultaraspirante/eliminar') ?>">
<input type="hidden" id="url_index" name="url_index" value="<?php echo $this->url->get(
'Consultaraspirante/index') ?>">
<input type="hidden" id="url_guardar" name="url_guardar" value="<?php echo $this->url->get(
'Agenda/guardar') ?>">
<input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
'Consultaraspirante/estado') ?>">
<input type="hidden" id="url_pruebas" name="url_pruebas" value="<?php echo $this->url->get(
'Consultaraspirante/verpruebas') ?>">
<input type="hidden" id="url_obs" name="url_obs" value="<?php echo $this->url->get(
'Consultaraspirante/observaciones') ?>">
<input type="hidden" id="url_consulto" name="url_consulto" value="<?php echo $this->url->get(
'Consultaraspirante/consulto') ?>">
<input type="hidden" id="txt_pag" name="txt_pag" value="">

	<div id="contenedor">
		<div class="negro" onclick="cerrarModal();"></div>
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<div id="modal_documentos" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Seleccione la fecha y la hora acontinuación</th>
							</tr>
							<tr>
								<td>
									Nombre
								</td>
								<td>
									<input type="hidden" id="per_cod" name="per_cod">
									<span id="IsName">Joaquin Forero</span>
								</td>
							</tr>
							<tr>
								<td>Fecha</td>
								<td><input type="text" id="cit_fec" name="cit_fec"></td>
							</tr>
							<tr>
								<td>Hora</td>
								<td>
									<select name="cit_hor" id="cit_hor">
										<option value="08:00 - 10:00">Turno 1 (08:00 - 10:00)</option>
										<option value="10:00 - 12:00">Turno 2 (10:00 - 12:00)</option>
										<option value="02:00 - 04:00">Turno 3 (02:00 - 04:00)</option>
										<option value="04:00 - 06:00">Turno 4 (04:00 - 06:00)</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Vacante</td>
								<td><select name="req_cod" id="req_cod">
									<option value="">Seleccione</option>
									<?php
									foreach ($requisiciones as $key => $req) {
										echo '<option value="'.$req->req_cod.'">'.$req->req_til.' - '.$req->mun_nom.'</option>';
									}
									?>
								</select></td>
							</tr>
							<tr>
								<td>Psicóloga</td>
								<td><select name="usu_cod" id="usu_cod">
									<option value="">Seleccione</option>
									<?php
									foreach ($usuarios as $key => $usu) {
										echo '<option value="'.$usu->usu_cod.'">'.$usu->usu_nom.' - '.$usu->usu_ape.'</option>';
									}
									?>
								</select></td>
							</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" onclick="guardar($('#usu_cod').val());" value="Guardar"></td>
							</tr>
						</table>

					</div>
					<div id="modal_documentos_o" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Observaciones</th>
							</tr>
							<tr>
								<td>
									Nombre
								</td>
								<td>
									<input type="hidden" id="cod" name="cod">
									<span id="IsNameO">Joaquin Forero</span>
								</td>
							</tr>
							<tr>
								<td>Observaciones</td>
								<td><textarea id="per_obs" name="per_obs" rows="10"></textarea></td>
							</tr>
							<tr>
								<td>Valoración: </td>
								<td id="valoracion"></td>
							</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" onclick="observaciones();" value="Guardar"></td>
							</tr>
						</table>

					</div>
					<div id="modal_documentos_p">


					</div>
					<div class="consulta">
						<p>Consultar Postulante</p>
						<div class="busqueda">
						<select name="mun_cod" id="mun_cod" style="width: 130px" onchange="filtrar('',1);">
							<option value="">Ciudad Vacante</option>
							<option value="126">BARRANQUILLA</option>
							<option value="149">BOGOTÁ</option>
							<?
							foreach ($municipios as $key => $mun) {
								echo '<option value="'.$mun->mun_cod.'">'.$mun->mun_nom.' - '.$mun->dep_nom.'</option>';
							}
							?>
						</select>
						<select name="car_cod" id="car_cod" style="width: 130px" onchange="filtrar('',1);">
							<option value="">Titulo Vacante</option>
							<?
							foreach ($requisiciones as $key => $car) {
								echo '<option value="'.$car->req_til.'">'.$car->req_til.'</option>';
							}
							?>
						</select>
						<select name="mun_res" id="mun_res" style="width: 130px" onchange="filtrar('',0);">
							<option value="">Ciudad Residencia</option>
							<option value="126">BARRANQUILLA</option>
							<option value="149">BOGOTÁ</option>
							<?
							foreach ($municipios as $key => $mun) {
								echo '<option value="'.$mun->mun_cod.'">'.$mun->mun_nom.' - '.$mun->dep_nom.'</option>';
							}
							?>
						</select>
						<select name="car_int" id="car_int" style="width: 130px" onchange="filtrar('',2);">
							<option value="">Cargo Interés</option>
							<?
							foreach ($cargos as $key => $car) {
								echo '<option value="'.$car->car_cod.'">'.$car->car_des.'</option>';
							}
							?>
						</select>
						<select name="estado" id="estado" style="width: 130px" onchange="filtrar('',0);">
							<option value="">Estado</option>
							<?
							foreach ($estados as $key => $est) {
								echo '<option value="'.$est->est_cod.'">'.$est->est_nom.'</option>';
							}
							?>
						</select>
							<input type="text" placeholder="Busqueda..." id="txt_bus">
						</div>
					</div>
					<div class="clear"></div>

					<div id="respuesta"> </div>

					<br>
					<!-- <input type="button" value="+ Agregar Nuevo" class="boton"> -->

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


