<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ver Perfil</title>
</head>
<style>
    *{
        font-family: "Open Sans";
        font-size: 14px;
    }
    .titulo{

        color: #f0584a;
        font-weight: bold;
    }
</style>
<body>

<center>

    <?
    $val = Valoraciones::find(array("pos_cod=".$persona->per_cod . " ORDER BY val_cod DESC LIMIT 1"));
    if (count($val) == 0) {
        echo "<h2>La persona no ha sido valorada</h2>";
        return false;
    }
    function valNumerica($cal){
        $num = 0;
        if($cal =="A"){
            $num = 4;
        }
        if($cal =="B"){
            $num = 3;
        }
        if($cal =="MR"){
            $num = 2;
        }
        if($cal =="D"){
            $num = 1;
        }
        return $num;

    }
    function valLetra($cal){
        $num = 0;
        if($cal > 3.5 and $cal <= 4){
            $num = "A";
        }
        if($cal > 2.5 and $cal <= 3.5){
            $num ="B";
        }
        if($cal > 1.5 and $cal <= 2.5){
            $num = "MR";
        }
        if($cal < 1.5){
            $num = "D";
        }
        return $num;

    }

    // $pos = Postulaciones::findFirst("per_cod=".$persona->per_cod);
    $division = 3;

    //ENTREVISTA
    $obj = new Entrevistas();
    $ent = $obj->obtener($persona->per_cod);
    if(count($ent) > 0){
        $ent_rip = valNumerica($ent[0]->ent_rip);
        $ent_ahn = valNumerica($ent[0]->ent_ahn);
        $ent_ada = valNumerica($ent[0]->ent_ada);
        $ent_com = valNumerica($ent[0]->ent_com);
        $ent_lid = valNumerica($ent[0]->ent_lid);
        $ent_mot = valNumerica($ent[0]->ent_mot);
        $ent_cap = valNumerica($ent[0]->ent_cap);
    }else{
        $ent_rip = "-";
        $ent_ahn = "-";
        $ent_ada = "-";
        $ent_com = "-";
        $ent_lid = "-";
        $ent_mot = "-";
        $ent_cap = "-";
        $division-=1;
    }

    //PRUEBA

    $pru = Pruebas::find(array(
        "pos_cod=".$persona->per_cod . " ORDER BY pru_cod DESC LIMIT 1"
    ));
    if(count($pru)>0){
        $pru_rip = valNumerica($pru[0]->pru_rip);
        $pru_ahn = valNumerica($pru[0]->pru_ahn);
        $pru_ada = valNumerica($pru[0]->pru_ada);
        $pru_com = valNumerica($pru[0]->pru_com);
        $pru_lid = valNumerica($pru[0]->pru_lid);
        $pru_mot = valNumerica($pru[0]->pru_mot);
        $pru_cap = valNumerica($pru[0]->pru_cap);
    }else{
        $pru_rip = "-";
        $pru_ahn = "-";
        $pru_ada = "-";
        $pru_com = "-";
        $pru_lid = "-";
        $pru_mot = "-";
        $pru_cap = "-";
        $division-=1;
    }


    //ASSESSMENT
    $ass = Assessment::find(array(
        "pos_cod=".$persona->per_cod . " ORDER BY ass_cod DESC LIMIT 1"
    ));
    if(count($ass)>0){
        $ass_rip = valNumerica($ass[0]->ass_rip);
        $ass_ahn = valNumerica($ass[0]->ass_ahn);
        $ass_ada = valNumerica($ass[0]->ass_ada);
        $ass_com = valNumerica($ass[0]->ass_com);
        $ass_lid = valNumerica($ass[0]->ass_lid);
        $ass_mot = valNumerica($ass[0]->ass_mot);
        $ass_cap = valNumerica($ass[0]->ass_cap);
    }else{
        $ass_rip = "-";
        $ass_ahn = "-";
        $ass_ada = "-";
        $ass_com = "-";
        $ass_lid = "-";
        $ass_mot = "-";
        $ass_cap = "-";
        $division-=1;
        // echo $division;
    }




    ?>
    <? $entrev = 0; $div_rip = 0; $div_ahn = 0; $div_ada = 0; $div_com = 0; $div_lid = 0; $div_mot = 0; $div_cap = 0; ?>
    <? if(empty($ent_rip) || $ent_rip == 0) { } else{ $entrev+=1; $div_rip+=1;  } ?>
    <? if(empty($ent_ahn) || $ent_ahn == 0) { } else{ $entrev+=1; $div_ahn+=1; } ?>
    <? if(empty($ent_ada) || $ent_ada == 0) { } else{ $entrev+=1; $div_ada+=1; } ?>
    <? if(empty($ent_com) || $ent_com == 0) { } else{ $entrev+=1; $div_com+=1; } ?>
    <? if(empty($ent_lid) || $ent_lid == 0) { } else{ $entrev+=1; $div_lid+=1; } ?>
    <? if(empty($ent_mot) || $ent_mot == 0) { } else{ $entrev+=1; $div_mot+=1; } ?>
    <? if(empty($ent_cap) || $ent_cap == 0) { } else{ $entrev+=1; $div_cap+=1; } ?>

    <?php
    if ($entrev == 0) $entrev = 1;
    if($ent){
        $prom_ent = number_format(($ent_rip+$ent_ahn+$ent_cap+$ent_com+$ent_lid+$ent_mot+$ent_ada)/$entrev, "1");
    }else{
    }

    ?>
    <? $prueb = 0; ?>
    <? if(empty($pru_rip) || $pru_rip == 0) { } else{ $prueb+=1; $div_rip+=1; } ?>
    <? if(empty($pru_ahn) || $pru_ahn == 0) { } else{ $prueb+=1; $div_ahn+=1; } ?>
    <? if(empty($pru_ada) || $pru_ada == 0) { } else{ $prueb+=1; $div_ada+=1; } ?>
    <? if(empty($pru_com) || $pru_com == 0) { } else{ $prueb+=1; $div_com+=1; } ?>
    <? if(empty($pru_lid) || $pru_lid == 0) { } else{ $prueb+=1; $div_lid+=1; } ?>
    <? if(empty($pru_mot) || $pru_mot == 0) { } else{ $prueb+=1; $div_mot+=1; } ?>
    <? if(empty($pru_cap) || $pru_cap == 0) { } else{ $prueb+=1; $div_cap+=1; } ?>

    <?php
    if ($prueb == 0) $prueb = 1;
    if($pru){
        $prom_pru =number_format(($pru_rip+$pru_ahn+$pru_cap+$pru_com+$pru_lid+$pru_mot+$pru_ada)/$prueb, "1") ;
    }else{
    }
    ?>
    <? $assesm = 0; ?>
    <? if(empty($ass_rip) || $ass_rip == 0) { } else{ $assesm+=1; $div_rip+=1; } ?>
    <? if(empty($ass_ahn) || $ass_ahn == 0) { } else{ $assesm+=1; $div_ahn+=1; } ?>
    <? if(empty($ass_ada) || $ass_ada == 0) { } else{ $assesm+=1; $div_ada+=1; } ?>
    <? if(empty($ass_com) || $ass_com == 0) { } else{ $assesm+=1; $div_com+=1; } ?>
    <? if(empty($ass_lid) || $ass_lid == 0) { } else{ $assesm+=1; $div_lid+=1; } ?>
    <? if(empty($ass_mot) || $ass_mot == 0) { } else{ $assesm+=1; $div_mot+=1; } ?>
    <? if(empty($ass_cap) || $ass_cap == 0) { } else{ $assesm+=1; $div_cap+=1; } ?>

    <?php
    if ($assesm == 0) $assesm = 1;
    if($ass){
        $prom_ass =number_format(($ass_rip+$ass_ahn+$ass_cap+$ass_com+$ass_lid+$ass_mot+$ass_ada)/$assesm, "1");
    }else{
    }

    ?>
    <?php if($division>=1){?>
        <? $prom = 0; ?>
        <?php $prom_rip =($ent_rip+$pru_rip+$ass_rip)/$div_rip ?>
        <?if(empty($prom_rip) || $prom_rip == 0) { } else{ $prom+=1; }?>
        <?php $prom_ahn =($ent_ahn+$pru_ahn+$ass_ahn)/$div_ahn ?>
        <?if(empty($prom_ahn) || $prom_ahn == 0) { } else{ $prom+=1; }?>
        <?php $prom_ada =($ent_ada+$pru_ada+$ass_ada)/$div_ada ?>
        <?if(empty($prom_ada) || $prom_ada == 0) { } else{ $prom+=1; }?>
        <?php $prom_com =($ent_com+$pru_com+$ass_com)/$div_com ?>
        <?if(empty($prom_com) || $prom_com == 0) { } else{ $prom+=1; }?>
        <?php $prom_lid =($ent_lid+$pru_lid+$ass_lid)/$div_lid ?>
        <?if(empty($prom_lid) || $prom_lid == 0) { } else{ $prom+=1; }?>
        <?php $prom_mot=($ent_mot+$pru_mot+$ass_mot)/$div_mot ?>
        <?if(empty($prom_mot) || $prom_mot == 0) { } else{ $prom+=1; }?>
        <?php $prom_cap =($ent_cap+$pru_cap+$ass_cap)/$div_cap ?>
        <?if(empty($prom_cap) || $prom_cap == 0) { } else{ $prom+=1; }?>
        <?php $PROMEDIO =($prom_rip+$prom_ahn+$prom_ada+$prom_com+$prom_lid+$prom_mot+$prom_cap)/$prom;
        $PROM_DECIMAL = ($prom_rip+$prom_ahn+$prom_ada+$prom_com+$prom_lid+$prom_mot+$prom_cap)/$prom;//promedio con decimales

        ?>
    <?php }?>

    <?php
    $obj_car = new CargosTipos();
    $cargos = $obj_car->tipoCargo($req_cod);
    foreach ($cargos as $key => $reg) {

        ?>
        <?php $prom_ideal =number_format(($reg->tic_rip+$reg->tic_anh+$reg->tic_ada+$reg->tic_com+$reg->tic_lid+$reg->tic_mot+$reg->tic_cap)/7, "0") ?>

        <?php
        $APTO = "";

        /* if($prom_rip>=$reg->tic_rip and $prom_ahn>=$reg->tic_anh and $prom_ada>=$reg->tic_ada and $prom_com>=$reg->tic_com and $prom_lid>=$reg->tic_lid and $prom_mot>=$reg->tic_mot and $prom_cap>=$reg->tic_cap ){

               $APTO="APTO";
           }else{
               $APTO="NO APTO";
           }*/
        //echo "aaaaa ".$reg->tic_nom;
        if($reg->tic_nom=="Auxiliares"){
            if($PROM_DECIMAL>=2.5){
                $APTO="APTO";
                $est_cod = 1;
            }else{
                $APTO="NO APTO";
                $est_cod = 2;
            }
        }

        if($reg->tic_nom=="Asistentes"){
            if($PROM_DECIMAL>=2.8){
                $APTO="APTO";
                $est_cod = 1;
            }else{
                $APTO="NO APTO";
                $est_cod = 2;
            }
        }

        if($reg->tic_nom=="Director"){
            if($PROM_DECIMAL>=3.8){
                $APTO="APTO";
                $est_cod = 1;
            }else{
                $APTO="NO APTO";
                $est_cod = 2;
            }
        }

        if($reg->tic_nom=="Coordinador"){
            if($PROM_DECIMAL>=3.5){
                $APTO="APTO";
                $est_cod = 1;
            }else{
                $APTO="NO APTO";
                $est_cod = 2;
            }
        }


        if($reg->tic_nom=="Operativos"){
            if($prom_rip>=$reg->tic_rip and $prom_ahn>=$reg->tic_anh and $prom_ada>=$reg->tic_ada){
                $APTO="APTO";
                $est_cod = 1;
            }else{
                $APTO="NO APTO";
                $est_cod = 2;
            }
        }
    }

    // $iam = Personas::findFirst(array("per_cod = '$persona->per_cod'"));
    // if (!$iam) {
    // 	$iam = new Personas();
    // }
    // $iam->est_cod = $est_cod;
    // if(!$iam->save())
    //    {
    //    	return false;
    //    }

    ?>


    <div style="width: 900px; margin: 0 auto">
        <img style="float: left" src="<?=$this->url->get()?>img/logo-perfil.png" alt="">
        <p style="float:right;color:#f0584a;font-size:20pt;margin-top:15px">Informe Postulante Contactamos</p>
        <div style="clear:both"></div>
        <table style="border-collapse: collapse; width: 450px; margin: 0 auto; margin-top: 20px; float:left">
            <tr>
                <td>Nombre:</td>
                <td><?=$persona->per_pno." ".$persona->per_sno." ".$persona->per_pap." ".$persona->per_sap?></td>
            </tr>
            <tr>
                <td>Cédula:</td>
                <td><?=$persona->per_ide?></td>
            </tr>
            <tr>
                <td>Cargo al que aspira:</td>
                <td> <?
                    $car_cod = Requisiciones::findFirst($req_cod)->car_cod;
                    echo Cargos::findFirst($car_cod)->car_des;
                    ?></td>
            </tr>
            <tr>
                <td>Perfil:</td>
                <td><?=$APTO?></td>
            </tr>
        </table>
        <table style="border-collapse: collapse; width: 400px; margin: 0 auto; margin-top: 20px; float:right">
            <tr>
                <td>El presente informe contempla un análisis de competencias a través de la evaluación del postulante en pruebas, entrevista y assessment(si aplica) según el cargo.</td>
            </tr>
        </table>
        <div style="clear:both"></div>
    </div>
    <br>
    <div id="grafica1"></div>
    <br>
    <table width="900" border="0">

        <?php

        if($val){

            ?>
            <tr>

                <td ><p class="titulo">Concepto Psicológico</p></td>
                <td class="texto"><?=$val[0]->val_obs?> - Psicóloga: <? echo Usuarios::findFirst($val[0]->usu_cod)->usu_nom . " " . Usuarios::findFirst($val[0]->usu_cod)->usu_ape ?></td>
            </tr>
        <?php }?>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td colspan="2" ><p style="text-align: center" class="titulo">*** Descripciones de referencia por cada competencia evaluada ***</p></td>
        </tr>
        <tr>
            <td ><p class="titulo">Relaciones Interpersonales</p></td>
            <td class="texto"><?php //relaciones int...
                if (valLetra($prom_rip) == 'A'){
                    // alert("A");
                    echo "<p>Es consciente de  los demás y del entorno, así como de la influencia que ejerce sobre ambos. Refleja reconocimiento de los sentimientos de los demás. Entiende la óptica de sus compañeros, usando sus propias categorías y conceptos, la naturaleza de sus problemas emocionales y personales, así como la forma en que su acción y decisiones pueden afectar positiva o negativamente a quienes le rodean. Entiende de manera profunda los sentimientos y el estado emocional de quienes le rodean, y es consciente de hasta dónde se puede actuar sobre ello. Se preocupa por el estado de salud de sus compañeros y líderes. Investiga activamente problemas que puedan estar afectando a sus colaboradores o a otras personas en la organización. Apoya activamente a las personas que se añaden al grupo en su integración Recuerda los acontecimientos personales importantes. Resuelve problemas de los compañeros en el plano personal. Se interesa periódicamente por la situación emocional de sus compañeros. Se interesa por situaciones familiares, enfermedades, problemas personales y profesionales de los compañeros y líderes. Participa en celebraciones de relevancia de los compañeros. Comunica de forma inmediata las buenas noticias.</p>";
                }
                if (valLetra($prom_rip) == 'B'){
                    // alert("B");

                    echo "<p>Logra hacer consciencia de los demás y del entorno, así como de la influencia que ejerce sobre ambos. Reconoce en general los sentimientos de los demás. Se esfuerza con éxito por entiender la óptica de sus compañeros, usando sus propias categorías y conceptos, la naturaleza de sus problemas emocionales y personales, así como la forma en que su acción y decisiones pueden afectar positiva o negativamente a quienes le rodean. En general entiende los sentimientos y  l estado emocional de quienes le rodean, y es consciente de hasta dónde se puede actuar sobre ello. Se preocupa con frecuencia regular por el estado de salud de sus compañeros y líderes. Se interesa activamente por los problemas que puedan estar afectando a sus colaboradores o a otras personas en la organización. Apoya a las personas que se añaden al grupo en su integración Se interesa en recordar los acontecimientos personales importantes. Se esfuerza con éxito por resolver problemas de los compañeros en el plano personal. Se interesa periódicamente por la situación emocional de sus compañeros. Se interesa periódicamente por situaciones familiares, enfermedades, problemas personales y profesionales de los compañeros y líderes. Participa con frecuencia en celebraciones de relevancia de los compañeros. Comunica de forma inmediata las buenas noticias.</p>";

                }
                if (valLetra($prom_rip) == 'MR'){
                    // alert("MR");

                    echo "<p>Con esfuerzo logra hacer consciencia de los demás y del entorno, así como de la influencia que ejerce sobre ambos. Tras mucho esfuerzo reconoce los sentimientos de los demás.Con trabajo entiende la óptica de sus compañeros, usando aspectos de sus categorías y conceptos, la naturaleza de sus problemas emocionales y personales, así como con esfuerzo calibra la forma en que su acción y decisiones pueden afectar positiva o negativamente a quienes le rodean. Con dificultad entiende los sentimientos y el estado emocional de quienes le rodean, y es con esfuerzo consciente de hasta dónde se puede actuar sobre ello. Se preocupa con alguna frecuencia por el estado de salud de sus compañeros y líderes. Eventualmente se interesa por los problemas que puedan estar afectando a sus colaboradores o a otras personas en la organización. En ocasiones apoya a las personas que se añaden al grupo en su integración Se interesa en contados acontecimientos personales importantes. Con algunas dificultades logra resolver problemas con sus compañeros en el plano personal. Se interesa eventualmente por la situación emocional de sus compañeros. Se interesa con poca frecuencia por situaciones familiares, enfermedades, problemas personales y profesionales de los compañeros y líderes. Participa en contadas celebraciones de relevancia de los compañeros. Comunica las buenas noticias.</p>";
                }
                if (valLetra($prom_rip) == 'D'){
                    // alert("D");
                    echo "<p>No logra hacer consciencia de los demás y del entorno, así como de la influencia que ejerce sobre ambos. No le es posible reconocer los sentimientos de los demás. Le cuesta entender la óptica de sus compañeros, usar aspectos de sus categorías y conceptos, la naturaleza de sus problemas emocionales y personales, así como se le imposibilita calibrar la forma en que su acción y decisiones pueden afectar positiva o negativamente a quienes le rodean. No logra entender los sentimientos y el estado emocional de quienes le rodean, y no logra ser consciente de  asta dónde se puede actuar sobre ello. No se preocupa por el estado de salud de sus compañeros y lí eres. No se interesa por los problemas que puedan estar afectando a sus colaboradores o a otras per onas en la organización. No apoya a las personas que se añaden al grupo en su integración No se interesa en acontecimientos personales importantes. No logra resolver problemas con sus compañeros en el plano personal.  No se interesa por la situación emocional de sus compañeros. No Se interesa por situaciones familiares, enfermedades, problemas personales y profesionales de los compañeros y líderes. No participa en celebraciones de relevancia de los compañeros.</p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td ><p class="titulo">Actitud hacia las normas</p></td>
            <td class="texto"><?php //ACTITUD HACIA...

                if (valLetra($prom_ahn) == 'A'){
                    // alert("A");
                    echo "<p>Actúa fácilmente conforme a las normas y a los estándares éticos establecidos y se responsabiliza de las propias decisiones erróneas. No acepta por ningún motivo o circunstancia beneficios inmerecidos o inequidades con respecto a otros de igual derecho. Asume siempre la responsabilidad de las consecuencias negativas de la propia actuación. Muestra mucha coherencia entre lo que dice y lo que hace. No se apropia nunca de éxitos ajenos.</p>";
                }
                if (valLetra($prom_ahn) == 'B'){
                    // alert("B");

                    echo "<p>Actúa conforme a las normas y a los estándares éticos establecidos y se responsabiliza de las propias decisiones erróneas. No acepta beneficios inmerecidos o inequidades con respecto a otros de igual derecho. Asume responsabilidad de las consecuencias negativas de la propia actuación. Muestra coherencia entre lo que dice y lo que hace. No se apropia de éxitos ajenos.</p>";

                }
                if (valLetra($prom_ahn) == 'MR'){
                    // alert("MR");

                    echo "<p>Le cuesta actuar conforme a las normas y a los estándares éticos establecidos y tiende a responsabilizar a otros de las propias decisiones erróneas. Puede aceptar beneficios inmerecidos o inequidades con respecto a otros de igual derecho. Le es difícil asumir responsabilidad de las consecuencias negativas de la propia actuación. Muestra poco coherencia entre lo que dice y lo que hace. Se apropia de éxitos ajenos.</p>";
                }
                if (valLetra($prom_ahn) == 'D'){
                    // alert("D");
                    echo "<p>No actua conforme a las normas y a los estándares éticos establecidos y responsabiliza a otros de las propias decisiones erróneas. Acepta beneficios inmerecidos o inequidades con respecto a otros de igual derecho. No se Responsabiliza de las consecuencias negativas de la propia actuación. No Muestra coherencia entre lo que dice y lo que hace. Se apropia de éxitos ajenos.</p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td ><p class="titulo">Adaptabilidad</p></td>
            <td class="texto"><?php if (valLetra($prom_ahn)== 'A'){
                    // alert("A");
                    echo "<p>Modifica su conducta rápidamente para alcanzar determinados objetivos cuando surgen dificultades, nuevos datos o cambios en el entorno Es versátil en la emisión de conductas adaptativas sin cambiar su sistema de valores, expectativas y/o creencias, actuando en el momento adecuado para su implantación o a otros cambios en el entorno. Modifica objetivos de un colaborador cuando se ve imposible que éste los alcance. Cambia la estrategia de relación con un alterno cuando han cambiado los interlocutores en el seno de su organización. Cambia la forma de relación con el líder cuando se han percibido cambios en su actitud en los últimos encuentros. Cambia la actitud ante un alterno cuando la calidad de la información del interlocutor ha cambiado sustancialmente en la actividad. Anula un accionar y adopta otro cuando la situación lo requiere.</p>";
                }
                if (valLetra($prom_ahn)== 'B'){
                    // alert("B");

                    echo "<p>Modifica su conducta para alcanzar determinados objetivos cuando surgen dificultades, nuevos datos o cambios en el entorno Emite conductas adaptativas sin cambiar su sistema de valores, expectativas y/o creencias, actuando en el momento adecuado para su implantación o a otros cambios en el entorno. Figura como modificar objetivos de un colaborador cuando se ve imposible que éste los alcance. Se esfuerza en el cambio de estrategia en relación con un alterno cuando han cambiado los interlocutores en el seno de su organización. Modifica aspectos en la forma de relación con el líder cuando se han percibido cambios en su actitud en los últimos encuentros. Con esfuerzo cambia su actitud ante un alterno cuando la calidad de la información del interlocutor ha cambiado sustancialmente en la actividad. Tras breve tiempo logra cambiar un accionar y adopta otro cuando la situación lo requiere.</p> ";

                }
                if (valLetra($prom_ahn)== 'MR'){
                    // alert("MR");

                    echo "<p>Tras mucho esfuerzo puede modificar su conducta para alcanzar determinados objetivos cuando surgen dificultades, nuevos datos o cambios en el entorno Con trabajo logra emitir conductas adaptativas sin cambiar su sistema de valores, expectativas y/o creencias, actuando para su implantación o a otros cambios en el entorno. Con esfuerzo modifica objetivos de un colaborador cuando se ve imposible que éste los alcance. Con dificultades logra un cambio de estrategia en relación con un alterno cuando han cambiado los interlocutores en el seno de su organización. Con mucho trabajo cambia la forma de relación con el líder cuando se han percibido cambios en su actitud en los últimos encuentros. eventualmente puede cambiar su actitud ante un alterno cuando la calidad de la información del interlocutor ha cambiado sustancialmente en la actividad. Con mucho trabajo logra cambiar un accionar y adopta otro cuando la situación lo requiere.</p> ";
                }
                if (valLetra($prom_ahn)== 'D'){
                    // alert("D");
                    echo "<p>No le es posible modificar su conducta para alcanzar determinados objetivos cuando surgen dificultades, nuevos datos o cambios en el entorno No logra emitir conductas adaptativas  y puede cambiar su sistema de valores, expectativas y/o creencias, actuando para su implantación o a otros cambios en el entorno. No se interesa en modificar objetivos de un colaborador cuando se ve imposible que éste los alcance. No logra un cambio de estrategia en relación con un alterno cuando han cambiado los interlocutores en el seno de su organización. Le cuesta cambiar la forma de relación con el líder cuando se han percibido cambios en su actitud en los últimos encuentros. No le es posible cambiar su actitud ante un alterno cuando la calidad de la información del interlocutor ha cambiado sustancialmente en la actividad.No logra cambiar un accionar y adoptar otro cuando la situación lo requiere. </p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td><p class="titulo">Comunicación</p></td>
            <td class="texto"><?php    if (valLetra($prom_com) == 'A'){
                    // alert("A");
                    echo "<p>Canaliza clara y comprensiblemente ideas y opiniones hacia los demás a través del discurso hablado y escrito Es capaz de expresar pensamientos o contenidos internos de manera comprensible para el interlocutor, con toda la potencia de la palabra hablada, utilizada de forma proporcional al objetivo y a la audiencia que recibe el mensaje, utilizando las imágenes verbales y los recursos lingüísticos adecuados.Estructura bien los mensajes. Capta la atención del interlocutor. Precisa el mensaje oral y no permite frases hechas y/o sobreentendidas. Influye exitosamente en la mejora de la escucha del interlocutor, tanto personalmente como en los compañeros Habla con precisión Identifica con claridad y acierto los contenidos de la propia comunicación. Expresa ideas con orden. Da y recibe Feedback. Es conciso y directo. Utiliza expresiones brillantes y descriptivas.<p>";
                }
                if (valLetra($prom_com) == 'B'){
                    // alert("B");

                    echo "<p>Con esfuerzo logra canalizar clara y comprensiblemente ideas y opiniones hacia los demás a través del discurso hablado y escrito Es en general capaz de expresar pensamientos o contenidos internos de manera comprensible para el interlocutor, con potencia de la palabra hablada, utilizada de forma proporcional al objetivo y a la audiencia que recibe el mensaje, utilizando las imágenes verbales y los recursos lingüísticos adecuados. Se esfuerza con éxito en estructurar bien los mensajes. Con esfuerzo capta la atención del interlocutor. Trabaja en la precisión del mensaje oral y no permite frases hechas y/o sobreentendidas. Influye en la mejora de la escucha del interlocutor, tanto personalmente como en los compañeros Habla en general con un buen grado de prec sión Identifica los contenidos de la propia comunicación. Expresa ideas con estructura adecuada Da y recibe Feedback. Es en general conciso y directo. Utiliza expresiones entendibles y descriptivas.</p>";

                }
                if (valLetra($prom_com) == 'MR'){
                    // alert("MR");

                    echo "<p>Con mucho esfuerzo logra canalizar ideas y opiniones hacia los demás a través del discurso hablado y escrito Con mucho trabajo y tiempo logra expresar pensamientos o contenidos internos de manera comprensible para el interlocutor. Con trabajo logra utilizar la palabra de forma proporcional al objetivo y a la audiencia que recibe el mensaje, utilizando las imágenes verbales y los recursos lingüísticos mínimos necesarios. Con mucho trabajo logra estructurar bien los mensajes. Con dificultad logra captar la atención del interlocutor. Lecuesta la precisión del mensaje oral, cayendo en ocasiones en frases hechas y/o sobreentendidas. Le cuesta hablar con precisión Con dificultad logra identificar los contenidos de la propia comunicación. Expresa ideas con estructura simple Le cuesta ser conciso y directo. Utiliza expresiones simples y poco elaboradas.";
                }
                if (valLetra($prom_com) == 'D'){
                    // alert("D");
                    echo "No le es posible logra canalizar ideas y opiniones hacia los demás a través del discurso hablado y escrito No logra expresar pensamientos o contenidos internos de manera comprensible para el interlocutor. No logra utilizar la palabra de forma proporcional al objetivo y a la audiencia que recibe el mensaje. No logra estructurar bien los mensajes. No logra captar la atención del interlocutor. No muestra precisión del mensaje oral, cayendo en frases hechas y/o sobreentendidas. No logra identificar los contenidos de la propia comunicación. Utiliza expresiones simples y sin estructura.<p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td ><p class="titulo">Liderazgo</p></td>
            <td class="texto"><?php
                //liderazgo
                if (valLetra($prom_lid) == 'A'){
                    // alert("A");
                    echo "<p>Informa a las personas sobre todos los detalles y aspectos relevantes que afecten a su trabajo.  Atiende las demandas de información y/o ayuda de los colaboradores. Aclara dudas. Recibe información referente a las personas. Se preocupa por los temas personales de sus colaboradores. Reconoce el éxito de los colaboradores. Analiza a cada colaborador para utilizar con él las técnicas de comunicación adecuadas. Adapta a cada colaborador y a sus necesidades el propio estilo de mando y el nivel de exigencia. Mantiene con cada colaborador una relación personal cercana y de confianza mutua, donde puedan expresarse todos los problemas y dificultades sin recelos. Sabe modular los niveles de exigencia respecto a las posibilidades reales de cada cual, imponiendo con firmeza objetivos ambiciosos pero realistas. Marca objetivos (reuniones con colaboradores y subordinados). Establece y diseña los puestos de trabajo de sus colaboradores. Fija políticas de actuación a los colaboradores. Establece corrientes de comunicación (transmitir ideas, ser comunicador del grupo). Corrige actuaciones de desviaciones de objetivos. Delegar funciones. Resuelve incidencias organizativas y/o de relaciones interpersonales. Marca objetivos cualitativos. Corrige y mecaniza conductas o actuaciones orientadas a los objetivos.<p>";
                }
                if (valLetra($prom_lid) == 'B'){
                    // alert("B");

                    echo "<p>Informa a las personas sobre todos los detalles y aspectos relevantes que afecten a su trabajo.  Atiende las demandas de información y/o ayuda de los colaboradores. Aclara dudas. Recibe información referente a las personas. Se preocupa por los temas personales de sus colaboradores. Reconoce el éxito de los colaboradores. Analiza a cada colaborador para utilizar con él las técnicas de comunicación adecuadas. Adapta a cada colaborador y a sus necesidades el propio estilo de mando y el nivel de exigencia. Mantiene con cada colaborador una relación personal cercana y de confianza mutua, donde puedan expresarse todos los problemas y dificultades sin recelos. Sabe modular los niveles de exigencia respecto a las posibilidades reales de cada cual, imponiendo con firmeza objetivos ambiciosos pero realistas. Marca objetivos (reuniones con colaboradores y subordinados). Establece y diseña los puestos de trabajo de sus colaboradores. Fija políticas de actuación a los colaboradores. Establece corrientes de comunicación (transmitir ideas, ser comunicador del grupo). Corrige actuaciones de desviaciones de objetivos. Delegar funciones. Resuelve incidencias organizativas y/o de relaciones interpersonales. Marca objetivos cualitativos. Corrige y mecaniza conductas o actuaciones orientadas a los objetivos.<p>";

                }
                if (valLetra($prom_lid) == 'MR'){
                    // alert("MR");

                    echo "<p>Poco informa a las personas sobre todos los detalles y aspectos relevantes que afecten a su trabajo. Difícilmente atiende las demandas de información y/o ayuda de los colaboradores. Poco aclara dudas o recibe información referente a las personas. Difícilmente se preocupa por los temas personales de sus colaboradores. Poco reconoce el éxito de los colaboradores. Le es difícil analizar a cada colaborador para utilizar con él las técnicas de comunicación adecuadas. Se le dificulta adapta a cada colaborador y a sus necesidades el propio estilo de mando y el nivel de exigencia. Poco mantiene con cada colaborador una relación personal cercana y de confianza mutua, donde puedan expresarse todos los problemas y dificultades sin recelos. Poco modula los niveles de exigencia respecto a las posibilidades reales de cada cual, sin imponer con mucha firmeza objetivos ambiciosos pero realistas. Poco marca objetivos (reuniones con colaboradores y subordinados). Difícilmente establece o diseña los puestos de trabajo de sus colaboradores. Poco fija políticas de actuación a los colaboradores. Poco establece corrientes de comunicación (transmitir ideas, ser comunicador del grupo). Poco corrige actuaciones de desviaciones de objetivos. Difícilmente delega funciones ni resuelve incidencias organizativas y/o de relaciones interpersonales. Se le dificulta marcar objetivos cualitativos. Poco corrige o mecaniza conductas o actuaciones orientadas a los objetivos.</p>";
                }
                if (valLetra($prom_lid) == 'D'){
                    // alert("D");
                    echo "<p>No informa a las personas sobre todos los detalles y aspectos relevantes que afecten a su trabajo.  No atiende las demandas de información y/o ayuda de los colaboradores. No aclara dudas ni recibe información referente a las personas. No se preocupa por los temas personales de sus colaboradores. No reconoce el éxito de los colaboradores. No analiza a cada colaborador para utilizar con él las técnicas de comunicación adecuadas. No adapta a cada colaborador y a sus necesidades el propio estilo de mando y el nivel de exigencia. No mantiene con cada colaborador una relación personal cercana y de confianza mutua, donde puedan expresarse todos los problemas y dificultades sin recelos. No modula los niveles de exigencia respecto a las posibilidades reales de cada cual, sin imponer con firmeza objetivos ambiciosos pero realistas. No marca objetivos (reuniones con colaboradores y subordinados). No establece ni diseña los puestos de trabajo de sus colaboradores. No fija políticas de actuación a los colaboradores. No establece corrientes de comunicación (transmitir ideas, ser comunicador del grupo). No corrige actuaciones de desviaciones de objetivos. No delega funciones ni resuelve incidencias organizativas y/o de relaciones interpersonales. No marca objetivos cualitativos. No corrige ni mecaniza conductas o actuaciones orientadas a los objetivos.</p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td ><p class="titulo">Motivacion al Logro</p></td>
            <td class="texto"><?php  if (valLetra($prom_mot) == 'A'){
                    // alert("A");
                    echo "<p>Fija  metas de forma ambiciosa y determinada, por encima de los estándares y de las expectativas, mostrando insatisfacción con el desempeño promedio Es ambicioso en cuanto a la consecución de resultados positivos, aún más allá de las exigencias institucionales. Muestra un impulso alto para conseguir retos y desafíos personales, aplicando de forma autodirigida la originalidad de planteamientos novedosos para alcanzar la meta. Se fija objetivos superiores a los establecidos, de forma realista y ambiciosa. Se interesa en concursos, premios, competiciones deportivas, etc. Es frecuente voluntario a tareas. Trabaja hasta alcanzar las metas o retos propuestos.</p>";
                }
                if (valLetra($prom_mot)  == 'B'){
                    // alert("B");

                    echo "<p>Se esfuerza con éxito  en fijar  metas de forma ambiciosa y determinada, acorde con los estándares y de las expectativas, mostrando insatisfacción con el desempeño inferior Se enfuerza con éxito en la consecución de resultados positivos, acorde con lo demandado por las exigencias institucionales. Muestra interes en conseguir retos y desafíos personales, aplicando de forma autodirigida la originalidad de planteamientos novedosos para alcanzar la meta. Se fija objetivos acorde a los establecidos, de forma realista y ambiciosa. Se interesa en concursos, premios, competiciones deportivas, etc Es frecuente voluntario a tareas. Trabaja hasta alcanzar las metas o retos propuestos.</p>";

                }
                if (valLetra($prom_mot)  == 'MR'){
                    // alert("MR");

                    echo "<p>Con esfuerzo logra fijar  metas acordes con los estándares y de las expectativas, mostrando satisfacción con el desempeño mínimo requerido Logra con mucho esfuerzo la consecución de resultados positivos, acorde con lo demandado por las exigencias institucionales. Busca cumplir con los retos y desafíos personales. Los objetivos fijados son los estblecidos por el programa para él. Participa en concursos, premios, competiciones deportivas, etc que son delegados por el programa. cumple con el mínimo requerido para hasta alcanzar las metas o retos propuestos.</p>";
                }
                if (valLetra($prom_mot)  == 'D'){
                    // alert("D");
                    echo "<p>No logra fijar  metas acordes con los estándares y de las expectativas, mostrando satisfacción con el desempeño mínimo requerido No logra la consecución de resultados positivos con lo demandado por las exigencias institucionales. Los objetivos fijados son los estblecidos por el programa para él. No participa en concursos, premios, competiciones deportivas, etc que son delegados por el programa. No cumple con el mínimo requerido para hasta alcanzar las metas o retos propuestos.</p>";
                }?></td>
        </tr>
        <tr>
            <td colspan="2"><hr /></td>
        </tr>
        <tr>
            <td ><p class="titulo">Capacidad de aprendizaje</p></td>
            <td class="texto"> <?php     if (valLetra($prom_cap) == 'A'){
                    // alert("A");
                    echo "<p>Aprovecha fácilmente las soluciones aportadas por otros a los problemas cuando observa determinadas conductas en los interlocutores. Lleva con agilidad determinadas teorías a casos concretos y reales, modifica la propia conducta después de cometer errores. Actúa diligentemente tras estudiar y analizar las diferentes circulares y notas internas sobre normativa, enviadas por el departamento de Organización. Asimila con mucha facilidad nueva información y aplica correctamente e Imita la conducta de otras personas para mejorar la propia, lleva con facilidad a la práctica correctamente instrucciones complejas.</p>";
                }
                if (valLetra($prom_cap) == 'B'){
                    // alert("B");

                    echo "<p>Aprovecha las soluciones aportadas por otros a los problemas cuando observa determinadas conductas en los interlocutores. Lleva determinadas teorías a casos concretos y reales, modifica la propia conducta después de cometer errores. Actúa tras estudiar y analizar las diferentes circulares y notas internas sobre normativa, enviadas por el departamento de Organización. Asimila nueva información y aplica correctamente e Imita la conducta de otras personas para mejorar la propia, lleva a la práctica correctamente instrucciones complejas.</p>";

                }
                if (valLetra($prom_cap) == 'MR'){
                    // alert("MR");

                    echo "<p>Se le dificulta aprovechar las soluciones aportadas por otros a los problemas cuando observa determinadas conductas en los interlocutores. Le es difícil llevar determinadas teorías a casos concretos y reales, le cuesta modificar la propia conducta después de cometer errores. Actúa poco tras estudiar y analizar las diferentes circulares y notas internas sobre normativa, enviadas por el departamento de Organización. Tiene dificultad para asimilar nueva información y aplicarla correctamente e Imitar la conducta de otras personas para mejorar la propia, le cuesta llevar a la práctica correctamente instrucciones complejas.</p>";
                }
                if (valLetra($prom_cap)== 'D'){
                    // alert("D");
                    echo "<p>Le es imposible aprovechar las soluciones aportadas por otros a los problemas cuando observa determinadas conductas en los interlocutores. No puede aplicar determinadas teorías a casos concretos y reales, ni modificar la propia conducta después de cometer errores. No actua tras estudiar y analizar las diferentes circulares y notas internas sobre normativa, enviadas por el departamento de Organización. No puede asimilar nueva información y aplicarla correctamente e Imitar la conducta de otras personas para mejorar la propia, ni llevar a la práctica correctamente instrucciones complejas</p>";
                }?></td>
        </tr>

    </table>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            var data = google.visualization.arrayToDataTable([

                ["CUALIDAD", "resultado", { role: "style" } ],

                ["Relaciones interpersonales", <?=$prom_rip?>, "2d8d94"],


                ["Capacidad de aprendizaje", <?=$prom_cap?>, "2d8d94"],


                ["Motivacion a los Logros", <?=$prom_mot?>, "2d8d94"],


                ["Liderazgo", <?=$prom_lid?>, "2d8d94"],


                ["Comunicacion", <?=$prom_com?>, "2d8d94"],

                ["Adaptabilidad", <?=$prom_ada?>, "2d8d94"],

                ["Actitud hacia las normas", <?=$prom_ahn?>, "2d8d94"],







            ]);

            var view = new google.visualization.DataView(data);
            view.setColumns([0, 1,
                { calc: "stringify",
                    sourceColumn: 1,
                    type: "string",
                    role: "annotation" },
                2]);

            var options = {
                title: 'PERFIL',
                width: 800,
                height: 600,
                bar: {groupWidth: "95%"},
                legend: { position: "none" },

            };
            var chart = new google.visualization.ColumnChart(document.getElementById("grafica1"));
            chart.draw(view, options);
        }
    </script>

</center>
</body>
</html>