<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ver Perfil</title>
</head>
<style>
*{
	font-family: "Open Sans";
	font-size: 14px;
}
	.titulo{

		color: #f0584a;
		font-weight: bold;
	}
</style>
<body>

	<center>

	<?
		$val = Valoraciones::find(array("pos_cod=".$persona->per_cod . " ORDER BY val_cod DESC LIMIT 1"));
		if (count($val) == 0) {
			echo "<h2>La persona no ha sido valorada</h2>";
			return false;
		}


    // $pos = Postulaciones::findFirst("per_cod=".$persona->per_cod);
    $division = 3;
    //ENTREVISTA
    $obj = new Entrevistas();
    $ent = $obj->obtenerE($per->per_cod);
    $entrevista = array();
    if (count($ent) > 0) {
        foreach ($ent as $i => $e) {
            $entrevista[$i] = $e->result;
        }
    } else {
        $division -= 1;
    }
    //PRUEBA
    $objP = new Pruebas();
    $pru = $objP->obtener($per->per_cod);
    $prueba = array();
    if (count($pru) > 0) {
        foreach ($pru as $i => $p) {
            $prueba[$i] = $p->result;
        }
    } else {
        $division -= 1;
    }
    //ASSESSMENT
    $objA = new Assessment();
    $ass = $objA->obtener($per->per_cod);
    $assesment = array();
    if (count($ass) > 0) {
        foreach ($ass as $i => $a) {
            $assesment[$i] = $a->result;
        }
    } else {
        $division -= 1;
        // echo $division;
    }
    $entrev = 0;
    $prueb = 0;
    $sum_ent = 0;
    $sum_pru = 0;
    $sum_ass = 0;
    $assesm = 0;
    if (count($entrevista) > 0) {
        for ($i = 0; $i <= count($entrevista) - 1; $i++) {
            if (!empty($entrevista[$i]) || $entrevista[$i] != 0) {
                $entrev++;
                $sum_ent += $entrevista[$i];
            }
        }
    }
    if ($entrev == 0) $entrev = 1;
    if ($ent) {
        $prom_ent = number_format($sum_ent / $entrev, "1");
    }
    if (count($prueba) > 0) {
        for ($i = 0; $i <= count($prueba) - 1; $i++) {
            if (!empty($prueba[$i]) || $prueba[$i] != 0) {
                $prueb++;
                $sum_pru += $prueba[$i];
            }
        }
    }
    if ($prueb == 0) $prueb = 1;
    if ($pru) {
        $prom_pru = number_format($sum_pru / $prueb, "1");
    }
    if (count($assesment) > 0) {
        for ($i = 0; $i <= count($assesment) - 1; $i++) {
            if (!empty($assesment[$i]) || $assesment[$i] != 0) {
                $assesm++;
                $sum_ass += $assesment[$i];
            }
        }
    }
    if ($assesm == 0) $assesm = 1;
    if ($ass) {
        $prom_ass = number_format($sum_ass / $assesm, "1");
    }
    if ($division >= 1) {
        $pro = array();
        $sum_obtenido = 0;
        for ($i = 0; $i <= count($entrevista) - 1; $i++) {
            $k = 0;
            if ($entrevista[$i] != 0) {
                $s_ent = $entrevista[$i];
                $k++;
            } else {
                $s_ent = 0;
            }
            if (count($prueba) > 0) {
                if ($prueba[$i] != 0) {
                    $s_pru = $prueba[$i];
                    $k++;
                } else {
                    $s_pru = 0;
                }
            } else {
                $s_pru = 0;
            }
            if (count($assesment) > 0) {
                if ($assesment[$i] != 0) {
                    $s_ass = $assesment[$i];
                    $k++;
                } else {
                    $s_ass = 0;
                }
            } else {
                $s_ass = 0;
            }

            if ($k == 0) $k = 1;
            $pro[$i] = ($s_ent + $s_pru + $s_ass) / $k;
            $sum_obtenido+=$pro[$i];
        }

        $prom_obtenido = $sum_obtenido / $division;

    }

  ?>

        <?
        $promedio_obtenido = 0;
        $promedio_ideal = 0;
        $contador = 0;
        foreach ($ent as $i => $en) {
            $ideal = CompetenciasCargosEmpresas::find(["cargo_id=" . $req->car_cod . " AND empresa_id=" . $req->emp_cod . " AND competencia_id=" .$en->com_cod]);
            if (count($ideal) > 0) {
                $promedio_ideal += $ideal[0]->valor;
            } else {
                $ideal = CompetenciasCargos::find(["cargo_id=" . $req->car_cod . " AND competencia_id=" .$en->com_cod]);
                if (count($ideal) > 0) {
                    $promedio_ideal += $ideal[0]->valor;
                }
            }
            $promedio_obtenido += $pro[$i];
            $contador++;



        }
        $proid = $promedio_ideal / $contador;
        if ($promedio_obtenido >= $promedio_ideal) {
            $APTO = "APTO";
        } else {
            $APTO = "NO APTO";
        }
        ?>


<div style="width: 900px; margin: 0 auto">
<img style="float: left" src="<?=$this->url->get()?>img/logo-perfil.png" alt="">
<p style="float:right;color:#f0584a;font-size:20pt;margin-top:15px">Informe Postulante Contactamos</p>
<div style="clear:both"></div>
<table style="border-collapse: collapse; width: 450px; margin: 0 auto; margin-top: 20px; float:left">
	<tr>
		<td>Nombre:</td>
		<td><?=$persona->per_pno." ".$persona->per_sno." ".$persona->per_pap." ".$persona->per_sap?></td>
	</tr>
	<tr>
		<td>Cédula:</td>
		<td><?=$persona->per_ide?></td>
	</tr>
	<tr>
		<td>Cargo al que aspira:</td>
		<td> <?
		  	echo Cargos::findFirst($req->car_cod)->car_des;
		  ?></td>
	</tr>
	<tr>
		<td>Perfil:</td>
		<td><?=$APTO?></td>
	</tr>
</table>
<table style="border-collapse: collapse; width: 400px; margin: 0 auto; margin-top: 20px; float:right">
	<tr>
		<td>El presente informe contempla un análisis de competencias a través de la evaluación del postulante en pruebas, entrevista y assessment(si aplica) según el cargo.</td>
	</tr>
</table>
<div style="clear:both"></div>
</div>
<br>
  <div id="grafica1"></div>
	<br>
<table width="900" border="0">

<?php

  	if($val){

  	?>
  	<tr>

   <td ><p class="titulo">Concepto Psicológico</p></td>
    <td class="texto"><?=$val[0]->val_obs?> - Psicóloga: <? echo Usuarios::findFirst($val[0]->usu_cod)->usu_nom . " " . Usuarios::findFirst($val[0]->usu_cod)->usu_ape ?></td>
  </tr>
  <?php }?>
	<tr>
<td colspan="2"><hr /></td>
</tr>
<tr>
	<td colspan="2" ><p style="text-align: center" class="titulo">*** Descripciones de referencia por cada competencia evaluada ***</p></td>
</tr>

</table>
        <br>
        <table width="900" border="0" cellspacing="20">
            <?
            foreach ($ent as $i => $en) {
                echo '<tr><td class="titulo">'.$en->name.'</td>
                    <td align="justify" >'.$en->texto.'</td>
                    <td align="center" class="">';
                $ideal = CompetenciasCargosEmpresas::find(["cargo_id=" . $req->car_cod . " AND empresa_id=" . $req->emp_cod . " AND competencia_id=" .$en->com_cod]);
                if (count($ideal) > 0) {
                    echo $ideal[0]->valor . "%";
                } else {
                    $ideal = CompetenciasCargos::find(["cargo_id=" . $req->car_cod . " AND competencia_id=" .$en->com_cod]);
                    if (count($ideal) > 0) {
                        echo $ideal[0]->valor . "%";
                    } else {
                        echo "NA";
                    }
                }
                if ($pro[$i] >= $ideal[0]->valor) {
                    echo '</td>
                    <td style="color: green" align="center">'.$pro[$i].'%</td></tr>';
                }else{
                    echo '</td>
                    <td class="titulo" align="center">'.$pro[$i].'%</td></tr>';
                }



            }
            ?>
        </table>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([

	   ["CUALIDAD", "resultado", { role: "style" } ],

              <?
              foreach ($ent as $i => $en) { ?>

          ["<?=$en->name?>", <?=$pro[$i]?>, "2d8d94"],


                <? } ?>







      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: 'Promedio ideal <?=$proid?>',
        width: 800,
        height: 600,
        bar: {groupWidth: "95%"},
        legend: { position: "60" },

      };
      var chart = new google.visualization.ColumnChart(document.getElementById("grafica1"));
      chart.draw(view, options);
  }
  </script>

	</center>
</body>
</html>