
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: IPV</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarIPV/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarIPV/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarIPV/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarIPV/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : IPV</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>

					

					<br>

					<table border="0" class="form">
						<?php $i=0; foreach ($preguntas as $reg):?>
							<?php
							 $i=$i+1;
							 $ipr_cod= $reg->ipr_cod;
							?>
						<tr>
							
							<td>
								
								<table border="0" class="lista" >
									<tr>
										<td  style="width:20%"><?php echo $reg->ipr_cod?>.</td>
										<?php 
											$regsR = IpvRes::find(array(
												"ipr_cod=".$reg->ipr_cod
											)); 
										?>
										<?php foreach ($regsR as $regR): ?>
											<td>
												<input type="radio"  name="<?php echo $regR->ipr_cod?>" value="<?php echo $regR->ire_num?>" /><?php echo $regR->ire_num?>
											</td>
										<?php endforeach ?>
									</tr>
								</table>
								
							</td>
							
						</tr>
						<?php endforeach ?>
					</table>
					
					<br>

					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


