
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: Caras</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarCaras/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarCaras/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarCaras/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarCaras/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : Caras</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>

					<?php
						$contar = 1;
							$i=0;
							?>
							<?php foreach ($preguntas as $pre):?>

							<?php
								$car_cod=$pre->car_cod;
							?>
						<?php
							$i=$i+1;
						?>

							<div class="caras_contenedor" align="center">

								<?php 
									$respuestas = CarasRta::find(array(
										"car_cod=".$pre->car_pre
									));
								?>
								<tr>

								<?php foreach ($respuestas as $res):  ?>

									 <div class="caras_contenido">
							            	
							                <input type="radio" name="<?php echo $res->car_cod?>"
							                 value="<?php echo $res->cre_cod;?>" />
									 </div>


								<?php endforeach ?>
							</div>
							<?php 
							if ($i % 4 == 0) 
								echo '<div style="clear: both"></div>';
							?>
							<?php endforeach ?>

					<br>
					
					

					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


