<? error_reporting(0) ?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ver CMT</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	 <script>


        function generar(){
        	fechai = $("#fecha_inicial").val()
        	fechaf = $("#fecha_final").val()
        	window.open($("#url_base").val()+"reportes/consolidado/"+fechai+"/"+fechaf);
        }
      </script>

       <script>
	 	function AbrirModal(){
			$(".negro").css("display", "block")
			$("#modal_documentos").css("display", "block")
			
		}

		function cerrarModal(){
			$(".negro").css("display", "none")
			$("#modal_documentos").css("display", "none")


		}
	 </script>

</head>
<body>
<form id="frm">
	<div id="contenedor">
	<div class="negro" onclick="cerrarModal();"></div>
		
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
			<bR>
				
				<input type="hidden" name="url_base" id="url_base" value="<?=$this->url->get()?>">
				<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get(
'ver_cmt/eliminar') ?>">
				<div id="cuerpo_central">
					<a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
					<div style="padding-left:0px;color:#f0584a">Resultados CMT <div onclick="eliminarPrueba('<?=$cmt?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
                <div id="modal_documentos" style="background-color:white;">
                    <?
                        $fotos = Fotos::find("fot_pru='CMT' AND per_cod=".$persona->per_cod);
                        foreach ($fotos as $key => $fot) {
                            ?>
                                <center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
                            <?
                        }
                    ?>
                </div>
                <div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>
					<br>
					

					<br>
					<br>
					<div id="con">
						
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<center>

				<?php

					/*TABLA GENERAL*/



					//LOGRO

					$tg[0][0]=27;

					$tg[1][0]=30;

					$tg[2][0]=33;

					$tg[3][0]=35;

					$tg[4][0]=38;

					$tg[5][0]=41;

					$tg[6][0]=44;

					$tg[7][0]=47;

					$tg[8][0]=50;

					$tg[9][0]=53;

					$tg[10][0]=55;

					$tg[11][0]=58;

					$tg[12][0]=61;

					$tg[13][0]=64;

					$tg[14][0]=67;

					$tg[15][0]=70;

					$tg[16][0]=72;

					$tg[17][0]=75;

					$tg[18][0]=78;

					$tg[19][0]=81;



					//AFILICIACION

					$tg[0][1]=28;

					$tg[1][1]=31;

					$tg[2][1]=34;

					$tg[3][1]=36;

					$tg[4][1]=39;

					$tg[5][1]=42;

					$tg[6][1]=45;

					$tg[7][1]=47;

					$tg[8][1]=50;

					$tg[9][1]=53;

					$tg[10][1]=56;

					$tg[11][1]=59;

					$tg[12][1]=61;

					$tg[13][1]=64;

					$tg[14][1]=67;

					$tg[15][1]=70;

					$tg[16][1]=72;

					$tg[17][1]=75;

					$tg[18][1]=78;

					$tg[19][1]=81;



					//AUTOREALIZACION

					$tg[0][2]=5;

					$tg[1][2]=8;

					$tg[2][2]=11;

					$tg[3][2]=14;

					$tg[4][2]=17;

					$tg[5][2]=20;

					$tg[6][2]=23;

					$tg[7][2]=26;

					$tg[8][2]=29;

					$tg[9][2]=32;

					$tg[10][2]=34;

					$tg[11][2]=37;

					$tg[12][2]=40;

					$tg[13][2]=43;

					$tg[14][2]=46;

					$tg[15][2]=49;

					$tg[16][2]=52;

					$tg[17][2]=55;

					$tg[18][2]=58;

					$tg[19][2]=81;



					//DEDICACION A LA TAREA

					$tg[0][3]=5;

					$tg[1][3]=9;

					$tg[2][3]=12;

					$tg[3][3]=15;

					$tg[4][3]=18;

					$tg[5][3]=22;

					$tg[6][3]=25;

					$tg[7][3]=28;

					$tg[8][3]=31;

					$tg[9][3]=35;

					$tg[10][3]=38;

					$tg[11][3]=41;

					$tg[12][3]=44;

					$tg[13][3]=48;

					$tg[14][3]=51;

					$tg[15][3]=54;

					$tg[16][3]=57;

					$tg[17][3]=61;

					$tg[18][3]=64;

					$tg[19][3]=67;



					//ACEPTACION  A LA AUTORIDAD

					$tg[0][4]=19;

					$tg[1][4]=22;

					$tg[2][4]=25;

					$tg[3][4]=28;

					$tg[4][4]=31;

					$tg[5][4]=34;

					$tg[6][4]=38;

					$tg[7][4]=41;

					$tg[8][4]=44;

					$tg[9][4]=47;

					$tg[10][4]=50;

					$tg[11][4]=53;

					$tg[12][4]=56;

					$tg[13][4]=59;

					$tg[14][4]=62;

					$tg[15][4]=65;

					$tg[16][4]=69;

					$tg[17][4]=72;

					$tg[18][4]=75;

					$tg[19][4]=78;



					//ACEPTACION  A LA NORMAS

					$tg[0][5]=14;

					$tg[1][5]=18;

					$tg[2][5]=21;

					$tg[3][5]=25;

					$tg[4][5]=29;

					$tg[5][5]=32;

					$tg[6][5]=36;

					$tg[7][5]=40;

					$tg[8][5]=43;

					$tg[9][5]=47;

					$tg[10][5]=51;

					$tg[11][5]=54;

					$tg[12][5]=58;

					$tg[13][5]=61;

					$tg[14][5]=65;

					$tg[15][5]=69;

					$tg[16][5]=72;

					$tg[17][5]=76;

					$tg[18][5]=80;

					$tg[19][5]=83;



					//EXPECTACION

					$tg[0][6]=33;

					$tg[1][6]=36;

					$tg[2][6]=39;

					$tg[3][6]=42;

					$tg[4][6]=45;

					$tg[5][6]=48;

					$tg[6][6]=51;

					$tg[7][6]=54;

					$tg[8][6]=57;

					$tg[9][6]=60;

					$tg[10][6]=63;

					$tg[11][6]=66;

					$tg[12][6]=69;

					$tg[13][6]=72;

					$tg[14][6]=76;

					$tg[15][6]=79;

					$tg[16][6]=82;

					$tg[17][6]=85;

					$tg[18][6]=88;

					$tg[19][6]=91;





					//SUPERVISICION

					$tg[0][7]=28;

					$tg[1][7]=30;

					$tg[2][7]=33;

					$tg[3][7]=35;

					$tg[4][7]=38;

					$tg[5][7]=40;

					$tg[6][7]=43;

					$tg[7][7]=45;

					$tg[8][7]=47;

					$tg[9][7]=50;

					$tg[10][7]=52;

					$tg[11][7]=55;

					$tg[12][7]=57;

					$tg[13][7]=60;

					$tg[14][7]=62;

					$tg[15][7]=65;

					$tg[16][7]=67;

					$tg[17][7]=70;

					$tg[18][7]=72;

					$tg[19][7]=75;





					//CONTENIDO DE TRABAJO

					$tg[0][8]=15;

					$tg[1][8]=17;

					$tg[2][8]=20;

					$tg[3][8]=23;

					$tg[4][8]=25;

					$tg[5][8]=28;

					$tg[6][8]=31;

					$tg[7][8]=33;

					$tg[8][8]=36;

					$tg[9][8]=39;

					$tg[10][8]=41;

					$tg[11][8]=44;

					$tg[12][8]=46;

					$tg[13][8]=49;

					$tg[14][8]=52;

					$tg[15][8]=54;

					$tg[16][8]=57;

					$tg[17][8]=60;

					$tg[18][8]=62;

					$tg[19][8]=65;



					//SALARIO

					$tg[0][9]=41;

					$tg[1][9]=44;

					$tg[2][9]=46;

					$tg[3][9]=49;

					$tg[4][9]=52;

					$tg[5][9]=54;

					$tg[6][9]=57;

					$tg[7][9]=59;

					$tg[8][9]=62;

					$tg[9][9]=65;

					$tg[10][9]=67;

					$tg[11][9]=70;

					$tg[12][9]=72;

					$tg[13][9]=75;

					$tg[14][9]=78;

					$tg[15][9]=80;

					$tg[16][9]=83;

					$tg[17][9]=85;

					$tg[18][9]=88;

					$tg[19][9]=91;



					//PROMOCION

					$tg[0][10]=29;

					$tg[1][10]=31;

					$tg[2][10]=33;

					$tg[3][10]=36;

					$tg[4][10]=38;

					$tg[5][10]=40;

					$tg[6][10]=42;

					$tg[7][10]=45;

					$tg[8][10]=47;

					$tg[9][10]=49;

					$tg[10][10]=51;

					$tg[11][10]=54;

					$tg[12][10]=56;

					$tg[13][10]=58;

					$tg[14][10]=60;

					$tg[15][10]=63;

					$tg[16][10]=65;

					$tg[17][10]=67;

					$tg[18][10]=69;

					$tg[19][10]=72;

				?>

				

				<!--TABLA HOMBRE-->



				<?php

					//PODER  

					$th[0][0]=28;

					$th[1][0]=30;

					$th[2][0]=33;

					$th[3][0]=35;

					$th[4][0]=38;

					$th[5][0]=41;

					$th[6][0]=43;

					$th[7][0]=46;

					$th[8][0]=48;

					$th[9][0]=51;

					$th[10][0]=53;

					$th[11][0]=56;

					$th[12][0]=59;

					$th[13][0]=61;

					$th[14][0]=64;

					$th[15][0]=66;

					$th[16][0]=69;

					$th[17][0]=72;

					$th[18][0]=74;

					$th[19][0]=77;

					//RECONOCIMIENTO

					$th[0][1]=34;

					$th[1][1]=37;

					$th[2][1]=40;

					$th[3][1]=43;

					$th[4][1]=46;

					$th[5][1]=49;

					$th[6][1]=52;

					$th[7][1]=55;

					$th[8][1]=58;

					$th[9][1]=61;

					$th[10][1]=64;

					$th[11][1]=67;

					$th[12][1]=70;

					$th[13][1]=73;

					$th[14][1]=76;

					$th[15][1]=79;

					$th[16][1]=82;

					$th[17][1]=85;

					$th[18][1]=88;

					$th[19][1]=91;



					//REQUISICION

					$th[0][2]=32;

					$th[1][2]=35;

					$th[2][2]=38;

					$th[3][2]=41;

					$th[4][2]=43;

					$th[5][2]=46;

					$th[6][2]=49;

					$th[7][2]=52;

					$th[8][2]=54;

					$th[9][2]=57;

					$th[10][2]=60;

					$th[11][2]=63;

					$th[12][2]=65;

					$th[13][2]=68;

					$th[14][2]=71;

					$th[15][2]=74;

					$th[16][2]=76;

					$th[17][2]=79;

					$th[18][2]=82;

					$th[19][2]=85;



					//GRUPO DE TRABAJO

					$th[0][3]=22;

					$th[1][3]=25;

					$th[2][3]=28;

					$th[3][3]=30;

					$th[4][3]=33;

					$th[5][3]=36;

					$th[6][3]=38;

					$th[7][3]=41;

					$th[8][3]=43;

					$th[9][3]=46;

					$th[10][3]=49;

					$th[11][3]=51;

					$th[12][3]=54;

					$th[13][3]=57;

					$th[14][3]=59;

					$th[15][3]=62;

					$th[16][3]=64;

					$th[17][3]=67;

					$th[18][3]=70;

					$th[19][3]=72;



				?>



				<!--TABLA MUJER-->	

				<?php

					//PODER

					$tm[0][0]=31;

					$tm[1][0]=34;

					$tm[2][0]=36;

					$tm[3][0]=39;

					$tm[4][0]=41;

					$tm[5][0]=44;

					$tm[6][0]=47;

					$tm[7][0]=49;

					$tm[8][0]=52;

					$tm[9][0]=54;

					$tm[10][0]=57;

					$tm[11][0]=59;

					$tm[12][0]=62;

					$tm[13][0]=65;

					$tm[14][0]=67;

					$tm[15][0]=70;

					$tm[16][0]=72;

					$tm[17][0]=75;

					$tm[18][0]=77;

					$tm[19][0]=80;



					//RECONOCIMIENTO

					$tm[0][1]=32;

					$tm[1][1]=35;

					$tm[2][1]=38;

					$tm[3][1]=40;

					$tm[4][1]=43;

					$tm[5][1]=46;

					$tm[6][1]=49;

					$tm[7][1]=52;

					$tm[8][1]=55;

					$tm[9][1]=58;

					$tm[10][1]=60;

					$tm[11][1]=63;

					$tm[12][1]=66;

					$tm[13][1]=69;

					$tm[14][1]=72;

					$tm[15][1]=75;

					$tm[16][1]=78;

					$tm[17][1]=81;

					$tm[18][1]=82;

					$tm[19][1]=88;



					//REQUISICION

					$tm[0][2]=31;

					$tm[1][2]=33;

					$tm[2][2]=36;

					$tm[3][2]=38;

					$tm[4][2]=41;

					$tm[5][2]=44;

					$tm[6][2]=46;

					$tm[7][2]=49;

					$tm[8][2]=51;

					$tm[9][2]=54;

					$tm[10][2]=57;

					$tm[11][2]=59;

					$tm[12][2]=62;

					$tm[13][2]=64;

					$tm[14][2]=67;

					$tm[15][2]=69;

					$tm[16][2]=72;

					$tm[17][2]=75;

					$tm[18][2]=77;

					$tm[19][2]=80;



					//GRUPO DE TRABAJO

					$tm[0][3]=27;

					$tm[1][3]=30;

					$tm[2][3]=32;

					$tm[3][3]=35;

					$tm[4][3]=37;

					$tm[5][3]=40;

					$tm[6][3]=42;

					$tm[7][3]=45;

					$tm[8][3]=48;

					$tm[9][3]=50;

					$tm[10][3]=53;

					$tm[11][3]=55;

					$tm[12][3]=58;

					$tm[13][3]=60;

					$tm[14][3]=63;

					$tm[15][3]=65;

					$tm[16][3]=68;

					$tm[17][3]=70;

					$tm[18][3]=73;

					$tm[19][3]=75;



				?>

				<?php

	

	



					$logro_pb= 0; 

					$poder_pb= 0; 

					$dt_pb=0;

					$supervision_pb=0;

					$afiliacion_pb=0;

					$reconocimiento_pb = 0;

					$auto_realizacion_pb=0;

					$aceptacion_pb=0;

					$expectacion_pb=0;

					$requicision_pb=0;

					$aa_pb=0;

					$promocion_pb=0;

					$grupo_pb=0;

					$cont_pb=0;

					$salario_pb=0;

					//6: masculino
					//7: Femenino
					
					$cmt = new Cmt();

					$registros = $cmt->resultado($persona->per_cod);

					if($persona->per_sex==6){
						$sexo = "M";
					}else{
						$sexo = "F";
					}
					$i=0;
					if (count($registros) > 0){
					foreach ($registros as $reg) {

			$i+=1;



		//CLAVE DE CALIFICACION NUMERO 1



			//LOGRO

			if($i==4 || $i==10 || $i==14 || $i==18 || $i==21){

				$logro_pb+=$reg->cmd_res;

			}



			//PODER

			if($i==2 || $i==8 || $i==11 || $i==20 || $i==24){

				$poder_pb+=$reg->cmd_res;

			}



			//DEDICACION A LA TAREA

			if($i==29 || $i==35 || $i==37 || $i==42 || $i==46){

				$dt_pb+=$reg->cmd_res;

			}



			//ACEPTACION AUTORIDAD

			if($i==30 || $i==31 || $i==39 || $i==45 || $i==48){

				$aa_pb+=$reg->cmd_res;

			}



			//SUPERVISION



			if($i==51 || $i==59 || $i==63 || $i==70 || $i==73){

				$supervision_pb+=$reg->cmd_res;

			}



			

		//CLAVE DE CALIFICACION NUMERO 2



			//AFILIACION

			if($i==5 || $i==7 || $i==13 || $i==16 || $i==22){

				$afiliacion_pb+=$reg->cmd_res;

			}



			//AUTOREALIZACION

			if($i==3 || $i==9 || $i==12 || $i==19  || $i==23 ){

				$auto_realizacion_pb+=$reg->cmd_res;

			}



			//ACEPTACION NORMAS Y VALORES

			if($i==26|| $i==33 || $i==38 || $i==41  || $i==49 ){

				$aceptacion_pb+=$reg->cmd_res;

			}



			//GRUPO DE TRABAJO

			if($i==54|| $i==58 || $i==62 || $i==66  || $i==71 ){

				$grupo_pb+=$reg->cmd_res;

			}



			//CONTENIDO DE TRABAJO

			if($i==55|| $i==60 || $i==63 || $i==68  || $i==74 ){

				$cont_pb+=$reg->cmd_res;

			}



		//CLAVE DE CALIFICACION NUMERO 3



			//RECONOCIMIENTO



			if($i==1|| $i==6 || $i==15 || $i==17  || $i==23 ){

				$reconocimiento_pb+=$reg->cmd_res;

			}



			//REQUISICION



			if($i==28|| $i==32 || $i==40 || $i==44  || $i==47 ){

				$requicision_pb+=$reg->cmd_res;

			}



			//EXPECTACION



			if($i==27|| $i==34 || $i==36 || $i==43  || $i==49 ){

				$expectacion_pb+=$reg->cmd_res;

			}



			//SALARIO

			if($i==53|| $i==57 || $i==61 || $i==69  || $i==72 ){

				$salario_pb+=$reg->cmd_res;

			}



			//PROMOCION

			if($i==52 || $i==56 || $i==64 || $i==67  || $i==75 ){

				$promocion_pb+=$reg->cmd_res;

			}



			

		} //fin del para $registros
	}


				if (count($registros) > 0){
				?>

						<table border="0" class="lista">

							<tr>

								<th>Clave de calificacion No. 1</th>

								<th>P.B</th>

								<th>P.T</th>

							</tr>

							<tr>

								<td>LOGRO</td>

								<td><?php echo $logro_pb ?></td>

								<td><?php echo $tg[$logro_pb-1][0] ?></td>

							</tr>

							<tr>

								<td>PODER</td>

								<td><?php echo $poder_pb ?></td>

								<td>

									<?php 

										if($sexo=="M"){

											echo $th[$poder_pb-1][0];

										}else{

											echo $tm[$poder_pb-1][0];

										} 

									?>

								</td>

							</tr>

							<tr>

								<td>DEDICACION A LA TAREA</td>

								<td><?php echo $dt_pb ?></td>

								<td>

									<?php

										if($dt_pb-1<=19){ 

										echo $tg[$dt_pb-1][3] ;

									}else{

										echo $tg[19][3] ;

									}

									?>

								</td>

							</tr>

							<tr>

								<td>ACEPTACION A LA AUTORIDAD</td>

								<td><?php echo $aa_pb ?></td>

								<td><?php echo $tg[$aa_pb-1][4] ?></td>

							</tr>

							<tr>

								<td>SUPERVISION</td>

								<td><?php echo $supervision_pb ?></td>

								<td><?php echo $tg[$supervision_pb-1][7] ?></td>

							</tr>

						</table>



						<br>
						<table border="0" class="lista">

								<tr>

									<th>Clave de calificacion No. 2</th>

									<th>P.B</th>

									<th>P.T</th>

								</tr>

								<tr>

									<td>AFILIACION</td>

									<td><?php echo $afiliacion_pb ?></td>

									<td><?php echo $tg[$afiliacion_pb-1][1] ?></td>

								</tr>

								<tr>

									<td>AUTOREALIZACION</td>

									<td><?php echo $auto_realizacion_pb ?></td>

									<td><?php echo $tg[$auto_realizacion_pb-1][2]; ?></td>

								</tr>

								<tr>

									<td>ACEPTACION NORMAS Y VALORES</td>

									<td><?php echo $aceptacion_pb ?></td>

									<td><?php echo $tg[$aceptacion_pb-1][5] ?></td>

								</tr>

								<tr>

									<td>GRUPO DE TRABAJO</td>

									<td><?php echo $grupo_pb ?></td>

									<td>

										<?php 

											if($sexo=="M"){

												//echo $th[$grupo_pb-1][3];
												echo $th[$grupo_pb][3];

											}else{

												//echo $tm[$grupo_pb-1][3];
												echo $tm[$grupo_pb][3];

											} 

										?>

									</td>

								</tr>

								<tr>

									<td>CONTENIDO DE TRABAJO</td>

									<td><?php echo $cont_pb ?></td>

									<td><?php echo $tg[$cont_pb-1][8] ?></td>

								</tr>

							</table>



						<br>
						<table border="0" class="lista">

								<tr>

									<th>Clave de calificacion No. 3</th>

									<th>P.B</th>

									<th>P.T</th>

								</tr>

								<tr>

									<td>RECONOCIMIENTO</td>

									<td><?php echo $reconocimiento_pb ?></td>

									<td>
									
										<?php 
											
											if($sexo=="M"){

												echo $th[$reconocimiento_pb-1][1]." "."1";

											}else{

												echo $tm[$reconocimiento_pb-1][1]." "."1";

											} 

										?>

									</td>

								</tr>

								<tr>

									<td>REQUISICION</td>

									<td><?php echo $requicision_pb ?></td>

									<td>

										<?php 

											if($sexo=="M"){

												echo $th[$requicision_pb-1][2];

											}else{

												echo $tm[$requicision_pb-1][2];

											} 

										?>

									</td>

								</tr>

								<tr>

									<td>EXPECTACION</td>

									<td><?php echo $expectacion_pb ?></td>

									<td>
										<?php 
											//echo $tg[$expectacion_pb-1][6] ;
										echo $tg[$expectacion_pb][6] ;

										?>
									</td>

								</tr>

								<tr>

									<td>SALARIO</td>

									<td><?php echo $salario_pb ?></td>

									<td><?php echo $tg[$salario_pb-1][9] ?></td>

								</tr>

								<tr>

									<td>PROMOCION</td>

									<td><?php echo $promocion_pb ?></td>

									<td><?php echo $tg[$promocion_pb-1][10] ?></td>

								</tr>

							</table>




						<br>


						<table border="0" class="lista">

							<tr>

								<td>LOGRO</td>

								<td><?php echo $logro_pb ?></td>

								<td><?php echo $tg[$logro_pb-1][0] ?></td>

							</tr>



							<tr>

								<td>PODER</td>

								<td><?php echo $poder_pb ?></td>

								<td>

									<?php 

										if($sexo=="M"){

											$poder=$th[$poder_pb-1][0];

											echo $th[$poder_pb-1][0];

										}else{

											$poder = $tm[$poder_pb-1][0];

											echo $tm[$poder_pb-1][0];

										} 

									?>

								</td>

							</tr>



							<tr>

								<td>AFILIACION</td>

								<td><?php echo $afiliacion_pb ?></td>

								<td><?php echo $tg[$afiliacion_pb-1][1] ?></td>

							</tr>



							<tr>

								<td>AUTOREALIZACION</td>

								<td><?php echo $auto_realizacion_pb ?></td>

								<td><?php echo $tg[$auto_realizacion_pb-1][2]; ?></td>

							</tr>



							<tr>

								<td>RECONOCIMIENTO</td>

								<td><?php echo $reconocimiento_pb ?></td>

								<td>

									<?php 
										
										if($sexo=="M"){

											$recono = $th[$reconocimiento_pb-1][1];

											echo $th[$reconocimiento_pb-1][1];

										}else{

											echo $tm[$reconocimiento_pb-1][1];

											$recono = $tm[$reconocimiento_pb-1][1];

										} 

									?>

								</td>

							</tr>

						</table>
						

						<?php

							$logro = $tg[$logro_pb-1][0];

							$afiliacion = $tg[$afiliacion_pb-1][1];

							$auto_r = $tg[$auto_realizacion_pb-1][2];

							echo $logro;

						?>
			

						<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
     <script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
	 
	   ["CUALIDAD", "resultado", { role: "style" } ],
	   	   
        ["LOGRO", <?php echo $logro?>, "2d8d94"],
		
			   
        ["PODER", <?php echo $poder?>, "2d8d94"],
		
			   
        ["AFILIACION", <?php echo $afiliacion?>, "2d8d94"],
		
			   
        ["AUTOREALIZACION", <?php echo $auto_r?>, "2d8d94"],
		
			   
        ["RECONOCIMIENTO", <?php echo $recono?>, "2d8d94"],
		
			   
    
		
		       
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: 'CONDICIONES MOTIVACIONALES INTERNAS',
        width: 800,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("grafica1"));
      chart.draw(view, options);
  }
  </script>
	<br>
  <div id="grafica1"></div>
  <br>



						<table border="0" class="lista">

		<tr>

			<td>DEDICACION A LA TAREA</td>

			<td><?php echo $dt_pb ?></td>

			<td>

				<?php

					if($dt_pb-1<=19){ 

					$tarea = $tg[$dt_pb-1][3];

					echo $tg[$dt_pb-1][3];

				}else{

					$tarea = $tg[19][3] ;

					echo $tg[19][3] ;

				}

				?>

			</td>

		</tr>



		<tr>

			<td>ACEPTACION A LA AUTORIDAD</td>

			<td><?php echo $aa_pb ?></td>

			<td><?php echo $tg[$aa_pb-1][4] ?></td>

		</tr>



		<tr>

			<td>ACEPTACION NORMAS Y VALORES</td>

			<td><?php echo $aceptacion_pb ?></td>

			<td><?php echo $tg[$aceptacion_pb-1][5] ?></td>

		</tr>



		<tr>

			<td>REQUISICION</td>

			<td><?php echo $requicision_pb ?></td>

			<td>

				<?php 

					if($sexo=="M"){

						$requicision = $th[$requicision_pb-1][2];

						echo $th[$requicision_pb-1][2];

					}else{

						$requicision = $tm[$requicision_pb-1][2];

						echo $tm[$requicision_pb-1][2];

					} 

				?>

			</td>

		</tr>



		<tr>

			<td>EXPECTACION</td>

			<td><?php echo $expectacion_pb ?></td>

			<td><?php echo $tg[$expectacion_pb-1][6] ?></td>

		</tr>

	</table>

	<?
		$autoridad = $tg[$aa_pb-1][4];

		$normas = $tg[$aceptacion_pb-1][5];

		$expectacion = $tg[$expectacion_pb-1][6];
	?>

						<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
	 
	   ["CUALIDAD", "resultado", { role: "style" } ],

	    ["D.TAREA", <?php echo $tarea?>, "2d8d94"],
	   	   
        ["A. AUTORIDAD", <?php echo $autoridad?>, "2d8d94"],
		
			   
        ["A. NORMAS Y VALORES", <?php echo $normas?>, "2d8d94"],
		
			   
        ["REQUISICION", <?php echo $requicision?>, "2d8d94"],
		
			   
        ["EXPECTACION", <?php echo $expectacion?>, "2d8d94"],
		
			   
        
		
			   
    
		
		       
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: 'MEDIOS PREFERIDOS PARA OBTENER RETRIBUCIONES DESEADAS EN EL TRABAJO',
        width: 800,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("grafica2"));
      chart.draw(view, options);
  }
  </script>

  <div id="grafica2"></div>



						<table border="0" class="lista">

		<tr>

			<td>SUPERVISION</td>

			<td><?php echo $supervision_pb ?></td>

			<td><?php echo $tg[$supervision_pb-1][7] ?></td>

		</tr>



		<tr>

			<td>GRUPO DE TRABAJO</td>

			<td><?php echo $grupo_pb ?></td>

			<td>

				<?php 

					if($sexo=="M"){

						$grupo =  $th[$grupo_pb-1][3];

						echo $th[$grupo_pb-1][3];

					}else{

						echo $tm[$grupo_pb-1][3];

						$grupo =  $tm[$grupo_pb-1][3];

					} 

				?>

			</td>

		</tr>



		<tr>

			<td>CONTENIDO DE TRABAJO</td>

			<td><?php echo $cont_pb ?></td>

			<td><?php echo $tg[$cont_pb-1][8] ?></td>

		</tr>



		<tr>

			<td>SALARIO</td>

			<td><?php echo $salario_pb ?></td>

			<td><?php echo $tg[$salario_pb-1][9] ?></td>

		</tr>



		<tr>

			<td>PROMOCION</td>

			<td><?php echo $promocion_pb ?></td>

			<td><?php echo $tg[$promocion_pb-1][10] ?></td>

		</tr>

	</table>

	<?php 

	//VALORES PARA LA GRAFICA

	$supervicion = $tg[$supervision_pb-1][7];

	$contenido = $tg[$cont_pb-1][8];

	$salario = $tg[$salario_pb-1][9];

	$promocion = $tg[$promocion_pb-1][10];



	 ?>
	 <br>

<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = google.visualization.arrayToDataTable([
	 
	   ["CUALIDAD", "resultado", { role: "style" } ],

	    ["SUPERVISION", <?php echo $supervicion?>, "2d8d94"],
	   	   
        ["G. TRABAJO", <?php echo $grupo?>, "2d8d94"],
		
			   
        ["C. TRABAJO", <?php echo $contenido?>, "2d8d94"],
		
			   
        ["SALARIO", <?php echo $salario?>, "2d8d94"],
		
			   
        ["PROMOCION", <?php echo $promocion?>, "2d8d94"],
		
			   
        
		
			   
    
		
		       
      ]);

      var view = new google.visualization.DataView(data);
      view.setColumns([0, 1,
                       { calc: "stringify",
                         sourceColumn: 1,
                         type: "string",
                         role: "annotation" },
                       2]);

      var options = {
        title: 'CONDICIONES MOTIVACIONALES EXTERNAS',
        width: 800,
        height: 400,
        bar: {groupWidth: "95%"},
        legend: { position: "none" },
		
      };
      var chart = new google.visualization.ColumnChart(document.getElementById("grafica3"));
      chart.draw(view, options);
  }
  </script>

  <div id="grafica3"></div>


					</center>
		<?php } else {
			echo "El aspirante no ha realizado la prueba";
			} ?>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


