*{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}

@rosado:#F0584A;
#contenedor{
	margin: 0 auto;
	position: relative;
	width: 100%;
	// background-color: pink;
	#encabezado{
		// background-color: red;
		height: 95px;
		border-bottom: 4px solid @rosado;

		#logo{
			margin-top: 15px;
			margin-left: 10px;
			float: left;
		}

		#logueado{
			width: 300px;
			// background-color: blue;
			float: right;
			margin-top: 7px;
			margin-right: 10px;
			#nombre{
				width: 70%;
				float: left;
				margin-right: 10px;
				p{
					margin-top:15px;
					font-size: 14px;
					font-weight: 300;
					text-align: right;
				}
				span{
					font-size: 12px;
					color: @rosado;
					display: block;
					text-align: right;
					font-weight: 700;
				}
			}



		}
	}
	#izq{
		float: left;
		// box-shadow: inset 7px 7px 7px #CCC ;
		width: 18%;
		background-color: #E6E6E6;
		 // height: 1000px;
		// padding-bottom: 400px;

		#menu{
			padding-top: 60px;
			.flechita{
				padding-left: 10px;
			}
			.submenu{
				display: none;
			}
			> ul{

				> li{
					// text-align: center;
					list-style: none;
					padding: 15px 10px 15px 30px;
					// background-color: pink;
					img{
						padding-right: 10px;
					}
					a{
						font-size: 14px;
						font-weight: 400;
						text-decoration: none;
						color: #4D4D4D;
					}
					&:hover{
						background-color: #FFFFFF;
						border-right: 4px solid @rosado;
						a{
							color: @rosado;
							font-weight: 500;


						}
					}

					&:hover ul{
						display: block;
					}


				}

				ul{
					// background-color: red;
					li{
						padding: 10px 0px 10px 60px;
						list-style: none;
						img{
							padding-right: 10px;
						}
						a{
							text-decoration: none;
							color: #4D4D4D;
							font-size: 12px;
						}
						&:hover{
						background-color: #FFFFFF;
						border-right: 4px solid @rosado;
						a{
							color: @rosado;
							font-weight: 500;

						}
					}
					}
				}
			}


		}


	}

	#central{
		float: left;
		width: 65%;
		box-shadow: 0px 0px 7px #CCC;
		background-color: #F7F5F5;
		overflow: auto;
		#cuerpo_central{
			margin:  0 auto;
			width: 90%;
			// background-color: red;
		}
		// background-color: red;
		.botones{
			float: right;
		}
		#pestanas{
			ul{
				li{
					list-style: none;
					float: left;
					border: 1px solid #F2F2F2;
					border-radius: 5px 5px 0px 0px;
					padding: 5px 15px 5px 15px ;
					background-color: #FFF;
					a{
						font-size: 12px;
						text-decoration: none;
						color: @rosado;
					}
				}
			}
			.active_pestana{
				background-color: #f2f2f2;
				border: 1px solid #CCC;
			}
		}
	}

	#derecha{

		float: left;
		// background-color: red;
		width: 16%;
		.titulo_gris{
			padding-top: 10px;
			font-size: 13px;
			color: #666666;
			text-align: center;
		}

		#explicacion{
			margin: 0 auto;
			background-color: #F2F2F2;
			width: 90%;
			border-radius: 5px;
			margin-top: 10px;
			color: #B3B3B3;
			font-size: 12px;
			padding: 10px;
			box-sizing: border-box;
			ul{
				margin-top: 10px;
				li{
					list-style: none;
					padding: 2px 0px 2px 0px;
					a{
						text-decoration: none;
						color: @rosado;
						font-weight: 600;
						text-decoration: none;
					}
				}
			}

		}

	}

	#pie{
		position: absolute;
		background-color: #4D4D4D;
		height: 54px;
		bottom: 0;
		width: 100%;
		#pie_izq{
			// background-color: red;
			float: left;
			width: 50%;
			padding-top: 15px;
			p{
				color: #FFFFFF;
				display: inline;
				padding-left: 20px;
				font-size: 11px;
			}
			span{
				padding-left: 10px;
				color: @rosado;
				display: inline;

				a{
					color: @rosado;
					font-size: 11px;
					text-decoration: none;
				}
			}
		}
		#pie_der{
			float: right;
			width: 30%;
			// background-color: red;
			ul{
				padding-top: 15px;
				li{
					color: #FFFFFF;
					position: relative;
					img{
						position: absolute;
						// top:10px;
						left: -50px;
					}
					font-size: 11px;
					float: left;
					list-style: none;
					margin-left: 80px;
				}
			}
		}
	}
}

.titulo{
	font-size: 14.5px;
	color: @rosado;
	font-weight: 600;
}
.lista{
	font-size: 10px;
	margin: 0 auto;
	width: 100%;
	border: 1px solid #CCC;
	background-color: #FFFFFF;
	border-radius: 5px;
	text-transform: uppercase;
	th{
		border-bottom: 2px solid #F2F2F2;
		// background-color: red;
		padding: 7px;
		text-align: left;
		color: #4D4D4D;
	}
	tr{
		border-bottom: 1px solid #F2F2F2;
	}
	td{

		padding: 7px;
		border-bottom: 1px solid #F2F2F2;
		a{
			text-decoration: none;
			color:@rosado;
		}
	}
}
.consulta{
	margin-top: 25px;
	width: 85%;
	background-color: red;
	width: 95%;
	p{
		margin-top: 10px;
		margin-left: 35px;
		float: left;
		font-weight: 600;
		color:@rosado;

	}
	.busqueda{
		border: 1px solid #CCC;
		padding: 10px;
		border-radius: 5px 5px 0px 0px;
		background-color: #FFFFFF;
		float: right;
		font-size: 13px;
	}
	input[type="text"]{
		height: 20px;
		width: 200px;
		padding-left: 10px;
	}

}
.boton{
	border: none;
	background: none;
	background-color: @rosado;
	padding: 7px 30px 7px 30px;
	border-radius: 0 0 15px 0px;
	font-weight: 600;
	color: #FFF;
	text-decoration: none;
	font-size: 12px;
}

.boton_simple{
	border: none;
	background: none;
	background-color: @rosado;
	padding: 1px 10px 1px 10px;
	border-radius: 10px;
	font-weight: 600;
	color: #FFF;
	cursor: pointer;
}
.clear{
	clear: both;
}
.form{
	// margin:  0 auto;
	background-color: #FFF;
	border: 1px solid #CCC;
	font-size: 12px;
	th{
		padding: 10px;
		background-color:#F2F2F2;
		color: @rosado;
	}
	td{
		padding: 10px;
	}
	a{
		text-decoration: none;
		color: @rosado;
	}
}

.tabla_form_sencilla{
	th{
		text-align: left!important;
		color:@rosado!important;
		font-weight: 600!important;
		background: none!important;
	}
	td{
		padding: 2px!important;
	}
}
.w100{
	width: 100%;
}
#cerrar_sesion{
	margin-left: 20px;
	font-size: 12px;
	color: @rosado;
	font-weight: 600;
	text-decoration: none;
}

textarea{
		width: 100%;
		height: 100px;
	}

	select{
		width: 58%;
	}


	.mensaje{
		position: absolute;
		width: 400px;
		height: 200px;
		background-color: white;
		left:35%;
		top: 30%;
		z-index:21;

		h3{
			padding: 10px;
			text-align: center;
			background-color: #f7f5f5;
			color: #f0584a;
			border-bottom: 1px solid #CCC;
		}
		p{
			color: #4d4d4d;
			padding: 35px;
			text-align: center;
			// background-color: blue;
		}

		div{
			// padding-top: 40px;
			text-align: center;
		}
	}

	.oscuro{
		position:fixed;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 0.5);
		z-index:20;
		// display:none
	}




	.negro{
		display: none;
		position:fixed;
		width:100%;
		height:100%;
		background-color:rgba(0, 0, 0, 0.5);
		z-index:20;
	}

	.caja_prueba{
		border: 1px solid #CCC;
		border-radius: 7px;
		display: inline-table;
		margin-left: 20px;
		margin-bottom: 20px;
		th{
			background: none!important;
			border-bottom: 1px solid #CCC;
			padding: 20px;
		}

		td{
			padding: 20px;
			text-align: center;

			.boton{
				color: white!important;
			}
		}
	}


.caras_contenedor {
	  background-color: #e6e6e6;
	  width: 180px;
	  border: 1px #CCCCCC solid;
	  border-radius: 5px;
	  float: left;
	  margin: 5px;
}
.caras_contenido {
  width: 55px;
  float: left;
  margin: 1px;
}

#modal_documentos{
		display: none;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left:0;
	right:0;
	width:800px;
	height:400px;
	overflow: auto;
		z-index:21;
	}