*{
	padding: 0;
	margin: 0;
	font-family: 'Titillium Web', sans-serif;
}
@rosado:#F0584A;
#contenedor{
	width: 100%;
	
	background: url("../img/fondo_login.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	#logo{
		text-align: center;
		margin-bottom: 60px;
	}
	#cuerpo{
		margin: 0 auto;
		width: 70%;
		// background-color: pink;
		height: 600px;

		#izq{
			margin-top: 5%;
			float: left;
			width: 45%;
			// background-color: orange;
		}

		#der{
			margin-top: 5%;
			float: left;
			width: 45%;
			// background-color: red;
			float: right;
		}
		.tabla{
			margin: 0 auto;
			td{
				padding: 10px;
			}
		}
		.titulo{
			overflow: hidden;
			p{
				padding-left: 15px;
				float: left;
				color: @rosado;
			}
			a{
				float: right;
				text-decoration: none;
				color: #666666;
			}
		}
	}

	.con_tabla{
		padding: 10px;
		margin-top: 5px;
		background-color: rgba(255, 255, 255, 0.5)

	}

	.fondo_rosado{
		background-color: @rosado;
		padding: 10px;
		border-radius: 0px 0px 10px 0px ;
		margin-top: 12px;
		a{
			text-decoration: none;
			color:#FFF;
		}

		.iniciar{
			float: right;
		}
	}

	input[type="text"], input[type="password"]{
		border: none;
		height: 30px;
		width: 100%;
		border: 1px solid #CCC;
		padding-left: 10px;
	}
}

// contenedor del login para administardor
#contenedor_adm{
	
}