body {
	margin: 0;
	padding: 0;
	font-family:'Titillium Web',sans-serif;
	font-size: 10pt;
	font-weight: 300;
	color: #3c3c3b;
}
footer{
	background-color:#C4C9C5;
	margin-top:5%;

}

p,h1 {
	margin: 0;
	padding: 0;
}

#contenedor2 {
	max-width: 1280px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	margin-bottom: 50px;
}
#wrapper{
position: relative;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	text-align: left;
	}

.content {
	float:left;
	margin: 10px;
}
.datos {
	float:left;
	margin: 1%;
	padding-top: 10%;
}
.content2 {
	float:left;
	margin: 10 auto;
	width:50%;
	padding-top: 10px;
	padding-left: 30px;
}

.content3 {
	clear:both;
	margin: 0 auto;
	width:100%;
	
	}

#foto {
	text-align: left;
	float:left;
	padding-top: 10px;
	margin-bottom: 20px;
}

#foto img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px solid #575756;
	margin: 0 auto;
	margin-bottom: 5px;
}

#foto h1 {
	font-weight: 600;
	font-size: 13pt;
	color: #0AAC2C;
}

.titulos2 {
	float:left;
	color: #be1621;
	font-size: 12pt;
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(87,87,86,0.5);
	font-weight: ;: 600;
	width: 50%;
	text-align: center;
	margin-top: 30px;
}
.titulos {
	clear:both;
	color: #19930B;
	font-size: 12pt;
	padding-bottom: 5px;
	margin-bottom: 30px;
	border-bottom: 1px solid rgba(87,87,86,0.5);
	font-weight: ;: 600;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	
}

.basicostb {
	
	width: 100%;
	margin-left:0px;
	
}
.estudiostb {
	floaat: left;
	width: 100%;
	text-align: left;
	margin-bottom:3%;
	
}
.basicos {
	width: 100%;
}
#basicos {
	width: 100%;
}
#estudios {
	float:left;
	width: 30%;
	margin-right:2%;
	}
#estudios2 {
	float:left;
	width: 30%;
	margin-right:2%;
	}
	
#estudios3 {
	float:left;
	width: 30%;
	margin-right:5%;
	}
	
.estudios {
	float:left;
	width: 25%;
	margin-right:2%;
	}
.estudios2 {
	float:left;
	width: 25%;
	margin-right:2%;
	}
.estudios3 {
	float:right;
	width: 25%;
	margin-bottom:3%;
}

.tablas tr td {
	border-top: 1px solid rgba(87,87,86,0.5);
}


.tablas tr:nth-child(1) td {
	border-top: 0px solid rgba(87,87,86,0.5);
}

.tablasexp td,{
		border-top: none rgba(87,87,86,0.5);
}

.tablasexp {
	border-top: none rgba(87,87,86,0.5);
	color: #000000;
}

#exp1 {
	float:left;
	width: 45%;
}
	
#exp2 {
	float:left;
	width: 45%;
	margin-left:5%;
	margin-bottom:3%;
}

.basicos td {
	padding: 1px 0px;
}

.basicos td span {
	margin-right: 20px;
	font-weight: 700;

}
.basicostb td span {
	align-content:center;
	margin-right: 10px;
	font-weight: 700;
	width:100%;
}
.estudiostb td span {
	align-content:center;
	margin-right: 10px;
	font-weight: 700;
}

@media all and (max-width: 600px) {
	
#foto {
	text-align: center;
	padding-top: 10px;
	margin-bottom: 20px;
}

#foto img {
	width: 140px;
	height: 140px;
	border-radius: 50%;
	border: 1px solid #575756;
	margin: 0 auto;
	}

#foto h1 {
	font-weight: 600;
	font-size: 13pt;
	color: #0AAC2C;
}
.estudiostb {
	width: 100%;
	text-align: left;
	margin-bottom:3%;
	
}	
#estudios {
	width: 100%;
	margin-right:2%;
	margin-bottom:3%;
	}
#estudios2 {
	float:left;
	width: 100%;
	margin-right:2%;
	margin-bottom:3%;
	}
	
#estudios3 {
	float:left;
	width: 100%;
	margin-bottom:3%;
		}
#exp1 {
	width: 100%;
	}
	
#exp2 {
	float:left;
	margin-left:0%;
	margin-bottom:3%;
}
#funcion {
	width:100%;		
}

.basicostb td span {
	margin-right: 3%;
	font-weight: 700;
	width:100%;
}
.content2 {
	margin-top:1%;
		width:100%;
		margin-bottom:3%;
}
.basicostb {
	
	width: 100%;
}
.content {
	margin-top:5%;
}
}
	
	
