
      br { clear: both; }
      .cntSeparator {
        font-size: 54px;
        margin: 10px 7px;
        color: #8DC63F;
      }
      .desc { margin: 7px 3px;  }
      .desc div {

        float: left;
        font-family: Arial;
        width: 70px;
        margin-right: 65px;
        font-size: 13px;
        font-weight: bold;
        color: #8DC63F;
      }
      #reloj{
		  z-index:10000000000;
      	position: fixed;
      }