
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proveedores</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(2)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<input type="hidden" name="emp_cod" id="emp_cod" value="<?php echo $proveedor->getEmpCod() ?>">
	<?php 
		 foreach ($proveedor->proveedores as $pro) {
	?>
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Proveedores/actualizar') ?>">

	<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get('Proveedores/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Proveedores</th>
							
						</tr>
						<tr>
							<td>NIT</td>
							<td><input type="text" name="emp_nit" id="emp_nit" value="<?php echo $proveedor->getEmpNit() ?>"></td>
						</tr>
						<tr>
							<td>Razon Social</td>
							<td><input type="text" name="emp_raz" id="emp_raz" value="<?php echo $proveedor->getEmpRaz() ?>"></td>
						</tr>
						<tr>
							<td>Persona de Contacto</td>
							<td><input type="text" name="emp_con" id="emp_con" value="<?php echo $proveedor->getEmpCon() ?>">
							</td>
						</tr>

						<tr>
							<td>Telefono</td>
							<td><input type="text" name="emp_tel" id="emp_con" value="<?php echo $proveedor->getEmpTel() ?>"></td>
						</tr>

						<tr>
							<td>Email</td>
							<td><input type="text" name="emp_ema" id="emp_ema" value="<?php echo $proveedor->getEmpEma() ?>"></td>
						</tr>

						<tr>
							<td>Dirección</td>
							<td><input type="text" name="emp_dir" id="emp_dir" value="<?php echo $proveedor->getEmpDir() ?>"></td>
						</tr>

						<tr>
							<td>Contraseña</td>
							<td><input type="text" name="emp_pas" id="emp_pas" value="<?php echo $proveedor->getEmpPas() ?>"></td>
						</tr>

						<!-- <tr>
							<td>Prefijo</td>
							<td>
								<input type="text" name="pro_pre" id="pro_pre" value="<?php echo $pro->getProPre() ?>">
							</td>
						</tr>

						<tr>
							<td>Consecutivo</td>
							<td><input type="text" name="pro_con" id="pro_con" value="<?php echo $pro->getProCon() ?>"></td>
						</tr> -->





						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
	<?php 
	 }
	?> 
</form>
</body>
</html>


