<?php

?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bienvenida</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$('.slider').slick({
			dots: true,
		});
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	

		
	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<h1 class="titulo">Bienvenido a la plataforma APSC</h1>
					<br>
					<div class="slider" style="width:75%;margin:0 auto;">
						  <div><img src="<?=$this->url->get()?>img/apsc-01.jpg" alt="" width="100%"></div>
						  <div><img src="<?=$this->url->get()?>img/apsc-01.jpg" alt="" width="100%"></div>
						  <div><img src="<?=$this->url->get()?>img/apsc-01.jpg" alt="" width="100%"></div>
					</div>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


