
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Consolidado</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	 <script>
        jQuery(document).ready(function($) {
           $( ".fecha" ).datepicker({
            dateFormat:"yy-mm-dd"
           });
        });

        function generar(){
        	fechai = $("#fecha_inicial").val()
        	fechaf = $("#fecha_final").val()
        	window.open($("#url_base").val()+"reportes/consolidadoingresos/"+fechai+"/"+fechaf);
        }
      </script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<input type="hidden" name="url_base" id="url_base" value="<?=$this->url->get()?>">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<center>
						<table class="form" width="50%">
							<tr>
								<th colspan="2">Consolidado de ingresos</th>
								
							</tr>
							<tr>
								<td>Fecha Inicial</td>
								<td><input type="text" name="fecha_inicial" id="fecha_inicial" class="fecha"></td>
							</tr>
							<tr>
								<td>Fecha Final</td>
								<td><input type="text" name="fecha_final" id="fecha_final" class="fecha"></td>
							</tr>

							<tr>
								<td colspan="2"><input type="button" value="Generar Reporte" class="boton w100"  onclick="generar()"></td>
							</tr>
						</table>
					</center>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


