<?
ini_set('memory_limit','-1');
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=consolidado_mailling.xls");
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Consolidado</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Consolidado de mailling</h3>
	<table border="1" align="center">
		<tr>
			<th>Nombre</th>
			<th>Email</th>
			<th>Ciudad residencia</th>
			<th>Cargo interés</th>
			<th>Fuente de reclutamiento</th>
			<th>Hoja de vida</th>
			<th>Estado</th>
		</tr>
		<? 
			$per = new Personas();
			$personas = $per->consolidadomai($fechai, $fechaf);

		?>
		<?php foreach ($personas as $key => $per): ?>
			<tr>
				<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
				<td><?=$per->per_ema?></td>
				<td><?=$per->mun_nom?></td>
				<td><?=$per->car_des?></td>
				<td><?=$per->tip_des?></td>
				<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
				<td><?=$per->est_nom?></td>
				
				
			</tr>
		<?php endforeach ?>
	</table>
</body>
</html>