<?
ini_set('memory_limit','-1');
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=consolidado.xls");
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Consolidado</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Consolidado</h3>
	<table border="1" align="center">
		<tr>
			<th>Ciudad Residencia</th>
			<th>F. Reclutamiento</th>
			<th>No. Identificacion</th>
			<th>Nombre</th>
			<th>Fecha Nacimiento</th>
			<th>Email</th>
			<th>Telefono</th>
			<th>Hoja de vida</th>
			<th>Estado</th>
			<th>Fecha de Postulación</th>
			<th>Cargo Postulación</th>
			<th>Cargo Intéres</th>
			<th>Citado</th>
			<th>Usuario</th>
			<th>Pruebas Realizadas</th>
			<th>Entrevista</th>
			<th>Valoración</th>
			<th>Psicóloga</th>
			<th>Orden de Contratación</th>
			<th>Firma de Contrato</th>
		</tr>
		<? 
			$per = new Personas();
			$personas = $per->consolidado($fechai, $fechaf, $cargos);

		?>
		<?php foreach ($personas as $key => $per): ?>
			<tr>
				<td><?=$per->mun_nom?></td>
				<td><?=$per->tip_des?></td>
				<td><?=$per->per_ide?></td>
				<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
				<td><?=$per->per_fna?></td>
				<td><?=$per->per_ema?></td>
				<td><?=$per->per_tel?></td>
				<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
				<td><?=$per->est_nom?></td>
				<td><?=$per->pos_fec?></td>
				<td><?=$per->car_des?></td>
				<td><?=$per->interes?></td>
				<td><?=$per->cit_fec?></td>
				<td><?=$per->usu_nom . " - " . $per->usu_ape?></td>
				<td><? 
				if ($per->p16_cod <> "") echo "16PF-"; 
				if ($per->cas_cod <> "") echo "CARAS-"; 
				if ($per->cmt_cod <> "") echo "CMT-"; 
				if ($per->ias_cod <> "") echo "IPV-"; 
				if ($per->pna_cod <> "") echo "PNL-"; 
				if ($per->val_cod <> "") echo "VALANTI"; 
				?></td>
				<td><?=$per->ent_fec?></td>
				<td><?=$per->val_fch?></td>
				<td><?=$per->nom_usu . " - " . $per->ape_usu?></td>
				<td><?=$per->ord_ftr?></td>
				<td><?=$per->con_fre?></td>
			</tr>
		<?php endforeach ?>
	</table>
</body>
</html>