<?
ini_set('memory_limit','-1');
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=consolidado_ingresos.xls");
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Consolidado</title>
	<style>
		table{

			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Consolidado de Ingresos</h3>
	<table border="1" align="center">
		<tr>
			<th>Razón Social</th>
			<th>Nombre de Proyecto / Usuaria</th>
			<th>Ciudad Contrato</th>
			<th>Fecha Ingreso SIT/SOT</th>
			<th>Fecha Ingreso</th>
			<th>Cargo</th>
			<th>Salario</th>
			<th>ARL</th>
			<th>C. Costo</th>
			<th>Ciudad residencia</th>
			<th>Fuente Reclutamiento</th>
			<th>Consecutivo SOT/SIT</th>
			<th>Tipo de documento</th>
			<th>N° Identificación</th>
			<th>Nombre</th>
			<th>Fecha Nacimiento</th>
			<th>Email</th>
			<th>Telefono</th>
			<th>Hoja de vida</th>
			<th>Citado</th>
			<th>Pruebas Realizadas</th>
			<th>Entrevista</th>
			<th>Valoración</th>
			<th>Psicóloga</th>
			<th>Fecha Orden</th>
			<th>Quien genera la orden</th>
            <th>Orden de contratación directa</th>
			<th>Firma Contrato</th>
			<th>Contrato Completo</th>
            <th>Ingreso Nuevo/Reingreso</th>
            <th>C.Banco</th>
            <th>Afiliación ARL</th>
            <th>Afiliación EPS</th>
            <th>Afiliación Pensión</th>
            <th>Afiliación Caja</th>
			<th>Gestión documental completa</th>
            <th>Fecha de Gestión documental completa</th>
            <?
            $documentos = TipoDocumento::find("tdo_est='1'");
            foreach ($documentos as $t) {
                echo '<th>'.$t->tdo_des.'</th>';
            }
            ?>

		</tr>
		<?
			$per = new Personas();
			$personas = $per->consolidadoingresos($fechai, $fechaf);

		?>
		<?php foreach ($personas as $key => $per): ?>

            <? $ordenes = Ordenes::count("pos_cod=".$per->per_cod); ?>
			<tr>
				<td><?=$per->razon?></td>
				<td><?=$per->emp_raz?></td>
				<td><?=$per->cic?></td>
				<td><?=$per->ord_fec_sot?></td>
				<td><?=$per->ord_fec?></td>
				<td><?=$per->ord_car?></td>
				<td><?=$per->ord_sal?></td>
				<td><?=$per->ord_arl?></td>
				<td><?=$per->ord_cto?></td>
				<td><?=$per->mun_nom?></td>
				<td><?=$per->tip_des?></td>
				<td><?=$per->ord_sot?></td>
				<td><?=$per->tdocu?></td>
				<td><?=$per->per_ide?></td>
				<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
				<td><?=$per->per_fna?></td>
				<td><?=$per->per_ema?></td>
				<td><?=$per->per_tel . " - " . $per->per_cel?></td>
				<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
				<td><?=$per->cit_fec?></td>
				<td><?
				if ($per->p16_cod <> "") echo "16PF-";
				if ($per->cas_cod <> "") echo "CARAS-";
				if ($per->cmt_cod <> "") echo "CMT-";
				if ($per->ias_cod <> "") echo "IPV-";
				if ($per->pna_cod <> "") echo "PNL-";
				if ($per->val_cod <> "") echo "VALANTI";
				?></td>
				<td><?=$per->ent_fec?></td>
				<td><?=$per->val_fch?></td>
				<td><?=$per->nom_usu . " - " . $per->ape_usu?></td>
				<td><?=$per->ord_ftr?></td>
				<td><?=$per->usu_nom . " - " . $per->usu_ape?></td>
                <td><?=$per->ord_dir?></td>
				<td><?=$per->fecha_correo?></td>
				<td><?=$per->con_fre?></td>
                <td><? if ($ordenes > 1) echo "Reingreso"; else echo "Nuevo ingreso"; ?></td>
                <td><?=$per->banco?></td>
                <td><?=$per->arl?></td>
                <td><?=$per->eps?></td>
                <td><?=$per->pension?></td>
                <td><?=$per->caja?></td>
                <td><?=$per->ord_doc?></td>
                <td><? if ($per->ord_doc == 'completado') echo $per->ord_fdo; ?></td>

                <?
                foreach ($documentos as $d) {
                    echo '<td>';
                    $ruta = DocumentosOrdenes::findFirst(array("ord_cod=".$per->ord_cod." AND document_id=".$d->tdo_cod));
                    if ($ruta) {
                        if ($ruta->drive == "SI") {
                            echo $ruta->ruta;
                        } else {
                            echo "https://apsc.com.co/contactamos/files/".$ruta->ruta;
                        }
                    }

                    echo '</td>';
                }
                ?>
			</tr>
		<?php endforeach ?>
	</table>
</body>
</html>