<?
ini_set('memory_limit','-1');
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=encuesta_salida.xls");
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Encuesta</title>
	<style>
		table{

			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Encuesta de Salida</h3>
	<? if ($empresa == 1) { ?>
	<table border="1" align="center">
		<tr>
			<th>No. Identificacion</th>
			<th>Nombre</th>
			<th>Usuaria / Proyecto</th>
			<th>Cargo</th>
			<th>Razón social</th>
			<th>Ciudad</th>
			<th>Tiempo (meses)</th>
			<th>Hoja de vida</th>
			<th>Retiro Voluntario</th>
			<th>Motivo</th>
			<th>Otro motivo</th>
			<th>Calificación</th>
			<th>Fecha</th>
			<th>Observaciones</th>
		</tr>
		<?
			$per = new Personas();
			$personas = $per->encuestaSalida($fechai, $fechaf);

		?>
		<?php foreach ($personas as $key => $per): ?>
			<tr>
				<td><?=$per->per_ide?></td>
				<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
				<td><?=$per->emp_raz?></td>
				<td><?=$per->ord_car?></td>
				<td><?=$per->tip_des?></td>
				<td><?=$per->mun_nom?></td>
				<td><?=$per->enc_tie?></td>
				<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
				<td><?=$per->enc_ret?></td>
				<td><?=$per->enc_mot?></td>
				<td><?=$per->enc_otr?></td>
				<td><?=$per->enc_cal?></td>
				<td><?=$per->fecha?></td>
				<td><?=$per->enc_obs?></td>
			</tr>
		<?php endforeach ?>
		<?
			$personas = $per->encuestaSalidaC($fechai, $fechaf);

		?>
		<?php foreach ($personas as $key => $per): ?>
			<tr>
				<td><?=$per->per_ide?></td>
				<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
				<td><?=$per->emp_raz?></td>
				<td><?=$per->cargo?></td>
				<td><?=$per->enc_raz?></td>
				<td><?=$per->enc_ciu?></td>
				<td><?=$per->enc_tie?></td>
				<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
				<td><?=$per->enc_ret?></td>
				<td><?=$per->enc_mot?></td>
				<td><?=$per->enc_otr?></td>
				<td><?=$per->enc_cal?></td>
				<td><?=$per->fecha?></td>
				<td><?=$per->enc_obs?></td>
			</tr>
		<?php endforeach ?>
	</table>
	<? } else { ?>
			<table border="1" align="center">
				<tr>
					<th>No. Identificacion</th>
					<th>Nombre</th>
					<th>Usuaria / Proyecto</th>
					<th>Cargo</th>
					<th>Razón social</th>
					<th>Ciudad</th>
					<th>Tiempo (meses)</th>
					<th>Hoja de vida</th>
					<th>Motivo de retiro</th>
					<th>Causa de retiro</th>
					<th>Nombre jefe</th>
					<th>¿Cómo eran las relaciones con su Jefe directo?</th>
					<th>¿Trabajaría nuevamente con esta empresa cliente?</th>
					<th>¿Estaba ejerciendo las funciones por las cuales fue contratado?</th>
					<th>¿Cumplió sus expectativas la empresa cliente?</th>
					<th>¿Cómo califica las condiciones laborales de la compañía? </th>
					<th>¿Qué recomendaciones de mejora realizaría a la empresa cliente?</th>
					<th>¿Qué fortalezas destaca de la empresa cliente?</th>
					<th>¿En términos generales, cómo califica a la Empresa Temporal? </th>
					<th>¿Qué mejoraría de la Empresa Temporal?</th>
					<th>¿Estuvo afiliado a Fondo de Empleados? </th>
<!--					<th>¿Razones por las cuales no se afilió al fondo? </th>-->
					<th>Fecha</th
				</tr>
				<?
					$per = new Personas();
					$personas = $per->encuestaLogytech($fechai, $fechaf);

				?>
				<?php foreach ($personas as $key => $per): ?>
					<tr>
						<td><?=$per->per_ide?></td>
						<td><?=ucfirst(ucwords($per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap)) ?></td>
						<td><?=$per->emp_raz?></td>
						<td><?=$per->ord_car?></td>
						<td><?=$per->tip_des?></td>
						<td><?=$per->mun_nom?></td>
						<td><?=$per->tiempo?></td>
						<td><? if ($per->per_ciu <> "") { echo "SI";} else{ echo "NO";}?></td>
						<td><?=$per->motivo?></td>
						<td><?=$per->causa?></td>
						<td><?=$per->jefe?></td>
						<td><?=$per->relacion?></td>
						<td><?=$per->trabajar?></td>
						<td><?=$per->ejercer?></td>
						<td><?=$per->cumplio?></td>
						<td><?=$per->condiciones?></td>
						<td><?=$per->mejoras?></td>
						<td><?=$per->fortalezas?></td>
						<td><?=$per->terminos?></td>
						<td><?=$per->mejorar?></td>
						<td><?=$per->fondo?></td>
<!--						<td>--><?//=$per->dfondo?><!--</td>-->
						<td><?=$per->fecha?></td>
					</tr>
				<?php endforeach ?>
			</table>
	<? } ?>
</body>
</html>