<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=inscritos_por_cargo.xls");
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Inscritos Por Cargo</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Inscritos por Cargo</h3>
	<table border="1" align="center">
		<tr>
			<th>No. Identificacion</th>
			<th>Primer Apellido</th>
			<th>Segundo Apellido</th>
			<th>Primer Nombre</th>
			<th>Segundo Nombre</th>
			<th>Fecha Nacimiento</th>
			<th>Email</th>
			<th>Telefono</th>
			<th>Fecha Pos</th>
			<th>Cargo</th>
		</tr>
		<? 
			$obj = new Requisiciones();
			$requisiciones = $obj->listarConfirmacion($fechai, $fechaf) ;

		?>
		<?php foreach ($requisiciones as $key => $req): ?>
			<tr>
				<td><?=$req->per_ide?></td>
				<td><?=$req->per_pap?></td>
				<td><?=$req->per_sap?></td>
				<td><?=$req->per_pno?></td>
				<td><?=$req->per_sno?></td>
				<td><?=$req->per_fna?></td>
				<td><?=$req->per_ema?></td>
				<td><?=$req->per_tel?></td>
				<td><?=$req->pos_fec?></td>
				<td><?=$req->car_des?></td>
			</tr>
		<?php endforeach ?>
	</table>
</body>
</html>