<?
ini_set('memory_limit','-1');
header('Content-type: application/vnd.ms-excel');
header("Content-Disposition: attachment; filename=informe_".$per->per_pno."_".$per->per_pap.".xls");
header("Pragma: no-cache");
header("Expires: 0");
setlocale(LC_ALL,"es_ES@euro","es_ES","esp");
$str = explode("-", $per->per_fna);
$dia = $str[2];
$mes = $str[1];
$ano = $str[0];

$actual = date("Y");
$edad = $actual - $ano;
$val = Valoraciones::find(array("pos_cod=" . $per->per_cod . " ORDER BY val_cod DESC LIMIT 1"));


// $pos = Postulaciones::findFirst("per_cod=".$persona->per_cod);
$division = 3;
//ENTREVISTA
$obj = new Entrevistas();
$ent = $obj->obtenerE($per->per_cod);
$entrevista = array();
if (count($ent) > 0) {
    foreach ($ent as $i => $e) {
        $entrevista[$i] = $e->result;
    }
} else {
    $division -= 1;
}
//PRUEBA
$objP = new Pruebas();
$pru = $objP->obtener($per->per_cod);
$prueba = array();
if (count($pru) > 0) {
    foreach ($pru as $i => $p) {
        $prueba[$i] = $p->result;
    }
} else {
    $division -= 1;
}
//ASSESSMENT
$objA = new Assessment();
$ass = $objA->obtener($per->per_cod);
$assesment = array();
if (count($ass) > 0) {
    foreach ($ass as $i => $a) {
        $assesment[$i] = $a->result;
    }
} else {
    $division -= 1;
    // echo $division;
}
$entrev = 0;
$prueb = 0;
$sum_ent = 0;
$sum_pru = 0;
$sum_ass = 0;
$assesm = 0;
if (count($entrevista) > 0) {
    for ($i = 0; $i <= count($entrevista) - 1; $i++) {
        if (!empty($entrevista[$i]) || $entrevista[$i] != 0) {
            $entrev++;
            $sum_ent += $entrevista[$i];
        }
    }
}
if ($entrev == 0) $entrev = 1;
if ($ent) {
    $prom_ent = number_format($sum_ent / $entrev, "1");
}
if (count($prueba) > 0) {
    for ($i = 0; $i <= count($prueba) - 1; $i++) {
        if (!empty($prueba[$i]) || $prueba[$i] != 0) {
            $prueb++;
            $sum_pru += $prueba[$i];
        }
    }
}
if ($prueb == 0) $prueb = 1;
if ($pru) {
    $prom_pru = number_format($sum_pru / $prueb, "1");
}
if (count($assesment) > 0) {
    for ($i = 0; $i <= count($assesment) - 1; $i++) {
        if (!empty($assesment[$i]) || $assesment[$i] != 0) {
            $assesm++;
            $sum_ass += $assesment[$i];
        }
    }
}
if ($assesm == 0) $assesm = 1;
if ($ass) {
    $prom_ass = number_format($sum_ass / $assesm, "1");
}
if ($division >= 1) {
    $pro = array();
    $sum_obtenido = 0;
    for ($i = 0; $i <= count($entrevista) - 1; $i++) {
        $k = 0;
        if ($entrevista[$i] != 0) {
            $s_ent = $entrevista[$i];
            $k++;
        } else {
            $s_ent = 0;
        }
        if (count($prueba) > 0) {
            if ($prueba[$i] != 0) {
                $s_pru = $prueba[$i];
                $k++;
            } else {
                $s_pru = 0;
            }
        } else {
            $s_pru = 0;
        }
        if (count($assesment) > 0) {
            if ($assesment[$i] != 0) {
                $s_ass = $assesment[$i];
                $k++;
            } else {
                $s_ass = 0;
            }
        } else {
            $s_ass = 0;
        }

        if ($k == 0) $k = 1;
        $pro[$i] = ($s_ent + $s_pru + $s_ass) / $k;
        $sum_obtenido+=$pro[$i];
    }

    $prom_obtenido = $sum_obtenido / $division;

}
?>
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<header>
    <?
    $sw = false;
    $pos = Postulaciones::find(array("per_cod=".$per->per_cod." and req_cod=".$req->req_cod));
    if (count($pos) > 0) {
        $sw = true;
        $empresa = Empresas::findFirst($req->emp_cod);
        $cargo = Cargos::findFirst($req->car_cod)->car_des;
    }
    $raz = Tipos::findFirst($req->tip_cod);
    if ($raz->tip_cod == 145) {
        $bg = "#303F9F";
        $bg2 = "#303F9F";
    } else {
        $bg = "#076c3d";
        $bg2 = "#73cc86";
    }
    ?>
    <table style="border-collapse: collapse; border: 1px solid #000" width="1000px" cellpadding="0" cellspacing="0" align="center">
        <tr>
            <td colspan="2" style="width: 130px;" width="130px">
                <img src="https://apsc.com.co/contactamos/img/<?=$raz->tip_log?>" width="90" alt="">
            </td>
            <td valign="middle" style="background-color: <?=$bg?>;padding: 3px 0px; width: 830px; height: 60px; font-size: 20pt" colspan="5">
                <table style="width: 100%" cellpadding="0" cellspacing="0" border="0">
                    <tr>
                        <td colspan="5" align="center" style="color:#fff; font-size: 14pt;width: 100%; height: 27px"><strong><?=strtoupper($raz->tip_des)?></strong></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center" style="color:#fff; font-size: 14pt;width: 100%; height: 27px"><strong>INFORME DE ASPIRANTES</strong></td>
                    </tr>
                    <tr>
                        <td colspan="5" align="center" style="color:#fff; font-size: 14pt;width: 100%; height: 27px"><strong>SELECCIÓN</strong></td>
                    </tr>
                </table>
            </td>
            <td colspan="2" style="padding: 0px 10px; width: 100%" valign="middle">
                <table style="width: 100%" cellpadding="0" cellspacing="0" border="1">
                    <tr>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;"><strong>Código:</strong></td>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;"><?=$raz->tip_sor?></td>
                    </tr>
                    <tr>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;"><strong>Versión:</strong></td>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;">2</td>
                    </tr>
                    <tr>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;"><strong>Vigencia:</strong></td>
                        <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d;">11/07/2017</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="height: 10px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d; height: 25px;"><strong>FECHA:</strong></td>
            <td align="center" style="font-size: 10pt; border: 1px solid #4d4d4d; height: 25px"></td>
            <td colspan="7">&nbsp;</td>
        </tr>
        <tr>
            <td style="height: 10px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9" align="center" style="background-color: <?=$bg?>; color:#fff; height: 20px; padding: 3px 0px; width: 1000px; font-size: 11pt; border: 1px solid #4d4d4d;"><b>1. INFORMACIÓN GENERAL DEL CANDIDATO</b></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>NOMBRE DEL CANDIDATO:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_pno . " " . $per->per_sno . " " . $per->per_pap . " " . $per->per_sap?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>DIRECCIÓN</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_dir?></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>No. C.C:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_ide?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>CIUDAD</td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=Muni::findFirst($per->per_ciu)->mun_nom?></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>FECHA DE NACIMIENTO:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_fna?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>LOCALIDAD</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><? $loc = Localidad::find($per->per_loc);
                if (count($loc) > 0) {
                    echo $loc[0]->name;
                }
                ?></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>EDAD:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_eda?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>TELÉFONO</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_tel?></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>ESTADO CIVIL:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=Tipos::findFirst($per->per_civ)->tip_des?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>CELULAR</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$per->per_cel?></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>CARGO AL QUE ASPIRA:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$cargo?></td>
            <td colspan="1" style="border: 1px solid #4d4d4d;"><b>EMPRESA CLIENTE:</b></td>
            <td colspan="3" style="border: 1px solid #4d4d4d;"><?=$empresa->getEmpRaz()?></td>
        </tr>
        <tr>
            <td style="height: 20px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td align="center" colspan="9" style="background-color: <?=$bg?>; height: 20px; color:#fff; padding: 3px 0px; width: 1000px; font-size: 11pt; border: 1px solid #4d4d4d;"><b>1.1 INFORMACIÓN FAMILIAR</b></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">NOMBRE</td>
            <td align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">PARENTESCO</td>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">OCUPACIÓN</td>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">EDAD</td>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">CONVIVEN</td>
        </tr>
        <?
        foreach (PersonasHijos::find("per_cod=".$per->per_cod) as $i => $n) {
            echo '<tr>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$n->hij_nom.'</td>
                <td style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$n->hij_par.'</td>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$n->hij_ocu.'</td>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$n->hij_eda.'</td>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">SI</td>
            </tr>';
        }
        ?>
        <tr>
            <td style="height: 20px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9" align="center" style="background-color: <?=$bg?>; height: 20px; color: #fff; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; font-size: 11pt"><b>1.2 INFORMACIÓN ACADÉMICA</b></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">ENTIDAD</td>
            <td colspan="3" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">PROFESIÓN</td>
            <td colspan="4" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">FECHA DE FINALIZACIÓN</td>
        </tr>
        <?
        foreach (PersonasEstudios::find("per_cod=".$per->per_cod) as $e) {
            echo '<tr>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$e->est_pro.'</td>
                <td colspan="3" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$e->est_ent.'</td>
                <td colspan="4" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$e->est_fec.'</td>
            </tr>';
        }
        ?>
        <tr>
            <td style="height: 20px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9" align="center" style="background-color: <?=$bg?>; color: #fff; padding: 3px 0px; width: 1000px; height: 20px; border: 1px solid #4d4d4d; font-size: 11pt"><b>1.3 EXPERIENCIA LABORAL Y EXPECTATIVAS DEL CARGO</b></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">ENTIDAD</td>
            <td align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">CARGO</td>
            <td align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">FECHA DE INICIO</td>
            <td align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">FECHA DE RETIRO</td>
            <td align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">MOTIVO DE RETIRO</td>
            <td colspan="3" align="center" style="background-color: #8e8e8e; color:#fff; padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">FUNCIONES</td>
        </tr>
        <?
        foreach (PersonasExp::find("per_cod=".$per->per_cod) as $ex) {
            echo '<tr>
                <td colspan="2" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_emp.'</td>
                <td style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_car.'</td>
                <td style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_ini.'</td>
                <td style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_ffi.'</td>
                <td style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_mot.'</td>
                <td colspan="3" style="padding: 7px 0px; font-size: 11pt; border: 1px solid #4d4d4d;">'.$ex->exp_des.'</td>
            </tr>';
        }
        ?>
        <tr>
            <td style="height: 20px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="3" align="center" style="background-color: <?=$bg2?>; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; height: 25px; font-size: 11pt">ASPIRACIÓN SALARIAL</td>
            <td colspan="6" style="border: 1px solid #4d4d4d; height: 25px; font-size: 11pt"><?=$per->per_asp?></td>
        </tr>
        <tr>
            <td style="height: 20px;" colspan="9">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="9" align="center" style="background-color: <?=$bg?>; height: 20px; color:#fff; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; font-size: 11pt"><b>RESULTADOS DE EVALUACIÓN</b></td>
        </tr>
        <tr>
            <td colspan="4" align="center" style="background-color: #8e8e8e; color: #fff; border: 1px solid #4d4d4d; font-size: 14pt; height: 25px"><b>COMPETENCIAS</b></td>
            <td colspan="3" align="center" style="background-color: #8e8e8e; color: #fff; border: 1px solid #4d4d4d; font-size: 14pt; height: 25px"><b>INTERPRETACIÓN CUALITATIVA</b></td>
            <td align="center" style="border: 1px solid #4d4d4d; font-size: 10pt; height: 25px"><b>Perfil cargo</b></td>
            <td align="center" style="border: 1px solid #4d4d4d; font-size: 10pt; height: 25px"><b>Perfil persona</b></td>
        </tr>
        <?
        foreach ($ent as $i => $en) {
            echo '<tr><td colspan="4" align="center" style="border: 1px solid #4d4d4d; font-size: 14pt; height: 35px">'.$en->name.'</td>
                    <td colspan="3" align="center" style="font-size: 14pt; border: 1px solid #4d4d4d; height: 70px">'.$en->texto.'</td>
                    <td align="center" style="border: 1px solid #4d4d4d; font-size: 10pt; height: 25px">';
            $ideal = CompetenciasCargosEmpresas::find(["cargo_id=" . $req->car_cod . " AND empresa_id=" . $req->emp_cod . " AND competencia_id=" .$en->com_cod]);
            if (count($ideal) > 0) {
                echo $ideal[0]->valor . "%";
            } else {
                $ideal = CompetenciasCargos::find(["cargo_id=" . $req->car_cod . " AND competencia_id=" .$en->com_cod]);
                if (count($ideal) > 0) {
                    echo $ideal[0]->valor . "%";
                } else {
                    echo "NA";
                }
            }
            echo '</td>
                    <td align="center" style="border: 1px solid #4d4d4d; font-size: 10pt; height: 25px">'.$pro[$i].'%</td></tr>';


        }
        ?>
        <tr>
            <td colspan="9" style="border: 1px solid #4d4d4d; height: 20px;">&nbsp;</td>
        </tr>
        <?
        if ($op == "todo" || $op == "rol") { ?>
            <tr>
                <td colspan="9" align="center" style="background-color: <?=$bg?>; color: #fff; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; height: 20px; font-size: 11pt"><b> ROL PLAY (CLINICA O ASSESMENT)</b></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;background-color: #8e8e8e; color: #fff;"><b>VALORACIÓN</b></td>
                <td align="center" style="border: 1px solid #4d4d4d;background-color: #8e8e8e; color: #fff;"><b>Insufic</b></td>
                <td align="center" style="border: 1px solid #4d4d4d;background-color: #8e8e8e; color: #fff;"><b>Regular</b></td>
                <td align="center" style="border: 1px solid #4d4d4d;background-color: #8e8e8e; color: #fff;"><b>Buena</b></td>
                <td align="center" style="border: 1px solid #4d4d4d;background-color: #8e8e8e; color: #fff;"><b>Excelente</b></td>
            </tr>
            </tr>

            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Presentación personal</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Postura (lenguaje no verbal)</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Uso de lenguaje (muletillas, palabras populares, etc)</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Manejo de las objeciones</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Oferta de venta ( creatividad)</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;"><b>Cierre de venta</b></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
                <td style="border: 1px solid #4d4d4d;"></td>
            </tr>
        <? }
        if ($op == "todo" || $op == "sint") { ?>
            <tr>
                <td colspan="9" style="border: 1px solid #4d4d4d; height: 20px;">&nbsp;</td>
            </tr>
            <tr>
                <td colspan="9" align="center" style="background-color: <?=$bg?>; color: #fff; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; height: 20px; font-size: 11pt"><b>2. SÍNTESIS (Características de personalidad)</b></td>
            </tr>
            <tr>
                <td colspan="4" align="center" style="background-color: #8e8e8e; font-size: 10pt; color: #fff"><b>2.1. Fortalezas</b></td>
                <td colspan="5" align="center" style="background-color: #8e8e8e; font-size: 10pt; color: #fff"><b>2.1. Oportunidades de mejora</b></td>
            </tr>
            <tr>
                <td colspan="5" style="border: 1px solid #4d4d4d;height: 80px;">&nbsp;</td>
                <td colspan="4" style="border: 1px solid #4d4d4d;height: 80px;">&nbsp;</td>
            </tr>
        <? }
        ?>


        <tr>
            <td colspan="9" align="center" style="background-color: <?=$bg2?>; padding: 3px 0px; width: 1000px; border: 1px solid #4d4d4d; height: 20px; font-size: 11pt"><b>3. VALORACIÓN PSICOLÓGICA</b></td>
        </tr>

        <tr>
            <td colspan="9" style="border: 1px solid #4d4d4d; height: 120px"><?=$val[0]->val_obs?></td>
        </tr>
        <tr>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; border: 1px solid #4d4d4d; font-size: 12pt; height: 35px"><b>APTO</b></td>
            <td colspan="2" align="center" style="border: 1px solid #4d4d4d; font-size: 12pt; height: 35px"></td>
            <td colspan="2" align="center" style="background-color: #8e8e8e; color:#fff; border: 1px solid #4d4d4d; font-size: 12pt; height: 35px"><b>NO APTO</b></td>
            <td colspan="3" align="center" style="border: 1px solid #4d4d4d; font-size: 12pt; height: 35px"></td>
        </tr>
        <tr>
            <td colspan="9" style="border: 1px solid #4d4d4d;height: 20px;"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d; height: 60px"><b>OBSERVACIONES:</b></td>
            <td colspan="7" style="border: 1px solid #4d4d4d; height: 60px"></td>
        </tr>
        <tr>
            <td colspan="2" style="border: 1px solid #4d4d4d;"><b>EVALUADO POR:</b></td>
            <td colspan="7" style="border: 1px solid #4d4d4d;"><? $usu = Usuarios::findFirst($val[0]->usu_cod); echo $usu->usu_nom ." ".$usu->usu_ape?></td>
        </tr>
    </table>
</header>
</body>
</html>