<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CMT</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("PruebaCmt/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '30:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>
		
</head>
<body>
<div id="counter" style="position: fixed;right:0;"></div>
	<h1>Prueba CMT</h1>
		<div id="camara">
			<script type="text/javascript">
				document.write( webcam.get_html(320, 240) );
			</script>
		</div>
		<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar">
		<div id="div_preguntas" >
				<h1>Instrucciones Generales</h1>

				<p>Este cuestonario tiene por objeto recoger una idea general sobre aquellos aspectos del trabajo que son de interes para ud., y sobre las acciones que esta dispuesto a realizar para conseguirlos.</p>



				<p>Todas las respuestas dadas por Ud., son importantes para comprender sus intereses en el trabajo. Por tanto no hay respuestas buenas ni malas. Lo único que cuenta es su veracidad.</p>



				<p>Esta encuesta esta dividida en tres partes, cada una con sus respectivas instrucciones iniciales. Lealas con atención y no comience a responder hasta tanto este seguro de haberlas comprendido</p>



				<p>Responda a todos y cada uno de los puntos, pero no les dedique demasiado tiempo. Responda con rapidez y de la manera más veras y espontánea</p>

			<form action="<?=$this->url->get("PruebaCmt/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
				<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">
				<div class="preguntas" >
					<h3>PRIMERA PARTE</h3>

					<p style="text-align:justify;">En esta parte usted encontrara varios grupos de afirmaciones que representan aspiraciones relacionadas con el trabajo. Lea las afirmaciones de cada grupo y ordénelas según la importancia que cada una tiene para usted, comenzando por la mas importante y terminando con la menor importancia. Una vez decidido el orden asígnele el numero (5) a la que considere mas importante el numero cuatro(4) ala que considere en segundo lugar y continue en orden descendente hasta asignarle uno(1) a la que consideró de menor importancia </p>

					<table width="600" cellpadding="5" >
								<tr>
									<th>1. La mayor satisfacción que deseo obtener en el trabajo es:</th>
								</tr>

								<tr>

									<td></td>

								</tr>

								<tr>

									<td>

										a. Saber que se reconocen mis conociminentos y capacidades.<br/>

										b. Poder coordinar y estimular los esfuerzos de otros.<br/>

										c. Saber que otras personas me aprecian.<br/>

										d. Idear formas más eficientes de hacer el trabajo para aventajar a otros con la calidad de los resultados. <br><br/>

										e. Poderme ocupar en aquellos trabajos para los que tengo buenas capacidades. <br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="primero_uno">

										b.<input type="text" name="primero_dos">

										c.<input type="text" name="primero_tres">

										d.<input type="text" name="primero_cuatro">

										e.<input type="text" name="primero_cinco">

									</td>

								</tr>

					</table>


					<hr>

					<table width="600" >
								<tr>
									<th>2. La mayor satisfacción que deseo obtener en el trabajo es:</th>
								</tr>

								<tr>
									<td></td>
								</tr>

								<tr>
									<td>

										a. Que mis ideas y propuestas sean tenidas en cuenta.<br/>

										b. Mantener una relacion cordial con los compañeros de trabajo.<br/>

										c. Poder persuadir o convencer a otros para llevar a cabo actividades relacionadas con el trabajo.<br/>

										d. Poder ocuparme en lo que verdaderamente se y puedo hacer. <br><br/>

										e. Poder resolver, con más éxito que los demas, los problemas dificiles del trabajo. <br><br/>

									</td>

								</tr>

								<tr>
									<td>
										a.<input type="text" name="segundo_uno">
										b.<input type="text" name="segundo_dos">
										c.<input type="text" name="segundo_tres">
										d.<input type="text" name="segundo_cuatro">
										e.<input type="text" name="segundo_cinco">
									</td>
								</tr>

					</table>

					<hr>

					<table width="600" >

								<tr>

									<th>3. La mayor satisfacción que deseo obtener en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Tener personas a cargo a las que yo pueda corregir o estimular por su rendimineto.<br/>

										b. Llegar a sentir aprecio y estimulación por las otras personas.<br/>

										c. Darme cuenta de que perfecciono mis conocimientos.<br/>

										d. Ser mejor en el trabajo que el común de las personas. <br><br/>

										e. Que mis compañeros me tengan respeto y reconocimiento por lo que valgo como persona. <br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="tercero_uno">

										b.<input type="text" name="tercero_dos">

										c.<input type="text" name="tercero_tres">

										d.<input type="text" name="tercero_cuatro">

										e.<input type="text" name="tercero_cinco">

									</td>

								</tr>

					</table>

					<hr>

					<table width="600" >

								<tr>

									<th>4. La mayor satisfacción que deseo obtener en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Contar con la compañia y el apoyo de los compañeros de trabajo.<br/>

										b. Que mis ideas propuestas sena tenidas en cuenta.<br/>

										c. Poder enseñar y dar sugerencias a otros sobre la solución de problemas relacionados con el trabajo<br/>

										d. Saber que voy adquiriendo mayor habilidad en mi ocupación. <br><br/>

										e. Lograr resultados de mejor calidad que los que alcanzan otros en su equipo <br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="cuarto_uno">

										b.<input type="text" name="cuarto_dos">

										c.<input type="text" name="cuarto_tres">

										d.<input type="text" name="cuarto_cuatro">

										e.<input type="text" name="cuarto_cinco">

									</td>

								</tr>

					</table>



		<!-- 5-->

					<table width="600" >

						<tr>

							<th>5. La mayor satisfacción que deseo obtener en el trabajo es:</th>

						</tr>

						<tr>

							<td></td>

						</tr>



						<tr>

							<td>

								a. Tener la oportunidad de influir en la gente para sacar adelante las cosas.<br/>

								b. Estar con las personas que sean unidas, se apoyen y defiendan mutualmente.<br/>

								c. Que las otras personas acepten mis meritos<br/>

								d. Ideal algo de interes y luchar hasta sacarlo adelante.<br><br/>

								e. Poder aplicar los conocimientos que poseo.<br><br/>

							</td>

						</tr>

						<tr>

							<td>

								a.<input type="text" name="quinto_uno">

								b.<input type="text" name="quinto_dos">

								c.<input type="text" name="quinto_tres">

								d.<input type="text" name="quinto_cuatro">

								e.<input type="text" name="quinto_cinco">

							</td>

						</tr>

					</table>





							<h3>SEGUNDA PARTE</h3>



							<p style="text-align:justify;">Aqui encontrará varios grupos de afirmaciones relacionadas con los medios más efectivos para alcanzar ciertos beneficios en el trabajo. Cada grupo esta encabezado por una frase que muestra una situación de trabajo deseada. Enseguida se encuentran cindo frases que describen acciones segun el orden de importancia en que usted esta dispuesto a realizarlas. Asgnele el numero cinco (5) a la que realizaría en primer lugar, el numero cuatro(4) a la que llevaría a cabo en segundo termino y continué en orden descendente hasta darle el valor uno(1) a la que solamente realizaría en caso extremo </p>





		<!-- SEGUNDA PARTE 6 -->





						<table width="600" >

							<tr>

								<th>6. Usualmente el medio mas efectivo para obtener :</th>

							</tr>

							<tr>

								<td></td>

							</tr>



							<tr>

								<td>

									a. Economizar materiales e implementos de trabajo y evitar los riesgos de pérdidas y daños.<br/>

									b. Con todo respeto solicitar un trato justo y considerado, cuando sea necesario.<br/>

									c. Dar cumplimiento a los él espera que uno lleve a cabo<br/>

									d. Dedicarse con empeño al trabajo durante el tiemop debido.<br><br/>

									e. Dar cumplimiento a sus instrucciones y sugerencias.<br><br/>

								</td>

							</tr>

							<tr>

								<td>

									a.<input type="text" name="sexto_uno">

									b.<input type="text" name="sexto_dos">

									c.<input type="text" name="sexto_tres">

									d.<input type="text" name="sexto_cuatro">

									e.<input type="text" name="sexto_cinco">

								</td>

							</tr>

						</table>

			<!-- SEGUNDA PARTE 7 -->

						<hr>



						<table width="600" >

							<tr>

								<th>7. EL medio mas efectivo para tener un trabajo verdaderamente interesante es:</th>

							</tr>

							<tr>

								<td></td>

							</tr>



							<tr>

								<td>

									a. Ponerle empeño a la imaginación.<br/>

									b. Solicitar personalmente el jefe mi ubicación en un trabajo que se acomode bien a mis capacidades o que me interese.<br/>

									c. Esforzarse por realizar con estusiasmo las funciones y tareas asignadas<br/>

									d. Confiar en que la empresa me brinde una buena oportunidad.<br><br/>

									e. Aceptar con interés los cambios de puesto de trabajo o de actividad cuando el jefe lo solicito .<br><br/>

								</td>

							</tr>

							<tr>

								<td>

									a.<input type="text" name="septimo_uno">

									b.<input type="text" name="septimo_dos">

									c.<input type="text" name="septimo_tres">

									d.<input type="text" name="septimo_cuatro">

									e.<input type="text" name="septimo_cinco">

								</td>

							</tr>

						</table>



			<!-- SEGUNDA PARTE 8 -->

						<hr>



						<table width="600" >

							<tr>

								<th>8. Usualmente el medio mas efectivo para obtener aumento de sueldo y mejores beneficios economicos es:</th>

							</tr>

							<tr>

								<td></td>

							</tr>



							<tr>

								<td>

									a. Convencer al jefe de que poseo los meritos suficientes para ello.<br/>

									b. Hacer el trabajo con la eficiencia y resposabilidad.<br/>

									c. Aceptar y cumplir las funciones, normas y reglamentos de trabajo<br/>

									d. Acatar las decisiones y orientaciones del jefe inmediato.<br><br/>

									e. Estar a la espera de que la empresa haga los aumentos convenientes segun sus posibilidades.<br><br/>

								</td>

							</tr>

							<tr>

								<td>

									a.<input type="text" name="octavo_uno">

									b.<input type="text" name="octavo_dos">

									c.<input type="text" name="octavo_tres">

									d.<input type="text" name="octavo_cuatro">

									e.<input type="text" name="octavo_cinco">

								</td>

							</tr>

						</table>



							<hr>



			<!-- SEGUNDA PARTE 9 -->

					<table width="600" >

						<tr>

							<th>9. El medio mas efectivo para obtener un ascenso en el trabajo es:</th>

						</tr>

						<tr>

							<td></td>

						</tr>



						<tr>

							<td>

								a. Dar apoyo a los proyectos, planes y politicas de la empresa.<br/>

								b. Presentar proyectos e iniciativa en el trabajo.<br/>

								c. Convencer al jefe, no solo con palabras si no con rendimiento. De los meritos y capacidades con que cuento<br/>

								d. Darle el tiempo a la empresa para que se de cuenta de mis conocimientos y capacidades<br><br/>

								e. Dar colobaroción y apoyo a las decisiones del jefe de la dependencia donde uno trabaja.<br><br/>

							</td>

						</tr>

						<tr>

							<td>

								a.<input type="text" name="noveno_uno">

								b.<input type="text" name="noveno_dos">

								c.<input type="text" name="noveno_tres">

								d.<input type="text" name="noveno_cuatro">

								e.<input type="text" name="noveno_cinco">

							</td>

						</tr>

					</table>



					<hr>



		<!-- SEGUNDA PARTE 10 -->

						<table width="600" >

								<tr>

									<th>10. El medio más eficaz para poderse integrar a un grupo de trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Mostrar interés en la tarea encomendada al grupo.<br/>

										b. Ofrecerle apoyo cuando sea necesario trabajar para obtener ventajas o beneficios para el bien de todos.<br/>

										c. Colaborarle para que pueda sacar adelante los trabajos que su jefe le encargo<br/>

										d. Esperar que, a medida que vayan conociendo, me acepten y me tengan en cuenta<br><br/>

										e. Mostrarse respetuoso de las personas y de las normas sociales<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="decimo_uno">

										b.<input type="text" name="decimo_dos">

										c.<input type="text" name="decimo_tres">

										d.<input type="text" name="decimo_cuatro">

										e.<input type="text" name="decimo_cinco">

									</td>

								</tr>

						</table>



						<h3 style="text-align:justify;">TERCERA PARTE</h3>



						<p>Aqui también econtrará varios grupos de afirmaciones relacionadas con aspectos diferentes del trabajo. Cada grupo tiene cinco afirmaciones. Léalas y ordénelas según la importancia que les concede. Asignele el numero cinco(5) a la que considere mas importante, el numero cuatro(4), a la que asigno el segundo lugar y continué en el orden descendente hasta darle uno (1) a la que encontró de menor importancia.</p>



		<!-- TERCERA PARTE 11 -->

						<table width="600" >

								<tr>

									<th>11. Lo mas importante para mi en le trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Contar con un jefe que se preocupe de verdad por su gente.<br/>

										b. Ganar buenos auxilios economicos y buenas prestaciones extralegales para mi beneficio y el de mi familia.<br/>

										c. Tener ascensos que me permitan alcanzar un trabajo de mayor resposabilidad.<br/>

										d. Poder integrar mis esfuerzos a las actividades de otras personas para producir resultados conjuntos que beneficien a todos<br><br/>

										e. Poder experimentar interés y motivación por mis tareas<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="undecimo_uno">

										b.<input type="text" name="undecimo_dos">

										c.<input type="text" name="undecimo_tres">

										d.<input type="text" name="undecimo_cuatro">

										e.<input type="text" name="undecimo_cinco">

									</td>

								</tr>

						</table>



						<hr>



						<!-- TERCERA PARTE 12-->

						<table width="600" >

								<tr>

									<th>12. Lo mas importante para mi en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Ganar un sueldo que me permita atender adecuadamente todas mis necesidades y las de mi familia.<br/>

										b. Tener ascensos para logra un trabajo mas interesante e importante.<br/>

										c. POderme itegrar a un equipo con gente dinámica.<br/>

										d. Que mi jefe evalué mi rendimiento de una manera considerada, comprensiva y justa<br><br/>

										e. Desempeñar un trabajo que contenga actividades variadas y verdaderamente interesantes.<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="decimosegundo_uno">

										b.<input type="text" name="decimosegundo_dos">

										c.<input type="text" name="decimosegundo_tres">

										d.<input type="text" name="decimosegundo_cuatro">

										e.<input type="text" name="decimosegundo_cinco">

									</td>

								</tr>

						</table>



						<hr>



						<!-- TERCERA PARTE 13-->

						<table width="600" >

								<tr>

									<th>13. Lo más importante para mi en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Contar con un sueldo .<br/>

										b. Tener ascensos para logra un trabajo mas interesante e importante.<br/>

										c. POderme itegrar a un equipo con gente dinámica.<br/>

										d. Que mi jefe evalué mi rendimiento de una manera considerada, comprensiva y justa<br><br/>

										e. Desempeñar un trabajo que contenga actividades variadas y verdaderamente interesantes.<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="decimotercero_uno">

										b.<input type="text" name="decimotercero_dos">

										c.<input type="text" name="decimotercero_tres">

										d.<input type="text" name="decimotercero_cuatro">

										e.<input type="text" name="decimotercero_cinco">

									</td>

								</tr>

						</table>



						<hr>



						<!-- TERCERA PARTE 14-->

						<table width="600" >

								<tr>

									<th>14. Lo más importante para mi en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Trabajar con otros para beneficiarme de sus conocimientos y experiencia .<br/>

										b. Saber que periódicamente puedo recibir aumentos salariales.<br/>

										c. LLevar a cabo actividades variadas y de interés que me eviten la rutina y la monotonía.<br/>

										d. Tener ascensos que me permitan sentir de progreso y me perfecciono en mi ocupación <br><br/>

										e. Tener un jefe que se fije más en mis aciertos que en mis errores.<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="decimocuarto_uno">

										b.<input type="text" name="decimocuarto_dos">

										c.<input type="text" name="decimocuarto_tres">

										d.<input type="text" name="decimocuarto_cuatro">

										e.<input type="text" name="decimocuarto_cinco">

									</td>

								</tr>

						</table>



						<hr>

						<!-- TERCERA PARTE 15-->

						<table width="600" >

								<tr>

									<th>15. Lo mas importante para mi en el trabajo es:</th>

								</tr>

								<tr>

									<td></td>

								</tr>



								<tr>

									<td>

										a. Estar en un grupo capaz de organizar y llevar a cabo actividades de interés y utilidad .

									   <br/><br/>

										b. ganar un sueldo que verdaderamente recompense mi esfuerzo.<br/>

										c. Tener un jefe que, antes que exigir, me apoye y me motive.<br/>

										d. Poder elegir la mejor entre diversas posibilidades de realizar las tareas  <br><br/>

										e. Tener ascensos que me den a conocer que se tiene en cuenta mis capacidades.<br><br/>

									</td>

								</tr>

								<tr>

									<td>

										a.<input type="text" name="decimoquinto_uno">

										b.<input type="text" name="decimoquinto_dos">

										c.<input type="text" name="decimoquinto_tres">

										d.<input type="text" name="decimoquinto_cuatro">

										e.<input type="text" name="decimoquinto_cinco">

									</td>

								</tr>

						</table>
				
					
				</div>
			</form>

			<input type="button" value="Finalizar" id="btn_guardar" onclick="finalizar();">
			
		</div>
		
</body>
</html>