<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Oficinas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(10)").addClass('active_pestana');
	});
	</script>
</head>
<body>

	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('estados/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<table class="lista">
						<tr>
							<th>No.</th>
							<th>Nombre</th>
							<th>Departamento</th>
							<th>Accion</th>
							<!-- <th>Accion</th> -->
						</tr>
						<tr>
							<td>1</td>	
							<td>BARRANQUILLA</td>
							<td>ATLÁNTICO</td>
							<td><a href="<?php echo $this->url->get('oficinas/editar') ?>/126">Editar</a></td>
						</tr>
						<tr>
							<td>2</td>
							<td>BOGOTÁ</td>
							<td>CUNDINAMARCA</td>
							<td><a href="<?php echo $this->url->get('oficinas/editar') ?>/149">Editar</a></td>
						</tr>
						<?php
								$i=2;
								foreach ($municipios as $m) {
									$i++;
					   				 ?>
										<tr>
											<td><?php echo $i?></td>
											<td><?php echo $m->mun_nom; ?></td>
											<td><?php echo $m->dep_nom; ?></td>
											<td><a href="<?php echo $this->url->get('oficinas/editar') ?>/<?php echo $m->mun_cod; ?>">Editar</a></td>
											<!-- <td><a href="#" id="<?php echo $m->mun_cod; ?>" class="eliminar">Eliminar</a></td> -->
										</tr>
					   				 <?php
					  			}
							?>

					</table>
					<br>
					<!-- <a href="<?php echo $this->url->get('estados/nuevo') ?>" class="boton"> + Agregar Nuevo</a> -->
					
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>