<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Afiliaciones</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>
</head>
<body>
<div id="contenedor">
    <div class="negro" onclick="cerrarModal();"></div>
    <input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
        'Consultaraspirante/estado') ?>">
    <input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
        'afiliaciones/consultar') ?>">
    <input type="hidden" id="url_fechas" name="url_fechas" value="<?php echo $this->url->get(
        'afiliaciones/fechas') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" id="txt_pag" name="txt_pag" value="">
    <?php $this->partial("shared/encabezado") ?>
    <!-- <div class="clear"></div> -->
    <div id="cuerpo">
        <div id="izq">
            <?php $this->partial("shared/menuLateral") ?>
        </div>
        <div id="central">
            <div id="cuerpo_central">
                <br>
                <div class="consulta" style="background: none">
                    <p>Afiliaciones y Cuenta Bancaria</p>
                    <div class="busqueda">
                        <select name="oficina" id="oficina" style="width: 110px" onchange="filtrar(1)">
                            <option value="">Oficina</option>
                            <option value="126">Barranquilla</option>
                            <option value="149">Bogotá</option>
                        </select>
                        <select name="emp_cod" id="emp_cod" style="width: 130px" onchange="filtrar(1);">
                            <option value="">Usuaria / Proyecto</option>
                            <?
                            foreach ($empresas as $key => $emp) {
                                echo '<option value="' . $emp->getEmpCod() . '">' . $emp->getEmpRaz() . '</option>';
                            }
                            ?>
                        </select>
                        <select name="estad" id="estad" style="width: 110px" onchange="filtrar(1);">
                            <option value="">Estados</option>
                            <?
                            foreach ($estados as $key => $est) {
                                echo '<option value="' . $est->est_cod . '">' . $est->est_nom . '</option>';
                            }
                            ?>
                        </select>
                        <input type="text" style="width: 110px" placeholder="Busqueda..." id="txt_bus">
                    </div>
                </div>
                <br>
                <div id="respuesta"></div>
            </div>
        </div>
        <div id="derecha">
            <?php $this->partial("shared/derecha") ?>
        </div>
    </div>
    <div id="pie">
        <?php $this->partial("shared/pie") ?>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $(".fecha-A").datepicker({
            dateFormat: 'yy-mm-dd',
            changeMonth: true,
            changeYear: true,
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
            dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá']
        })

        $.ajax({
            url: $("#url_consultar").val(),
            type: 'POST',
            dataType: 'html',
            data: "txt_pag=" + $("#txt_pag").val(),
            beforeSend: function () {
                $("#respuesta").html("Cargando...")
                $(".fecha-A").remove()
            }
        })

            .done(function (datos) {
                // console.log(datos)
                $("#respuesta").html(datos)


            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    });
</script>
</body>
</html>