<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ver Ofertas</title>
	<?php $this->assets->outputJs() ?>
</head>
<body>
<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Verofertas/postular') ?>">
<input type="hidden" name="url_red" id="url_red" value="<?php echo $this->url->get('verPruebas/') ?>"> <!-- url para donde va a redireccionar -->
<?php $this->partial("shared/menu") ?>
	<h1>Ofertas</h1>
	<table border="1" width="95%">
		<tr>
			<td>Cargo</td>
			<td>Descripción</td>
			<td>Accion</td>
			<td>Accion</td>
		</tr>
	
	<?php foreach ($ofertas as  $reg): ?>
		<tr>
			<td><?php echo $reg->car_des?></td>
			<td><?php echo $reg->req_des?></td>
			<td><input type="button" value="Ver Mas" onclick="detalleReq('<?=$reg->car_des ?>', '<?=trim($reg->mun_nom) ?>' , '<?=$reg->req_sex?>', '<?=$reg->req_eda?>' , '<?=$reg->req_sal?>', '<?=$reg->req_niv?>', '<?=$reg->req_exp?>', '<?=$reg->req_des?>','<?=$reg->req_fci?>', '<?=$reg->req_obs?>')"></td>
			<td><input type="button" value="Postularme" onclick="postular('<?=$reg->req_cod?>')"></td>
		</tr>
		
	<?php endforeach ?>
	</table>
	<h1>Detalle Ofertas</h1>
	<table>
		<tr>
			<td>Cargo</td>
			<td id="td_cargo"></td>
		</tr>
		<tr>
			<td>Ciudad</td>
			<td id="td_ciudad"></td>
		</tr>
		<tr>
			<td>Sexo</td>
			<td id="td_sexo"></td>
		</tr>
		<tr>
			<td>Edad</td>
			<td id="td_edad"></td>
		</tr>
		<tr>
			<td>Salario</td>
			<td id="td_salario"></td>
		</tr>
		<tr>
			<td>Nivel Academico</td>
			<td id="td_nivel"></td>
		</tr>
		<tr>
			<td>Experiencia Requerida</td>
			<td id="td_experiencia"></td>
		</tr>
		<tr>
			<td>Descripcion del cargo</td>
			<td id="td_descripcion"></td>
		</tr>
		<tr>
			<td>Fecha de Inicio</td>
			<td id="td_inicio"></td>
		</tr>
		<tr>
			<td>Observaciones</td>
			<td id="td_obs"></td>
		</tr>

	</table>
</body>
</html>