
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ver Ofertas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Verofertas/postular') ?>">
<input type="hidden" name="urlO" id="urlO" value="<?php echo $this->url->get('Verofertas/veroferta') ?>">
<input type="hidden" name="urlP" id="urlP" value="<?php echo $this->url->get('Verofertas/postulado') ?>">
<input type="hidden" name="urlD" id="urlD" value="<?php echo $this->url->get('Verofertas/despostular') ?>">
<input type="hidden" name="url_red" id="url_red" value="<?php echo $this->url->get('verPruebas/') ?>"> <!-- url para donde va a redireccionar -->

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuAspirante") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<div id="modal_documentos">
						<table class="form" width="100%">
							<tr>
								<th>DETALLE DE LA OFERTA</th>
							</tr>
							<tr>
								<td>
									<table>
										<tr>
											<td>Cargo</td>
											<td id="td_cargo"></td>
										</tr>
										<tr>
											<td>Ciudad</td>
											<td id="td_ciudad"></td>
										</tr>
										<tr>
											<td>Sexo</td>
											<td id="td_sexo"></td>
										</tr>
										<tr>
											<td>Edad</td>
											<td id="td_edad"></td>
										</tr>
										<tr>
											<td>Salario</td>
											<td id="td_salario"></td>
										</tr>
										<tr>
											<td>Nivel Académico</td>
											<td id="td_nivel"></td>
										</tr>
										<tr>
											<td>Experiencia Requerida</td>
											<td id="td_experiencia"></td>
										</tr>
										<tr>
											<td>Descripción del Cargo</td>
											<td id="td_descripcion"></td>
										</tr>
										<tr>
											<td>Fecha de Inicio</td>
											<td id="td_inicio"></td>
										</tr>
										<tr>
											<td>Observaciones</td>
											<td id="td_obs"></td>
										</tr>

									</table>

								</td>
							</tr>
						</table>

					</div>

					<div class="consulta">
						<p>Ofertas</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta">
						<table border="0"  class="lista">
								<tr>
									<th>No.</th>
									<th>Cargo</th>
									<th>Ciudad</th>
									<th width="50%">Descripción</th>
									<th>Accion</th>
									<th>Accion</th>
									<th>Accion</th>
								</tr>
							<?php $oblP = new Postulaciones(); $i = 1; ?>
							<?php foreach ($ofertas as  $reg): ?>
								<tr>
									<td><?=$i?></td>
									<td><?=$reg->req_til?></td>
									<td><?php echo $reg->mun_nom?></td>
									<td><?php echo $reg->req_des?></td>
									<td>
									<a href="#" onclick="detalleReq('<?=$reg->req_cod ?>')">Ver Mas</a>
									</td>
									<td>
									<?php
									$pos = $oblP->postulado($this->session->get("per_cod"), $reg->req_cod);
									if (count($pos) > 0) { ?>
										<a href="#" class="gris" onclick="postulado('<?=$reg->req_cod?>')">Postulado, Ver Pruebas</a>
									<?php } else { ?>
										<a href="#" onclick="postular('<?=$reg->req_cod?>')">Postularme</a>
									<?php }
									?>
									</td>
									<td>
									<?
									if (count($pos) > 0) { ?>
										<a href="#" class="gris" onclick="despostular('<?=$pos[0]->pos_cod?>')">Abandonar</a>
									<?php }
									?>
									</td>
								</tr>
								<? $i++ ?>
							<?php endforeach ?>
							</table>
					</div>
					<br>


					<br>


					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>



		<div id="pie">
			<?php $this->partial("shared/pie_postulantes") ?>
		</div>
	</div>
</form>
</body>
</html>






