
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>CARAS</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("pruebaCaras/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '10:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>

</head>
<body>




	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuAspirante") ?>
		</div>
			<div id="central">
				<div id="counter" style="position: fixed;right:0;"></div>
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba 3</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<script type="text/javascript">
							document.write( webcam.get_html(320, 240) );
						</script>
					</div>
					<br>

					<br>

					<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar" class="boton">
					<br>
					<p class="TDPri">
							INSTRUCCIONES:

							Observe las siguiente fila de caras. Una de las caras es distinta a las otras. La cara que es distinta esta marcada


							¿Ve usted el motivo por el cual la cara del medio esta marcada? La boca es la parte distinta.

							La prueba consiste en que usted marque la cara que es diferente.
							<div class="caras_contenedor">
				                  <div class="caras_contenido">
				                      <img src="<?php echo $this->url->get(); ?>img/caras/cara-01.png" width="50" height="50" />
				                      <input type="radio" name="txt_prueba" value="" />
				                  </div>

				                  <div class="caras_contenido">
				                      <img src="<?php echo $this->url->get(); ?>img/caras/cara-03.png" width="50" height="50" />
				                      <input type="radio" name="txt_prueba" value="" checked="checked" />
				                  </div>

				                  <div class="caras_contenido">
				                      <img src="<?php echo $this->url->get(); ?>img/caras/cara-02.png" width="50" height="50" />
				                      <input type="radio" name="txt_prueba" value="" />
				                  </div>

            				</div>
							</p>
							<div class="clear"></div>
					<div id="div_preguntas" style="display:none;">
			
						<br>

						<form action="<?=$this->url->get("pruebaCaras/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
							<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
							<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">
						<br>
						<br>
						<br>
						<?php foreach ($preguntas as  $pre): ?>
							<?php
							$respuestas = CarasRta::find(array(
								"car_cod=".$pre->car_pre
							));
							?>
							<p style="float:left"><?php echo $pre->car_pre  ?><p>
							<div class="caras_contenedor">
							<?php foreach ($respuestas as  $res): ?>

							<div class="caras_contenido">
				            	<img src="<?php echo $this->url->get(); ?>img/caras/<?php echo $res->cre_ruta;?>.png" width="50" height="50" />
				                <input type="radio" name="<?php echo $res->car_cod;?>"
				                 value="<?php echo $res->cre_cod;?>" />
					        </div>
							<?php endforeach ?>
							</div>
							<br><br>
						<?php endforeach ?>
							
						</form>
						<input type="button" value="Finalizar" class="boton" id="btn_guardar" onclick="finalizar();">

			

			
					</div>

					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie_postulantes") ?>
		</div>
	</div>

</body>
</html>
