<!DOCTYPE html>

<html lang="en">

<head>

	<meta charset="UTF-8">

	<title>Inicio Sesion | APSC</title>

	<?php $this->assets->outputCss() ?>

	<?php $this->assets->outputJs() ?>

	<script type="text/javascript">

	jQuery(document).ready(function($) {



		$(window).resize(function(){

			$('#contenedor').height($(window).height());

		});



		$(window).trigger('resize');

	});

		

	</script>

</head>

<body>
	<div id="contenedor">

		<div id="cuerpo">

			<div id="izq" style="  margin-left: 30%;margin-top:10%;">

				<div id="logo"><img src="img/logo_login.png" alt=""></div>

				

				<div class="titulo">

					<p><!-- Iniciar Sesion --></p>

					<a href="#"><img src="img/icon_ayuda.png">¿Necesita Ayuda?</a>

				</div>

				<div class="con_tabla">

					<form id="frm_inicio">

					<input type="hidden" name="url_inicio" id="url_inicio" value="<?php echo $this->url->get('index/iniciar') ?>">

					<input type="hidden" name="url_olvidar" id="url_olvidar" value="<?php echo $this->url->get('index/olvidar') ?>">



						<input type="hidden" name="url_red" id="url_red" value="<?php echo $this->url->get('slider/') ?>">



						<table width="90%" class="tabla">

							<tr>

								<td><input type="text" name="txt_usu" id="txt_usu" placeholder="Usuario" onkeypress="if (event.keyCode == 13) iniciar_sesion();"></td>

							</tr>

							<tr>

								<td><input type="password" class="iniciar" name="txt_con" id="txt_con" placeholder="Contraseña" onkeypress="if (event.keyCode == 13) iniciar_sesion();"></td>

							</tr>

						</table>

					</form>

				</div>



				<div class="fondo_rosado">

					<a href="#" class="olvide" id="btn_olvide">Olvide mi Contraseña</a>

					<a href="#"  class="iniciar" id="btn_iniciar">Iniciar Sesion ></a>

				</div>

			</div>



			

		</div>

	</div>

<?php 

		

	 // $obj  = new General();

	 // $obj->enviarCorreo();



?>

</body>

</html>
