<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Plantilla</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {

		$(window).resize(function(){
			$('#contenedor').height($(window).height());
			$('#izq, #central').height($('#contenedor').height() - $('#pie').height() - $('#encabezado').height());
		});


		$(window).trigger('resize');

		$("#menu_proceso").click(function(event) {
			if($(".submenu").is(":visible")){
				$(".submenu").slideUp(500);
			}else{
				$(".submenu").slideDown(500);
			}
		});
	});

	function prueba(){
		mensaje.jnAlert("Registro Guardado", "El registro se ha guardado con exito");
	}
	</script>
</head>
<body>
	
	<div id="contenedor">
	<!-- <div class="oscuro"></div>
	<div class="mensaje">
		<h3>¡Evaluación Completada!</h3>
		<p>
		Las evaluaciones se han actualizado con éxito.
		</p>
		<div><input type="button" value="FINALIZAR" class="boton"></div>
	</div> -->
		<div id="encabezado">
			<div id="logo"><img src="img/logo.png" alt=""></div>
			<div id="logueado">
			<div id="nombre">
				<p>Carlos Andréz Ruiz Jimeno</p>
				<span>Finance Arrow Ltda.</span>
			</div>
				<div id="foto"><img src="img/foto.png"></div>
			</div>
		</div>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<div id="menu">
				<ul>
					<li><img src="img/icon1.png"><a href="">Plataforma</a>
						
					</li>

					<li><img src="img/icon2.png"><a href="">Postulantes</a>
					
					</li>

					<li><img src="img/icon3.png"><a href="#" id="menu_proceso">Proceso de Seleccion <img src="img/flechita.png" alt="" class="flechita"></a>
						
					</li>
					<ul class="submenu">
						<li><a href=""><img src="img/icon_sub.png">Ingresar Prueba <img src="img/flechita.png" alt="" class="flechita">	</a></li>
						<li><a href=""><img src="img/icon_sub.png">Evaluar Proceso</a></li>
						<li><a href=""><img src="img/icon_sub.png">Resultados</a></li>
					</ul>

					<li><img src="img/icon4.png"><a href="#">Contratación </a>
						
					</li>

					<li><img src="img/icon5.png"><a href="#">Informes </a>
						
					</li>
				</ul>
			</div>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<!-- <div class="consulta">
						<p>Ingresar prueba de selección</p>
						<div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda...">
						</div>
					</div>
					<table class="lista">
						<tr>
							<th>Documento</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Fecha</th>
							<th>Cargo</th>
							<th>Profesión</th>
						</tr>

						<tr>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

						<tr>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

						<tr>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

					</table>
					<br>
					<input type="button" value="+ Agregar Nuevo" class="boton"> -->


					<br>
					<!-- <div id="con">
						<div id="pestanas">
							<ul>
								<li class="active_pestana"><a href="">Tipo de Usuarios</a></li>
								<li><a href="">Tipo de Usuarios</a></li>
								<li><a href="">Tipo de Usuarios</a></li>
							</ul>
						</div>
						<div class="botones">
							<input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar">
						</div>
					</div>
					<table class="lista">
						<tr>
						    <th></th>
							<th>Documento</th>
							<th>Nombres</th>
							<th>Apellidos</th>
							<th>Fecha</th>
							<th>Cargo</th>
							<th>Profesión</th>
						</tr>

						<tr>
							<td><input type="radio" name="radio"></td>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

						<tr>
							<td><input type="radio" name="radio"></td>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

						<tr>
							<td><input type="radio" name="radio"></td>
							<td>111111111</td>
							<td>Jainer de Jesus</td>
							<td>Nieto Charris</td>
							<td>2014-01-01</td>
							<td>Ing de Sistemas</td>
							<td>Ing de Sistemas</td>
						</tr>

					</table>
					<br>
					<input type="button" value="+ Agregar Nuevo" class="boton">  -->



					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar otro Usuario</th>
							
						</tr>
						<tr>
							<td>Documento</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Nombre de Usuario</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Nombre de Usuario</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td>Nombre de Usuario</td>
							<td><input type="text"></td>
						</tr>
						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" onclick="prueba();"></td>
						</tr>
					</table>
				</div>
			</div>
			<div id="derecha">
				<p class="titulo_gris"><img src="img/icon_ayuda.png"> ¿Necesitas Ayuda?</p>
				<div id="explicacion">
					Este es el módulo de registros, en donde usted como administrador de la plataforma podrá ingresar nuevas hojas de vida. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem pretium. Integer:
					<ul>
						<li><a href="#">+ Registro de hoja de Vida</a></li>
						<li><a href="#">+ Registro de Vacantes</a></li>
						<li><a href="#">+ Registro de Empresas</a></li>
						<li><a href="#">+ Registro de Proveedores</a></li>
					</ul>
					<br>
					<input type="button" value="Soporte Tecnico" class="boton">
				</div>
				
			</div>
		</div>
		<a href="#" id="cerrar_sesion"> <img src="img/cerrar.png"> Cerrar Sesion</a>
		<div id="pie">
			<div id="pie_izq">
				<p>©2015 APSC. Todos los derechos reservados. </p>
				<span><a href="">Términos y Condiciones</a>   |   <a href="">Políticas de Privacidad</a></span>
			</div>
			<div id="pie_der">
				<ul>
					<li><img src="img/tel.png">Llámanos al teléfono: <br>+01 8000 2772 227</li>
					<li><img src="img/email.png">Llámanos al teléfono: <br>+01 8000 2772 227</li>
				</ul>
			</div>
		</div>
	</div>
</body>
</html>