
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Competencias - Editar</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(12)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
		<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('competencias/actualizar') ?>">
		<input type="hidden" name="id" id="id" value="<?php echo $com->id ?>">


		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="100%">
						<tr>
							<th colspan="2">Agregar o Editar Competencias</th>

						</tr>
						<tr>
							<td>Nombre</td>
							<td><input style="width: 100%" type="text" name="nombre" id="nombre" value="<?php echo $com->nombre ?>"></td>
						</tr>
						<tr>
							<td>Texto ideal</td>
							<td>
                                <textarea name="texto" id="texto" rows="10"><?php echo $com->texto ?></textarea>
                            </td>
						</tr>




						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


