<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Hoja de Vida</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".fecha" ).datepicker({
	 		dateFormat:"yy-mm-dd",
	 		changeYear: true,
	 		changeMonth: true
	 	});
	});
		
	</script>

</head>
<body>
<?php $this->partial("shared/menu") ?>
	<form id="frm"  action="<?php echo $this->url->get('Hojavida/uploadFoto') ?>" method="post" enctype="multipart/form-data">
	<input type="hidden" name="per_cod" id="per_cod" value="<?php echo $this->session->get('per_cod') ?>">
	<input type="hidden" name="url_eli" id="url_eli" value="<?php echo $this->url->get('Hojavida/eliminar') ?>">

	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Hojavida/guardar') ?>">
	<input type="hidden" name="url_hij" id="url_hij" value="<?php echo $this->url->get('Hojavida/guardarHijo') ?>">
	<input type="hidden" name="url_est" id="url_est" value="<?php echo $this->url->get('Hojavida/guardarEstudio') ?>">
	<input type="hidden" name="url_exp" id="url_exp" value="<?php echo $this->url->get('Hojavida/guardarExperiencia') ?>">
	<input type="hidden" name="url_ref" id="url_ref" value="<?php echo $this->url->get('Hojavida/guardarReferencia') ?>">
	<?php 
	
		echo  $this->dispatcher->getParam(0);
		
	 ?>
	

		<h1>Registro de Hoja de Vida </h1>
		<img src="<?=$this->url->get()?>/files/<?=$per->per_fot?>" width="120" height="120">
		<br>
		Foto:
		<input type="file" name="foto[]"> <?php echo $this->tag->submitButton("Subir Foto"); ?>
		<br><br> 

		Tipo de Identificación
		<select name="per_tid" id="per_tid">
			<option value="">Seleccione</option>
		<?php foreach ($identificaciones as  $ide): ?>
			<option value="<?=$ide->tip_cod?>" <?php if($ide->tip_cod==$per->per_tid) echo "selected='selected'" ?>><?=$ide->tip_des?></option>
		<?php endforeach ?>
			
		</select>

		<br><br>

		No. Identificación
		<input type="text" name="per_ide" id="per_ide" value="<?=$per->per_ide?>">

		<br><br>

		 Nombre
		<input type="text" name="per_pno" id="per_pno" value="<?=$per->per_pno?>">

		<br><br>

		Segundo Nombre
		<input type="text" name="per_sno" id="per_sno" value="<?=$per->per_sno?>">

		<br><br>

		Apellido
		<input type="text" name="per_pap" id="per_pap" value="<?=$per->per_pap?>">

		<br><br>

		Segundo Apellido
		<input type="text" name="per_sap" id="per_sap" value="<?=$per->per_sap?>">

		<br><br>

		Fecha de Expedición
		<input type="text" name="per_fex" id="per_fex" value="<?=$per->per_fex?>" class="fecha">

		<br><br>

		Lugar de Expedición
		<select name="per_cex" id="per_cex">
			<option value="">Seleccione</option>
			<?php foreach ($municipios as  $mun): ?>
				<option value="<?=$mun->mun_cod?>" <?php if($mun->mun_cod==$per->per_cex) echo "selected='selected'" ?>><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>
			<?php endforeach ?>

		</select>

		<br><br>

		Dirección
		<input type="text" name="per_dir" id="per_dir" value="<?=$per->per_dir?>" >

		<br><br>

		Barrio
		<input type="text" name="per_bar" id="per_bar" value="<?=$per->per_bar?>">

		<br><br>

		Lugar Residencia
		<select name="per_ciu" id="per_ciu">
		<option value="">Seleccione</option>
			<?php foreach ($municipios as  $mun): ?>
				<option value="<?=$mun->mun_cod?>" <?php if($mun->mun_cod==$per->per_ciu) echo "selected='selected'" ?>><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Email
		<input type="text" name="per_ema" id="per_ema" value="<?=$per->per_ema?>">

		<br><br>

		Telefono
		<input type="text" name="per_tel" id="per_tel" value="<?=$per->per_tel?>">

		<br><br>

		Estrato
		<select name="per_ato" id="per_ato">
			<option value="">Seleccione</option>
			<?php foreach ($estratos as  $reg): ?>
			<option value="<?=$reg->tip_cod?>" <?php if($reg->tip_cod==$per->per_ato) echo "selected='selected'" ?>><?=$reg->tip_des?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Celular
		<input type="text" name="per_cel" id="per_cel" value="<?=$per->per_cel?>">

		<br><br>

		Fecha de Nac.
		<input type="text" name="per_fna" id="per_fna" value="<?=$per->per_fna?>" class="fecha">

		<br><br>


		Lugar de Nac.
		<select name="per_cna" id="per_cna">
			<option value="">Seleccione</option>
			<<?php foreach ($municipios as  $mun): ?>
				<option value="<?=$mun->mun_cod?>" <?php if($mun->mun_cod==$per->per_cna) echo "selected='selected'" ?>><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Grupo Sanguineo
		<select name="per_gsa" id="per_gsa">
		<option value="">Seleccione</option>
			<?php foreach ($grupos as  $reg): ?>
			<option value="<?=$reg->tip_cod?>" <?php if($reg->tip_cod==$per->per_gsa) echo "selected='selected'" ?>><?=$reg->tip_des?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Profesión
		<input type="text" name="per_pro" id="per_pro" value="<?=$per->per_pro?>">

		<br><br>

		Mujer Cabeza de familia
		<select name="per_mcf" id="per_mcf">
			<option value="">Seleccione</option>
			<option value="SI" <?php if($per->per_mcf=="SI") echo "selected='selected'" ?> >SI</option>
			<option value="NO" <?php if($per->per_mcf=="NO") echo "selected='selected'" ?>>NO</option>
			<option value="NA" <?php if($per->per_mcf=="NA") echo "selected='selected'" ?>>NO APLICA</option>
		</select>

		<br><br>

		Sexo
		<select name="per_sex" id="per_sex">
			<option value="">Seleccione</option>
			<?php foreach ($sexos as  $sex): ?>
			<option value="<?=$sex->tip_cod?>" <?php if($sex->tip_cod==$per->per_sex) echo "selected='selected'" ?>><?=$sex->tip_des?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Estado Civil
		<select name="per_civ" id="per_civ">
			<option value="">Seleccione</option>
			<?php foreach ($civiles as  $reg): ?>
			<option value="<?=$reg->tip_cod?>" <?php if($reg->tip_cod==$per->per_civ) echo "selected='selected'" ?>><?=$reg->tip_des?></option>
			<?php endforeach ?>
		</select>

		<br><br>

		Estatura
		<select name="per_ura" id="per_ura">
			<option value="">Seleccione</option>
			<?php foreach ($estaturas as  $reg): ?>
			<option value="<?=$reg->tip_cod?>" <?php if($reg->tip_cod==$per->per_ura) echo "selected='selected'" ?> ><?=$reg->tip_des?></option>
			<?php endforeach ?>
		</select>

		<br><br>




		<h3>Datos Documentos</h3>

	
		Libreta Militar No.
		<input type="text" name="per_nlm" id="per_nlm" value="<?=$per->per_nlm?>">

		<br><br>

		Distrito
		<input type="text" name="per_dis" id="per_dis" value="<?=$per->per_dis?>">

		<br><br>

		Licencia de conducir No.
		<input type="text" name="per_lco" id="per_lco" value="<?=$per->per_lco?>">

		<br><br>

		Categoria
		<input type="text" name="per_cat" id="per_cat" value="<?=$per->per_cat?>">

		<br><br>

		Cert Judicial No.
		<input type="text" name="per_cju" id="per_cju" value="<?=$per->per_cju?>">

		<br><br>

		


		<h3>Numero de Hijos</h3>

		Nombre
		<input type="text" name="hij_nom" id="hij_nom">

		
		
		Edad
		<input type="text" name="hij_eda" id="hij_eda">

		

		<input type="button" id="btn_hij" value="Agregar">

		<div id="res_hij">
			<table border="1">
    			<td>Nombre</td>
    			<td>Edad</td>
    			<td>Acción</td>
	    		<?php
	    		foreach ($hijos as  $hij) {
	    		?>	
					<tr>
						<td><?=$hij->hij_nom?></td>
						<td><?=$hij->hij_eda?></td>
						<td><input type="button" onclick="eliminar('<?=$hij->hij_cod?>', 'hijos')" value="Eliminar"></td>
					</tr>
				
	    		<?php } ?>

    		</table>
		</div>

		<h3>Estudios</h3>


		Entidad
		<input type="text" name="est_ent" id="est_ent">


		Profesión
		<input type="text" name="est_pro" id="est_pro">


		Fecha Finalización
		<input type="text" name="est_fec" id="est_fec" class="fecha">


		<input type="button" id="btn_est" value="Agregar">

		<div id="res_est">
			<table border="1">
    			<td>Entidad</td>
    			<td>Profesión</td>
    			<td>Fecha Finalización</td>
    			<td>Acción</td>
	    		<?php
	    		foreach ($estudios as  $reg) {
	    		?>	
					<tr>
						<td><?=$reg->est_ent?></td>
						<td><?=$reg->est_pro?></td>
						<td><?=$reg->est_fec?></td>
						<td><input type="button" onclick="eliminar('<?=$reg->est_cod?>', 'estudios')" value="Eliminar"></td>
					</tr>
				
	    		<?php } ?>

    		</table>
		</div>

		<h3>Experiencia Laboral</h3>

		<br><br>

		Entidad
		<input type="text" name="exp_emp" id="exp_emp">

		

		Cargo
		<input type="text" name="exp_car" id="exp_car">

		Fecha Desde
		<input type="text" name="exp_ini" id="exp_ini" class="fecha">

		Fecha Hasta
		<input type="text" name="exp_ffi" id="exp_ffi" class="fecha">

		<input type="button" id="btn_exp" value="Agregar">

		<div id="res_exp">
			<table border="1">
    			<td>Entidad</td>
    			<td>Cargo</td>
    			<td>Fecha Desde</td>
    			<td>Fecha Hasta</td>
    			<td>Acción</td>
	    		<?php
	    		foreach ($experiencias as  $reg) {
	    		?>	
					<tr>
						<td><?=$reg->exp_emp?></td>
						<td><?=$reg->exp_car?></td>
						<td><?=$reg->exp_ini?></td>
						<td><?=$reg->exp_ffi?></td>
						<td><input type="button" onclick="eliminar('<?=$reg->exp_cod?>', 'experiencias')" value="Eliminar"></td>
					</tr>
				
	    		<?php } ?>

    		</table>
		</div>

		<br><br>

		<h3>Referencias Familiares y Personales</h3>


		
		Nombre
		<input type="text" name="fam_nom" id="fam_nom">

		Parentesco
		<input type="text" name="fam_par" id="fam_par">

		Telefono
		<input type="text" name="fam_tel" id="fam_tel">

		<br><br>		
		<input type="button" id="btn_ref" value="Agregar">
		<br><br>
		<div id="res_ref">
			<table border="1">
    			<td>Nombre</td>
    			<td>Parentesco</td>
    			<td>Telefono</td>
    			<td>Acción</td>
	    		<?php
	    		foreach ($referencias as  $reg) {
	    		?>	
					<tr>
						<td><?=$reg->fam_nom?></td>
						<td><?=$reg->fam_par?></td>
						<td><?=$reg->fam_tel?></td>
						<td><input type="button" onclick="eliminar('<?=$reg->fam_cod?>', 'referencias')" value="Eliminar"></td>
					</tr>
				
	    		<?php } ?>

    		</table>
		</div>
		<input type="button" id="btn_guardar" value="FINALIZAR">
	</form>
</body>
</html>