<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Editar Aspirante</title>
    <?php $this->assets->outputCss() ?>

    <?php $this->assets->outputJs() ?>
    <style>
        input {
            text-transform: uppercase;
        }
    </style>
    <script type="text/javascript">
        var global_msg = false; //validar si le dio permitir a la camara
        webcam.set_api_url('<?php echo $this->url->get("Hojavida/subirFoto"); ?>'); // Fichero de subida
        webcam.set_swf_url('<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf'); // Fichero SWF
        webcam.set_quality(90); // Cálidad JPEG (1 - 100)
        webcam.set_shutter_sound(false); // Activar sonido
        webcam.set_hook("onLoad", null);
        webcam.set_hook("onComplete", null);
        webcam.set_hook("onError", null);

        function my_callback_function(response) {
            console.log("Success! PHP returned: " + response);
            location.href = $("#url_base").val();
        }
    </script>
</head>
<body>
<form id="frm" action="<?php echo $this->url->get('Hojavida/uploadFoto') ?>" method="post"
      enctype="multipart/form-data">
    <input type="hidden" name="url_eli" id="url_eli" value="<?php echo $this->url->get('Hojavida/eliminar') ?>">
    <input type="hidden" name="ver_ofertas" id="ver_ofertas" value="<?php echo $this->url->get('VerOfertas/') ?>">
    <input type="hidden" name="per_cod" id="per_cod" value="<?php echo $this->session->get('per_cod') ?>">
    <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Hojavida/guardar') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get('Hojavida/') ?>">
    <input type="hidden" name="url_hij" id="url_hij" value="<?php echo $this->url->get('Hojavida/guardarHijo') ?>">
    <input type="hidden" name="url_est" id="url_est" value="<?php echo $this->url->get('Hojavida/guardarEstudio') ?>">
    <input type="hidden" name="url_exp" id="url_exp"
           value="<?php echo $this->url->get('Hojavida/guardarExperiencia') ?>">
    <input type="hidden" name="url_ref" id="url_ref"
           value="<?php echo $this->url->get('Hojavida/guardarReferencia') ?>">
    <input type="hidden" name="url_chij" id="url_chij" value="<?php echo $this->url->get('Hojavida/consultarHijo') ?>">
    <input type="hidden" name="url_cest" id="url_cest"
           value="<?php echo $this->url->get('Hojavida/consultarEstudio') ?>">
    <input type="hidden" name="url_cexp" id="url_cexp"
           value="<?php echo $this->url->get('Hojavida/consultarExperiencia') ?>">
    <input type="hidden" name="url_cref" id="url_cref"
           value="<?php echo $this->url->get('Hojavida/consultarReferencia') ?>">
    <input type="hidden" name="url_red" id="url_red" value="<?php echo $this->url->get('verPruebas/') ?>">
    <div id="contenedor">
        <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('sectores/guardar') ?>">
        <input type="hidden" id="ambito" name="ambito" value="web">
        <?php $this->partial("shared/encabezado") ?>
        <!-- <div class="clear"></div> -->
        <div id="cuerpo">
            <div id="izq">
                <?php $this->partial("shared/menuAspirante") ?>
            </div>
            <div id="central">
                <div id="cuerpo_central">
                    <br>
                    <h3 class="titulo">Hoja de Vida</h3>
                    <br>
                    <table class="form" width="100%">
                        <tr>
                            <td colspan="4" align="center">
                                <? if (isset($camara)) { ?>
                                    <script type="text/javascript">
                                        document.write(webcam.get_html(320, 320));
                                    </script> <? } ?>
                                <img <? if (isset($camara)) {
                                    echo "style='display:none'";
                                } ?> src="<?= $this->url->get() ?>files/<?= $per->per_fot ?>" width="180" height="180">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <? if (isset($camara)) { ?><a href="<?php echo $this->url->get('Hojavida/') ?>"><input
                                            type="button" value="Volver"></a> <input type="button" id="capture"
                                                                                     value="Capturar"> <input
                                        type="button" id="subirF" style="display:none" value="Subir"><input
                                        type="button" id="tomarO" style="display:none; margin-left: 3px"
                                        value="Tomar otra foto">  <? } else { ?><input type="file"
                                                                                       name="foto[]"> <?php echo $this->tag->submitButton("Subir Foto"); ?>
                                    <a href="<?php echo $this->url->get('Hojavida/index/tomarFoto') ?>"><input
                                                type="button" value="Abrir cámara web"></a>  <? } ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <?php //echo  $this->dispatcher->getParam(0); ?>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                                <span style="font-size: 14pt; color: red"><b>Cargo de Interés</b></span>
                                <select name="car_cod" id="car_cod" class="required" style="width: 300px">
                                    <option value="">Seleccione</option>
                                    <?php
                                    foreach ($cargos as $key => $car) {
                                        if ($per->car_cod == $car->car_cod) {
                                            echo '<option selected value="' . $car->car_cod . '">' . $car->car_des . '</option>';
                                        } else {
                                            echo '<option value="' . $car->car_cod . '">' . $car->car_des . '</option>';
                                        }

                                    }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Nombre *</td>
                            <td><input type="text" name="per_pno" id="per_pno" class="required"
                                       value="<?= $per->per_pno ?>"></td>
                            <td>Segundo Nombre</td>
                            <td>
                                <input type="text" name="per_sno" id="per_sno" value="<?= $per->per_sno ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Apellido *</td>
                            <td>
                                <input type="text" name="per_pap" id="per_pap" class="required"
                                       value="<?= $per->per_pap ?>">
                            </td>
                            <td>Segundo Apellido</td>
                            <td>
                                <input type="text" name="per_sap" id="per_sap" value="<?= $per->per_sap ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Tipo de Documento *</td>
                            <td>
                                <select name="per_tid" id="per_tid" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($identificaciones as $ide): ?>
                                        <option value="<?= $ide->tip_cod ?>" <?php if ($ide->tip_cod == $per->per_tid) echo "selected='selected'" ?>><?= $ide->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                            <td>No. Identificación *</td>
                            <td>
                                <input type="text" name="per_ide" id="per_ide" class="required SoloNumeros"
                                       value="<?= $per->per_ide ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Fecha de Expedición *</td>
                            <td>
                                <input type="text" name="per_fex" readonly="readonly" id="per_fex"
                                       value="<?= $per->per_fex ?>" class="fecha required">
                            </td>
                            <td>Lugar de Expedición *</td>
                            <td>
                                <select name="per_cex" id="per_cex" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($municipios as $mun): ?>
                                        <option value="<?= $mun->mun_cod ?>" <?php if ($mun->mun_cod == $per->per_cex) echo "selected='selected'" ?>><?= $mun->mun_nom, " - ", $mun->dep_nom ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="padding: 0">Lugar de residencia *</td>
                                        <td>
                                            <select style="margin-left: 22%" name="per_ciu" id="per_ciu" class="required">
                                                <option value="">Seleccione</option>
                                                <?php foreach ($municipios as $mun): ?>
                                                    <option value="<?= $mun->mun_cod ?>" <?php if ($mun->mun_cod == $per->per_ciu) echo "selected='selected'" ?>><?= $mun->mun_nom, " - ", $mun->dep_nom ?></option>
                                                <?php endforeach ?>
                                            </select>
                                        </td>
                                    </tr>
                                    <? if($per->per_ciu == 149) { ?>
                                        <tr id="localidad">
                                            <td style="padding: 0px">Localidad *</td>
                                            <td><select style="margin-left: 22%" name="per_loc" id="per_loc"
                                                        class="required">
                                                    <option value="">Seleccione</option>
                                                    <?php foreach (Localidad::find(["id > 0 order by name"]) as $loc): ?>
                                                    <option value="<?= $loc->id ?>" <?php if ($loc->id == $per->per_loc) echo "selected='selected'" ?>><?= $loc->name ?></option>
                                                    <?php endforeach ?>
                                                </select>
                                            </td>
                                        </tr>
                                    <? } else { ?>
                                        <tr id="localidad" style="display: none">
                                            <td style="padding: 0px; width: 132px;">Localidad *</td>
                                            <td><select style="margin-left: 22%; width: 132px;" name="per_loc" id="per_loc"
                                                        class="required">
                                                    <option value="">Seleccione</option>
                                                    <?php foreach (Localidad::find(["id > 0 order by name"]) as $loc): ?>
                                                        <option value="<?= $loc->id ?>" <?php if ($loc->id == $per->per_loc) echo "selected='selected'" ?>><?= $loc->name ?></option>
                                                    <?php endforeach ?>
                                                </select>
                                            </td>
                                        </tr>
                                    <? } ?>
                                </table>
                            </td>

                            <td>Dirección *</td>
                            <td>
                                <input type="text" name="per_dir" id="per_dir" class="required"
                                       value="<?= $per->per_dir ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Barrio *</td>
                            <td>
                                <input type="text" name="per_bar" id="per_bar" class="required"
                                       value="<?= $per->per_bar ?>">
                            </td>
                            <td>Email *</td>
                            <td>
                                <input type="text" name="per_ema" id="per_ema" class="required"
                                       value="<?= $per->per_ema ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Teléfono</td>
                            <td>
                                <input type="text" name="per_tel" id="per_tel" class="SoloNumeros" value="<?= $per->per_tel ?>">
                            </td>
                            <td>Estrato *</td>
                            <td>
                                <select name="per_ato" id="per_ato" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($estratos as $reg): ?>
                                        <option value="<?= $reg->tip_cod ?>" <?php if ($reg->tip_cod == $per->per_ato) echo "selected='selected'" ?>><?= $reg->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Celular *</td>
                            <td>
                                <input type="text" name="per_cel" id="per_cel" maxlength="10" class="required SoloNumeros"
                                       value="<?= $per->per_cel ?>">
                            </td>
                            <td>F. Nacimiento *</td>
                            <td>
                                <input type="text" readonly="readonly" name="per_fna" id="per_fna"
                                       value="<?= $per->per_fna ?>" class="fecha required">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <table border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td style="padding: 0px">País Nacimiento *</td>
                                        <td>
                                            <select style="margin-left: 22%" class="required" name="per_pai"
                                                    id="per_pai">
                                                <option value="">Seleccione</option>
                                                <option <? if ($per->per_pai == "COLOMBIA") echo "selected"; ?>
                                                        value="COLOMBIA">Colombia
                                                </option>
                                                <option <? if ($per->per_pai == "OTRO") echo "selected"; ?>
                                                        value="OTRO">Otro
                                                </option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="padding: 0px">Lugar Nacimiento *</td>
                                        <td><select style="margin-left: 22%" name="per_cna" id="per_cna"
                                                    class="required">
                                                <option value="">Seleccione</option>
                                                <option value="1121">EXTRANJERO</option>
                                                <?php foreach ($municipios as $mun): ?>
                                                    <option value="<?= $mun->mun_cod ?>" <?php if ($mun->mun_cod == $per->per_cna) echo "selected='selected'" ?>><?= $mun->mun_nom, " - ", $mun->dep_nom ?></option>
                                                <?php endforeach ?>
                                            </select></td>
                                    </tr>

                                </table>
                            </td>
                            <td>Grupo Sanguíneo *</td>
                            <td>
                                <select name="per_gsa" id="per_gsa" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($grupos as $reg): ?>
                                        <option value="<?= $reg->tip_cod ?>" <?php if ($reg->tip_cod == $per->per_gsa) echo "selected='selected'" ?>><?= $reg->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Profesión *</td>
                            <td>
                                <input type="text" name="per_pro" id="per_pro" class="required"
                                       value="<?= $per->per_pro ?>">
                            </td>
                            <td>Mujer Cabeza de Familia</td>
                            <td>
                                <select name="per_mcf" id="per_mcf">
                                    <option value="">Seleccione</option>
                                    <option value="SI" <?php if ($per->per_mcf == "SI") echo "selected='selected'" ?> >
                                        SI
                                    </option>
                                    <option value="NO" <?php if ($per->per_mcf == "NO") echo "selected='selected'" ?>>
                                        NO
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Sexo *</td>
                            <td>
                                <select name="per_sex" id="per_sex" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($sexos as $sex): ?>
                                        <option value="<?= $sex->tip_cod ?>" <?php if ($sex->tip_cod == $per->per_sex) echo "selected='selected'" ?>><?= $sex->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                            <td>Estado Civil *</td>
                            <td>
                                <select name="per_civ" id="per_civ" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($civiles as $reg): ?>
                                        <option value="<?= $reg->tip_cod ?>" <?php if ($reg->tip_cod == $per->per_civ) echo "selected='selected'" ?>><?= $reg->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Estatura *</td>
                            <td>
                                <select name="per_ura" id="per_ura" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($estaturas as $reg): ?>
                                        <option value="<?= $reg->tip_cod ?>" <?php if ($reg->tip_cod == $per->per_ura) echo "selected='selected'" ?> ><?= $reg->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                            <td>Edad *</td>
                            <td><input type="text" name="per_eda" id="per_eda" class="required SoloNumeros"
                                       value="<?= $per->per_eda ?>"></td>
                        </tr>
                        <tr>
                            <td>Peso *</td>
                            <td><input type="text" name="per_pes" id="per_pes" class="required SoloNumeros"
                                       value="<?= $per->per_pes ?>"></td>
                            <td>Talla Camisa *</td>
                            <td>
                                <select name="per_tca" id="per_tca" class="required">
                                    <option value="">Seleccione</option>
                                    <option <? if ($per->per_tca == "S") {
                                        echo "selected";
                                    } ?> value="S">S
                                    </option>
                                    <option <? if ($per->per_tca == "M") {
                                        echo "selected";
                                    } ?> value="M">M
                                    </option>
                                    <option <? if ($per->per_tca == "L") {
                                        echo "selected";
                                    } ?> value="L">L
                                    </option>
                                    <option <? if ($per->per_tca == "XL") {
                                        echo "selected";
                                    } ?> value="XL">XL
                                    </option>
                                    <option <? if ($per->per_tca == "XXL") {
                                        echo "selected";
                                    } ?> value="XXL">XXL
                                    </option>
                                    <option <? if ($per->per_tca == "XXL") {
                                        echo "selected";
                                    } ?> value="XXXL">XXXL
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Talla Pantalón *</td>
                            <td>
                                <select name="per_tpa" id="per_tpa" class="required">
                                    <option value="">Seleccione</option>
                                    <?
                                    for ($i = 4; $i < 20; $i += 2) {
                                        if ($per->per_tpa == $i) {
                                            echo '<option selected value="' . $i . '">' . $i . '</option>';
                                        } else {
                                            echo '<option value="' . $i . '">' . $i . '</option>';
                                        }
                                    }
                                    for ($i = 28; $i < 44; $i += 2) {
                                        if ($per->per_tpa == $i) {
                                            echo '<option selected value="' . $i . '">' . $i . '</option>';
                                        } else {
                                            echo '<option value="' . $i . '">' . $i . '</option>';
                                        }
                                    }
                                    ?>
                                </select>
                            </td>
                            <td>Talla Zapatos *</td>
                            <td>
                                <select name="per_tza" id="per_tza" class="required">
                                    <option value="">Seleccione</option>
                                    <?
                                    for ($i = 35; $i < 48; $i++) {
                                        if ($per->per_tza == $i) {
                                            echo '<option selected value="' . $i . '">' . $i . '</option>';
                                        } else {
                                            echo '<option value="' . $i . '">' . $i . '</option>';
                                        }
                                    }
                                    ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>Grupo Social</td>
                            <td>
                                <input type="text" name="per_gso" id="per_gso" value="<?= $per->per_gso ?>">
                            </td>
                            <td>Grupo Étnico</td>
                            <td>
                                <select name="per_get" id="per_get">
                                    <option value="">Seleccione</option>
                                    <option <?php if ($per->per_get == "Afrocolombiano") echo "selected"; ?>
                                            value="Afrocolombiano">Afrocolombiano
                                    </option>
                                    <option <?php if ($per->per_get == "Indígena") echo "selected"; ?> value="Indígena">
                                        Indígena
                                    </option>
                                    <option <?php if ($per->per_get == "Raizal") echo "selected"; ?> value="Raizal">
                                        Raizal
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>No. Hermanos</td>
                            <td>
                                <input type="text" name="per_her" id="per_her" class="SoloNumeros" value="<?= $per->per_her ?>">
                            </td>
                            <td>No. de Hijos *</td>
                            <td>
                                <input type="text" name="per_hij" id="per_hij" class="required SoloNumeros"
                                       value="<?= $per->per_hij ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>No. Personas a Cargo *</td>
                            <td>
                                <input type="text" name="per_pac" id="per_pac" class="required SoloNumeros"
                                       value="<?= $per->per_pac ?>">
                            </td>
                            <td colspan="2"></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <h3 class="titulo">Test General</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>¿Cuál es su aspiración salarial? *</td>
                            <td>
                                <input type="text" name="per_asp" id="per_asp" class="required"
                                       value="<?= $per->per_asp ?>">
                            </td>
                            <td>¿Tiene disponibilidad para realizar turnos? *</td>
                            <td>
                                <select name="per_tur" id="per_tur" class="required">
                                    <option value="">Seleccione</option>
                                    <option <? if ($per->per_tur == "SI") {
                                        echo "selected";
                                    } ?> value="SI">SI
                                    </option>
                                    <option <? if ($per->per_tur == "NO") {
                                        echo "selected";
                                    } ?> value="NO">NO
                                    </option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>¿Tiene disponibilidad inmediata? *</td>
                            <td>
                                <select name="per_din" id="per_din" class="required">
                                    <option value="">Seleccione</option>
                                    <option <? if ($per->per_din == "SI") {
                                        echo "selected";
                                    } ?> value="SI">SI
                                    </option>
                                    <option <? if ($per->per_din == "NO") {
                                        echo "selected";
                                    } ?> value="NO">NO
                                    </option>
                                </select>
                            </td>
                            <td>Fuente de reclutamiento</td>
                            <td>
                                <select name="per_fre" id="per_fre" disabled="true">
                                    <option value="">Seleccione</option>
                                    <?
                                    foreach ($fuentes as $key => $fue) {
                                        if ($per->per_fre == $fue->tip_cod) {
                                            echo '<option selected value="' . $fue->tip_cod . '">' . $fue->tip_des . '</option>';
                                        } else {
                                            echo '<option value="' . $fue->tip_cod . '">' . $fue->tip_des . '</option>';
                                        }
                                    }
                                    ?>
                                </select>
                                <input type="text" style="display: none" name="per_otr" id="per_otr"
                                       value="<?= $per->per_otr ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>N°. Tarjeta Profesional</td>
                            <td>
                                <input type="text" name="per_tpr" id="per_tpr" value="<?= $per->per_tpr ?>">
                            </td>
                            <td>Nivel de Escolaridad *</td>
                            <td>
                                <select name="per_niv" id="per_niv" class="required">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($niveles as $reg): ?>
                                        <option value="<?= $reg->tip_cod ?>" <?php if ($reg->tip_cod == $per->per_niv) echo "selected='selected'" ?> ><?= $reg->tip_des ?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <h3 class="titulo">Datos Documentos</h3>
                            </td>
                        </tr>
                        <tr>
                            <td>N°. Libreta Militar</td>
                            <td>
                                <input type="text" name="per_nlm" id="per_nlm" value="<?= $per->per_nlm ?>">
                            </td>
                            <td>Distrito</td>
                            <td>
                                <input type="text" name="per_dis" id="per_dis" value="<?= $per->per_dis ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>N°. Licencia de Conducir</td>
                            <td>
                                <input type="text" name="per_lco" id="per_lco" value="<?= $per->per_lco ?>">
                            </td>
                            <td>Categoría</td>
                            <td>
                                <input type="text" name="per_cat" id="per_cat" value="<?= $per->per_cat ?>">
                            </td>
                        </tr>
                        <tr>
                            <td>Contraseña</td>
                            <td>
                                <input type="password" name="per_con" id="per_con" value="<?= $per->per_con ?>">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" align="center">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <input style="font-size: 18pt" type="button" data-id="1"
                                       value="GUARDAR Y CONTINUAR LLENANDO HOJA DE VIDA" class="boton w100 guardar_h">
                            </td>
                        </tr>
                        <tr class="siguiente">
                            <td colspan="4">
                                <table class="form" id="segtabla" width="100%">
                                    <tr>
                                        <td colspan="4" align="center">
                                            <h3 class="titulo" style="font-size: 18pt">INSTRUCCIONES</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="center" style="font-size: 14pt">
                                            <b>En las siguientes secciones debe llenar la información solicitada y
                                                oprimir el botón <span style="color: red"> AGREGAR</span> para guardar
                                                cada registro.</b>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h3 class="titulo">Núcleo Familiar (Incluir todos los miembros de su núcleo
                                                familiar)</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nombre Completo</td>
                                        <td>
                                            <input type="text" name="hij_nom" id="hij_nom">
                                        </td>
                                        <td>Edad</td>
                                        <td>
                                            <input type="text" name="hij_eda" id="hij_eda">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Ocupación</td>
                                        <td>
                                            <input type="text" name="hij_ocu" id="hij_ocu">
                                        </td>
                                        <td>Parentesco</td>
                                        <td>
                                            <select name="hij_par" id="hij_par">
                                                <option value="">Seleccione</option>
                                                <option value="Cónyuge">Cónyuge</option>
                                                <option value="Hijo">Hijo</option>
                                                <option value="Padre">Padre</option>
                                                <option value="Madre">Madre</option>
                                                <option value="Hermano">Hermano</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right">
                                            <input type="button" value="Agregar Familiar" class="boton"
                                                   style="width: 100%; font-size: 16pt" id="btn_hij">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div id="res_hij">
                                                <table border="0" class="lista">
                                                    <th>Nombre</th>
                                                    <th>Ocupación</th>
                                                    <th>Parentesco</th>
                                                    <th>Edad</th>
                                                    <th>Acción</th>
                                                    <?php
                                                    foreach ($hijos as $hij) {
                                                        ?>
                                                        <tr>
                                                            <td><?= $hij->hij_nom ?></td>
                                                            <td><?= $hij->hij_ocu ?></td>
                                                            <td><?= $hij->hij_par ?></td>
                                                            <td><?= $hij->hij_eda ?></td>
                                                            <td><a href="#"
                                                                   onclick="eliminar('<?= $hij->hij_cod ?>', 'hijos')">Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h3 class="titulo">Estudios</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Entidad</td>
                                        <td>
                                            <input type="text" name="est_ent" id="est_ent">
                                        </td>
                                        <td>Titulo Obtenido</td>
                                        <td>
                                            <input type="text" name="est_pro" id="est_pro">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Finalización</td>
                                        <td>
                                            <input type="text" readonly="readonly" name="est_fec" id="est_fec"
                                                   class="fecha">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><input type="button" value="Agregar Estudio"
                                                                             style="width: 100%; font-size: 16pt"
                                                                             class="boton" id="btn_est"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div id="res_est">
                                                <table border="0" class="lista">
                                                    <th>Entidad</th>
                                                    <th>Titulo Obtenido</th>
                                                    <th>Fecha Finalización</th>
                                                    <th>Acción</th>
                                                    <?php
                                                    foreach ($estudios as $reg) {
                                                        ?>
                                                        <tr>
                                                            <td><?= $reg->est_ent ?></td>
                                                            <td><?= $reg->est_pro ?></td>
                                                            <td><?= $reg->est_fec ?></td>
                                                            <td><a href="#"
                                                                   onclick="eliminar('<?= $reg->est_cod ?>', 'estudios')">Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h3 class="titulo">Experiencia Laboral (Al menos las dos últimas)</h3>
                                            <p style="margin-top: 10px"><input
                                                        type="checkbox" <? if ($per->per_exp == 1) echo "checked"; ?>
                                                        name="che_exp"> Sin Experiencia</p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Entidad</td>
                                        <td>
                                            <input type="text" name="exp_emp" id="exp_emp">
                                        </td>
                                        <td>Cargo</td>
                                        <td>
                                            <input type="text" name="exp_car" id="exp_car">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Fecha Desde</td>
                                        <td>
                                            <input type="text" readonly="readonly" name="exp_ini" id="exp_ini"
                                                   class="fecha">
                                        </td>
                                        <td>Fecha Hasta</td>
                                        <td>
                                            <input type="text" readonly="readonly" name="exp_ffi" id="exp_ffi"
                                                   class="fecha">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Motivo de retiro</td>
                                        <td>
                                            <input type="text" name="exp_mot" id="exp_mot">
                                        </td>
                                        <td>Descripción de funciones</td>
                                        <td><textarea name="exp_des" id="exp_des" rows="10" maxlength="160"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><input type="button" value="Agregar Experiencia"
                                                                             style="width: 100%; font-size: 16pt"
                                                                             class="boton" id="btn_exp"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div id="res_exp">
                                                <table border="0" class="lista">
                                                    <th>Entidad</th>
                                                    <th>Cargo</th>
                                                    <th>Fecha Desde</th>
                                                    <th>Fecha Hasta</th>
                                                    <th>Motivo de Retiro</th>
                                                    <th>Funciones</th>
                                                    <th>Acción</th>
                                                    <?php
                                                    foreach ($experiencias as $reg) {
                                                        ?>
                                                        <tr>
                                                            <td><?= $reg->exp_emp ?></td>
                                                            <td><?= $reg->exp_car ?></td>
                                                            <td><?= $reg->exp_ini ?></td>
                                                            <td><?= $reg->exp_ffi ?></td>
                                                            <td><?= $reg->exp_mot ?></td>
                                                            <td><?= $reg->exp_des ?></td>
                                                            <td><a href="#"
                                                                   onclick="eliminar('<?= $reg->exp_cod ?>', 'experiencias')">Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <h3 class="titulo">Referencias Familiares y Personales (OBLIGATORIO indicar
                                                dos referencias)</h3>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nombre</td>
                                        <td>
                                            <input type="text" name="fam_nom" id="fam_nom">
                                        </td>
                                        <td>Relación</td>
                                        <td>
                                            <select name="fam_par" id="fam_par">
                                                <option value="">Seleccione</option>
                                                <option value="Familiar">Familiar</option>
                                                <option value="Amistad">Amistad</option>
                                                <option value="Laboral">Laboral</option>
                                            </select>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Teléfono</td>
                                        <td>
                                            <input type="text" name="fam_tel" id="fam_tel">
                                        </td>
                                        <td>Ocupación</td>
                                        <td>
                                            <input type="text" name="fam_ocu" id="fam_ocu">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4" align="right"><input type="button" value="Agregar Referencia"
                                                                             style="width: 100%; font-size: 16pt"
                                                                             class="boton" id="btn_ref"></td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div id="res_ref">
                                                <table border="0" class="lista">
                                                    <th>Nombre</th>
                                                    <th>Relación</th>
                                                    <th>Teléfono</th>
                                                    <th>Ocupación</th>
                                                    <th>Acción</th>
                                                    <?php
                                                    foreach ($referencias as $reg) {
                                                        ?>
                                                        <tr>
                                                            <td><?= $reg->fam_nom ?></td>
                                                            <td><?= $reg->fam_par ?></td>
                                                            <td><?= $reg->fam_tel ?></td>
                                                            <td><?= $reg->fam_ocu ?></td>
                                                            <td><a href="#"
                                                                   onclick="eliminar('<?= $reg->fam_cod ?>', 'referencias')">Eliminar</a>
                                                            </td>
                                                        </tr>
                                                    <?php } ?>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <input type="button" data-id="2" value="GUARDAR Y FINALIZAR"
                                                   style="width: 100%; font-size: 16pt" class="boton w100 guardar_h">
                                            <a target="_blank"
                                               href="<?= $this->url->get('Verhojadevida/index/' . $this->session->get('per_cod')) ?>"><input
                                                        type="button" data-id="2" value="VER HOJA DE VIDA"
                                                        style="width: 100%; font-size: 16pt; margin-top: 20px"
                                                        class="boton w100"></a>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <br>
                    <br>
                </div>
            </div>
            <div id="derecha">
                <?php $this->partial("shared/derecha") ?>
            </div>
        </div>
        <div id="pie">
            <?php $this->partial("shared/pie_postulantes") ?>
        </div>
    </div>
    <script type="text/javascript">
        // document.getElementById("configure").appendChild('click', function(){
        // 	webcam.configure();
        // }, false);
        jQuery(document).ready(function ($) {
            $(".SoloNumeros").keydown(function(event) {
                if(event.shiftKey) {
                    event.preventDefault();
                }
                if (event.keyCode == 46 || event.keyCode == 8)    {
                } else {
                    if (event.keyCode < 95) {
                        if (event.keyCode < 48 || event.keyCode > 57) {
                            event.preventDefault();
                        }
                    } else {
                        if (event.keyCode < 96 || event.keyCode > 105) {
                            event.preventDefault();
                        }
                    }
                }
            });

            $("#per_ciu").change(function () {
               if ($(this).val() == 149) {
                   $("#localidad").css('display', 'inline-block');
               } else {
                   $("#localidad").css('display', 'none');
               }
            });

            $("#capture").click(function (e) {
                /* Act on the event */
                if (!global_msg) {
                    alert("Debe darle permisos de grabación a su cámara web");
                    return false;
                }
                webcam.freeze();
                $("#capture").css('display', 'none');
                $("#subirF").css('display', 'inline');
                $("#tomarO").css('display', 'inline');

            });
            $("#tomarO").click(function (e) {
                /* Act on the event */
                $("#capture").css('display', 'inline');
                $("#subirF").css('display', 'none');
                $("#tomarO").css('display', 'none');
                webcam.reset();
            });

            $("#subirF").click(function (e) {
                /* Act on the event */
                webcam.upload();
                // location.href=$("#url_base").val();
                window.setInterval("actualizar();", 2000);
            });
        });
        function actualizar() {
            location.href = $("#url_base").val();
        }
    </script>
</form>
</body>
</html>
