
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resultados PNL</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

	 <script>
	 	function AbrirModal(){
			$(".negro").css("display", "block")
			$("#modal_documentos").css("display", "block")
			
		}

		function cerrarModal(){
			$(".negro").css("display", "none")
			$("#modal_documentos").css("display", "none")


		}
	 </script>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarValoracion/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarValoracion/consultar') ?>">
<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get(
'VerPNL/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarValoracion/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
				<a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
				<div style="padding-left:0px;color:#f0584a">Resultado PNL <div onclick="eliminarPrueba('<?=$pnl?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
				<div id="modal_documentos" style="background-color:white;">
					<?
						$fotos = Fotos::find("fot_pru='PNL' AND per_cod=".$persona->per_cod);
						foreach ($fotos as $key => $fot) {
							?>
								<center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
							<?
						}
					?>
				</div>

					<div class="consulta">
						<!-- <p>Resultados PNL</p> -->
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>
					<br>
					
					<?php  
						$registros  = PreguntasPnl::obtenerRespuesta(1, $persona->per_cod);
						if (count($registros) == 0) {
							echo "El aspirante no ha realizado la prueba";
							return false;
						}
						foreach ($registros as  $reg) {
							$v1 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(3, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v3 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(6, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v6 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(9, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v9 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(10, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v10 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(11, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v11 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(14, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v14 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(16, $persona->per_cod);
						foreach ($registros as  $reg) {
							$v16 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(2, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k2 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(5, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k5 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(12, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k12 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(15, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k15 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(17, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k17 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(21, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k21 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(23, $persona->per_cod);
						foreach ($registros as  $reg) {
							$k23 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(4, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a4 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(7, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a7 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(8, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a8 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(13, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a13 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(19, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a19 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(22, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a22 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(24, $persona->per_cod);
						foreach ($registros as  $reg) {
							$a24 = $reg->respuesta;
						}

						//SRPL1
						//25
						$A=0;
						$V=0;
						$K=0;

						$registros  = PreguntasPnl::obtenerRespuesta(25, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl1 = $reg->rpn_enu;
						}

						if($srpl1=="A"){
							 $A=$A+1;
						}

						if($srpl1=="B"){
							 $V=$V+1;
						}

						if($srpl1=="C"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(26, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl2 = $reg->rpn_enu;
						}

						if($srpl2=="B"){
							 $A=$A+1;
						}

						if($srpl2=="C"){
							 $V=$V+1;
						}

						if($srpl2=="A"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(27, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl3 = $reg->rpn_enu;
						}

						if($srpl3=="A"){
							 $A=$A+1;
						}

						if($srpl3=="B"){
							 $V=$V+1;
						}

						if($srpl3=="C"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(28, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl4 = $reg->rpn_enu;
						}

						if($srpl4=="C"){
							 $A=$A+1;
						}

						if($srpl4=="B"){
							 $V=$V+1;
						}

						if($srpl4=="A"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(29, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl5 = $reg->rpn_enu;
						}

						if($srpl5=="B"){
							 $A=$A+1;
						}

						if($srpl5=="A"){
							 $V=$V+1;
						}

						if($srpl5=="C"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(30, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl6 = $reg->rpn_enu;
						}

						if($srpl6=="A"){
							 $A=$A+1;
						}

						if($srpl6=="C"){
							 $V=$V+1;
						}

						if($srpl6=="B"){
							 $K=$K+1;;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(31, $persona->per_cod);
						foreach ($registros as  $reg) {
							$srpl7 = $reg->rpn_enu;
						}

						if($srpl7=="C"){
							 $A=$A+1;
						}

						if($srpl7=="B"){
							 $V=$V+1;
						}

						if($srpl7=="A"){
							 $K=$K+1;;
						}

						//CANAL D APRENDIZAJE

						$registros  = PreguntasPnl::obtenerRespuesta(32, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal1 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(33, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal2 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(34, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal3 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(35, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal4 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(36, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal5 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(37, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal6 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(38, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal7 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(39, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal8 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(40, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal9 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(41, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal10 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(42, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal11 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(43, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal12 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(44, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal13 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(45, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal14 = $reg->respuesta;
						}

						$registros  = PreguntasPnl::obtenerRespuesta(46, $persona->per_cod);
						foreach ($registros as  $reg) {
							$canal15 = $reg->respuesta;
						}

						$CA = $canal2 + $canal4 + $canal7 + $canal9  + $canal13;
						$CV = $canal1 + $canal6 + $canal10 + $canal12  + $canal15;
						$CK = $canal3 + $canal5 + $canal8 + $canal11  + $canal14;

					?>

					<br>

					<table width="80%" border="0" class="form">
  
						  <tr align="center">
						    <th class="visual">1</th>
						    <th class="visual">3</th>
						    <th class="visual">6</th>
						    <th class="visual">9</th>
						    <th class="visual">10</th>
						    <th class="visual">11</th>
						    <th class="visual">14</th>
						    <th class="visual">16</th>
						    <th class="visual">T</th>
						    <th class="auditivo">2</th>
						    <th class="auditivo">5</th>
						    <th class="auditivo">12</th>
						    <th class="auditivo">15</th>
						    <th class="auditivo">17</th>
						    <th class="auditivo">21</th>
						    <th class="auditivo">23</th>
						    <th class="auditivo">T</th>
						    <th class="kines">4</th>
						    <th class="kines">7</th>
						    <th class="kines">8</th>
						    <th class="kines">13</th>
						    <th class="kines">19</th>
						    <th class="kines">22</th>
						    <th class="kines">24</th>
						    <th class="kines">T</th>
						    <th class="auditivo">A</th>
						    <th class="visual">V</th>
						    <th class="kines">K</th>
						    </tr>
						  <?php
						  $TV=$v1 + $v3 + $v6 + $v9 + $v10 + $v11 + $v14 + $v16;
						  $TA = $k2 + $k5 + $k12 + $k15 + $k17 + $k21 + $k23;
						  $TK = $a4 + $a7 + $a8 + $a13 + $a19 + $a22 + $a24;
						  ?>
						    <tr align="center">
						    <td><?php echo $v1?></td>
						    <td><?php echo $v3?></td>
						    <td><?php echo $v6?></td>
						    <td><?php echo $v9?></td>
						    <td><?php echo $v10?></td>
						    <td><?php echo $v11?></td>
						    <td><?php echo $v14?></td>
						    <td><?php echo $v16?></td>
						    <td><?php echo $v1 + $v3 + $v6 + $v9 + $v10 + $v11 + $v14 + $v16?></td>
						    <td><?php echo $k2?></td>
						    <td><?php echo $k5?></td>
						    <td><?php echo $k12?></td>
						    <td><?php echo $k15?></td>
						    <td><?php echo $k17?></td>
						    <td><?php echo $k21?></td>
						    <td><?php echo $k23?></td>
						    <td><?php echo $k2 + $k5 + $k12 + $k15 + $k17 + $k21 + $k23 ?></td>
						    <td><?php echo $a4?></td>
						    <td><?php echo $a7?></td>
						    <td><?php echo $a8?></td>
						    <td><?php echo $a13?></td>
						    <td><?php echo $a19?></td>
						    <td><?php echo $a22?></td>
						    <td><?php echo $a24?></td>
						    <td><?php echo $a4 + $a7 + $a8 + $a13 + $a19 + $a22 + $a24 ?></td>
						    <td><?php echo $A?></td>
						    <td><?php echo $V?></td>
						    <td><?php echo $K?></td>
						    <?php
						    $total_v = $TV + $V + $CV;
							$total_a = $TA + $A + $CA;
							$total_k = $TK + $K + $CK;

							$prom_v_a = ($total_v+$total_a)/2;
							$prom_v_k = ($total_v+$total_k)/2;
							$prom_a_k = ($total_a+$total_k)/2;


						    ?>
						  </tr>


					</table>
					<br>
					<table width="80%" border="0" class="form">
 
					  <tr align="center">
					    <th class="auditivo">A</th>
					    <th class="visual">V</th>
					    <th class="kines">K</th>
					  </tr>
					  <?php
					  $TV=$v1 + $v3 + $v6 + $v9 + $v10 + $v11 + $v14 + $v16;
					  $TA = $k2 + $k5 + $k12 + $k15 + $k17 + $k21 + $k23;
					  $TK = $a4 + $a7 + $a8 + $a13 + $a19 + $a22 + $a24;
					  ?>
					  <tr align="center">
					    <td><?php echo $CA?></td>
					    <td><?php echo $CV?></td>
					    <td><?php echo $CK?></td>
					    <?php
					    $total_v = $TV + $V + $CV;
						$total_a = $TA + $A + $CA;
						$total_k = $TK + $K + $CK;

						$prom_v_a = ($total_v+$total_a)/2;
						$prom_v_k = ($total_v+$total_k)/2;
						$prom_a_k = ($total_a+$total_k)/2;


					    ?>
					  </tr>
					</table>

					<br>

					<table width="80%" border="0" class="form">
 					<br>
					  <tr align="center">
					    <th class="visual">VISUAL</th>
					    <th class="auditivo">AUDITIVO</th>
					    <th class="kines">KINESTESICO</th>
					  </tr>
					  <?php
					  $TV=$v1 + $v3 + $v6 + $v9 + $v10 + $v11 + $v14 + $v16;
					  $TA = $k2 + $k5 + $k12 + $k15 + $k17 + $k21 + $k23;
					  $TK = $a4 + $a7 + $a8 + $a13 + $a19 + $a22 + $a24;
					  ?>
					  <tr align="center">
					    <td><?php echo $TV + $V + $CV?></td>
					    <td><?php echo $TA + $A + $CA?></td>
					    <td><?php echo $TK + $K + $CK?></td>
					    <?php
					    $total_v = $TV + $V + $CV;
						$total_a = $TA + $A + $CA;
						$total_k = $TK + $K + $CK;

						$prom_v_a = ($total_v+$total_a)/2;
						$prom_v_k = ($total_v+$total_k)/2;
						$prom_a_k = ($total_a+$total_k)/2;


					    ?>
					  </tr>
					</table>

					<br>

					<?php 

					// RESPUESTA PERFIL1

if($total_k>$prom_v_a){
		echo "<p class='concepto'>Tú eres principalmente KINESTÉSICO, esto es, gran parte de las representaciones del mundo que tienes están relacionadas con el sentido del tacto. Aunque también utilizas los otros sistemas de representación, como el visual, auditivo, el predominante en ti es el Kinestésico. Las principales características: demuestran su sensibilidad y expresan espontáneamente sus sentimientos. Es muy importante para estas personas la comodidad física. Miran generalmente hacia abajo para calibrar sus sentimientos.
Forma de captar la realidad: A través de las sensaciones táctiles. Recuerdan sobre la base de sentimientos.
Movimiento de ojos: Hacia abajo.
Movimiento corporal: Caminan de forma despreocupada.
Conversación: Utilizan frases como ''tengo la sensación de que...'' y ''parece frío''.
Respiración: Baja en el vientre. Poseen voces profundas.
Apariencia personal: Visten holgadamente.
Aprendizaje Kinestésico
Los alumnos y alumnas Kinestésico/as aprenden preferentemente al interactuar físicamente con el material educativo.
Para aprender necesitan asociar los contenidos con movimientos o sensaciones corporales. De este modo, en una clase expositiva, se balancearán en su silla, intentarán levantarse, la pasarán haciendo garabatos o dibujitos, etc.
Sus aprendizajes son más lentos, y se desempeñan mejor en tareas de tiempo limitado y con descansos frecuentes.
Las actividades físicas, el dibujo y la pintura, los experimentos de laboratorio, los juegos de rol, mejoran su aprendizaje.
Pueden recordar mejor lo que hacen en lugar de lo que ven o escuchan.
Poseen la manera menos eficiente para almacenar información académica y la mejor para almacenar información que tenga que ver con lo deportivo y artístico.
</p>";
	}

/*if($total_a>$prom_v_k){
		echo "<p>Tú eres principalmente AUDITIVO</p>";
	}*/

if($total_v>$prom_a_k){
		echo "<p class='concepto'>Tú eres principalmente VISUAL, esto es, gran parte de las representaciones del mundo que tienes están relacionadas con el sentido de la vista. Aunque también utilizas los otros sistemas de representación, como el auditivo, Kinestésico, el predominante en ti es el visual. Las principales características: entienden el mundo como lo ven; al recordar algo lo hacen en forma de imágenes, al imaginar el futuro, lo visualizan. Se caracterizan por su organización; les gusta controlar las cosas para asegurarse que estén en su lugar correcto.
Forma de captar la realidad: A través de los ojos. Recuerda sobre la base de imágenes.
Movimiento de ojos: Hacia arriba en algunas personas, ligeramente fuera de foco.
Movimiento corporal: Movimientos rápidos. Al caminar dan la impresión de buscar algo.
Conversación: Utilizan frases como ''ya veo a que te refieres'' y ''capto la imagen''.
Respiración: Ligeramente entrecortada, a nivel de la parte superior del pecho. Poseen voces de tonos altos.
Apariencia personal: Se visten muy bien, generalmente a la moda y su ropa está siempre limpia y arreglada.
Aprendizaje visual
Se aprende preferentemente a través del contacto visual con el material educativo.
Se piensa en imágenes; quien aprende así es capaz de traer a la mente mucha información a la vez, por ello tienen más facilidad para absorber grandes cantidades de información con rapidez.
La costumbre de visualizar ayuda a establecer relaciones entre distintas ideas y conceptos, por lo cual desarrollan una mayor capacidad de abstracción.
Las representaciones visuales del material, como gráficos, cuadros, láminas, carteles y diagramas mejoran este tipo de aprendizaje.
Videos, películas o programas de computación también mejoran este aprendizaje.
Se recuerda mejor lo que leído que lo que escuchado.
La manera más eficiente de almacenar información es visual (en una clase con retroproyector, por ejemplo, preferirán leer las fotocopias o transparencias a seguir la explicación oral, o tomarán notas para tener después algo que leer).
</p>";
	}

/*if($total_v=$prom_v_k){
	echo "TEXTO4";
}else{
	echo "NO"	;
}*/


//RESPUESTA PERFIL 2
//A44
if($total_k<$prom_v_a){
	echo "<p class='concepto'>Tú eres principalmente VISUAL-AUDITIVO, esto es, gran parte de las representaciones del mundo que tienes están relacionadas con el sentido de la vista-oído. Aunque también utilizas el otro sistema de representación, como el Kinestésico, el predominante en ti es el visual-auditivo. Las principales características:
Forma de captar la realidad: A través de los ojos-oído. Recuerda sobre la base de imágenes-sonidos.
Movimiento de ojos: Hacia arriba en algunas personas, ligeramente fuera de foco, también hacia los lados.
Movimiento corporal: Movimientos rápidos. Al caminar dan la impresión de buscar algo.
Conversación: Utilizan frases como '' ya veo a que te refieres '' y '' capto la imagen '' o eso suena bien y te oigo claramente.
Respiración: Ligeramente entrecortada, a nivel de la parte superior del pecho. Poseen voces de tonos altos, pero melodiosas.
Apariencia personal: Se visten muy bien, generalmente a la moda y su ropa está siempre limpia y arreglada. Son conservadores.
Aprendizaje visual
Se aprende preferentemente a través del contacto visual con el material educativo.
Se piensa en imágenes; quien aprende así es capaz de traer a la mente mucha información a la vez, por ello tienen más facilidad para absorber grandes cantidades de información con rapidez.
La costumbre de visualizar ayuda a establecer relaciones entre distintas ideas y conceptos, por lo cual desarrollan una mayor capacidad de abstracción.
Las representaciones visuales del material, como gráficos, cuadros, láminas, carteles y diagramas mejoran este tipo de aprendizaje.
Videos, películas o programas de computación también mejoran este aprendizaje.
Se recuerda mejor lo que leído que lo que escuchado.
La manera más eficiente de almacenar información es visual (en una clase con retroproyector, por ejemplo, preferirán leer las fotocopias o transparencias a seguir la explicación oral, o tomarán notas para tener después algo que leer).
Aprendizaje auditivo
Quien tiene más desarrollado este tipo de aprendizaje, aprende preferentemente escuchando el material educativo.
Piensa y recuerda de manera secuencial y ordenada, por lo que prefiere los contenidos orales y los asimila mejor cuando pueden explicárselos a otra persona.
Responden con éxito al estilo de enseñanza más frecuente en el sistema escolar, ya que se adaptan con facilidad al formato de la clase expositiva.
Tienen una gran capacidad para aprender idiomas y/o música.
El Cd y discos, las discusiones en público y las lecturas en voz alta, mejoran su aprendizaje.
Recuerdan mejor lo que escuchan que lo que leen.
Su manera de almacenar información es transfiriendo lo auditivo a un medio visual (el almacenamiento auditivo suele ser menos eficiente).</p>";



}

//A43
if($total_a<$prom_v_k){
	echo "<p class='concepto'>Tú eres principalmente VISUAL-KINESTÉSICO, esto es, gran parte de las representaciones del mundo que tienes están relacionadas con el sentido de la vista-tacto. Aunque también utilizas el otro sistema de representación, como el auditivo, el predominante en ti es el visual-Kinestésico. Las principales características
Forma de captar la realidad: A través de los ojos-tacto. Recuerda sobre la base de imágenes- movimientos base de los sentimientos.
Movimiento de ojos: Hacia arriba en algunas personas, ligeramente fuera de foco o hacia abajo.
Movimiento corporal: Movimientos rápidos. Al caminar dan la impresión de buscar algo. Caminan de forma despreocupada.
Conversación: Utilizan frases como ''ya veo a que te refieres'' y ''capto la imagen'', también es usual frases como ''tengo la sensación de que...'' y ''parece frío''.
Respiración: Ligeramente entrecortada, a nivel de la parte superior del pecho. Poseen voces de tonos altos y de voces profundas.
Apariencia personal: Se visten muy bien, generalmente a la moda y su ropa está siempre limpia y arreglada. Prefieren ropa holgada.
Aprendizaje visual-kinestésico
Se aprende preferentemente a través del contacto visual con el material educativo y aprenden preferentemente al interactuar físicamente con el material educativo.
Se piensa en imágenes; quien aprende así es capaz de traer a la mente mucha información a la vez, por ello tienen más facilidad para absorber grandes cantidades de información con rapidez.
La costumbre de visualizar ayuda a establecer relaciones entre distintas ideas y conceptos, por lo cual desarrollan una mayor capacidad de abstracción.
Las representaciones visuales del material, como gráficos, cuadros, láminas, carteles y diagramas mejoran este tipo de aprendizaje.
Videos, películas o programas de computación también mejoran este aprendizaje. Se recuerda mejor lo que leído que lo que escuchado.
Las actividades físicas, el dibujo y la pintura, los experimentos de laboratorio, los juegos de rol, mejoran su aprendizaje. Pueden recordar mejor lo que hacen en lugar de lo que ven o escuchan.</p>";

}

//A45
if($total_v<$prom_v_a){
	echo "<p class='concepto'>Tú eres principalmente AUDITIVO-KINESTÉSICO, esto es, gran parte de las representaciones del mundo que tienes están relacionadas con el sentido del oído-tacto. Aunque también utilizas el otro sistema de representación, como el visual, el predominante en ti es el auditivo-Kinestésico. Las principales características
Los individuos auditivos son más bien sedentarios, cerebrales y de mucha vida interior. Generalmente prefieren hablar de algo que les interesa en lugar de mostrarlo. Son grandes conversadores y tienen la capacidad de organizar sus ideas en medio de un debate lógico.
Forma de captar la realidad: A través de los oídos. Recuerda sobre la base de sonidos.
Movimiento de ojos: Hacia los lados y siempre a la altura de los oídos.
Movimiento corporal: Tendencias sedentarias.
Conversación: Utilizan frases como 'eso suena bien' y 'te oigo claramente'.
Respiración: Ritmo uniforme a nivel de medio pecho. Poseen voces melodiosas.
Apariencia personal: Prefieren ropa conservadora y más bien elegante.
Los individuos Kinestésico demuestran su sensibilidad y expresan espontáneamente sus sentimientos. Es muy importante para estas personas la comodidad física. Miran generalmente hacia abajo para calibrar sus sentimientos.
Forma de captar la realidad: A través de las sensaciones táctiles. Recuerdan sobre la base de sentimientos.
Movimiento de ojos: Hacia abajo.
Movimiento corporal: Caminan de forma despreocupada.
Conversación: Utilizan frases como 'tengo la sensación de que...' y 'parece frío'.
Respiración: Baja en el vientre. Poseen voces profundas.
Apariencia personal: Visten holgadamente.</p>";

}

/*if($total_v=$prom_v_k){
	echo "TEXTO4";
}else{
	echo "NO"	;
}*/ ?>

					
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


