
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resultado Caras</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

		 <script>
	 	function AbrirModal(){
			$(".negro").css("display", "block")
			$("#modal_documentos").css("display", "block")
			
		}

		function cerrarModal(){
			$(".negro").css("display", "none")
			$("#modal_documentos").css("display", "none")


		}
	 </script>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarValoracion/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarValoracion/consultar') ?>">
<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get(
'VerCaras/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarValoracion/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
				<a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
				<div style="padding-left:0px;color:#f0584a">Resultado Caras <div onclick="eliminarPrueba('<?=$caras?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
				<div id="modal_documentos" style="background-color:white;">
					<?
						$fotos = Fotos::find("fot_pru='CARAS' AND per_cod=".$persona->per_cod);
						foreach ($fotos as $key => $fot) {
							?>
								<center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
							<?
						}
					?>
				</div>

					<div class="consulta">
						<!-- <p>Resultado Caras</p> -->
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>
					<br>
					

					<br>

					<?php 
					$contA = 0;
					$contE = 0;
					$i=0;
					$E3=0;
					$AE1=0;
					$porc_def ="";
					$porc_total="";

					$registros = CarasPre::respuestasPos($persona->per_cod);
					// echo count($registros);
					if (count($registros) > 0) {
					foreach ($registros as  $reg) {

						//1
						if($reg->pregunta=="1"){
							if($reg->Rta_Aspirante=="3"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="2"){
							if($reg->Rta_Aspirante=="5"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="3"){
							if($reg->Rta_Aspirante=="8"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="4"){
							if($reg->Rta_Aspirante=="11"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}	

						if($reg->pregunta=="5"){
							if($reg->Rta_Aspirante=="15"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="6"){
							if($reg->Rta_Aspirante=="18"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="7"){
							if($reg->Rta_Aspirante=="20"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="8"){
							if($reg->Rta_Aspirante=="24"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="9"){
							if($reg->Rta_Aspirante=="25"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="10"){
							if($reg->Rta_Aspirante=="30"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="11"){
							if($reg->Rta_Aspirante=="31"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}	

						if($reg->pregunta=="12"){
							if($reg->Rta_Aspirante=="36"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}	

						if($reg->pregunta=="13"){
							if($reg->Rta_Aspirante=="38"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}

						if($reg->pregunta=="14"){
							if($reg->Rta_Aspirante=="40"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							
						}		

						if($reg->pregunta=="15"){
							if($reg->Rta_Aspirante=="44"){
								$contA+=1;
							}else{
								$contE-=1;
							}		
							$E15 = $contE;
							$contE=0;
						}

						if($reg->pregunta=="16"){
							if($reg->Rta_Aspirante=="47"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}										


						if($reg->pregunta=="17"){
							if($reg->Rta_Aspirante=="50"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="18"){
							if($reg->Rta_Aspirante=="53"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}

						if($reg->pregunta=="19"){
							if($reg->Rta_Aspirante=="57"){
								$contA+=1;
							}	
							else{
								$contE-=1;
							}
							
						}

						if($reg->pregunta=="20"){
							if($reg->Rta_Aspirante=="58"){
								$contA+=1;
							}	
							else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="21"){
							if($reg->Rta_Aspirante=="62"){
								$contA+=1;
							}	
							else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="22"){
							if($reg->Rta_Aspirante=="65"){
								$contA+=1;
							}	
							else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="23"){
							if($reg->Rta_Aspirante=="67"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}	


						if($reg->pregunta=="24"){
							if($reg->Rta_Aspirante=="70"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}

						if($reg->pregunta=="25"){
							if($reg->Rta_Aspirante=="73"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="26"){
							if($reg->Rta_Aspirante=="76"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}		

						if($reg->pregunta=="27"){
							if($reg->Rta_Aspirante=="79"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}		

						if($reg->pregunta=="28"){
							if($reg->Rta_Aspirante=="84"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}

						if($reg->pregunta=="29"){
							if($reg->Rta_Aspirante=="85"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							
						}	

						if($reg->pregunta=="30"){
							if($reg->Rta_Aspirante=="90"){
								$contA+=1;
							}else{
								$contE-=1;
							}
							$E30 = $contE;
							$contE=0;
						}	

						if($reg->pregunta=="31"){
			
							if($reg->Rta_Aspirante=="92"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="32"){
							if($reg->Rta_Aspirante=="95"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}
						}	


						if($reg->pregunta=="33"){
							if($reg->Rta_Aspirante=="97"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="34"){
							if($reg->Rta_Aspirante=="100"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	

						if($reg->pregunta=="35"){
							if($reg->Rta_Aspirante=="104"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="36"){
							if($reg->Rta_Aspirante=="108"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="37"){
							if($reg->Rta_Aspirante=="109"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}		


						if($reg->pregunta=="38"){
							if($reg->Rta_Aspirante=="112"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="39"){
							if($reg->Rta_Aspirante=="116"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}		


						if($reg->pregunta=="40"){
							if($reg->Rta_Aspirante=="120"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	

						if($reg->pregunta=="41"){
							if($reg->Rta_Aspirante=="122"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	

						if($reg->pregunta=="42"){
							if($reg->Rta_Aspirante=="125"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	

						if($reg->pregunta=="43"){
							if($reg->Rta_Aspirante=="129"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="44"){
							if($reg->Rta_Aspirante=="132"){
								$contA+=1;
							}else{
								$contE-=1;
								
							}	
							
						}	


						if($reg->pregunta=="45"){
							if($reg->Rta_Aspirante=="135"){
								$contA+=1;
							}else{
								$contE-=1;
								$E3-=1;
							}	
							$E45 = $contE;
							$contE=0;
							
						}	

						if($reg->pregunta=="46"){
								if($reg->Rta_Aspirante!="0"){
							if($reg->Rta_Aspirante=="137"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
								}
						}	


						if($reg->pregunta=="47"){
							if($reg->Rta_Aspirante!="0"){
							if($reg->Rta_Aspirante=="140"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							}
							
						}	


						if($reg->pregunta=="48"){
							if($reg->Rta_Aspirante!="0"){
							if($reg->Rta_Aspirante=="142"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							}
							
						}	

						if($reg->pregunta=="49"){
							if($reg->Rta_Aspirante!="0"){
							if($reg->Rta_Aspirante=="145"){
								$contA+=1;
							}else{
								$contE-=1;
							}	
							}
							
						}	

							if($reg->pregunta=="50"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="148"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	


							if($reg->pregunta=="51"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="151"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	

							if($reg->pregunta=="52"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="155"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
							}

							if($reg->pregunta=="53"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="158"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	


							if($reg->pregunta=="54"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="162"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}		


							if($reg->pregunta=="55"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="164"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	

							if($reg->pregunta=="56"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="168"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	

							if($reg->pregunta=="57"){
								if($reg->Rta_Aspirante!="0"){
									if($reg->Rta_Aspirante=="171"){
										$contA+=1;
									}else{
										$contE-=1;
									}	
								}
								
							}	

							if($reg->pregunta=="58"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="172"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}	


							if($reg->pregunta=="59"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="176"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								}
								
							}

							if($reg->pregunta=="60"){
								if($reg->Rta_Aspirante!="0"){
								if($reg->Rta_Aspirante=="178"){
									$contA+=1;
								}else{
									$contE-=1;
								}	
								
							}	
								$E60 = $contE;
							}	

					 	
					}
				


					//echo "sdasdsa ".$contA." ".$E15." ".$E30." ".$E45." ".$E60;
	
	$A = $contA;
	$E = $E15 + $E30 + $E45 + $E60;
	// echo $E15 . "<br>" . $E30 . "<br>" . $E45 . "<br>" . $E60 . "<br>";
	//echo $A." ".$E;
	
	$AE = 	$A - $E;
	
	$P_AE = $A + $E;
	
	
	
	/*NOTAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA*/
		if($P_AE==0){
			$P_AE = $P_AE-1;
		}
	
	
	/**///////////////////////
	
	$PORC =	($AE/$P_AE)*100;
	//echo $PORC;
	
	// echo "A ".$contA."<BR>";
	// echo "B ".$contE."<BR>";	
	// echo "AE  ".$AE."<BR>";
	// return false;
	switch($A) {
		case($A<20):
			$AE1=1;
		break;
		
		case($A<25):
			$AE1=2;
		break;
		
		case($A<29):
			$AE1=3;
		break;
		
		case($A<33):
			$AE1=4;
		break;
		
		case($A<38):
			$AE1=5;
		break;
		
		case($A<41):
			$AE1=6;
		break;
		
		case($A<45):
			$AE1=7;
		break;
		
		case($A<49):
			$AE1=8;
		break;
		
		case($A<61):
			$AE1=9;
		break;
		
		default:echo"<br> NO!"; 
	}
	
	//echo "AE1----      ".$AE1;
	
	if($AE1<5){
		$perfil= "<p>El sujeto tiene una baja capacidad visoperceptiva y atencional. No realiza juicios de semejanza /diferencia adecuados y no presta la sufi ciente atención a los detalles. Si el número de aciertos es muy bajo sería recomendable comprobar que el sujeto ha comprendido correctamente las instrucciones o que no han podido infl uir otras variables como el cansancio o la falta de motivación. En las tareas que impliquen una percepción visual rápida y precisa, obtendrá un nivel de rendimiento por debajo de lo esperable.</p>";
		$perfil_def ="INEFICAZ";
		}else if($AE1<8){
			$perfil= "<p>Refleja una adecuada capacidad visoperceptiva y atencional. El sujeto será capaz de atender a los detalles y de realizar un número adecuado de juicios correctos, sin cometer muchos errores.</p>";
			$perfil_def ="EFICAZ -";
		}else if($AE1<10){
			$perfil= "<p>El sujeto procesa de forma rápida los detalles de los estímulos visuales y es preciso en los juicios que realiza. Comete pocos errores y responde correctamente a un alto número de ítems. En las tareas que impliquen una percepción visual rápida y precisa, obtendrá un rendimiento muy bueno.</p>";
			$perfil_def ="EFICAZ +";
			}
// EL PORCENTAJE             
            
            if($PORC<56){
		$porc_total= "<p>El sujeto es impulsivo en la ejecución de la tarea, no es reflexivo a la hora de realizar los juicios de semejanza/diferencia. Una falta de control inhibitorio conlleva la comisión de un alto número de errores y de aciertos por azar.</p>";
		$porc_def ="IMPULSIVO";
		}else if($PORC<802){
			$porc_total= "<p>El sujeto tiene un adecuado control de la impulsividad, similar a la media de la población, ejecutando de forma reflexiva la tarea y, por ende, cometiendo pocos errores. No supedita la correcta ejecución de la tarea a la rapidez.</p> ";
			$porc_def ="NO IMPULSIVO";
			}else{
				echo "NO";
			}

					 ?>
					<center>
						<table width="600" border="0" class="form">
	         
					           <tr>
					            <td align="center" >&nbsp;</td>
					          </tr>
					          <tr>
					            <td align="center"><strong>El perfil es:</strong> <?php echo $perfil_def; ?></td>
					          </tr>
					          <tr>
					            <td align="justify"><?php echo $perfil ?></td>
					          </tr>
					          <!-- <tr>
					            <td align="justify"><?php echo $porc_total ?></td>
					          </tr> -->
					    </table>
				    </center>
					<br>
					<br>
					<br>
					<?php } else {
						echo "El aspirante no ha realizado la prueba";
						} ?>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


