<p class="titulo_gris"><img src="<?php echo $this->url->get()?>/img/icon_ayuda.png"> ¿Necesitas Ayuda?</p>
<div id="explicacion">
	Este es el módulo de registros, en donde usted como administrador de la plataforma podrá ingresar nuevas hojas de vida. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem pretium. Integer:
	<ul>
		<li><a href="#">+ Registro de hoja de Vida</a></li>
		<li><a href="#">+ Registro de Vacantes</a></li>
		<li><a href="#">+ Registro de Empresas</a></li>
		<li><a href="#">+ Registro de Proveedores</a></li>
	</ul>
	<br>
	<input type="button" name="soportetecnico" value="Soporte Tecnico" class="boton">
</div>
<br>
<?php 
	 if ($this->session->has("per_cod")) {
		$url_cerrar_sesion = $this->url->get()."registro";
	}else{
		$url_cerrar_sesion = $this->url->get();
	}
?>
<a href="<?=$url_cerrar_sesion?>" id="cerrar_sesion"> <img src="<?php echo $this->url->get()?>/img/cerrar.png"> Cerrar Sesion</a>
