<div id="encabezado">
	<div id="logo"><img src="<?php echo $this->url->get()?>img/logo.png" alt=""></div>
	<div id="logueado">
	<div id="nombre">
		<?php 
		if ($this->session->get("usu_cod")) {
			$nomb = $this->session->get("usu_nom");
		} elseif ($this->session->get("per_cod")) {
			$nomb = $this->session->get("per_nom");
		} else {
			header("Location: " . $this->url->get() . "cerrar/");
		}
		?>
		<p><?=$nomb;?></p>
		<span><a href="<?php echo $this->url->get()?>cerrar/" id="cerrar_sesion"> <img style="vertical-align: middle" src="<?php echo $this->url->get()?>img/cerrar.png"> Cerrar Sesion</a></span>
	</div>
		<div id="foto"><img src="<?php echo $this->url->get()?>img/logo-02.png"></div>
	</div>
</div>
