<h3>Configuracion</h3>
<ul>
	<li><a href="<?=$this->url->get()?>cargos">Cargos</a></li>
	<li><a href="<?=$this->url->get()?>sectores">Sectores</a></li>
	<li><a href="<?=$this->url->get()?>proveedores">Proveedores</a></li>
	<li><a href="<?=$this->url->get()?>empresas">Empresas</a></li>
	<li><a href="<?=$this->url->get()?>requisiciones">Requisiciones</a></li>
	<li><a href="<?=$this->url->get()?>TipoUsuarios">Tipo de Usuarios</a></li>
	<li><a href="<?=$this->url->get()?>usuarios">Usuarios</a></li>
</ul>