<?php
	$usuario = new Usuarios();
	$permisos = $usuario->permisos($this->session->get("usu_cod"));

?>
<div id="menu">
		<ul>
			<li id="menu_plataforma"><img src="<?php echo $this->url->get()?>img/icon1.png"><a href="#">Plataforma</a></li>

			<ul class="submenu" id="submenu_plataforma">
			<?php foreach ($permisos as  $per): ?>
				<?php if ($per->men_tip=="plataforma"): ?>
					<li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
				<?php endif ?>
			<?php endforeach ?>
				<!-- SUB MENU POSTULANTES -->
			</ul>

			<li id="menu_postulante"><img src="<?php echo $this->url->get()?>img/icon2.png"><a href="#">Postulantes</a>

			</li>

			<ul class="submenu" id="submenu_postulante">
				<?php foreach ($permisos as  $per): ?>
				<?php if ($per->men_tip=="postulantes"): ?>
					<li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
				<?php endif ?>
				<?php endforeach ?>
			</ul>

			<li><img src="<?php echo $this->url->get()?>img/icon3.png"><a href="#" id="menu_proceso">Proceso de Selección <!-- <img src="<?php echo $this->url->get()?>img/flechita.png" alt="" class="flechita"> --></a>

			</li>
			<ul class="submenu" id="submenu_proceso">
				<?php foreach ($permisos as  $per): ?>
				<?php if ($per->men_tip=="proceso"): ?>
					<li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
				<?php endif ?>
				<?php endforeach ?>
			</ul>

			<li><img src="<?php echo $this->url->get()?>img/icon4.png"><a href="#" id="menu_ordenes">Contratación </a>

			</li>
			<ul class="submenu" id="submenu_ordenes">
				<?php foreach ($permisos as  $per): ?>
				<?php if ($per->men_tip=="ordenes"): ?>
					<li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
				<?php endif ?>
				<?php endforeach ?>
			</ul>

            <li><img src="<?php echo $this->url->get()?>img/icon4.png"><a href="#" id="menu_gestor">Gestor documental </a>

            </li>
            <ul class="submenu" id="submenu_gestor">
                <?php foreach ($permisos as  $per): ?>
                    <?php if ($per->men_tip=="gestor"): ?>
                        <li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
                    <?php endif ?>
                <?php endforeach ?>
            </ul>

			<li><img src="<?php echo $this->url->get()?>img/icon5.png"><a href="#" id="menu_informes">Informes </a>

			</li>

			<ul class="submenu" id="submenu_informes">
				<?php foreach ($permisos as  $per): ?>
				<?php if ($per->men_tip=="informes"): ?>
					<li><a href="<?php echo $this->url->get()?><?=$per->men_url?>"><img src="<?php echo $this->url->get()?>img/icon_sub.png"><?=$per->men_des?></a></li>
				<?php endif ?>
				<?php endforeach ?>
			</ul>



		</ul>
</div>
