<div id="menu">
		<ul>
			<li id="menu_plataforma"><img src="<?php echo $this->url->get()?>img/icon1.png"><a href="<?=$this->url->get()?>Hojavida">Mis Datos</a></li>

			

			<li id="menu_postulante"><img src="<?php echo $this->url->get()?>img/icon2.png"><a href="<?=$this->url->get()?>VerOfertas">Ver Ofertas</a>
			
			</li>

		</ul>
</div>
