<ul>
	<li><a href="<?php echo $this->url->get('empresas') ?>">Empresas</a></li>
	<li><a href="<?php echo $this->url->get('proveedores') ?>">Proveedores</a></li>
	<li><a href="<?php echo $this->url->get('cargos') ?>">Cargos</a></li>
	<li><a href="<?php echo $this->url->get('requisiciones') ?>">Vacantes</a></li>
	<li><a href="<?php echo $this->url->get('sectores') ?>">Sectores</a></li>
	<li><a href="<?php echo $this->url->get('estados') ?>">Estados</a></li>
	<li><a href="<?php echo $this->url->get('ExamenesMedicos') ?>">Exámenes</a></li>
	<li><a href="<?php echo $this->url->get('textos') ?>">Textos</a></li>
	<li><a href="<?php echo $this->url->get('fuentes') ?>">Fuentes de Reclutamiento</a></li>
	<li><a href="<?php echo $this->url->get('oficinas') ?>">Oficinas</a></li>
	<li><a href="<?php echo $this->url->get('documentos') ?>">Documentos</a></li>
	<li><a href="<?php echo $this->url->get('competencias') ?>">Competencias</a></li>
</ul>