<div id="pie_izq">
	<p>©<?=date("Y")?> APSC. Todos los derechos reservados. </p>
	<span><a href="">Términos y Condiciones</a>   |   <a href="">Políticas de Privacidad</a></span>
</div>

<div id="pie_der">
	<ul>
		<li><img src="<?php echo $this->url->get()?>img/tel.png">Llámanos al teléfono: <br>+57 (5) 311 47 22</li>
		<li><img src="<?php echo $this->url->get()?>img/email.png">Escribanos al e-mail: <br>info@apsc.com.co</li>
	</ul>
</div>
