<div id="pie_izq">
	<p>©<?=date("Y")?> APSC. Todos los derechos reservados. </p>
	<span><a href="">Términos y Condiciones</a>   |   <a href="">Políticas de Privacidad</a></span>
</div>

<div id="pie_der">
	<ul>
		<li><img src="<?php echo $this->url->get()?>img/tel.png">Contact center: <br>+57 (5) 373 7999 - 320 521 3899 ext 123</li>
		<li><img src="<?php echo $this->url->get()?>img/email.png">Escribanos al e-mail: <br>contactcenter@contactamos.com.co</li>
	</ul>
</div>
