
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Textos - Editar</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(8)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
		<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('textos/actualizar') ?>">
		<input type="hidden" name="tex_cod" id="tex_cod" value="<?php echo $texto->tex_cod ?>">

	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Editar Texto</th>
							
						</tr>
						<tr>
							<td>Nombre</td>
							<td><textarea name="tex_tex" rows="6" id="tex_tex"><?php echo $texto->tex_tex ?></textarea></td>
						</tr>
						<tr>
							<td>Destinatario</td>
							<td><select name="tex_tip" id="tex_tip">
								<option <? if ($texto->tex_tip == "Aspirante") echo "selected";?> value="Aspirante">Aspirante</option>
								<option <? if ($texto->tex_tip == "Laboratorio") echo "selected";?> value="Laboratorio">Laboratorio</option>
								<option <? if ($texto->tex_tip == "Estudios") echo "selected";?> value="Estudios">Estudios</option>
								<option <? if ($texto->tex_tip == "Registro") echo "selected";?> value="Registro">Registro</option>
							</select></td>
						</tr>




						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


