
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: 16PF</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<style>
		.listaPF {
			width: 140px;
		    border: 1px solid #ccc;
		    background-color: #fff;
		    border-radius: 5px;
		    margin-bottom: 5px;
		}
	</style>
</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarPF/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarPF/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarPF/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarPF/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : 16PF</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>
					
					<?php foreach ($preguntas as  $pre): ?>
						
						<?php 
							$respuestas = Respuestas16pf::find(array(
								"p16_cod='".$pre->p16_cod."'"
							)); 
							
								?>
								<table border="0" class="listaPF">
									<tr>
										<td><strong>	<?php echo $pre->p16_cod ?></strong></td>
										<?php foreach ($respuestas as  $res) { ?>
										<td>
											<strong><?php echo $res->r16_res ?>)</strong>
											<input type="radio" value="<?php echo $res->r16_cod ?>" name="<?php echo $res->p16_cod ?>">
										</td>
									<?php } ?>
									</tr>
								</table>

						
					<?php endforeach ?>
					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


