
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: PNL</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarPNL/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarPNL/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarPNL/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarPNL/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : PNL</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>

					<table border="0"  width="200" class="form">
						
						<?php $i= 0; foreach ($preguntas as $pre):
								$i=$i+1;
							    if($i==1){
								  ?>
				                <tr>
				                	<th colspan="2" class="celda-res">ESTILOS</th>
				                </tr>
				                <?php
								}
							  	if($i==25){
								  ?>
				                <tr>
				                	<th colspan="2"  class="celda-res">SPRL</th>
				                </tr>
				                <?php
								}
								if($i==32){ 
								 ?>
								 <tr>
				                	<th colspan="2"  class="celda-res">CANAL DE APRENDIZAJE</th>
				                </tr>
				                <?php
				                }
						
						?>

									<tr>

										<td><?php echo $pre->pnl_cod?>.</td>

										<td><input type="text" style="width:30px; text-transform:uppercase;" name="<?php echo $pre->pnl_cod?>"    onKeyUp="siguienteCaja(this.name)" maxlength="1"/></td>

									</tr>
						<?php endforeach ?>

					</table>

					<br>
					
					

					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


