<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>PNL</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("PruebaPnl/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '30:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>
		
</head>
<body>
<div id="counter" style="position: fixed;right:0;"></div>
	<h1>Prueba PNL</h1>

		<div id="camara">
			<script type="text/javascript">
				document.write( webcam.get_html(320, 240) );
			</script>
		</div>
		<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar">
		<div id="div_preguntas" style="display: none;" >
			<p>
				Seleccione en cada pregunta la OPCIÓN que más caracterize marcando con un círculo y atendiendo a la escala. Sólo se admite una respuesta. Responda según lo que hace actualmente, no según lo que hace actualmente, no según lo que piense que sea la respuesta correcta

				<p>ESCALA</p>
				<strong>1=NUNCA &nbsp; 2=RARAMENTE &nbsp; 3=OCASIONALMENTE &nbsp; 4=USUALMENTE &nbsp; 5=SIEMPRE</strong>
			</p>

			<form action="<?=$this->url->get("PruebaPnl/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
				<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">
				<?php $i=0; foreach ($preguntas as  $pre): ?>
					<?php 
						$i=$i+1;
						// $pnl_cod= $reg->pnl_cod;
						if($i==25)
						{
							?>
			                 II. SISTEMA DE REPRESENTACIÓN Y PREFERENCIAS NEUROLÍNGUISTICAS
								<br><br>
		                     Escoge una opción. Marca con un círculo la letra que consideres.
		                   	<br><br>
		                   	<hr>
		                <?php
						}

						if($i==32)
						{
							  ?>

				                III. CANAL DE APRENDIZAJE

				                   Después de cada enunciado seleccione 1, 2 o 3 que indique su menor importancia. Por favor, utilice:

				                   Numero 3=Frecuentemente. Numero 2=Algunas veces Numero. 1=Rara vez.
								<br><br>
								<hr>
			                <?php
						}
					 	?>
						
						<?php echo $pre->pnl_cod;?>.

						<?php echo $pre->pnl_nom;?><br><br>

							              

						<?php
							$respuestas = RespuestasPnl::find(array(
								"pnl_cod=".$pre->pnl_cod
							));
							foreach ($respuestas as  $res) {
								?>
									 <input type="radio"   name="<?php echo $res->pnl_cod?>" value="<?php echo $res->rpn_cod?>"/><?php echo $res->rpn_enu.". ".$res->rpn_nom?>
								<?php
							}
						?>
						<br><br>
				<?php endforeach  ?>
			</form>

			<input type="button" value="Finalizar" id="btn_guardar" onclick="finalizar();">
		</div>
		
</body>
</html>