
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Encuesta Aspirante</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {

		// $(window).resize(function(){
		// 	$('#contenedor').height($(window).height());
		// });

		// $(window).trigger('resize');
		$(".Nada").keydown(function(event) {
	      if(event.shiftKey)
	      {
	             event.preventDefault();
	      }
	      if (event.keyCode == 46 || event.keyCode == 8)    {
	      	event.preventDefault();
	      } else {
	             if (event.keyCode < 95) {
	                if (event.keyCode < 48 || event.keyCode > 57) {
	                         event.preventDefault();
	                } else {
	                	event.preventDefault();
	                }
	             } else {
	                      if (event.keyCode < 96 || event.keyCode > 105) {
	                            event.preventDefault();
	                      } else {
	                      	event.preventDefault();
	                      }
	             }
	          }
	      });
		$(".SoloNumeros").focus();
		$(".SoloNumeros").keydown(function(event) {
	      if(event.shiftKey) {
	             event.preventDefault();
	      }
	      if (event.keyCode == 46 || event.keyCode == 8)    {
	      } else {
	             if (event.keyCode < 95) {
	                if (event.keyCode < 48 || event.keyCode > 57) {
	                     event.preventDefault();
	                }
	             } else {
                   if (event.keyCode < 96 || event.keyCode > 105) {
                         event.preventDefault();
                   }
	             }
	          }
	      });
	});
		

		
	</script>
</head>
<body>
	<div id="contenedor">
		<div id="cuerpo">
			<div id="izq" style="background-color: transparent; width: 100%; margin-top: 20px">
				<div id="logo" style="margin-bottom: 20px"><img src="<?php echo $this->url->get()?>/img/c-logo-02.png" style="width: 100px" alt=""></div>
				
				<div class="titulo" style="width: 430px; margin: 0 auto">
					<p style="color: #006837; font-size: 16pt">Encuesta de Retiro</p>
					<!-- <a href="#"><img src="<?php echo $this->url->get()?>/img/icon-ayuda-03.png">¿Necesita Ayuda?</a> -->
				</div>
				<div class="con_tabla" style="width: 430px; margin: 0 auto">
					<form id="frm_encuesta">
					<input type="hidden" name="url_base" id="url_base" value="<?=$this->url->get()?>">
					<input type="hidden" name="url_guardar" id="url_guardar" value="<?php echo $this->url->get('Encuesta/guardar') ?>">
					<input type="hidden" name="url_guardar2" id="url_guardar2" value="<?php echo $this->url->get('Encuesta/guardaro') ?>">
					<input type="hidden" name="url_consultar" id="url_consultar" value="<?php echo $this->url->get('Encuesta/consultar') ?>">
					<input type="hidden" id="fecha" value="<?=date("Y-m-d")?>">
						<table width="90%" class="tabla">
							<tr id="blo1">
								<td>No. Identificación *<br><input type="text" tabindex="0" class="SoloNumeros" name="per_ide" id="per_ide"><br>
								Nombre Completo<br><input type="hidden" name="per_cod" id="per_cod" ><input type="text" name="per_nom" id="per_nom" ><br>
								Cargo<br><input type="text" name="cargo" id="cargo" ><br>
								Tiempo en la empresa * (<span style="font-size: 9pt; color: rgb(140,140,140)">Solo el número de meses, 3 años = 36</span>)<br><input type="text" class="Nada" name="tiempo" id="tiempo" ><br>
								Proyecto / Usuaria *<br><input type="hidden" id="emp_cod" name="emp_cod"><input type="text" name="proyecto" id="proyecto" ><br>
								Razón social donde trabajó *<br>
								<select name="razon" id="razon">
									<option value="Contactamos Outsourcing SAS">Contactamos Outsourcing SAS</option>
									<option value="Contactamos de Colombia SAS">Contactamos de Colombia SAS</option>
									<option value="Enfoque SAS">Enfoque SAS</option>
								</select><br>
								Ciudad en la que trabajó *<br><input type="text" name="ciudad" id="ciudad" ><br>
								<span id="sel1" style="display: none">¿Usted se retira voluntariamente de la empresa? *<br>
									<select name="enc_ret" id="enc_ret">
										<option value="">Seleccione</option>
										<option value="si">Si</option>
										<option value="no">No</option>
									</select><br></span>
								
								</td>
							</tr>
							<tr id="blo7" style="display: none">
								<td>
									Motivo de retiro*<br>
									<select name="motivoretiro" id="motivoretiro">
										<option value="">Seleccione</option>
										<option value="Ambiente laboral">Ambiente laboral</option>
										<option value="Estudio">Estudio</option>
										<option value="Otra oferta laboral">Otra oferta laboral</option>
										<option value="Cambio de Condiciones Laborales">Cambio de Condiciones Laborales</option>
										<option value="Inconvenientes en la nómina">Inconvenientes en la nómina</option>
										<option value="Herramientas de trabajo">Herramientas de trabajo</option>
										<option value="Motivos personales">Motivos personales</option>
										<option value="Salud">Salud</option>
										<option value="Salario">Salario</option>
										<option value="Viaje">Viaje</option>
										<option value="Horarios">Horarios</option>
										<option value="Familia">Familia</option>
										<option value="Terminación De Contrato">Terminación De Contrato</option>
										<option value="Renovación De Contrato">Renovación De Contrato</option>
									</select>
								</td>
							</tr>
							<tr id="blo8" style="display: none">
								<td>
								Causa de retiro  (puede seleccionar una o mas causas)*<br>
								<input type="checkbox" name="causa[]" value="Clima laboral estresante"> Clima laboral estresante<br>
								<input type="checkbox" name="causa[]" value="Monotonía de la labor"> Monotonía de la labor<br>
								<input type="checkbox" name="causa[]" value="Falta de tiempo para estudio"> Falta de tiempo para estudio<br>
								<input type="checkbox" name="causa[]" value="Mejores beneficios."> Mejores beneficios<br>
								<input type="checkbox" name="causa[]" value="Baja Motivación"> Baja Motivación<br>
								<input type="checkbox" name="causa[]" value="Mayor salario"> Mayor salario<br>
								<input type="checkbox" name="causa[]" value="Relación con Compañeros"> Relación con Compañeros<br>
								<input type="checkbox" name="causa[]" value="No compatible con horarios"> No compatible con horarios<br>
								<input type="checkbox" name="causa[]" value="Horario o Jornada Laboral."> Horario o Jornada Laboral<br>
								<input type="checkbox" name="causa[]" value="Relación con el jefe"> Relación con el jefe<br>
								<input type="checkbox" name="causa[]" value="Falta de reconocimiento del trabajo bien hecho"> Falta de reconocimiento del trabajo bien hecho<br>
								<input type="checkbox" name="causa[]" value="Práctica profesional"> Práctica profesional<br>
								<input type="checkbox" name="causa[]" value="Mayor relación con la formación académica"> Mayor relación con la formación académica<br>
								</td>
							</tr>
							<tr id="blo15" style="display: none">
								<td >
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" onClick="continuar3()">Continuar</div>
								</td>
							</tr>
							<tr id="blo9" style="display: none">
								<td>Nombre del jefe directo<br>
								<input type="text" name="jefe" id="jefe"><br><br>
								¿Cómo eran las relaciones con su jefe directo?<br>
								<select name="relacion" id="relacion">
									<option value="">Seleccione</option>
									<option value="Excelente">Excelente</option>
									<option value="Buena">Buena</option>
									<option value="Regular">Regular</option>
									<option value="Mala">Mala</option>
								</select>
								</td>
							</tr>
							<tr id="blo10" style="display: none">
								<td>
									<b>GENERALES</b><br><br>
									¿Trabajaría nuevamente con esta empresa cliente?<br>
									<select name="trabajar" id="trabajar">
										<option value="">Seleccione</option>
										<option value="SI">SI</option>
										<option value="NO">NO</option>
									</select><br><br>
									¿Estaba ejerciendo las funciones por las cuales fue contratado?<br>
									<select name="ejercer" id="ejercer">
										<option value="">Seleccione</option>
										<option value="SI">SI</option>
										<option value="NO">NO</option>
									</select><br><br>
									¿Cumplió sus expectativas la empresa cliente?<br>
									<select name="cumplio" id="cumplio">
										<option value="">Seleccione</option>
										<option value="SI">SI</option>
										<option value="NO">NO</option>
									</select><br><br>
									¿Cómo califica las condiciones laborales de la compañía? <br>
									<select name="condiciones" id="condiciones">
										<option value="">Seleccione</option>
										<option value="Excelente">Excelente</option>
										<option value="Buena">Buena</option>
										<option value="Regular">Regular</option>
										<option value="Mala">Mala</option>
									</select><br>
								</td>
							</tr>
							<tr id="blo16" style="display: none">
								<td >
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" onClick="continuar4()">Continuar</div>
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px; margin-left: 30px" onClick="atras3()">Atrás</div>
								</td>
							</tr>
							<tr id="blo11" style="display: none">
								<td>
									¿Qué recomendaciones de mejora realizaría a la empresa cliente? (Selecione las 3 principales para Ustedes)<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Salario"> Salario<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Inducción"> Inducción<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Trato de los Jefes"> Trato de los Jefes<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Trato con los compañeros"> Trato con los compañeros<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Dotación"> Dotación<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Horarios"> Horarios<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Comunicación"> Comunicación<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Tipo de Contrato"> Tipo de Contrato<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Organización"> Organización<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Herramientas de trabajo"> Herramientas de trabajo<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Formación y entrenamiento"> Formación y entrenamiento<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Oportunidad de desarrollo"> Oportunidad de desarrollo<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Reconocimiento"> Reconocimiento<br>
									<input type="checkbox" name="mejoras[]" class="mejoras" value="Claridad en las funciones"> Claridad en las funciones<br>
								</td>
							</tr>
							<tr id="blo12" style="display: none">
								<td>
									¿Qué fortalezas destaca de la empresa cliente?<br>
									<textarea name="fortalezas" id="fortalezas" rows="10" style="width:100%;resize:none;padding: 5px"></textarea>
								</td>
							</tr>
							<tr id="blo17" style="display: none">
								<td >
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" onClick="continuar5()">Continuar</div>
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px; margin-left: 30px" onClick="atras4()">Atrás</div>
								</td>
							</tr>
							<tr id="blo13" style="display: none">
								<td>
									¿En términos generales, cómo califica a la Empresa Temporal?<br>
									<select name="terminos" id="terminos">
										<option value="">Seleccione</option>
										<option value="Excelente">Excelente</option>
										<option value="Buena">Buena</option>
										<option value="Regular">Regular</option>
										<option value="Mala">Mala</option>
									</select><br><br>
									¿Qué mejoraría de la Empresa Temporal?<br>
									<textarea name="mejorar" id="mejorar" rows="10" style="width:100%;resize:none;padding: 5px"></textarea>
								</td>
							</tr>
							<tr id="blo14" style="display: none">
								<td>
									¿Estuvo afiliado a Fondo de Empleados?<br>
									<select name="fondo" id="fondo" onchange="cfondo()">
										<option value="">Seleccione</option>
										<option value="SI">SI</option>
										<option value="NO">NO</option>
									</select><br>
									<div id="blo18" style="display: none">
										¿Razones por las cuales no se afilió al fondo?<br>
										<select name="dfondo" id="dfondo">
											<option value="">Seleccione</option>
											<option value="Falta de conocimiento">Falta de conocimiento</option>
											<option value="No encontró ventajas en afiliarse">No encontró ventajas en afiliarse</option>
											<option value="Tiene otra opción de Ahorro">Tiene otra opción de Ahorro</option>
											<option value="Debido a sus gastos no le permite ahorrar">Debido a sus gastos no le permite ahorrar</option>
											<option value="Otro">Otro</option>
										</select><br>
									</div>
								</td>
							</tr>

							<tr id="blo19" style="display: none">
								<td >
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" id="Eenviar2" onClick="enviar2()">Enviar</div>
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px; margin-left: 30px" onClick="atras5()">Atrás</div>
								</td>
							</tr>

							<tr id="blo2">
								<td style="background: #006837; color: #fff; cursor: pointer;" onClick="continuar1()">Continuar</td>
							</tr>
							<tr id="blo3" style="display: none">
								<td>¿Cuál de las siguientes opciones es la razón principal por la cual no trabaja más en nuestra empresa? *<br>
									<input id="100" type="radio" name="enc_mot" value="Salario"><label for="100">Salario</label><br>
									<input id="101" type="radio" name="enc_mot" value="Turnos, horarios"><label for="101">Turnos, horarios</label><br>
									<input id="102" type="radio" name="enc_mot" value="Motivos de salud"><label for="102">Motivos de salud</label><br>
									<input id="103" type="radio" name="enc_mot" value="Relación con mis jefes"><label for="103">Relación con mis jefes</label><br>
									<input id="104" type="radio" name="enc_mot" value="Relación con mis compañeros"><label for="104">Relación con mis compañeros</label><br>
									<input id="105" type="radio" name="enc_mot" value="Otro"><label for="105">Otro</label><input type="text" name="enc_otr" id="enc_otr"><br>
								</td>
							</tr>
							<tr id="blo4" style="display: none">
								<td >
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" onClick="continuar2()">Continuar</div>
								<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px; margin-left: 30px" onClick="atras1()">Atrás</div>
								</td>
							</tr>
							<tr id="blo5" style="display: none">
								<td>En términos generales como se sintió usted en la empresa mientras duró la relación laboral (Siendo 1 muy mala y 5 excelente):<br>
								<input type="radio" name="enc_cal" id="10" value="1"><label for="10">1</label> <br>
								<input type="radio" name="enc_cal" id="11" value="2"><label for="11">2</label> <br>
								<input type="radio" name="enc_cal" id="12" value="3"><label for="12">3</label> <br>
								<input type="radio" name="enc_cal" id="13" value="4"><label for="13">4</label> <br>
								<input type="radio" name="enc_cal" id="14" value="5"><label for="14">5</label> <br><br>
								Si pudiera recomendar alguna cosa que la empresa debería mejorar ¿Cuál sería?<br>
								<textarea name="enc_obs" id="enc_obs"></textarea>
								</td>
							</tr>
							<tr id="blo6" style="display: none">
								<td>
									<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px;" id="Eenviar" onClick="enviar()">Enviar</div>
									<div style="background: #006837; color: #fff; cursor: pointer;float:left; width: 110px;text-align:center; padding: 10px; margin-left: 30px" onClick="atras2()">Atrás</div>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>

		</div>

	</div>

</body>
</html>