
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evaluar Entrevista</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarEntrevista/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarEntrevista/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'EvaluarEntrevista/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarEntrevista/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Evaluar Entrevista</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					

			<table class="form" border="0">
			    <tr>
			        <td>Relaciones. Interpersonales</td>
			        <td>A <input type="radio"  name="pru_rip" value="A"></td>
			        <td>B <input type="radio"  name="pru_rip" value="B"></td>
			        <td>MR <input type="radio" name="pru_rip" value="MR"></td>
			        <td>D <input type="radio"  name="pru_rip" value="D"></td>
			        <td style="color: #f0584a">Observaciones</td>
			    </tr>
			    <tr>
			        <td>Actitud hacia las normas</td>
			        <td>A <input  type="radio"  name="pru_ahn" value="A" ></td>
			        <td>B <input  type="radio"  name="pru_ahn" value="B"></td>
			        <td>MR <input type="radio"  name="pru_ahn" value="MR"></td>
			        <td>D <input  type="radio"  name="pru_ahn" value="D"></td>
			        <td rowspan="6"><textarea name="pru_obs" id="pru_obs" cols="30" rows="10"></textarea>
			        <input type="button" value="Guardar Y Continuar" class="boton" id="btn_guardar"></td>
			    </tr>
			    <tr>
			        <td>Adaptabilidad</td>
			        <td>A <input type="radio"  name="pru_ada" value="A" ></td>
			        <td>B <input type="radio"  name="pru_ada" value="B"></td>
			        <td>MR <input type="radio" name="pru_ada" value="MR"></td>
			        <td>D <input type="radio"  name="pru_ada" value="D"></td>
			    </tr>
			    <tr>
			        <td>Comunicación</td>
			        <td>A <input type="radio"  name="pru_com" value="A"></td>
			        <td>B <input type="radio"  name="pru_com" value="B"></td>
			        <td>MR <input type="radio" name="pru_com" value="MR"></td>
			        <td>D <input type="radio"  name="pru_com" value="D"></td>
			    </tr>
			     <tr>
			        <td>Liderazgo</td>
			        <td>A <input type="radio"  name="pru_lid" value="A"></td>
			        <td>B <input type="radio"  name="pru_lid" value="B"></td>
			        <td>MR <input type="radio" name="pru_lid" value="MR"></td>
			        <td>D <input type="radio"  name="pru_lid" value="D"></td>
			    </tr>
			     <tr>
			        <td>Motivación al logro</td>
			        <td>A <input type="radio"  name="pru_mot" value="A"></td>
			        <td>B <input type="radio"  name="pru_mot" value="B"></td>
			        <td>MR <input type="radio" name="pru_mot" value="MR"></td>
			        <td>D <input type="radio"  name="pru_mot" value="D"></td>
			    </tr>
			     <tr>
			        <td>Capacidad de Aprendizaje</td>
			        <td>A <input type="radio"  name="pru_cap" value="A"></td>
			        <td>B <input type="radio"  name="pru_cap" value="B"></td>
			        <td>MR <input type="radio" name="pru_cap" value="MR"></td>
			        <td>D <input type="radio"  name="pru_cap" value="D"></td>
			    </tr>
			</table>
			<br>

				<style type="text/css">
					.competencias p{
						color: #f0584a;
						font-weight: bold;
					}
				</style>

			     <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_ri"> 
                           <!--RELACIONES INTERPERSONALES-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_ri"> <!--DESC RELACIONES INTERPERSONALES--></td>
                      </tr>
				</table>
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_an"> 
                           
    
                                <!--ACTITUD HACIA LAS NORMAS-->
    
                           
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_an">
                                <!--DESC ACTITUD HACIA LAS NORMAS--></td>
                      </tr>
				</table>
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_ad"> 
                           <!--ADAPTABILIDAD-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_ad"><!-- DESC ADAPTABILIDAD --></td>
                      </tr>
				</table>
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_c"> 
                             <!--COMUNICACION-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_c"> <!--DESC COMUNICACION--></td>
                      </tr>
				</table>
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_l"> 
                           <!--LIDERAZGO-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_l">  <!-- <!--LIDERAZGO--></td>
                      </tr>
				</table>
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_ml"> 
                           <!--MOTIVACION AL LOGRO-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_ml"> <!--DESC MOTIVACION AL LOGRO--></td>
                      </tr>
				</table>
                
                
                
                <table width="800" border="0" align="center" class="competencias">
                      <tr>
                        <td id="titulo_ca"> 
                           <!--CAPACIDAD DE APRENDIZAJE-->
                        </td>
                      </tr>
                      <tr>
                        <td id="desc_ca"><!--CAPACIDAD DE APRENDIZAJE--></td>
                      </tr>
				</table>
					<br>
					
					

					
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


