
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Agenda de citas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	
</head>
<body>
<form id="frm">
<input type="hidden" id="url_index" name="url_index" value="<?php echo $this->url->get(
'Agenda/consultar') ?>">
<input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
'Agenda/estado') ?>">
<input type="hidden" id="url_editar" name="url_editar" value="<?php echo $this->url->get(
'Agenda/editar') ?>">
<input type="hidden" id="url_asistio" name="url_asistio" value="<?php echo $this->url->get(
'Agenda/asistio') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'Agenda/eliminar') ?>">
<input type="hidden" id="url_consulto" name="url_consulto" value="<?php echo $this->url->get(
'Consultaraspirante/consulto') ?>">
<input type="hidden" id="url_obs" name="url_obs" value="<?php echo $this->url->get(
'Consultaraspirante/observaciones') ?>">
<input type="hidden" id="txt_pag" name="txt_pag" value="<?php echo $_GET["page"] ?>">

	<div id="contenedor">
		<div class="negro" onclick="cerrarModal();"></div>
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<div id="modal_documentos" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Seleccione la fecha y la hora acontinuación</th>
							</tr>
							<tr>
								<td>
									Nombre
								</td>
								<td>
									<input type="hidden" id="cit_cod" name="cit_cod">
									<span id="IsName">Joaquin Forero</span>
								</td>
							</tr>
							<tr>
								<td>Fecha</td>
								<td><input type="text" id="cit_fec" name="cit_fec"></td>
							</tr>
							<tr>
								<td>Hora</td>
								<td>
									<select name="cit_hor" id="cit_hor">
										<option value="08:00 - 10:00">Turno 1 (08:00 - 10:00)</option>
										<option value="10:00 - 12:00">Turno 2 (10:00 - 12:00)</option>
										<option value="02:00 - 04:00">Turno 3 (02:00 - 04:00)</option>
										<option value="04:00 - 06:00">Turno 4 (04:00 - 06:00)</option>
									</select>
								</td>
							</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" onclick="editarCita();" value="Guardar"></td>
							</tr>
						</table>
						
					</div>
					<div id="modal_documentos_o" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Observaciones</th>
							</tr>
							<tr>
								<td>
									Nombre
								</td>
								<td>
									<input type="hidden" id="cod" name="cod">
									<span id="IsNameO">Joaquin Forero</span>
								</td>
							</tr>
							<tr>
								<td>Observaciones</td>
								<td><textarea id="per_obs" name="per_obs" rows="10"></textarea></td>
							</tr>
							<tr>
								<td>Valoración: </td>
								<td id="valoracion"></td>
							</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" onclick="observaciones();" value="Guardar"></td>
							</tr>
						</table>
						
					</div>
					<div class="consulta">
						<p>Agenda de citas</p>
						<div class="busqueda">
							Desde <input class="datepickier" type="text" id="fec_ini" value="<?=date("Y-m-d")?>">
							Hasta <input class="datepickier" type="text" id="fec_fin" value="<?=date("Y-m-d")?>">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
							<select style="margin: 0px 10px; width: auto" name="psi" id="psi">
								<option value="">Seleccione Psicóloga</option>
								<? 
								foreach ($usuarios as $usu) { ?>
									<option value="<?=$usu->usu_cod?>"><?=$usu->usu_nom . " " . $usu->usu_ape ?></option>
								<? }
								?>
							</select>
						</div>
					</div>
					<div class="clear"></div>
					<div id="respuesta"> </div>
					<br>
					<!-- <input type="button" value="+ Agregar Nuevo" class="boton"> -->

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


