<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmacion</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>
    <script>
        jQuery(document).ready(function ($) {
            $(".fecha").datepicker({
                dateFormat: "yy-mm-dd"
            });
        });
    </script>
</head>
<body>
<div id="contenedor">
    <div class="negro" onclick="cerrarModal();"></div>
    <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('ordenes/eliminar') ?>">
    <input type="hidden" name="url_consultar" id="url_consultar"
           value="<?php echo $this->url->get('confirmar/consultar') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" id="txt_pag" name="txt_pag" value="">
    <?php $this->partial("shared/encabezado") ?>
    <!-- <div class="clear"></div> -->
    <div id="cuerpo">
        <div id="izq">
            <?php $this->partial("shared/menuLateral") ?>
        </div>
        <div id="central">
            <div id="cuerpo_central">
                <br>
                <div class="consulta">
                    <p>Contrato completo</p>
                    <div class="busqueda">
                        <select name="oficina" id="oficina" style="width: 110px" onchange="filtrar(1)">
                            <option value="">Oficina</option>
                            <option value="126">Barranquilla</option>
                            <option value="149">Bogotá</option>
                        </select>
                        <input type="text" style="width: 110px" placeholder="Busqueda..." id="txt_bus">
                    </div>
                </div>
                <br>
                <div id="respuesta"></div>
                <br>
                <!-- <a href="<?php echo $this->url->get('Ordenes/nuevo') ?>" class="boton"> + Agregar Nuevo</a> -->
            </div>
            <form action="<?= $this->url->get() ?>adjuntar_examenes/subir" method="post" enctype="multipart/form-data"
                  id="frm">
                <input type="hidden" id="per_cod" name="per_cod">
                <input type="hidden" id="ord_cod" name="ord_cod">
                <div id="modal_documentos" style="position:absolute;background:white;top:10%;padding:20px;">
                    <table border="1" style="border-collapse:collapse;" width="100%;" class="form">
                        <tr>
                            <th>ENVIAR CORREO DE CONFIRMACION</th>
                        </tr>
                        <tr>
                            <td>
                                <strong></strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Observaciones:
                                <textarea name="con_obs" id="con_obs" cols="30" rows="10">
									<?
                                    $texto = Textos::findFirst(6);
                                    if ($texto) {
                                        echo $texto->tex_tex;
                                    }
                                    ?>
								</textarea>
                            </td>
                        </tr>
                    </table>
                    <input type="button" value="Guardar y Enviar" class="boton w100" id="btn_guardar">
                </div>
            </form>
        </div>
        <div id="derecha">
            <?php $this->partial("shared/derecha") ?>
        </div>
    </div>
    <div id="pie">
        <?php $this->partial("shared/pie") ?>
    </div>
</div>
</body>
</html>