<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=Indicadores_contratacion.xls");

	function dias_transcurridos($fecha_i,$fecha_f)
	{
		$dias	= (strtotime($fecha_i)-strtotime($fecha_f))/86400;
		$dias 	= abs($dias); $dias = floor($dias);		
		return $dias;
	}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicador de Contratacion</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Indicadores de Contratación</h3>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">PERIODO SOLICITADO DEL <?=$fechai." AL ".$fechaf?></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE ORDENES DE CONTRATACION </td>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;"># DE CONTRATADOS CONFIRMADOS</td>
		</tr>
		<? 
		$ord = new Ordenes();
		$test = 0;
		$test2 = 0;
		$empresas = Empresas::find(array("emp_tip='C' AND emp_est='1'"));
		foreach ($empresas as $key => $emp) {
			$orden = $ord->ordenesPorCliente($fechai, $fechaf, $emp->getEmpCod());
			$contra = $ord->ordenesPorClienteC($fechai, $fechaf, $emp->getEmpCod());
			$test+=$orden[0]->total;
			$test2+=$contra[0]->total;
			echo '<tr><td>'.$emp->getEmpRaz().'</td><td>'.$orden[0]->total.'</td><td>'.$contra[0]->total.'</td></tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test2.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">FECHA DE INGRESO VS FECHA CONFIRMACIÓN DE CONTRATO BARRANQUILLA</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<?php
		$ord = new Ordenes();
		$ordenes = $ord->ordenesVS($fechai, $fechaf, 126);
		$igual0 = 0;
		$igual1 = 0;
		$igual2 = 0;
		$may3 = 0;
		$sin = 0;
		foreach ($ordenes as $key => $ord) {
			if ($ord->ord_fco != ""){
				$aux = dias_transcurridos($ord->ord_ftr, $ord->ord_fco);
				if ($aux == 0) {
					$igual0+=1;
				} elseif ($aux == 1) {
					$igual1+=1;
				} elseif ($aux == 2) {
					$igual2+=1;
				} elseif ($aux >= 3) {
					$may3+=1;
				}
			} else {
				$sin+=1;
			}
		}
		?>
		<tr><td>.=0</td><td><?=$igual0?></td></tr>
		<tr><td>.=1</td><td><?=$igual1?></td></tr>
		<tr><td>.=2</td><td><?=$igual2?></td></tr>
		<tr><td>.>=3</td><td><?=$may3?></td></tr>
		<tr><td>Sin confirmar</td><td><?=$sin?></td></tr>
		<tr><td style="text-align: right"><b>Total</b></td><td><?=$sin+$may3+$igual2+$igual1+$igual0?></td></tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>

		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">FECHA DE INGRESO VS FECHA CONFIRMACIÓN DE CONTRATO BOGOTÁ</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<?php 
		$ordenes = $ord->ordenesVS($fechai, $fechaf, 149);
		$igual0 = 0;
		$igual1 = 0;
		$igual2 = 0;
		$may3 = 0;
		$sin = 0;
		foreach ($ordenes as $key => $ord) {
			if ($ord->ord_fco != ""){
				$aux = dias_transcurridos($ord->ord_ftr, $ord->ord_fco);
				if ($aux == 0) {
					$igual0+=1;
				} elseif ($aux == 1) {
					$igual1+=1;
				} elseif ($aux == 2) {
					$igual2+=1;
				} elseif ($aux >= 3) {
					$may3+=1;
				}
			} else {
				$sin+=1;
			}
		}
		?>
		<tr><td>.=0</td><td><?=$igual0?></td></tr>
		<tr><td>.=1</td><td><?=$igual1?></td></tr>
		<tr><td>.=2</td><td><?=$igual2?></td></tr>
		<tr><td>.>=3</td><td><?=$may3?></td></tr>
		<tr><td>Sin confirmar</td><td><?=$sin?></td></tr>
		<tr><td style="text-align: right"><b>Total</b></td><td><?=$sin+$may3+$igual2+$igual1+$igual0?></td></tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">FIRMA DE CONTRATADOS BARRANQUILLA</td>
		</tr>
		<?php 
		$ordenes = $ord->ordenesVST($fechai, $fechaf, 126);
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$ordenes[0]->total.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">FIRMA DE CONTRATADOS BOGOTÁ</td>
		</tr>
		<?php 
		$ordenes = $ord->ordenesVST($fechai, $fechaf, 149);
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$ordenes[0]->total.'</td></tr>';
		?>
	</table>
	
</body>
</html>