<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=Indicadores_Reclutamiento.xls");

	function dias_transcurridos($fecha_i,$fecha_f)
	{
		$dias	= (strtotime($fecha_i)-strtotime($fecha_f))/86400;
		$dias 	= abs($dias); $dias = floor($dias);		
		return $dias;
	}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicadores de Fuente de Reclutamiento</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Indicadores de Fuente de Reclutamiento</h3>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">PERIODO SOLICITADO DEL <?=$fechai." AL ".$fechaf?></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES</td>
		</tr>
		<?
		$pers = new Personas();
		$personas = $pers->registrosT($fechai, $fechaf);
		$totales=0;
		foreach ($personas as $key => $per) {
			$totales+=$per->total;
			echo '<tr>
					<td align="right">'.$per->fecha.'</td>
					<td>'.$per->total.'</td>
			</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$totales.'</td></tr>';
		?>
	</table>
	
	
	<br>
	<br>
	<table border="1" align="center">
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="14" align="center">Registros por fuente de Reclutamiento en REGISTROS TOTALES </td>
		</tr>
		<tr>
		<td align="center">Fecha</td>
		<?
		$pers = new Personas();
		$personas = Tipos::find(array("tip_tip='rec' ORDER BY tip_des"));
		$num=0;

		foreach ($personas as $per) {
				echo '<td align="center">'.$per->tip_des.'</td>';
		}
		?>
		</tr>
		<?
		$num=0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		for ($i=0; $i <=$diasT ; $i++) { 
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($personas as $key => $per) {
				$uni = $pers->registrosFD($nuevafecha, $per->tip_cod);
				echo '<td>'.$uni[0]->total.'</td>';
				$num+=$uni[0]->total;
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" colspan="13"><b>Total</b></td><td>'.$num.'</td></tr>';
		// foreach ($personas as $key => $per) {
		// 		$num += $per->total;
		// 		if ($i == 1) {
		// 			echo '<tr><td align="center">'.$per->fecha.'</td>';
		// 		}
		// 		echo '<td align="center">'.$per->total.'</td>';
		// 		if ($i % 10 == 0){
		// 			echo '</tr><tr><td align="center">'.$per->fecha.'</td>';
		// 		}
				
		// 		$i++;
		// }
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="14" align="center">Registros por fuente de Reclutamiento en HOJAS DE VIDA COMPLETA </td>
		</tr>
		<tr>
		<td align="center">Fecha</td>
		<?
		$pers = new Personas();
		$personas = Tipos::find(array("tip_tip='rec' ORDER BY tip_des"));
		$num=0;

		foreach ($personas as $per) {
				echo '<td align="center">'.$per->tip_des.'</td>';
		}
		?>
		</tr>
		<?
		$num=0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		for ($i=0; $i <=$diasT ; $i++) { 
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($personas as $key => $per) {
				$uni = $pers->registrosFDC($nuevafecha, $per->tip_cod);
				echo '<td>'.$uni[0]->total.'</td>';
				$num+=$uni[0]->total;
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" colspan="13"><b>Total</b></td><td>'.$num.'</td></tr>';
		// foreach ($personas as $key => $per) {
		// 		$num += $per->total;
		// 		if ($i == 1) {
		// 			echo '<tr><td align="center">'.$per->fecha.'</td>';
		// 		}
		// 		echo '<td align="center">'.$per->total.'</td>';
		// 		if ($i % 10 == 0){
		// 			echo '</tr><tr><td align="center">'.$per->fecha.'</td>';
		// 		}
				
		// 		$i++;
		// }
		?>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE CITADOS BARRANQUILLA</td>
		</tr>
		<?
		$pers = new Personas();
		$cit = new Agenda();
		$citados = $cit->citadosB($fechai, $fechaf, 126);
		$num=count($citados);
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$num.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE CITADOS BOGOTÁ</td>
		</tr>
		<?
		$pers = new Personas();
		$citados = $cit->citadosB($fechai, $fechaf, 149);
		$num=count($citados);
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$num.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE CITADOS POR USUARIO BARRANQUILLA</td>
		</tr>
		<? 
		$cit=new Agenda();
		
		$usuarios = Usuarios::find(array("(tus_cod=29 OR tus_cod=35 OR tus_cod=40 OR tus_cod=34 OR tus_cod=46) AND mun_cod=126 AND usu_est='1'"));
		$test = 0;
		foreach ($usuarios as $key => $usu) {
			$citas = $cit->citadosPorPsi($fechai, $fechaf, $usu->usu_cod);
			$test+=$citas[0]->total;
			echo '<tr><td>'.$citas[0]->usu_nom.' '.$citas[0]->usu_ape.'</td><td>'.$citas[0]->total.'</td></tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE CITADOS POR USUARIO BOGOTÁ</td>
		</tr>
		<? 
		$cit=new Agenda();
		
		$usuarios = Usuarios::find(array("(tus_cod=29 OR tus_cod=35 OR tus_cod=40 OR tus_cod=34 OR tus_cod=46) AND mun_cod=149 AND usu_est='1'"));
		$test = 0;
		foreach ($usuarios as $key => $usu) {
			$citas = $cit->citadosPorPsi($fechai, $fechaf, $usu->usu_cod);
			$test+=$citas[0]->total;
			echo '<tr><td>'.$citas[0]->usu_nom.' '.$citas[0]->usu_ape.'</td><td>'.$citas[0]->total.'</td></tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>
	
</body>
</html>