<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=Indicadores_gestion.xls");

	function dias_transcurridos($fecha_i,$fecha_f)
	{
		$dias	= (strtotime($fecha_i)-strtotime($fecha_f))/86400;
		$dias 	= abs($dias); $dias = floor($dias);		
		return $dias;
	}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicador de Gestion Psicologas</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Indicadores de Gestión Psicólogas</h3>
	<table border="1" align="center">
		<? $usuarios = Usuarios::find(array("(tus_cod=29 OR tus_cod=35 OR tus_cod=40) AND mun_cod=126 AND usu_est='1'")); ?>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>">PERIODO SOLICITADO DEL <?=$fechai." AL ".$fechaf?></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE VALORACIONES REALIZADAS BARRANQUILLA</td>
		</tr>
		<? 
		$cit=new Agenda();
		$test = 0;
		$test2=0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
			$personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			$test2+=$personas[0]->tot;
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->valoracionesPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->valoracionesPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		?>
	</table>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE ORDENES GENERADAS BARRANQUILLA</td>
		</tr>
		<?
		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->ordenesPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->ordenesPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		echo '<tr><td align="right" style="font-weight: bold">H.V.C</td>';
		foreach ($usuarios as $key => $usu) {
			// $valoraciones = $cit->ordenesPorPsi($fechai, $fechaf, $usu->usu_cod);
			$personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$personas[0]->tot.'</b></td>';
		}
		echo '</tr>';
		// echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test2.'</td></tr>';
		?>
	</table>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE CONTRATADOS BARRANQUILLA</td>
		</tr>
		<?
		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->contratadosPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->contratadosPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		?>
		
	</table>
	<table border="1" align="center">
		<? $usuarios = Usuarios::find(array("(tus_cod=29 OR tus_cod=35 OR tus_cod=40) AND mun_cod=149 AND usu_est='1'")); ?>
		<tr>
			<td colspan="<?=count($usuarios) + 1?>">&nbsp;</td>
		</tr>

		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE VALORACIONES REALIZADAS BOGOTÁ</td>
		</tr>
		<? 
		$cit=new Agenda();
		$test = 0;
		$test2=0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
			$personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			$test2+=$personas[0]->tot;
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->valoracionesPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->valoracionesPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		?>
	</table>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE ORDENES GENERADAS BOGOTÁ</td>
		</tr>
		<?
		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->ordenesPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->ordenesPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		echo '<tr><td align="right" style="font-weight: bold">H.V.C</td>';
		foreach ($usuarios as $key => $usu) {
			// $valoraciones = $cit->ordenesPorPsi($fechai, $fechaf, $usu->usu_cod);
			$personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$personas[0]->tot.'</b></td>';
		}
		echo '</tr>';
		// echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test2.'</td></tr>';
		?>
	</table>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="<?=count($usuarios) + 1?>"># DE CONTRATADOS BOGOTÁ</td>
		</tr>
		<?
		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td>';
		
		foreach ($usuarios as $key => $usu) {
			echo '<td>'.$usu->usu_nom.' '.$usu->usu_ape.'</td>';
		}
		echo '</tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($usuarios as $key => $usu) {
				foreach ($cit->contratadosPorPsiD($nuevafecha, $usu->usu_cod) as $key => $c) {
					// $test+=$valoraciones[0]->total;
					echo '<td>'.$c->total.'</td>';
				}
			}
			echo '</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td>';
		$test = 0;
		$test2 = 0;
		foreach ($usuarios as $key => $usu) {
			$valoraciones = $cit->contratadosPorPsi($fechai, $fechaf, $usu->usu_cod);
			// $personas = $cit->ordenesPorPsiC($fechai, $fechaf, $usu->usu_cod);
			// $test+=$valoraciones[0]->total;
			// $test2+=$personas[0]->tot;
			echo '<td><b style="color: #f0584a">'.$valoraciones[0]->total.'</b></td>';
		}
		echo '</tr>';
		?>
		
	</table>
	
</body>
</html>