<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=Indicadores_sala.xls");

	function dias_transcurridos($fecha_i,$fecha_f)
	{
		$dias	= (strtotime($fecha_i)-strtotime($fecha_f))/86400;
		$dias 	= abs($dias); $dias = floor($dias);		
		return $dias;
	}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicador de Gestion Psicologas</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Indicadores de Sala</h3>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">PERIODO SOLICITADO DEL <?=$fechai." AL ".$fechaf?></td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS 16PF</td>
		</tr>
		<? 
		$pf=new Personas16pf();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>16PF</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($pf->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS CARA</td>
		</tr>
		<? 
		$caras=new CarasPer();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>CARAS</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($caras->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS CMT</td>
		</tr>
		<? 
		$cmt=new Cmt();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>CMT</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($cmt->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS IPV</td>
		</tr>
		<? 
		$ipv=new IpvPre();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>IPV</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($ipv->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS PNL</td>
		</tr>
		<? 
		$pnl=new PnlPer();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>PNL</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($pnl->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2"># DE PRUEBAS VALANTI</td>
		</tr>
		<? 
		$valanti=new Valanti();

		$test = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td>VALANTI</td><td>Cant</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($valanti->npruebas($nuevafecha) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		echo '<tr><td align="right"><b>Total</b></td><td>'.$test.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS CITADOS POR TURNO</td>
		</tr>
		<? 
		$agenda=new Agenda();
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoD($nuevafecha, "02:00 - 04:00") as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoD($nuevafecha, "04:00 - 06:00") as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoD($nuevafecha, "08:00 - 10:00") as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoD($nuevafecha, "10:00 - 12:00") as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS CITADOS POR TURNO CIUDAD BARRANQUILLA</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "02:00 - 04:00", 126) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "04:00 - 06:00", 126) as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "08:00 - 10:00", 126) as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "10:00 - 12:00", 126) as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS CITADOS POR TURNO CIUDAD BOGOTÁ</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "02:00 - 04:00", 149) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "04:00 - 06:00", 149) as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "08:00 - 10:00", 149) as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDC($nuevafecha, "10:00 - 12:00", 149) as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS CITADOS POR TURNO OTRAS CIUDADES</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDCO($nuevafecha, "02:00 - 04:00") as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCO($nuevafecha, "04:00 - 06:00") as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCO($nuevafecha, "08:00 - 10:00") as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCO($nuevafecha, "10:00 - 12:00") as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS EN SALA POR TURNO</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDA($nuevafecha, "02:00 - 04:00") as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDA($nuevafecha, "04:00 - 06:00") as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDA($nuevafecha, "08:00 - 10:00") as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDA($nuevafecha, "10:00 - 12:00") as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS EN SALA POR TURNO CIUDAD BARRANQUILLA</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "02:00 - 04:00", 126) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "04:00 - 06:00", 126) as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "08:00 - 10:00", 126) as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "10:00 - 12:00", 126) as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS EN SALA POR TURNO CIUDAD BOGOTÁ</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "02:00 - 04:00", 149) as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "04:00 - 06:00", 149) as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "08:00 - 10:00", 149) as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCA($nuevafecha, "10:00 - 12:00", 149) as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="5"># REGISTROS EN SALA POR TURNO OTRAS CIUDADES</td>
		</tr>
		<? 
		$test = 0;
		$test1 = 0;
		$test2 = 0;
		$test3 = 0;
		$diasT = dias_transcurridos($fechai, $fechaf);
		echo '<tr><td></td><td>02:00 - 04:00</td><td>04:00 - 06:00</td><td>08:00 - 10:00</td><td>10:00 - 12:00</td></tr>';
		for ($i=0; $i <=$diasT ; $i++) {
			$nuevafecha = strtotime ( '+'.$i.' day' , strtotime ( $fechai ) ) ;
			$nuevafecha = date ( 'Y-m-d' , $nuevafecha );
			
			echo '<tr><td>'.$nuevafecha.'</td>';
			foreach ($agenda->citadosPorturnoDCOA($nuevafecha, "02:00 - 04:00") as $key => $pru) {
				$test+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCOA($nuevafecha, "04:00 - 06:00") as $key => $pru) {
				$test1+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCOA($nuevafecha, "08:00 - 10:00") as $key => $pru) {
				$test2+=$pru->total;
				echo '<td>'.$pru->total.'</td>';
			}
			foreach ($agenda->citadosPorturnoDCOA($nuevafecha, "10:00 - 12:00") as $key => $pru) {
				$test3+=$pru->total;
				echo '<td>'.$pru->total.'</td></tr>';
			}
		}
		
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td><td>'.$test1.'</td><td>'.$test2.'</td><td>'.$test3.'</td></tr>';
		?>
	</table>
	
</body>
</html>