<?
	header("Content-Type: application/vnd.ms-excel");

	header("Expires: 0");

	header("Cache-Control: must-revalidate, post-check=0, pre-check=0");

	header("content-disposition: attachment;filename=Indicadores_BD.xls");

	function dias_transcurridos($fecha_i,$fecha_f)
	{
		$dias	= (strtotime($fecha_i)-strtotime($fecha_f))/86400;
		$dias 	= abs($dias); $dias = floor($dias);		
		return $dias;
	}
?>
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicadores BD</title>
	<style>
		table{
			
			border-collapse: collapse;

		}
		h3{
			text-align: center;
		}
	</style>
</head>
<body>
<h3>Indicadores BD <?
			if ($dpto <> "TODOS") {
				echo Dpto::findFirst($dpto)->dep_nom;
			} else {
				echo $dpto;
			}
			?></h3>
	<table border="1" align="center">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">PERIODO SOLICITADO DEL <?=$fechai." AL ".$fechaf?>

			</td>
		</tr>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES</td>
		</tr>
		<?
		$pers = new Personas();
		if ($dpto == "TODOS") {
			$personas = $pers->registrosT($fechai, $fechaf);
			$activos = $pers->registrosA($fechai, $fechaf);
		} else {
			$personas = $pers->registrosTD($fechai, $fechaf, $dpto);
			$activos = $pers->registrosAD($fechai, $fechaf, $dpto);
		}
		
		$totales=0;
		foreach ($personas as $key => $per) {
			$totales+=$per->total;
			echo '<tr>
					<td align="right">'.$per->fecha.'</td>
					<td>'.$per->total.'</td>
			</tr>';
		}
		echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$totales.'</td></tr>';
		?>
		<tr>
			<td colspan="2">&nbsp;</td>
		</tr>
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES (Activos)</td>
		</tr>
		<tr>
			<td align="right"><b>Total</b></td>
			<td>
				<? 
				
				echo $activos[0]->total;
				?>
			</td>
		</tr>
	</table>
	<br>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS ACTIVOS (Por sexo)</td>
		</tr>
		<?
		$test = 0;
		$sexos = Tipos::find(array("tip_tip='sexo'"));
		foreach ($sexos as $key => $est) {
			$sexo = $pers->registrosS($fechai, $fechaf, $est->tip_cod, $dpto);
			$test+=$sexo[0]->total;
			echo '<tr><td>'.$sexo[0]->tip_des.'</td><td>'.$sexo[0]->total.'</td></tr>';
			}
			echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>
	<br>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS ACTIVOS (Por nivel de escolaridad)</td>
		</tr>
		<?
		$test = 0;
		$niveles = Tipos::find(array("tip_tip='niv'"));
		foreach ($niveles as $key => $est) {
			$nivel = $pers->registrosN($fechai, $fechaf, $est->tip_cod, $dpto);
			$test+=$nivel[0]->total;
			echo '<tr><td>'.$nivel[0]->tip_des.'</td><td>'.$nivel[0]->total.'</td></tr>';
			}
			echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>

	<br>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES (Por estados)</td>
		</tr>
		<?
		$test = 0;
		$esta = Estados::find(array("est_est='1'"));
		foreach ($esta as $key => $est) {
			$estados = $pers->registrosE($fechai, $fechaf, $est->est_cod, $dpto);
			$test+=$estados[0]->total;
			echo '<tr><td>'.$estados[0]->est_nom.'</td><td>'.$estados[0]->total.'</td></tr>';
			}
			echo '<tr><td>SIN PROCESO</td><td>'.($totales - $test).'</td></tr>';
			echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>

	<br>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES (Por cargo de interés)</td>
		</tr>
		<?
		$test = 0;
		$interes = Cargos::find(array("car_est='1' ORDER BY car_des"));
		foreach ($interes as $key => $est) {
			$cargos = $pers->registrosI($fechai, $fechaf, $est->car_cod, $dpto);
			$test+=$cargos[0]->total;
			echo '<tr><td>'.$cargos[0]->car_des.'</td><td>'.$cargos[0]->total.'</td></tr>';
			}
			echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>
	<br>
	<br>
	<table border="1">
		<tr>
			<td style="background-color: #f0584a; color: #ffffff; font-weight: 600;" colspan="2">REGISTROS TOTALES (Por cargo postulado)</td>
		</tr>
		<?
		$test = 0;
		$postulados = Cargos::find(array("car_est='1' ORDER BY car_des"));
		foreach ($postulados as $key => $est) {
			$cargos = $pers->registrosP($fechai, $fechaf, $est->car_cod, $dpto);
			$test+=$cargos[0]->total;
			echo '<tr><td>'.$cargos[0]->car_des.'</td><td>'.$cargos[0]->total.'</td></tr>';
			}
			echo '<tr><td align="right" style="font-weight: bold">Total</td><td>'.$test.'</td></tr>';
		?>
	</table>
</body>
</html>