
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Indicador de Reclutamiento</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	 <script>
        jQuery(document).ready(function($) {
           $( ".fecha" ).datepicker({
            dateFormat:"yy-mm-dd"
           });
        });

        function generar(){
        	fechai = $("#fecha_inicial").val()
        	fechaf = $("#fecha_final").val()
        	window.open($("#url_base").val()+"Indicadoresbd/excelr/"+fechai+"/"+fechaf);
   //      	if (indicador == "") {
   //      		alert("Seleccione un indicador")
   //      		return false
   //      	}
   //      	if (fechai == "") {
   //      		alert("Digite fecha inicial")
   //      		return false
   //      	}
   //      	if (fechaf == "") {
   //      		alert("Digite fecha final")
   //      		return false
   //      	}
   //      	$.ajax({
			// 	url: $("#url_consultar").val(),
			// 	type: 'POST',
			// 	dataType: 'html',
			// 	data: "indicador="+indicador+"&fechai="+fechai+"&fechaf="+fechaf,
			// })
			// .done(function(datos) {
			// 	// console.log(datos)
			// 	$("#res_ind").html(datos);

				
			// })
			// .fail(function() {
			// 	console.log("error");
			// })
			// .always(function() {
			// 	console.log("complete");
			// });
        }
      </script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<input type="hidden" name="url_base" id="url_base" value="<?=$this->url->get()?>">
				<input type="hidden" name="url_consultar" id="url_consultar" value="<?=$this->url->get("Indicadoresbd/consultar")?>">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<center>
						<table class="form" width="50%">
							<tr>
								<th colspan="2">Indicador de Fuente de Reclutamiento</th>
								
							</tr><!-- 
							<tr>
								<td>Que indicador quiere</td>
								<td><select name="indicador" id="indicador">
									<option value="">Seleccione</option>
									<option value="1">Estatus de Registros (# de aspirantes registrados)</option>
									<option value="7">Estatus de Postulaciones (# de aspirante postulados)</option>
									<option value="2">Fuentes de reclutamiento (# de registros por fuente)</option>
									<option value="3">Número de registros por cargo</option>
									<option value="4">Número de registros por ciudad de residencia</option>
									<option value="5">Registros por sexo</option>
									<option value="6">Registros por estados</option>
								</select></td>
							</tr> -->
							<tr>
								<td>Fecha Inicial</td>
								<td><input type="text" name="fecha_inicial" id="fecha_inicial" class="fecha"></td>
							</tr>
							<tr>
								<td>Fecha Final</td>
								<td><input type="text" name="fecha_final" id="fecha_final" class="fecha"></td>
							</tr>

							<tr>
								<td colspan="2"><input type="button" value="Generar Indicador" class="boton w100"  onclick="generar()"></td>
							</tr>
						</table>
						<br>
						<br>
						<div id="res_ind">
						</div>
						<br>
						<br>
						<br>
					</center>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


