
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resultado Valanti</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	 <script>
	 	function AbrirModal(){
			$(".negro").css("display", "block")
			$("#modal_documentos").css("display", "block")
			
		}

		function cerrarModal(){
			$(".negro").css("display", "none")
			$("#modal_documentos").css("display", "none")


		}
	 </script>

	<script type='text/javascript' src='https://www.google.com/jsapi'></script>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarValoracion/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarValoracion/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'VerValanti/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarValoracion/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
					<div style="padding-left:0px;color:#f0584a">Resultado Valanti <div onclick="eliminarPrueba('<?=$valanti?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
                <div id="modal_documentos" style="background-color:white;">
                    <?
                        $fotos = Fotos::find("fot_pru='VALANTI' AND per_cod=".$persona->per_cod);
                        foreach ($fotos as $key => $fot) {
                            ?>
                                <center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
                            <?
                        }
                    ?>
                </div>
					<div class="consulta">
						<!-- <p>Resultado Valanti</p> -->
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>
					<br>
					<?php 
						$registros = Valanti::resultado($persona->per_cod);
						if (count($registros) > 0) {
						$verdad_pd=0;

						$rectitud=0;

						$paz=0;

						$amor=0;

						$no_violencia=0;

						foreach ($registros as  $reg) {

							if($reg->pregunta=="3" || $reg->pregunta=="5" || $reg->pregunta=="6"

								|| $reg->pregunta=="12" || $reg->pregunta=="16" || $reg->pregunta=="20"){

								$verdad_pd+=$reg->res1;

							}

							if($reg->pregunta=="7" || $reg->pregunta=="8" || $reg->pregunta=="9"

								|| $reg->pregunta=="18" || $reg->pregunta=="23" || $reg->pregunta=="25"){

								$verdad_pd+=$reg->res2;

							}

							//RECTITUD



						if($reg->pregunta=="11" || $reg->pregunta=="7" || $reg->pregunta=="21"

							|| $reg->pregunta=="26" || $reg->pregunta=="28" || $reg->pregunta=="29"){

							$rectitud+=$reg->res1;

						}



						if($reg->pregunta=="1" || $reg->pregunta=="2" || $reg->pregunta=="5"

							|| $reg->pregunta=="13" || $reg->pregunta=="6" || $reg->pregunta=="24"){

							$rectitud+=$reg->res2;

						}


						//PAZ





							if($reg->pregunta=="4" || $reg->pregunta=="14" || $reg->pregunta=="19"

								|| $reg->pregunta=="24" || $reg->pregunta=="25"){

								$paz+=$reg->res1;

							}



							if($reg->pregunta=="3" || $reg->pregunta=="10" || $reg->pregunta=="12"

								|| $reg->pregunta=="15" || $reg->pregunta=="17" || $reg->pregunta=="21" 

								|| $reg->pregunta=="26" || $reg->pregunta=="28"){

								$paz+=$reg->res2;

							}



								//AMOR



								if($reg->pregunta=="1" || $reg->pregunta=="2" || $reg->pregunta=="8"

									|| $reg->pregunta=="15" || $reg->pregunta=="17"){

									$amor+=$reg->res1;

								}



								if($reg->pregunta=="16" || $reg->pregunta=="19" || $reg->pregunta=="22"

									|| $reg->pregunta=="27" || $reg->pregunta=="30" ){

									$amor+=$reg->res2;

								}

								//NO VIOLENCIA

									if($reg->pregunta=="9" || $reg->pregunta=="10" || $reg->pregunta=="13"

										|| $reg->pregunta=="18" || $reg->pregunta=="22" || $reg->pregunta=="22"

										|| $reg->pregunta=="23" || $reg->pregunta=="27" || $reg->pregunta=="30"){

										$no_violencia+=$reg->res1;

									}



									if($reg->pregunta=="4" || $reg->pregunta=="11" || $reg->pregunta=="14"

										|| $reg->pregunta=="20" || $reg->pregunta=="29" ){

										$no_violencia+=$reg->res2;

									}



						}
					 ?>
					<br>
					<?php 
							 function normalizacion($pd, $pro, $des){
								$valor = ($pd-$pro)/$des;
								return $valor;
							}

							 function promedio($pd){
								$pro = "";

								if($pd>=0 and $pd<=23){


									$pro = "Muy Bajo <br>"."*";

								}elseif($pd>=24 and $pd<=33){

									$pro = "Bajo <br>"."**";


								}elseif($pd>=34 and $pd<=43){

									$pro = "Promedio bajo <br>"."***";

								}elseif($pd>=44 and $pd<=53){
									$pro = "Promedio <br>"."****";

								}elseif($pd>=54 and $pd<=63){

									$pro = "Promedio Alto <br>"."*****";

								}elseif($pd>=64 and $pd<=73){

									$pro = "Alto <br>"."******";

								}elseif($pd>=73){

									$pro = "Muy Alto <br>"."*******";

								}

								return $pro;

							}

					 ?>
						<table border="0" class="form">

							<tr>

								<th>Valor</th>

								<th>Verdad</th>

								<th>Rectitud</th>

								<th>Paz</th>

								<th>Amor</th>

								<th>No violencia</th>

							</tr>

							<tr>

								<td>Promedio Normas nacionales, 1997 n(=730)</td>

								<td>15.65</td>

								<td>21.05</td>

								<td>17.35</td>

								<td>16.68</td>

								<td>21.22</td>

							</tr>

							<tr>

								<td>Desviación Standar Normas nacionales, 1997 (n=730)</td>

								<td>4.70</td>

								<td>4.44</td>

								<td>6.61</td>

								<td>5.41</td>

								<td>7.19</td>

							</tr>	

							<tr>

								<td>Puntajes Directos</td>

								<td><?php echo $verdad_pd ?></td>

								<td><?php echo $rectitud ?></td>

								<td><?php echo $paz ?></td>

								<td><?php echo $amor ?></td>

								<td><?php echo $no_violencia ?></td>

							</tr>	

							<tr>

								<td>Ideal</td>

								<td>50</td>

								<td>50</td>

								<td>50</td>

								<td>50</td>

								<td>50</td>

							</tr>	

							<tr>

								<td><?=$persona->per_pno, " ", $persona->per_pap;?></td>

								<td><?php echo round(normalizacion($verdad_pd, 15.65, 4.70)*10+50); ?></td>

								<td><?php echo round(normalizacion($rectitud, 21.05, 4.44)*10+50); ?></td>

								<td><?php echo round(normalizacion($paz, 17.35, 6.61)*10+50); ?></td>

								<td><?php echo round(normalizacion($amor, 16.68, 5.41)*10+50); ?></td>

								<td><?php echo round(normalizacion($no_violencia, 21.22, 7.19)*10+50); ?></td>

							</tr>

							

							<tr>

								<td>Interpretación del puntaje estándar</td>

								<td><?php echo promedio(round(normalizacion($verdad_pd, 15.65, 4.70)*10+50)); ?></td>

								<td><?php echo promedio(round(normalizacion($rectitud, 21.05, 4.44)*10+50)); ?></td>

								<td><?php echo promedio(round(normalizacion($paz, 17.35, 6.61)*10+50)); ?></td>

								<td><?php echo promedio(round(normalizacion($amor, 16.68, 5.41)*10+50)); ?></td>

								<td><?php echo promedio(round(normalizacion($no_violencia, 21.22, 7.19)*10+50)); ?></td>

							</tr>	

							<tr>

								<td>Distancia con la organización</td>

								<td><?php echo round(normalizacion($verdad_pd, 15.65, 4.70)*10+50) - 50; ?></td>

								<td><?php echo round(normalizacion($rectitud, 21.05, 4.44)*10+50) - 65?></td>

								<td><?php echo round(normalizacion($paz, 17.35, 6.61)*10+50)- 50?></td>

								<td><?php echo round(normalizacion($amor, 16.68, 5.41)*10+50) - 65; ?></td>

								<td><?php echo round(normalizacion($no_violencia, 21.22, 7.19)*10+50) - 65; ?></td>

							</tr>	

						</table>
					
					<br>
						<?php 
			$verdad_grafica = round(normalizacion($verdad_pd, 15.65, 4.70)*10+50);
			$rectitud_grafica = round(normalizacion($rectitud, 21.05, 4.44)*10+50);
			$paz_grafica = round(normalizacion($paz, 17.35, 6.61)*10+50);
			$amor_grafica = round(normalizacion($amor, 16.68, 5.41)*10+50);
			$violencia_grafica = round(normalizacion($no_violencia, 21.22, 7.19)*10+50);

							
						 ?>
					    <script type="text/javascript">
					      google.load("visualization", "1", {packages:["corechart"]});
					      google.setOnLoadCallback(drawChart);
					      function drawChart() {
					        var data = google.visualization.arrayToDataTable([
					          ['Valores', 'Ideal', 'Candidato'],
					          ['verdad',  50,      <?=$verdad_grafica?>],
					          ['Rectitud',  50,      <?=$rectitud_grafica?>],
					          ['Paz',  50,       <?=$paz_grafica?>],
					          ['Amor',  50,      <?=$amor_grafica?>],
					          ['Violencia',  50,      <?=$violencia_grafica?>]
					        ]);

					        var options = {
					          title: '',
					          hAxis: {title: 'Valores',  titleTextStyle: {color: '#333'}},
					          vAxis: {minValue: 0}
					        };

					        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
					        chart.draw(data, options);
					      }
					    </script>

					    <div id="chart_div" style="width: 700px; height: 400px;"></div>
					<br>
					<br>
					<?php } else {
						echo "El aspirante no ha realizado esta prueba";
						} ?>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


