<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gestor documental</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>


</head>
<body>

<div id="contenedor">
    <div class="negro" onclick="cerrarModal();"></div>

    <input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
        'Consultaraspirante/estado') ?>">
    <input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
        'gestordocumental/consultarc') ?>">
    <input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
        'Verdocumentos/obtenerdoc') ?>">
    <input type="hidden" id="url_upload" name="url_upload" value="<?php echo $this->url->get(
        'Verdocumentos/uploaddocdrive') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" name="url_eliminar_doc" id="url_eliminar_doc" value="<?php echo $this->url->get("Gestordocumental/eliminar") ?>">
    <input type="hidden" name="url_eliminar_docdrive" id="url_eliminar_docdrive" value="<?php echo $this->url->get("Gestordocumental/eliminardrive") ?>">
    <input type="hidden" name="url_quitar" id="url_quitar" value="<?php echo $this->url->get("Gestordocumental/quitar") ?>">
    <input type="hidden" id="txt_pag" name="txt_pag" value="">
    <?php $this->partial("shared/encabezado") ?>
    <!-- <div class="clear"></div> -->
    <div id="cuerpo">

        <div id="izq">
            <?php $this->partial("shared/menuLateral") ?>
        </div>
        <div id="central">
            <div id="cuerpo_central">
                <form id="frm-doc" enctype="multipart/form-data" method="post">
                    <input type="hidden"  id="ord_doc" name="ord_cod" >
                    <div id="modal_documentos_doc"></div>
                </form>

                <div class="consulta">
                    <p>Gestor documental</p>
                    <div class="busqueda">

                        <select name="oficina" id="oficina" style="width: 110px" onchange="filtrarDoc(1)">
                            <option value="">Oficina</option>
                            <option value="126">Barranquilla</option>
                            <option value="149">Bogotá</option>
                        </select>
                        <select name="emp_cod" id="emp_cod" style="width: 130px" onchange="filtrarDoc(1);">
                            <option value="">Usuaria / Proyecto</option>
                            <?
                            foreach ($empresas as $key => $emp) {
                                echo '<option value="'.$emp->getEmpCod().'">'.$emp->getEmpRaz().'</option>';
                            }
                            ?>
                        </select>
                        <select name="estad" id="estad" style="width: 110px" onchange="filtrarDoc(1);">
                            <option value="">Estados</option>
                            <?
                            foreach ($estados as $key => $est) {
                                echo '<option value="'.$est->est_cod.'">'.$est->est_nom.'</option>';
                            }
                            ?>
                        </select>
                        <select name="dotacion" id="dotacion" style="width: 110px" onchange="filtrarDoc(1)">
                            <option value="">Dotación</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                        <select name="completo" id="completo" style="width: 110px" onchange="filtrarDoc(1)">
                            <option value="">Completo</option>
                            <option value="">NO</option>
                            <option value="completado">SI</option>
                        </select>
                        <input type="text" style="width: 110px" placeholder="Busqueda..." id="txt_doc">
                    </div>
                </div>
                <br>
                <div id="respuesta"> </div>

                <br>

            </div>
        </div>
        <div id="derecha">
            <?php $this->partial("shared/derecha") ?>
        </div>
    </div>

    <div id="pie">
        <?php $this->partial("shared/pie") ?>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $.ajax({
            url: $("#url_consultar").val(),
            type: 'POST',
            dataType: 'html',
            data: "txt_pag=" + $("#txt_pag").val(),
            beforeSend: function () {
                $("#respuesta").html("Cargando...")
            }
        })

        .done(function (datos) {
            // console.log(datos)
            $("#respuesta").html(datos)


        })
        .fail(function () {
            console.log("error");
        })
        .always(function () {
            console.log("complete");
        });
    });
</script>
</body>
</html>