





<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pruebas Psicotecnicas</title>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<?php $this->partial("shared/menu") ?>
<p>Codigo de la requisicion : <?=$this->session->get("req_cod") ?></p>
<?php echo  $this->dispatcher->getParam(0); ?>
<h1>Pruebas Psicotecnicas</h1>

<?php foreach ($pruebas as  $pru): ?>


	<?php if ($pru->car_16p=="1"): ?>
		 <a href="<?=$this->url->get('Prueba16pf/')?>">16 PF</a><br><br>
	<?php endif ?>
	
	<?php if ($pru->car_pnl=="1"): ?>
		 <a href="<?=$this->url->get('PruebaPnl/')?>">PNL</a><br><br>
	<?php endif ?>

	<?php if ($pru->car_val=="1"): ?>
		 <a href="<?=$this->url->get('PruebaValanti/')?>">VALANTI</a><br><br>
	<?php endif ?>

	<?php if ($pru->car_cmt=="1"): ?>
		 <a href="<?=$this->url->get('PruebaCmt/')?>">CMT</a><br><br>
	<?php endif ?>

	<?php if ($pru->car_car=="1"): ?>
		 <a href="<?=$this->url->get('PruebaCaras/')?>">CARAS</a><br><br>
	<?php endif ?>

	<?php if ($pru->car_ipv=="1"): ?>
		 <a href="">IPV</a><br><br>
	<?php endif ?>

		
<?php endforeach ?>
	
</body>
</html>