
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Proceso de Seleccion</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">


	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuAspirante") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							
						}
					?>
					<div class="consulta">
						<p>Proceso de Seleccion</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="form" width="100%">
							<tr>
								<th style="font-size: 12pt">A continuación realice las siguientes pruebas para completar su proceso de selección</th>
							</tr>
							<tr>
								<td>
									<?php foreach ($pruebas as  $pru): ?>
									<?php if ($pru->car_16p=="1"): ?>
									<?php 
									$pf = new Personas16pf();
									if(count($pf->resultado($this->session->get("per_cod"), $this->session->get("req_cod")))) {
										$class = "fondo-gris";
										$pf = true;
									} else {
										$pf = false;
									}
									?>	
									<table class="caja_prueba <?=$class?>">
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 1</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($pf) { ?>
														Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('prueba16PF/')?>" class="boton" >Abrir Prueba</a>
												<?php }
												?>
												
											</td>
										</tr>
									</table>
									<?php endif ?>

									<?php if ($pru->car_pnl=="1"): ?>
										<?php 
										$pnl = new PnlPer();
										if(count($pnl->resultado($this->session->get("per_cod"), $this->session->get("req_cod")))) {
											$class = "fondo-gris";
											$pw = true;
										}
									?>	
									<table class="caja_prueba <?=$class?>">
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 2</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($pw) { ?>
														Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('pruebaPnl/')?>" class="boton">Abrir Prueba</a>
												<?php }
												?>
												
											</td>
										</tr>
									</table>
									<?php endif ?>

									<?php if ($pru->car_car=="1"): ?>
										<?php
										$caras = new CarasPer();
										if(count($caras->resultado($this->session->get("per_cod"), $this->session->get("req_cod")))) {
											$class = "fondo-gris";
											$cw = true;
										} else {
											$cw = false;
										}
										
									?>	
									<table class="caja_prueba <?=$class?>">
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 3</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($cw) { ?>
														Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('pruebaCaras/')?>" class="boton" >Abrir Prueba</a>
												<?php }
												?>
											</td>
										</tr>
									</table>
									<?php endif ?>

									<?php if ($pru->car_ipv=="1"): ?>
										<?php 
										$ipv = new IpvPre();
										if(count($ipv->obtenerResultado($this->session->get("per_cod"), $this->session->get("req_cod")))) {
											$class = "fondo-gris";
											$iw = true;
										} else {
											$iw = false;
										}
										?>
									<table class="caja_prueba <?=$class?>">
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 4</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($iw) { ?>
													Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('pruebaIpv')?>" class="boton" >Abrir Prueba</a>
												<?php }
												?>
												
											</td>
										</tr>
									</table>
									<?php endif ?>

									<?php if ($pru->car_val=="1"): ?>
										<?php 
										$valanti = new Valanti();
										if(count($valanti->resultado($this->session->get("per_cod"), $this->session->get("req_cod")))) {
											$class = "fondo-gris";
											$vw = true;
										} else {
											$vw = false;
										}
										?>
									<table class="caja_prueba <?=$class?>" >
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 5</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($vw) { ?>
													Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('pruebaValanti/')?>" class="boton" >Abrir Prueba</a>
												<?php }
												?>
											</td>
										</tr>
									</table>
									<?php endif ?>
									
									<?php if ($pru->car_cmt=="1"): ?>
										<?php 
										$cmt = new Cmt();
										if(count($cmt->resultadoU($this->session->get("per_cod"), $this->session->get("req_cod")))) {
											$class = "fondo-gris";
											$cmw = true;
										} else {
											$cmw = false;
										}
										?>	
									<table class="caja_prueba <?=$class?>">
										<tr>
											<th><img src="<?=$this->url->get()?>img/chulo.png"> Prueba 6</th>
										</tr>
										<tr>
											<td>
												<?php 
												if ($cmw) { ?>
													Realizada
												<?php } else { ?>
													<a href="<?=$this->url->get('pruebaCmt/')?>" class="boton" >Abrir Prueba</a>
												<?php }
												?>
												
											</td>
										</tr>
									</table>
									<?php endif ?>

									<?php endforeach ?>
								</td>
							</tr>
						</table>
					</div>
					<br>
					
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie_postulantes") ?>
		</div>
	</div>
</form>
</body>
</html>




