
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: CMT</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarCMT/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarCMT/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarCMT/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarCMT/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : CMT</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>
					<style type="text/css">
						input[type='text'] {
						  width: 30px;
						}
					</style>
						<h3 >PRIMERA PARTE</h3>
	<table width="600"  >

		<tr>

		<td>a.<input type="text" name="primero_uno">

			b.<input type="text" name="primero_dos">

			c.<input type="text" name="primero_tres">

			d.<input type="text" name="primero_cuatro">

			e.<input type="text" name="primero_cinco">

		</td>

		</tr>

		</table>



		



		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="segundo_uno">

			b.<input type="text" name="segundo_dos">

			c.<input type="text" name="segundo_tres">

			d.<input type="text" name="segundo_cuatro">

			e.<input type="text" name="segundo_cinco">

		</td>

		</tr>

		</table>



		

		<!-- 3 -->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="tercero_uno">

			b.<input type="text" name="tercero_dos">

			c.<input type="text" name="tercero_tres">

			d.<input type="text" name="tercero_cuatro">

			e.<input type="text" name="tercero_cinco">

		</td>

		</tr>

		</table>



		



		<!-- 4-->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="cuarto_uno">

			b.<input type="text" name="cuarto_dos">

			c.<input type="text" name="cuarto_tres">

			d.<input type="text" name="cuarto_cuatro">

			e.<input type="text" name="cuarto_cinco">

		</td>

		</tr>

		</table>



		



		<!-- 5-->

		<table width="600" >

		<tr>

			<td>

				a.<input type="text" name="quinto_uno">

				b.<input type="text" name="quinto_dos">

				c.<input type="text" name="quinto_tres">

				d.<input type="text" name="quinto_cuatro">

				e.<input type="text" name="quinto_cinco">

			</td>

		</tr>

		</table>





		<h3 >SEGUNDA PARTE</h3>



		
		<table width="600" >

		<tr>

		<td>

		a.<input type="text" name="sexto_uno">

		b.<input type="text" name="sexto_dos">

		c.<input type="text" name="sexto_tres">

		d.<input type="text" name="sexto_cuatro">

		e.<input type="text" name="sexto_cinco">

		</td>

		</tr>

		</table>

		<!-- SEGUNDA PARTE 7 -->

		



		<table width="600" >

		<tr>

		<td>

		a.<input type="text" name="septimo_uno">

		b.<input type="text" name="septimo_dos">

		c.<input type="text" name="septimo_tres">

		d.<input type="text" name="septimo_cuatro">

		e.<input type="text" name="septimo_cinco">

		</td>

		</tr>

		</table>



		<!-- SEGUNDA PARTE 8 -->

		



		<table width="600" >
		<tr>

		<td>

		a.<input type="text" name="octavo_uno">

		b.<input type="text" name="octavo_dos">

		c.<input type="text" name="octavo_tres">

		d.<input type="text" name="octavo_cuatro">

		e.<input type="text" name="octavo_cinco">

		</td>

		</tr>

		</table>



		



		<!-- SEGUNDA PARTE 9 -->

		<table width="600" >
		<tr>

		<td>

		a.<input type="text" name="noveno_uno">

		b.<input type="text" name="noveno_dos">

		c.<input type="text" name="noveno_tres">

		d.<input type="text" name="noveno_cuatro">

		e.<input type="text" name="noveno_cinco">

		</td>

		</tr>

		</table>



		



		<!-- SEGUNDA PARTE 10 -->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="decimo_uno">

			b.<input type="text" name="decimo_dos">

			c.<input type="text" name="decimo_tres">

			d.<input type="text" name="decimo_cuatro">

			e.<input type="text" name="decimo_cinco">

		</td>

		</tr>

		</table>



		<h3 >TERCERA PARTE</h3>

		<!-- TERCERA PARTE 11 -->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="undecimo_uno">

			b.<input type="text" name="undecimo_dos">

			c.<input type="text" name="undecimo_tres">

			d.<input type="text" name="undecimo_cuatro">

			e.<input type="text" name="undecimo_cinco">

		</td>

		</tr>

		</table>



		



		<!-- TERCERA PARTE 12-->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="decimosegundo_uno">

			b.<input type="text" name="decimosegundo_dos">

			c.<input type="text" name="decimosegundo_tres">

			d.<input type="text" name="decimosegundo_cuatro">

			e.<input type="text" name="decimosegundo_cinco">

		</td>

		</tr>

		</table>



		



		<!-- TERCERA PARTE 13-->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="decimotercero_uno">

			b.<input type="text" name="decimotercero_dos">

			c.<input type="text" name="decimotercero_tres">

			d.<input type="text" name="decimotercero_cuatro">

			e.<input type="text" name="decimotercero_cinco">

		</td>

		</tr>

		</table>



		



		<!-- TERCERA PARTE 14-->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="decimocuarto_uno">

			b.<input type="text" name="decimocuarto_dos">

			c.<input type="text" name="decimocuarto_tres">

			d.<input type="text" name="decimocuarto_cuatro">

			e.<input type="text" name="decimocuarto_cinco">

		</td>

		</tr>

		</table>



		

		<!-- TERCERA PARTE 15-->

		<table width="600" >

		<tr>

		<td>

			a.<input type="text" name="decimoquinto_uno">

			b.<input type="text" name="decimoquinto_dos">

			c.<input type="text" name="decimoquinto_tres">

			d.<input type="text" name="decimoquinto_cuatro">

			e.<input type="text" name="decimoquinto_cinco">

		</td>

		</tr>

		</table>


					<br>
					
					

					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


