<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordenes de Contratacion - Confirmar</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>

</head>
<body>
<div id="contenedor">
    <div class="negro" onclick="cerrarModal();"></div>
    <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('ordenes/eliminar') ?>">
    <input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
        'Consultaraspirante/estado') ?>">
    <input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
        'Ordenesconfirmar/consultar') ?>">
    <input type="hidden" id="url_confirmar" name="url_confirmar" value="<?php echo $this->url->get(
        'Ordenesconfirmar/confirmar') ?>">
    <input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
        'Ordenes/eliminar') ?>">
    <input type="hidden" id="url_consulto" name="url_consulto" value="<?php echo $this->url->get(
        'Consultaraspirante/consulto') ?>">
    <input type="hidden" id="url_obs" name="url_obs" value="<?php echo $this->url->get(
        'Consultaraspirante/observaciones') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" id="txt_pag" name="txt_pag" value="">
    <?php $this->partial("shared/encabezado") ?>
    <!-- <div class="clear"></div> -->
    <div id="cuerpo">
        <div id="izq">
            <?php $this->partial("shared/menuLateral") ?>
        </div>
        <div id="central">
            <div id="cuerpo_central">
                <div id="modal_documentos_o" style="width: 500px">
                    <table class="form" width="100%">
                        <tr>
                            <th colspan="2">Observaciones</th>
                        </tr>
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td>
                                <input type="hidden" id="cod" name="cod">
                                <span id="IsNameO">Joaquin Forero</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Observaciones</td>
                            <td><textarea id="per_obs" name="per_obs" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td>Valoración:</td>
                            <td id="valoracion"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="button" class="boton" onclick="observaciones();"
                                                   value="Guardar"></td>
                        </tr>
                    </table>
                </div>
                <br>
                <div class="consulta" style="background: none">

                    <p>Órdenes por Confirmar</p>
                    <div class="busqueda">
                        <select name="emp_cod" id="emp_cod" style="width: 130px" onchange="filtrar();">
                            <option value="">Usuaria / Proyecto</option>
                            <?
                            foreach ($empresas as $key => $emp) {
                                echo '<option value="' . $emp->getEmpCod() . '">' . $emp->getEmpRaz() . '</option>';
                            }
                            ?>
                        </select>
                        <input type="text" placeholder="Busqueda..." id="txt_bus">
                    </div>
                </div>
                <br>
                <div id="respuesta"></div>
                <br>
                <br>
                <a href="<?php echo $this->url->get('Ordenes/nuevo') ?>" class="boton"> + Agregar Nuevo</a>
            </div>
            <form id="frm">
                <input type="hidden" id="per_cod" name="per_cod">
                <input type="hidden" id="ord_cod" name="ord_cod">
                <div id="modal_documentos" style="position:absolute;background:white;top:10%;padding:20px;">
                </div>
            </form>
        </div>
        <div id="derecha">
            <?php $this->partial("shared/derecha") ?>
        </div>
    </div>
    <div id="pie">
        <?php $this->partial("shared/pie") ?>
    </div>
</div>
<script>
    jQuery(document).ready(function ($) {

        $.ajax({
            url: $("#url_consultar").val(),
            type: 'POST',
            dataType: 'html',
            data: "txt_pag=" + $("#txt_pag").val(),
            beforeSend: function () {
                $("#respuesta").html("Cargando...")
            }
        })

            .done(function (datos) {
                // console.log(datos)
                $("#respuesta").html(datos)


            })
            .fail(function () {
                console.log("error");
            })
            .always(function () {
                console.log("complete");
            });
    });
</script>
</body>
</html>