
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Valoracion</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

    <input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarValoracion/guardarc")?>">

    <input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
        'EvaluarValoracion/consultar') ?>">
    <input type="hidden" id="url_base" name="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
        'EvaluarValoracion/eliminar') ?>">
    <input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
        'EvaluarValoracion/obtener') ?>">
    <input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">
    <input type="hidden" name="req_cod" id="req_cod" value="<?=$req_cod?>">

    <div id="contenedor">
        <div class="negro" onclick="cerrarModal();"></div>

        <?php $this->partial("shared/encabezado") ?>
        <!-- <div class="clear"></div> -->
        <div id="cuerpo">

            <div id="izq">
                <?php $this->partial("shared/menuLateral") ?>
            </div>
            <div id="central">
                <div id="cuerpo_central">
                    <div id="modal_documentos_i" style="width: 500px">
                        <input type="hidden" id="perreq">
                        <table class="form" width="100%">
                            <tr>
                                <th colspan="2">Informe de selección - <span id="pnom"></span></th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="rol"> ROL PLAY (Clínica O Assessment)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="sint"> SÍNTESIS (Características de personalidad)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="button" class="boton" onclick="descargar_informe();" value="Descargar"></td>
                            </tr>
                        </table>

                    </div>

                    <div class="consulta">
                        <p>Realizar Valoración</p>
                        <!-- <div class="busqueda">
                            Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
                        </div> -->
                        <?
                        if ($valoracion > 0) { ?>
                            <img onclick="abrirModalI(<?=$persona->per_cod?>, <?=$req_cod?>, '<?=$persona->per_pno . " " . $persona->per_pap?>')" src="<?=$this->url->get('img/icon.png')?>" style="float: right;" alt="informe">
                        <? }
                        ?>

                    </div>
                    <div class="clear"></div>

                    <div id="respuesta">
                        <table class="lista">
                            <tr>
                                <th>No. Documento</th>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Cargo</th>
                                <th>Empresa</th>
                            </tr>

                            <tr>
                                <td><?=$persona->per_ide?></td>
                                <td><?=$persona->per_pno." ".$persona->per_sno?></td>
                                <td><?=$persona->per_pap." ".$persona->per_sap?></td>
                                <td><?=Cargos::findFirst($req->car_cod)->car_des?></td>
                                <td><?=Empresas::findFirst($req->emp_cod)->getEmpRaz()?></td>
                            </tr>

                        </table>
                    </div>



                    <? $entrevistas = Entrevistas::findFirst(array("pos_cod = '$persona->per_cod' ORDER BY ent_cod DESC"));
                    if ($entrevistas) { ?>
                        <p><b>Comentarios Entrevista:</b> <?=$entrevistas->ent_obs?></p>
                    <? } ?>
                    <? $prueba = Pruebas::findFirst(array("pos_cod = '$persona->per_cod' ORDER BY pru_cod DESC"));
                    if ($prueba) { ?>
                        <p><b>Comentarios Prueba:</b> <?=$prueba->pru_obs?></p>
                    <? } ?>
                    <? $ass = Assessment::findFirst(array("pos_cod = '$persona->per_cod' ORDER BY ass_cod DESC"));
                    if ($ass) { ?>
                        <p><b>Comentarios Assessment:</b> <?=$ass->ass_obs?></p>
                    <? } ?>
                    <br>
                    <table class="form" border="0">
                        <tr>
                            <td>Observaciones Prueba</td>
                            <td><textarea name="pru_obs" id="pru_obs" cols="90" rows="15"></textarea></td>
                        </tr>
                        <tr>
                            <td>Observaciones Entrevista</td>
                            <td><textarea name="ent_obs" id="ent_obs" cols="90" rows="15"></textarea></td>
                        </tr>
                    </table>
                    <br>
                    <table class="form" border="0">
                        <tr>
                            <td colspan="5"><h3>Competencias según Pruebas y Entrevista</h3></td>
                        </tr>
                        <?
                        $select = '<option>Seleccione</option>';
                        for ($i=5; $i<=100; $i+=5){
                            $select .= '<option value="'.$i.'">'.$i.'</option>';
                        }
                        foreach ($competencias as $c) {
                            echo '<tr>
                                        <td>'.$c->nombre.'</td>
                                        <td>'.$c->texto.'</td>';
                            if (!empty($c->valor)) {
                                echo '<td>'.$c->valor.'</td>';
                            }
                            echo '<td><select style="width: 100px" name="radio_'.$c->id.'">'.$select.'</select></td>
                                        </tr>';
                        }
                        ?>
                    </table>
                    <br>

                    <table class="form" width="60%">
                        <tr>
                            <td>Concepto Psicológico</td>
                        </tr>
                        <tr>
                            <td><textarea name="val_obs" id="val_obs"></textarea></td>
                        </tr>
                    </table>

                    <br>

                    <input type="button" value="Guardar Y Continuar" class="boton" id="btn_guardar">
                    <br>
                    <br>
                    <br>
                </div>
            </div>
            <div id="derecha">
                <?php $this->partial("shared/derecha") ?>
            </div>
        </div>



        <div id="pie">
            <?php $this->partial("shared/pie") ?>
        </div>
    </div>
    <script>
        function abrirModalI(per_cod, req_cod, nombre){
            $(".negro").css("display", "block")
            $("#modal_documentos_i").css("display", "block")
            $("#perreq").val(per_cod + "-" + req_cod)
            $("#pnom").html(nombre)

        }

        function cerrarModal(per_cod){
            $(".negro").css("display", "none")
            $("#modal_documentos_i").css("display", "none")


        }
        function descargar_informe() {
            var op;
            if ($("[name=rol]").is(":checked") && $("[name=sint]").is(":checked")) {
                op = "todo";
            } else if ($("[name=rol]").is(":checked")) {
                op = "rol";
            } else if ($("[name=sint]").is(":checked")) {
                op = "sint";
            } else {
                op = "nada";
            }
            window.open("/contactamos/reportes/operativo/"+$("#perreq").val()+"/"+op)
        }
    </script>
</form>
</body>
</html>


