
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ingresar Pruebas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarPruebas/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarPruebas/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarPruebas/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div id="modal_documentos">
						<table class="form" width="100%">
							<tr>
								<th>Seleccione una prueba a continuación</th>
							</tr>
							<tr>
								<td>
									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> 16 PF</th>
										</tr>
										<tr>
											<td><a data-url="IngresarPF/index" href="IngresarPF/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> PNL</th>
										</tr>
										<tr>
											<td><a data-url="IngresarPNL/index" href="IngresarPNL/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> CARAS</th>
										</tr>
										<tr>
											<td><a data-url="IngresarCaras/index" href="IngresarCaras/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> IPV</th>
										</tr>
										<tr>
											<td><a data-url="IngresarIPV/index" href="IngresarIPV/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> VALANTI</th>
										</tr>
										<tr>
											<td><a data-url="IngresarValanti/index" href="IngresarValanti/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> CMT</th>
										</tr>
										<tr>
											<td><a data-url="IngresarCMT/index" href="IngresarCMT/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
						
					</div>

					<div class="consulta">
						<p>Ingresar Pruebas</p>
						<div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div>
					</div>
					<div class="clear"></div>

					<div id="respuesta"> </div>

					<br>
					
					
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>


