
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evaluar Proceso</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarProceso/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'EvaluarProceso/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarProceso/obtener') ?>">
<input type="hidden" id="url_obs" name="url_obs" value="<?php echo $this->url->get(
'Consultaraspirante/observaciones') ?>">
<input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
'Consultaraspirante/estado') ?>">
<input type="hidden" id="url_pruebas" name="url_pruebas" value="<?php echo $this->url->get(
'Consultaraspirante/verpruebas') ?>">
<input type="hidden" id="url_ord" name="url_ord" value="<?php echo $this->url->get(
'Ordenes/guardarFor') ?>">
<input type="hidden" id="url_consulto" name="url_consulto" value="<?php echo $this->url->get(
'Consultaraspirante/consulto') ?>">
<input type="hidden" name="per_cod" id="per_cod">
<input type="hidden" id="txt_pag" name="txt_pag" value="">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<div id="modal_documentos_p">
						<table class="form" width="100%">
							<tr>
								<th>Seleccione una prueba a continuación</th>
							</tr>
							<tr>
								<td>
									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> 16 PF</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="VerPF/index" href="VerPF/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> PNL</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="VerPNL/index" href="VerPNL/index" class="boton">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> CARAS</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="VerCaras/index" href="VerCaras/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> IPV</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="VerIPV/index" href="VerIPV/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> VALANTI</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="VerValanti/index" href="VerValanti/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> CMT</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="ver_cmt/index" href="ver_cmt/index" class="boton" target="_blank">Abrir Prueba</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> Ver Perfil</th>
										</tr>
										<tr>
											<td><a target="_blank" data-url="verPerfil/index" href="verPerfil/index" class="boton" target="_blank">Ver Perfil</a></td>
										</tr>
									</table>
								</td>
							</tr>
						</table>

					</div>
					<div id="modal_documentos_o" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Observaciones</th>
							</tr>
							<tr>
								<td>
									Nombre
								</td>
								<td>
									<input type="hidden" id="cod" name="cod">
									<span id="IsNameO">Joaquin Forero</span>
								</td>
							</tr>
							<tr>
								<td>Observaciones</td>
								<td><textarea id="per_obs" name="per_obs" rows="10"></textarea></td>
							</tr>
							<tr>
								<td>Valoración: </td>
								<td id="valoracion"></td>
							</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" onclick="observaciones();" value="Guardar"></td>
							</tr>
						</table>

					</div>
                    <div id="modal_documentos_i" style="width: 500px">
                        <input type="hidden" id="perreq">
                        <table class="form" width="100%">
                            <tr>
                                <th colspan="2">Informe de selección - <span id="pnom"></span></th>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="rol"> ROL PLAY (Clínica O Assessment)
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="checkbox" name="sint"> SÍNTESIS (Características de personalidad)
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="button" class="boton" onclick="descargar_informe();" value="Descargar"></td>
                            </tr>
                        </table>

                    </div>
					<div id="modal_documentos_c" style="width: 500px">
						<table class="form" width="100%">
							<tr>
								<th colspan="2">Orden de Contratación</th>
							</tr>
							<tr>
								<td>
									Empresa *
									<input type="hidden" name="postulantes" id="postulantes">
								</td>
								<td>
									<select name="tip_cod" id="tip_cod">
									<option value="">Seleccione</option>
										<?php
										foreach ($tipos as $tip) {
											echo '<option value="'.$tip->tip_cod.'">'.$tip->tip_des.'</option>';
										}
										?>
									</select>
								</td>
							</tr>
							<tr>
								<td>
									Usuaria/Proyecto *
								</td>
								<td>
									<select name="emp_cod" id="emp_cod">
									<option value="">Seleccione</option>
										<?php
										foreach ($empresas as $emp) {
											echo '<option value="'.$emp->getEmpCod().'">'.$emp->getEmpRaz().'</option>';
										}
										?>
									</select>
								</td>
							</tr>
							<tr>
								<td>Fecha Ingreso *</td>
								<td>
									<input type="text" name="ord_fec" id="ord_fec" class="datep">
								</td>
							</tr>
							<tr>
								<td>Cargo *</td>
								<td>
									<input type="text" name="ord_car" id="ord_car">
								</td>
							</tr>
							<tr>
								<td>Salario</td>
								<td>
									<input type="text" name="ord_sal" id="ord_sal">
								</td>
							</tr>
							<tr>
								<td>Tipo de nómina</td>
								<td>
									<select name="ord_tna" id="ord_tna">
										<option value="">Seleccione</option>
										<option value="Semanal">Semanal</option>
										<option value="Quincenal">Quincenal</option>
										<option value="Mensual">Mensual</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>ARL</td>
								<td>
									<select name="ord_arl" id="ord_arl">
									<option value="">Seleccione</option>
										<option value="0,522%">NIVEL I (0,522%)</option>
										<option value="1,044%">NIVEL II (​1,044%)</option>
										<option value="2,436%">NIVEL III (​2,436%)</option>
										<option value="4,350%">NIVEL IV (4,350%)</option>
										<option value="6,960%">NIVEL V (6,960%)</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>Centro de Costo</td>
								<td>
									<input type="text" name="ord_cto" id="ord_cto">
								</td>
							</tr>
                            <tr>
                                <td>Consecutivo SOT/SIT</td>
                                <td>
                                    <input type="text" name="ord_sot" id="ord_sot">
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Ingreso SIT/SOT *</td>
                                <td>
                                    <input type="text" name="ord_fec_sot" id="ord_fec_sot" class="datep">
                                </td>
                            </tr>
							<tr>
								<td>Observaciones</td>
								<td><textarea id="ord_obs" name="ord_obs" rows="10"></textarea></td>
							</tr>
							<tr>
								<td colspan="2"><input type="checkbox" name="ord_dot" value="SI"> Lleva dotación</td>
							</tr>
							<tr>

							<td colspan="2">
								<form id="frmE" enctype="multipart/form-data"  method="post">
								<?php foreach ($examenes as  $exa): ?>

								<input type="checkbox" name="examenes[]" value="<?=$exa->exa_cod?>"> <?=$exa->exa_nom?> <br>

								<?php endforeach ?>
								</form>


							</td>

						</tr>
							<tr>
								<td colspan="2"><input type="button" class="boton" id="guaOrd" onclick="guardarOrd('estudios');" value="Guardar"></td>
							</tr>
						</table>
					</div>
					<div id="modal_documentos">
						<table class="form" width="100%">
							<tr>
								<th>Seleccione una prueba a continuación</th>
							</tr>
							<tr>
								<td>
									<!-- <table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> PRUEBA</th>
										</tr>
										<tr>
											<td><a data-url="EvaluarPrueba/index" href="EvaluarPrueba/index" class="boton" target="_blank">Abrir</a></td>
										</tr>
									</table>

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> ENTREVISTA</th>
										</tr>
										<tr>
											<td><a data-url="EvaluarEntrevista/index" href="EvaluarEntrevista/index" class="boton" target="_blank">Abrir</a></td>
										</tr>
									</table> -->

									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> ASSESSMENT</th>
										</tr>
										<tr>
											<td><a data-url="EvaluarAss/index" href="EvaluarAss/index" class="boton" target="_blank">Abrir</a></td>
										</tr>
									</table>



									<table class="caja_prueba">
										<tr>
											<th><img src="img/chulo.png"> VALORACION</th>
										</tr>
										<tr>
											<td><a data-url="EvaluarValoracion/index" href="EvaluarValoracion/index" class="boton" target="_blank">Abrir</a></td>
										</tr>
									</table>


								</td>
							</tr>
						</table>

					</div>

					<div class="consulta">
						<p>Evaluar Proceso</p>
						<div class="busqueda">
							Desde <input class="datepickier" type="text" id="fec_ini" value="<?=date("Y-m-d")?>">
							Hasta <input class="datepickier" type="text" id="fec_fin" value="<?=date("Y-m-d")?>">
							<select style="margin: 0px 10px; width: 200px;" onchange="filtrar(1)" name="psi" id="psi">
								<option value="">Seleccione Psicóloga</option>
								<?
								foreach ($usuarios as $usu) { ?>
									<option value="<?=$usu->usu_cod?>"><?=$usu->usu_nom . " " . $usu->usu_ape ?></option>
								<? }
								?>
							</select>
							<select style="margin: 0px 10px; width: 200px;" onchange="filtrar(1)" name="est_cod" id="est_cod">
								<option value="">Seleccione Estado</option>
								<?
								foreach ($estados as $est) { ?>
									<option value="<?=$est->est_cod?>"><?=$est->est_nom ?></option>
								<? }
								?>
							</select>
							 <input type="text" style="width: 150px;" placeholder="Busqueda..." id="txt_bus">
						</div>
					</div>
					<div class="clear"></div>

					<div id="respuesta"> </div>

					<br>
					<a href="javascript:abrirModalC();" class="boton"> + Crear Orden</a>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>



		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>


