
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Valoracion</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("Prueba16pf/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '45:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>

</head>
<body>




	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuAspirante") ?>
		</div>
			<div id="central">
				<div id="counter" style="position: fixed;right:0;"></div>
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba1</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<script type="text/javascript">
							document.write( webcam.get_html(320, 240) );
						</script>
					</div>
					<br>

					<br>

					<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar" class="boton">
					<br>
					
					<div id="div_preguntas" style="display:none;">
			<p>
				Dentro de este cuadernillo hay 187 preguntas. Con ella pretendemos conocer sus actitudes y sus intereses. No hay respuestas ni buenas ni malas, porque cadaquien puede poseer sus propios puntos de vista. Para que se pueda tener lamayor cantidad de información en sus resultados deberá responder con exactitudy con sinceridad, por lo que le recomendamos que escriba lo primero que se levenga a la mente, sin pensarlo mucho. En la parte superior de la hoja de respuestas, escriba los datos que se le piden.En este cuadernillo usted solo va a leer las preguntas, ya que todas las contestaciones las hará en las hojas de respuestas que le entregará el evaluador.NO escriba en este cuaderno.Dentro de un momento el evaluador le pedirá que lea el cuestionario y comiencea responder sobre la hoja de respuestas.Al estar contestando recuerde estos 4 puntos:1.No medites mucho tiempo las respuestas. Responde la primera que se te venga a la mente, de modo natural. Trata de dar siempre la mejor respuesta a unritmo de alrededor de 5 contestaciones por minuto, haciéndolo así, terminará en 20 o 35 minutos. Trata de no caer en el centro (b), que son las respuestas de indecisión o duda, excepto cuando te sea realmente imposible elegir otra opción.3. Asegúrate de no saltar ninguna pregunta. Responde de manera apropiadacada una de las preguntas. Algunas puede ser que no encajen con tu situación.
			</p>
			<br>

			<form action="<?=$this->url->get("prueba16PF/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
				<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">
				<?php foreach ($preguntas as  $pre): ?>
					<strong><?php echo $pre->p16_cod, ". ", $pre->p16_nom ?> <br><br></strong>
					<?php 
						$respuestas = Respuestas16pf::find(array(
							"p16_cod='".$pre->p16_cod."'"
						)); 
						foreach ($respuestas as  $res) {
							?>
								<input type="radio" value="<?php echo $res->r16_cod ?>" name="<?php echo $res->p16_cod ?>">
								<?php echo $res->r16_nom ?>

							<?php
						}
					?>
					<br><br>
				<?php endforeach ?>
				<input type="button" value="Finalizar" id="btn_guardar" class="boton" onclick="finalizar();">
			</form>

			
		</div>

					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie_postulantes") ?>
		</div>
	</div>

</body>
</html>

