<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vacantes</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(4)").addClass('active_pestana');
	});
	</script>
</head>
<body>

	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('requisiciones/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<table class="lista">
						<tr>
							<th>No.</th>
							<th>Vacante</th>
							<th>Ciudad</th>
							<th>Fecha de Creación</th>
							<th>Fecha de Vencimiento</th>
							<th>Accion</th>
							<th>Accion</th>
						</tr>

						<?php
							$i=0;
							foreach ($requisiciones as $req) {
								$i++;
				   				 ?>
									<tr>
										<td><?php echo $i?></td>
										<td><?php echo $req->req_til; ?></td>
										<td><?php echo $req->mun_nom; ?></td>
										<td><?php echo $req->req_fec; ?></td>
										<td><?php echo $req->req_fex; ?></td>
										<td><a href="<?php echo $this->url->get('requisiciones/editar') ?>/<?php echo $req->req_cod; ?>">Editar</a></td>
										<td><a href="#" id="<?php echo $req->req_cod; ?>" class="eliminar">Eliminar</a></td>
									</tr>
				   				 <?php
				  			}
						?>

					</table>
					<br>
					<a href="<?php echo $this->url->get('requisiciones/nuevo') ?>" class="boton"> + Agregar Nuevo</a>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>