
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vacantes - Nuevo</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(4)").addClass('active_pestana');

		$(".fecha").datepicker({
			dateFormat:'yy-mm-dd'
		})
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('requisiciones/guardar') ?>">

	<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get('requisiciones/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>

					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Empresa</th>

						</tr>
                        <tr>
                            <td>Titulo</td>
                            <td>
                                <input type="text" name="req_til" id="req_til">
                            </td>
                        </tr>
						<tr>
							<td>Cargo*</td>
							<td>
								<select name="car_cod" id="car_cod">
									<option value="">Seleccione</option>

									<?php foreach ($cargos as $car ): ?>
										<option value="<?=$car->car_cod?>"><?=$car->car_des?></option>
									<?php endforeach ?>
								</select>
							</td>
						</tr>
						<tr>
							<td>Ciudad*</td>
							<td>
								<select name="mun_cod" id="mun_cod">
									<option value="">Seleccione</option>
									<?php foreach ($municipios as $mun ): ?>
										<option value="<?=$mun->mun_cod?>"><?=$mun->mun_nom, " - ", $mun->dep_nom?></option>
									<?php endforeach ?>
								</select>
							</td>
						</tr>
						<tr>
							<td>Empresa*</td>
							<td>
								<select name="emp_cod" id="emp_cod">
									<option value="">Seleccione</option>
									<?php foreach ($empresas as $emp ): ?>
										<option value="<?=$emp->getEmpCod()?>"><?=$emp->getEmpRaz()?></option>
									<?php endforeach ?>
								</select>
							</td>
						</tr>

						<tr>
							<td>Sexo</td>
							<td>
								<select name="req_sex" id="req_sex">
									<option value="">Seleccione</option>
									<option value="M">Masculino</option>
									<option value="F">Femenino</option>
									<option value="A">Ambos</option>
								</select>
							</td>
						</tr>

						<tr>
							<td>Edad</td>
							<td>
								<input type="text" name="req_eda" id="req_eda">
							</td>
						</tr>




						<tr>
							<td>Salario</td>
							<td><input type="text" name="req_sal" id="req_sal"></td>
						</tr>

						<tr>
							<td>Nivel Académico*</td>
							<td><input type="text" name="req_niv" id="req_niv"></td>
						</tr>

						<tr>
							<td>Experiencia Requerida*</td>
							<td>
								<textarea name="req_exp" id="req_exp"></textarea>
							</td>
						</tr>

						<tr>
							<td>Descripción del Cargo*</td>
							<td>
								<textarea name="req_des" id="req_des"></textarea>
							</td>
						</tr>

						<tr>
							<td>Fecha de Inicio*</td>
							<td>
								<input type="text" name="req_fci" id="req_fci" class="fecha">
							</td>
						</tr>





						<tr>
							<td>Observación</td>
							<td>
								<textarea name="req_obs" id="req_obs"></textarea>
							</td>
						</tr>

						<tr>
							<td>Fecha de Expiración*</td>
							<td>
								<input type="text" name="req_fex" id="req_fex" class="fecha">
							</td>
						</tr>

                        <tr>
                            <td>Razón social*</td>
                            <td>
                                <select name="tip_cod" id="tip_cod">
                                    <option value="">Seleccione</option>
                                    <?php foreach ($razones as $r ): ?>
                                        <option value="<?=$r->tip_cod?>"><?=$r->tip_des?></option>
                                    <?php endforeach ?>
                                </select>
                            </td>
                        </tr>


						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


