

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tipos de Usuarios</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(2)").addClass('active_pestana');
	});
	</script>
</head>
<body>

	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('tipousuarios/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasUsuario") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<table class="lista">
						<tr>
							<td>No.</td>
							<td>Nombre</td>
							<td>Accion</td>
							<td>Accion</td>
						</tr>

						<?php
							$i=0;
							foreach ($tipoUsuarios as $tip) {
								$i++;
				   				 ?>
									<tr>
										<td><?php echo $i?></td>
										<td><?php echo $tip->tus_des; ?></td>
										<td><a href="<?php echo $this->url->get('tipousuarios/editar') ?>/<?php echo $tip->tus_cod; ?>/<?php echo $tip->tus_des; ?>">Editar</a></td>
										<td><a href="#" id="<?php echo $tip->tus_cod; ?>" class="eliminar">Eliminar</a></td>
									</tr>
				   				 <?php
				  			}
						?>
					</table>
					<br>
					<a href="<?php echo $this->url->get('tipousuarios/nuevo') ?>" class="boton"> + Agregar Nuevo</a>
					
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>