<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tipo Usuario</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(2)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('tipousuarios/guardar') ?>">
	<input type="hidden" name="url_index" id="url_index" value="<?php echo $this->url->get('tipousuarios/guardar') ?>">


		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasUsuario") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="70%">
						<tr>
							<th colspan="2">Agregar o Editar Usuarios</th>

						</tr>

						<tr>
							<td>Nombre</td>
							<td><input type="text" name="tus_des" id="tus_des"></td>

						</tr>




						<tr>
							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>Postulantes</strong></th>
									</tr>
									<?php foreach ($menus as  $men): ?>

										<?php if ($men->men_tip=="postulantes"): ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
												</td>
												<td>
													<?=$men->men_des?>
												</td>
											</tr>
										<?php endif ?>

									<?php endforeach ?>

								</table>
							</td>

							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>P. Seleccion</strong></th>
									</tr>
									<?php foreach ($menus as  $men): ?>

										<?php if ($men->men_tip=="proceso"): ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
												</td>
												<td>
													<?=$men->men_des?>
												</td>
											</tr>
										<?php endif ?>

									<?php endforeach ?>
								</table>
							</td>
						</tr>



						<tr>
							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>Informes</strong></th>
									</tr>
									<?php foreach ($menus as  $men): ?>

										<?php if ($men->men_tip=="informes"): ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
												</td>
												<td>
													<?=$men->men_des?>
												</td>
											</tr>
										<?php endif ?>

									<?php endforeach ?>

								</table>
							</td>

							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>Ordenes</strong></th>
									</tr>
									<?php foreach ($menus as  $men): ?>

										<?php if ($men->men_tip=="ordenes"): ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
												</td>
												<td>
													<?=$men->men_des?>
												</td>
											</tr>
										<?php endif ?>

									<?php endforeach ?>
								</table>
							</td>
						</tr>


						<tr>
							<td>
								<table class="tabla_form_sencilla" >
									<tr>
										<th colspan="2"><strong>Configuracion</strong></th>
									</tr>
									<?php foreach ($menus as  $men): ?>

										<?php if ($men->men_tip=="plataforma"): ?>
											<tr>
												<td>
													<input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
												</td>
												<td>
													<?=$men->men_des?>
												</td>
											</tr>
										<?php endif ?>

									<?php endforeach ?>

								</table>
							</td>

                            <td>
                                <table class="tabla_form_sencilla" >
                                    <tr>
                                        <th colspan="2"><strong>Gestor documental</strong></th>
                                    </tr>
                                    <?php foreach ($menus as  $men): ?>

                                        <?php if ($men->men_tip=="gestor"): ?>
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="opciones[]" value="<?=$men->men_cod?>">
                                                </td>
                                                <td>
                                                    <?=$men->men_des?>
                                                </td>
                                            </tr>
                                        <?php endif ?>

                                    <?php endforeach ?>

                                </table>
                            </td>
						</tr>




						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


