
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Resultado IPV</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type='text/javascript' src='https://www.google.com/jsapi'></script>

     <script>
        function AbrirModal(){
            $(".negro").css("display", "block")
            $("#modal_documentos").css("display", "block")
            
        }

        function cerrarModal(){
            $(".negro").css("display", "none")
            $("#modal_documentos").css("display", "none")


        }
     </script>


</head>
<body>
<form id="frm"  method="post" enctype="multipart/form-data">

<input type="hidden" id="url" name="url" value="<?=$this->url->get("EvaluarValoracion/guardar")?>">

<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'EvaluarValoracion/consultar') ?>">
<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get(
'VerIPV/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'EvaluarValoracion/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
                <a href="#"  onclick="AbrirModal();" style="color:#f0584a;">Ver Fotos</a>
                <div style="padding-left:0px;color:#f0584a">Resultado IPV <div onclick="eliminarPrueba('<?=$ipv?>')" style="float:right; color:#f0584a; cursor:pointer">Eliminar prueba</div></div>
                <div id="modal_documentos" style="background-color:white;">
                    <?
                        $fotos = Fotos::find("fot_pru='IPV' AND per_cod=".$persona->per_cod);
                        foreach ($fotos as $key => $fot) {
                            ?>
                                <center><img src="<?=$this->url->get()?><?=$fot->fot_rut?>" alt=""></center><br>
                            <?
                        }
                    ?>
                </div>

					<div class="consulta">
						<!-- <p>Resultado IPV</p> -->
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>
					<br>
					

					<br>

					<?php 
						$registros = IpvPre::obtenerResultado($persona->per_cod);
                        if (count($registros) > 0){
							$DVG = 0;
				        	$I=0;
				        	$II=0;
				        	$III=0;
				        	$IV=0;
				        	$V=0;
				        	$VI=0;
				        	$VII=0;
				        	$VIII=0;
				        	$IX=0;
				        	$R=0;
				        	$A=0;
						foreach ($registros as  $reg) {

              
                            $preg=$reg->ipr_cod;
                           
                            //DVG
                            //A
                            if($preg==5 || $preg==7 || $preg==8 || $preg==9
                            || $preg==15 || $preg==35 || $preg==27){
                                if ($reg->ire_num=="A") {
                                    $DVG +=1;
                                }
                            }
                            //B
                            if($preg==1 || $preg==2 || $preg==3 || $preg==4 || $preg==10
                            || $preg==11 || $preg==13 || $preg==14 || $preg==17 ){
                                if ($reg->ire_num=="B") {
                                    $DVG +=1;
                                }
                            }
                            //C
                            if($preg==6 || $preg==8 || $preg==12 || $preg==16
                            || $preg==18){
                                if ($reg->ire_num=="C") {
                                    $DVG +=1;
                                }
                            }

                            //I
                            //A
                            if($preg==37 || $preg==56 || $preg==74){
                                if ($reg->ire_num=="A") {
                                    $I +=1;
                                }
                            }
                            
                            //B
                            if($preg==1 || $preg==2 || $preg==20 || $preg==55){
                                if ($reg->ire_num=="B") {
                                    $I +=1;
                                }
                            }
                            //C
                            if($preg==19 || $preg==38 || $preg==73 || $preg==75){
                                if ($reg->ire_num=="C") {
                                    $I +=1;
                                }
                            }

                            //II
                            //A
                            if($preg==39 || $preg==40 || $preg==57){
                                if ($reg->ire_num=="A") {
                                    $II +=1;
                                }
                            }
                            //B
                            if($preg==3 || $preg==4 || $preg==59 || $preg==77){
                                if ($reg->ire_num=="B") {
                                    $II +=1;
                                }
                            }
                            //C
                            if($preg==21 || $preg==22 || $preg==58 || $preg==76){
                                if ($reg->ire_num=="C") {
                                    $II +=1;
                                }
                            }
                            //III
                            //A
                            if($preg==5 || $preg==7 || $preg==41 || $preg==42){
                                if ($reg->ire_num=="A") {
                                    $III +=1;
                                }
                            }

                            //B
                            if($preg==23 || $preg==43 || $preg==60 || $preg==78){
                                if ($reg->ire_num=="B") {
                                    $III +=1;
                                }
                            }

                            //C
                            if($preg==6 || $preg==24 || $preg==25){
                                if ($reg->ire_num=="C") {
                                    $III +=1;
                                }
                            }

                            //IV
                            //A
                            if( $preg==62 || $preg==44){
                                if ($reg->ire_num=="A") {
                                    $IV +=1;
                                }
                            }

                            //B
                            if($preg==8 || $preg==26 || $preg==61 || $preg==79){
                                if ($reg->ire_num=="B") {
                                    $IV +=1;
                                }
                            }
                            //C
                            if($preg==80 || $preg==81){
                                if ($reg->ire_num=="C") {
                                    $IV +=1;
                                }
                            }
                            //V
                            //A
                            if($preg==9 || $preg==27 || $preg==64){
                                if ($reg->ire_num=="A") {
                                    $V +=1;
                                }
                            }

                            //B
                            if($preg==10 || $preg==11 || $preg==45 || $preg==46 
                                || $preg==63){
                                if ($reg->ire_num=="B") {
                                    $V +=1;
                                }
                            }
                            //C
                            if($preg==28 || $preg==29 || $preg==82){
                                if ($reg->ire_num=="C") {
                                    $V +=1;
                                }
                            }

                            //VI
                            //A
                            if($preg==48 || $preg==49 || $preg==66 || $preg==84){
                                if ($reg->ire_num=="A") {
                                    $VI +=1;
                                }
                            }

                            //B
                            if($preg==13 || $preg==83 || $preg==30){
                                if ($reg->ire_num=="B") {
                                    $VI +=1;
                                }
                            }
                            //C
                            if($preg==12 || $preg==31 || $preg==47 || $preg==65){
                                if ($reg->ire_num=="C") {
                                    $VI +=1;
                                }
                            }
                            //VII
                            //A
                            if($preg==68 || $preg==86 || $preg==87){
                                if ($reg->ire_num=="A") {
                                    $VII +=1;
                                }
                            }
                            //B
                            if($preg==14 || $preg==67){
                                if ($reg->ire_num=="B") {
                                    $VII +=1;
                                }
                            }
                            //C
                            if($preg==32 || $preg==50 || $preg==85){
                                if ($reg->ire_num=="C") {
                                    $VII +=1;
                                }
                            }

                            //VIII
                            //A
                            if($preg==15 || $preg==52){
                                if ($reg->ire_num=="A") {
                                    $VIII +=1;
                                }
                            }
                            //B
                            if($preg==33 || $preg==71 || $preg==51 || $preg==69){
                                if ($reg->ire_num=="B") {
                                    $VIII +=1;
                                }
                            }

                            if($preg==34 || $preg==70){
                                if ($reg->ire_num=="C") {
                                    $VIII +=1;
                                }
                            }

                            //IX
                            //A
                            if($preg==35 || $preg==54 || $preg==72 ){
                                if ($reg->ire_num=="A") {
                                    $IX +=1;
                                }
                            }
                            
                            //B

                            if($preg==17 || $preg==53){
                                if ($reg->ire_num=="B") {
                                    $IX +=1;
                                }
                            }
                            //C
                            if($preg==16  || $preg==18 || $preg==36 ){
                                if ($reg->ire_num=="C") {
                                    $IX +=1;
                                }
                            }




	}//FIN DE PARA

}
    if (count($registros) > 0) {

	 $IV=8-$IV;
                $R=$I+$II+$III+$IV;
                $A=$V+$VI+$VII+$VIII;
                //K
                $K1=0;
                if ($DVG<=5) {
                    $K1=1;
                }else{
                    $K1=0;
                }

                if ($I<=1) {
                    $K2=1;
                }else{
                    $K2=0;
                }

                if ($II<=1) {
                    $K3=1;
                }else{
                    $K3=0;
                }

                if ($III<=1) {
                    $K4=1;
                }else{
                    $K4=0;
                }

                if ($IV<=3) {
                    $K5=1;
                }else{
                    $K5=0;
                }

                if ($V<=1) {
                    $K6=1;
                }else{
                    $K6=0;
                }
                if ($VI<=0) {
                    $K7=1;
                }else{
                    $K7=0;
                }
                if ($VII<=0) {
                    $K8=1;
                }else{
                    $K8=0;
                }
                $K9=0;
                if ($IX<=1) {
                    $K10=1;
                }else{
                    $K10=0;
                }
                if ($R<=13) {
                    $K11=1;
                }else{
                    $K11=0;
                }
                if ($A<=7) {
                    $K12=1;
                }else{
                    $K12=0;
                }
                //L
                if ($DVG==6) {
                    $L1=2;
                }else{
                    $L1=0;
                }
                if ($I<=2) {
                    $L2=2;
                }else{
                    $L2=0;
                }
                if ($II==2) {
                    $L3=2;
                }else{
                    $L3=0;
                }
                if ($III==2) {
                    $L4=2;
                }else{
                    $L4=0;
                }
                if ($IV==4) {
                    $L5=2;
                }else{
                    $L5=0;
                }
                if ($V==2) {
                    $L6=2;
                }else{
                    $L6=0;
                }
                if ($VI==1) {
                    $L7=2;
                }else{
                    $L7=0;
                }
                if ($VII==1) {
                    $L8=2;
                }else{
                    $L8=0;
                }
                $L9=0;
                if ($IX==2) {
                    $L10=2;
                }else{
                    $L10=0;
                }

                if ($R==14) {
                    $L11=2;
                }elseif ($R==15) {
                    $L11=2;
                }else{
                    $L11=0;
                }

                if ($A==8) {
                    $L12=2;
                }else{
                    $L12=0;
                }
                //M
                if ($DVG==7) {
                    $M1=3;
                }elseif($DVG==8){
                    $M1=3;
                }else{
                    $M1=0;
                }

                if ($I==3) {
                    $M2=3;
                }else{
                    $M2=0;
                }
                $M3=0;
                if ($III==3) {
                    $M4=3;
                }else{
                    $M4=0;
                }
                $M5=0;
                if ($V==3) {
                    $M6=3;
                }else{
                    $M6=0;
                }
                if ($VI==2) {
                    $M7=3;
                }else{
                    $M7=0;
                }
                $M8=0;
                if ($VIII==0) {
                    $M9=3;
                }else{
                    $M9=0;
                }
                if ($IX==3) {
                    $M10=3;
                }else{
                    $M10=0;
                }


                if ($R==16) {
                    $M11=3;
                }elseif ($R==17) {
                    $M11=3;
                }else{
                    $M11=0;
                }

                if ($A==9) {
                    $M12=3;
                }elseif($A==10){
                    $M12=3;
                }else{
                    $M12=0;
                }

                //N
                if ($DVG==9) {
                    $N1=4;
                }else{
                    $N1=0;
                }

                $N2=0;

                if ($II==3) {
                    $N3=4;
                }else{
                    $N3=0;
                }

                if ($III==4) {
                    $N4=4;
                }else{
                    $N4=0;
                }

                if ($IV==5) {
                    $N5=4;
                }else{
                    $N5=0;
                }

                if ($V==4) {
                    $N6=4;
                }else{
                    $N6=0;
                }
                $N7=0;
                if ($VII==2) {
                    $N8=4;
                }else{
                    $N8=0;
                }
                $N9=0;
                if ($IX==4) {
                    $N10=4;
                }else{
                    $N10=0;
                }
                if ($R==18) {
                    $N11=4;
                }else{
                    $N11=0;
                }
                if ($A==11) {
                    $N12=4;
                }else{
                    $N12=0;
                }
                //LETRA O
                if ($DVG==10) {
                    $O1=5;
                }else{
                    $O1=0;
                }
                if ($I==4) {
                    $O2=5;
                }else{
                    $O2=0;
                }

                if ($II==4) {
                    $O3=5;
                }else{
                    $O3=0;
                }
                if ($III==5) {
                    $O4=5;
                }else{
                    $O4=0;
                }
                if ($IV==6) {
                    $O5=5;
                }else{
                    $O5=0;
                }
                $O6=0;
                if ($VI==3) {
                    $O7=5;
                }else{
                    $O7=0;
                }
                if ($VII==3) {
                    $O8=5;
                }else{
                    $O8=0;
                }
                if ($VIII==1) {
                    $O9=5;
                }else{
                    $O9=0;
                }
                if ($IX==5) {
                    $O10=5;
                }else{
                    $O10=0;
                }
                if ($R==19) {
                    $O11=5;
                }elseif($R==20){
                    $O11=5;
                }else{
                    $O11=0;
                }
                if ($A==12) {
                    $O12=5;
                }elseif($A==13){
                    $O12=5;
                }else{
                    $O12=0;
                }
                //P
                if ($DVG==11) {
                    $P1=6;
                }else{
                    $P1=0;
                }
                if ($I==5) {
                    $P2=6;
                }else{
                    $P2=0;
                }
                if ($II==5) {
                    $P3=6;
                }else{
                    $P3=0;
                }
                if ($III==6) {
                    $P4=6;
                }else{
                    $P4=0;
                }
                $P5=0;

                if ($V==5) {
                    $P6=6;
                }else{
                    $P6=0;
                }
                if ($VI==4) {
                    $P7=6;
                }else{
                    $P7=0;
                }
                $P8=0;
                if ($VIII==2) {
                    $P9=6;
                }else{
                    $P9=0;
                }
                $P10=0;
                if ($R==21) {
                    $P11=6;
                }elseif($R==22){
                    $P11=6;
                }else{
                    $P11=0;
                }
                if ($A==14) {
                    $P12=6;
                }elseif($R==15){
                    $P12=6;
                }else{
                    $P12=0;
                }
                //Q
                if ($DVG==12) {
                    $Q1=7;
                }else{
                    $Q1=0;
                }
                if ($I==6) {
                    $Q2=7;
                }else{
                    $Q2=0;
                }
                if ($II==6) {
                    $Q3=7;
                }else{
                    $Q3=0;
                }
                $Q4=0;
                if ($IV==7) {
                    $Q5=7;
                }else{
                    $Q5=0;
                }
                if ($V==6) {
                    $Q6=7;
                }else{
                    $Q6=0;
                }
                if ($VI==5) {
                    $Q7=7;
                }else{
                    $Q7=0;
                }
                if ($VII==4) {
                    $Q8=7;
                }else{
                    $Q8=0;
                }
                $Q9=0;
                if ($IX==6) {
                    $Q10=7;
                }else{
                    $Q10=0;
                }
                if ($R==23) {
                    $Q11=7;
                }elseif($R==24){
                    $Q11=7;
                }else{
                    $Q11=0;
                }
                if ($A==16) {
                    $Q12=7;
                }else{
                    $Q12=0;
                }
                //R
                if ($DVG==13) {
                    $R1=8;
                }elseif($DVG==14){
                    $R1=8;
                }else{
                    $R1=0;
                }
                if ($I==7) {
                    $R2=8;
                }else{
                    $R2=0;
                }
                if ($II==7) {
                    $R3=8;
                }else{
                    $R3=0;
                }
                if ($III==7) {
                    $R4=8;
                }else{
                    $R4=0;
                }
                $R5=0;
                if ($V==7) {
                    $R6=8;
                }else{
                    $R6=0;
                }
                if ($VI==6) {
                    $R7=8;
                }else{
                    $R7=0;
                }
                if ($VII==5) {
                    $R8=8;
                }else{
                    $R8=0;
                }
                if ($VIII==3) {
                    $R9=8;
                }else{
                    $R9=0;
                }
                if ($IX==7) {
                    $R10=8;
                }else{
                    $R10=0;
                }
                if ($R==25) {
                    $R11=8;
                }elseif($R==26){
                    $R11=8;
                }else{
                    $R11=0;
                }

                if ($A==17) {
                    $R12=8;
                }elseif($A==18){
                    $R12=8;
                }else{
                    $R12=0;
                }
                //S
                if ($DVG==15) {
                    $S1=9;
                }else{
                    $S1=0;
                }
                if ($I==8) {
                    $S2=9;
                }else{
                    $S2=0;
                }
                $S3=0;
                if ($III==8) {
                    $S4=9;
                }else{
                    $S4=0;
                }
                if ($IV==8) {
                    $S5=9;
                }else{
                    $S5=0;
                }
                if ($V==8) {
                    $S6=9;
                }else{
                    $S6=0;
                }
                if ($VI==7) {
                    $S7=9;
                }else{
                    $S7=0;
                }
                if ($VII==6) {
                    $S8=9;
                }else{
                    $S8=0;
                }
                if ($VIII==4) {
                    $S9=9;
                }else{
                    $S9=0;
                }
                $S10=0;
                if ($R==27) {
                    $S11=9;
                }else{
                    $S11=0;
                }
                if ($A==19) {
                    $S12=9;
                }elseif($A==20){
                    $S12=9;
                }else{
                    $S12=0;
                }
                //T
                if ($DVG>=16) {
                    $T1=10;
                }else{
                    $T1=0;
                }
                if ($I>=9) {
                    $T2=10;
                }else{
                    $T2=0;
                }
                if ($II>=8) {
                    $T3=10;
                }else{
                    $T3=0;
                }
                if ($III>=9) {
                    $T4=10;
                }else{
                    $T4=0;
                }
                $T5=0;
                if ($V>=9) {
                    $T6=10;
                }else{
                    $T6=0;
                }
                if ($VI>=8) {
                    $T7=10;
                }else{
                    $T7=0;
                }
                if ($VII>=7) {
                    $T8=10;
                }else{
                    $T8=0;
                }
                if ($VIII>=5) {
                    $T9=10;
                }else{
                    $T9=0;
                }

                if ($IX>=8) {
                    $T10=10;
                }else{
                    $T10=0;
                }

                if ($R>=28) {
                    $T11=10;
                }else{
                    $T11=0;
                }
                if ($A>=21) {
                    $T12=10;
                }else{
                    $T12=0;
                }

             
                $U1 = $K1 + $L1 + $M1 + $N1 + $O1 + $P1 + $Q1 + $R1 + $S1 + $T1;
                $U2 = $K2 + $L2 + $M2 + $N2 + $O2 + $P2 + $Q2 + $R2 + $S2 + $T2;
                $U3 = $K3 + $L3 + $M3 + $N3 + $O3 + $P3 + $Q3 + $R3 + $S3 + $T3;
                $U4 = $K4 + $L4 + $M4 + $N4 + $O4 + $P4 + $Q4 + $R4 + $S4 + $T4;
                $U5 = $K5 + $L5 + $M5 + $N5 + $O5 + $P5 + $Q5 + $R5 + $S5 + $T5;
                $U6 = $K6 + $L6 + $M6 + $N6 + $O6 + $P6 + $Q6 + $R6 + $S6 + $T6;
                $U7 = $K7 + $L7 + $M7 + $N7 + $O7 + $P7 + $Q7 + $R7 + $S7 + $T7;
                $U8 = $K8 + $L8 + $M8 + $N8 + $O8 + $P8 + $Q8 + $R8 + $S8 + $T8;
                $U9 = $K9 + $L9 + $M9 + $N9 + $O9 + $P9 + $Q9 + $R9 + $S9 + $T9;
                $U10 = $K10 + $L10 + $M10 + $N10 + $O10 + $P10 + $Q10 + $R10 + $S10 + $T10;
                $U11 = $K11 + $L11 + $M11 + $N11 + $O11 + $P11 + $Q11 + $R11 + $S11 + $T11;
                $U12 = $K12 + $L12 + $M12 + $N12 + $O12 + $P12 + $Q12 + $R12 + $S12 + $T12;



                //  $_SESSION['U1']=$U1;
                // $_SESSION['U2']=$U2;
                // $_SESSION['U3']=$U3;
                // $_SESSION['U4']=$U4;
                // $_SESSION['U5']=$U5;
                // $_SESSION['U6']=$U6;
                // $_SESSION['U7']=$U7;
                // $_SESSION['U8']=$U8;
                // $_SESSION['U9']=$U9;
                // $_SESSION['U10']=$U10;
                // $_SESSION['U11']=$U11;
                // $_SESSION['U12']=$U11;
               

                if ($DVG<=3) {
                    $F10="BAJA";
                }elseif($DVG==4 || $DVG==5 || $DVG==6){
                    $F10="MEDIA";
                }else{
                    $F10="ALTA";
                }

                if ($I<=3) {
                    $F11="BAJA";
                }elseif($I==4 || $I==5 || $I==6){
                    $F11="MEDIA";
                }else{
                    $F11="ALTA";
                }

                if ($II<=3) {
                    $F12="BAJA";
                }elseif($II==4 || $II==5 || $II==6){
                    $F12="MEDIA";
                }else{
                    $F12="ALTA";
                }
                if ($III<=3) {
                    $F13="BAJA";
                }elseif($III==4 || $III==5 || $III==6){
                    $F13="MEDIA";
                }else{
                    $F13="ALTA";
                }
                if ($IV<=3) {
                    $F14="BAJA";
                }elseif($IV==4 || $IV==5 || $IV==6){
                    $F14="MEDIA";
                }else{
                    $F14="ALTA";
                }
                if ($V<=3) {
                    $F15="BAJA";
                }elseif($V==4 || $V==5 || $V==6){
                    $F15="MEDIA";
                }else{
                    $F15="ALTA";
                }
                if ($VI<=3) {
                    $F16="BAJA";
                }elseif($VI==4 || $VI==5 || $VI==6){
                    $F16="MEDIA";
                }else{
                    $F16="ALTA";
                }
                if ($VII<=3) {
                    $F17="BAJA";
                }elseif($VII==4 || $VII==5 || $VII==6){
                    $F17="MEDIA";
                }else{
                    $F17="ALTA";
                }
                if ($VIII<=3) {
                    $F18="BAJA";
                }elseif($VII==4 || $VII==5 || $VII==6){
                    $F18="MEDIA";
                }else{
                    $F18="ALTA";
                }
                if ($IX<=3) {
                    $F19="BAJA";
                }elseif($IX==4 || $IX==5 || $IX==6){
                    $F19="MEDIA";
                }else{
                    $F19="ALTA";
                }
                if ($R<=3) {
                    $F20="BAJA";
                }elseif($R==4 || $R==5 || $R==6){
                    $F20="MEDIA";
                }else{
                    $F20="ALTA";
                }
                if ($A<=3) {
                    $F21="BAJA";
                }elseif($A==4 || $A==5 || $A==6){
                    $F21="MEDIA";
                }else{
                    $F21="ALTA";
                }

					 ?>
					<br>
					 <table width="100%" class="form">
        				<tr >
        					<th>P.directo</th>
        					<th>Factores</th>
        					<th colspan="2" >Decatipos</th>
        					
        				</tr>
        				<tr>
        					<td><?php echo $DVG; ?></td>
        					<td>Disposición General para la Venta</td>
        					<td>DGV</td>
        					<td><?php echo $U1 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$I"; ?></td>
        					<td>Comprensión</td>
        					<td>I</td>
        					<td><?php echo $U2 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo $II ?></td>
        					<td>Adaptabilidad</td>
        					<td>II</td>
        					<td><?php echo $U3 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$III"; ?></td>
        					<td>Control de sí mismo</td>
        					<td>III</td>
        					<td><?php echo $U4 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$IV"; ?></td>
        					<td>Tolerancia a la frustración</td>
        					<td>IV</td>
        					<td><?php echo $U5 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$V"; ?></td>
        					<td>Combatividad</td>
        					<td>V</td>
        					<td><?php echo $U6 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$VI"; ?></td>
        					<td>Dominancia</td>
        					<td>VI</td>
        					<td><?php echo $U7 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$VII"; ?></td>
        					<td>Seguridad</td>
        					<td>VII</td>
        					<td><?php echo $U8 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$VIII"; ?></td>
        					<td>Actividad</td>
        					<td>VIII</td>
        					<td><?php echo $U9 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$IX"; ?></td>
        					<td>Sociabilidad</td>
        					<td>IX</td>
        					<td><?php echo $U10 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$R"; ?></td>
        					<td>Receptividad</td>
        					<td>R</td>
        					<td><?php echo $U11 ?></td>
        					
        				</tr>
        				<tr>
        					<td><?php echo "$A"; ?></td>
        					<td>Agresividad</td>
        					<td>A</td>
        					<td><?php echo $U12 ?></td>
        					
        				</tr>
        </table>			
        <br /><br />
        <table width="100%" class="form" cellpadding="3">
        	<tr>
        		<th colspan="2" >TEXTOS ASOCIADOS A LOS FACTORES</th>
        	</tr>
        	<tr>
        		<td>DVG</td>
        		<td>
        			<?php 
        				if($F10=="ALTA"){
        					echo "Es una persona con gran facilidad para establecer en la venta relaciones con los demás, si se une a una alta combatividad. Esta puede ser moderada una a un alto control de sí mismo.";
        				}elseif($F10=="MEDIA") {
        					echo "Persona con facilidad  intermedia para establecer en la venta relaciones con los demás. ";
        				}else{
        					echo "Es una persona con poca facilidad para establecer en la venta relaciones con los demás. ";
        				}
        			?>
        		</td>
        		</tr>
        		<td>I</td>
        		<td>
        			<?php 
        				if($F11=="ALTA"){
        					echo "Es una persona altamente empática y objetiva en sus relaciones humanas, intuitiva y de alta capacidad de integrar en su contexto un suceso cualquiera.";
        				}elseif($F11=="MEDIA") {
        					echo "Es una persona con un nivel intermedio de empatía y objetividad en sus relaciones humanas, intuitivo y una capacidad media de integrar un suceso cualquiera en su contexto.";
        				}else{
        					echo "Es una persona con baja empatía y objetividad en sus relaciones humanas, intuitivo, así como una baja capacidad de integrar un suceso cualquiera en su contexto.";
        				}
        			?>
        		</td>
        	</tr>
        		<td>II</td>
        		<td>
        			<?php 
        				if($F12=="ALTA"){
        					echo "Persona de rápida adaptación a situaciones y personas diferentes, muy flexible en sus actividades (intelectuales o de relación) y altamente capaz de desempeñar su papel en una situación dada.";
        				}elseif($F12=="MEDIA") {
        					echo "Capacidad intermedia de adaptación a situaciones y personas diferentes, puede llegar a ser flexible en sus actividades (intelectuales o de relación) y mediana capacidad de desempeñar su papel en una situación dada";
        				}else{
        					echo "Personas con dificultades de adaptación a situaciones y personas diferentes, escaza flexibilidad en sus actividades (intelectuales o de relación) y escaza capacidad de desempeñar su papel en una situación dada.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>III</td>
        		<td>
        			<?php 
        				if($F13=="ALTA"){
        					echo "Señala a un sujeto controlado, dueño de sí mismo y capaz de una buena administración de su potencial intelectual, psicológico o físico; es una persona organizada, perseverante y hábil para ocultar sus sentimientos.";
        				}elseif($F13=="MEDIA") {
        					echo "Señala a un sujeto con mediana control de sí mismo, además puede ser capaz de una buena administración de su potencial intelectual, psicológico o físico; suele ser una persona organizada, perseverante y hábil para ocultar sus sentimientos.";
        				}else{
        					echo "Señala a un sujeto poco controlado, inseguro de sí mismo y con difucultades para la buena administración de su potencial intelectual, psicológico o físico; es una persona poco organizada y perseverante y dificilmente puede ocultar sus sentimientos.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>IV</td>
        		<td>
        			<?php 
        				if($F14=="ALTA"){
        					echo "Indica un sujeto con alta capacidad para soportar adecuadamente las acciones frustrantes, capaz de comprender los fracasos (aunque sean provisionales) y que no personaliza demasiado las situaciones en que se ve implicado.";
        				}elseif($F14=="MEDIA") {
        					echo "Sujeto con capacidad intermedia para soportar adecuadamente las acciones frustrantes, puede ser capaz de comprender los fracasos (aunque sean provisionales) sin personalizar demasiado las situaciones en que se ve implicado.";
        				}else{
        					echo "Sujeto con escaza capacidad para soportar adecuadamente las acciones frustrantes, así como poca capacidad de comprender los fracasos (aunque sean provisionales), lo que lo lleva a personalizar demasiado las situaciones en que se ve implicado.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>V</td>
        		<td>
        			<?php 
        				if($F15=="ALTA"){
        					echo "Alude a un sujeto con altacapacidad de entrar en conflicto y soportar los desacuerdos; se refiere a esa persona porfiada y polémica que ejemplifica lo que se llama \"agresividad comercial\".";
        				}elseif($F15=="MEDIA") {
        					echo "Alude a un sujeto capacidad intermedia de entrar en conflicto y soportar los desacuerdos; ";
        				}else{
        					echo "Sujeto con baja capacidad de entrar en conflicto y soportar los desacuerdos.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>VI</td>
        		<td>
        			<?php 
        				if($F16=="ALTA"){
        					echo "Señala al sujeto con voluntad de dominio, de ganar o manipular a los demás, persuasivo o cautivador en su entorno, dominante o con ascendencia a esta cualidad";
        				}elseif($F16=="MEDIA") {
        					echo "Señala al sujeto con mediana voluntad de dominio, de ganar o manipular a los demás, puede llegar a ser persuavo persuasivo o cautivador en su entorno.";
        				}else{
        					echo "Señala al sujeto con poca voluntad de dominio, o de ganar o manipular a los demás, poco persuasivo.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>VII</td>
        		<td>
        			<?php 
        				if($F17=="ALTA"){
        					echo "Es una persona altamente  segura de sí misma, que le gustan las situaciones nuevas o inesperadas y que es capaz de enfrentarse si es necesario, a los riesgos.";
        				}elseif($F17=="MEDIA") {
        					echo "Persona con niveles intermedios de seguridad en sí mismo, con mediana capacidad para enfrentar situaciones nuevas o inesperadas y puede ser capaz de enfrentarse si es necesario, a los riesgos.";
        				}else{
        					echo "Es una persona con escaza seguridad  de sí misma, a quien le desagradan  gustan las situaciones nuevas o inesperadas y es poco capaz de asumir riesgos.";
        				}
        			?>
        		</td>
        		</tr>
        		<td>VIII</td>
        		<td>
        			<?php 
        				if($F18=="ALTA"){
        					echo "Alude al sujeto activo, dinámico en el sentido físico, que soporta mal la agresividad e inactividad.";
        				}elseif($F18=="MEDIA") {
        					echo "Alude al sujeto medianamente activo y dinámico en el sentido físico, llegando a tolerar tanto la agresividad como la inactividad. ";
        				}else{
        					echo "Alude al sujeto de baja actividad, es decir,  poco \"deportiva\"";
        				}
        			?>
        		</td>
        		</tr>
        		<td>IX</td>
        		<td>
        			<?php 
        				if($F19=="ALTA"){
        					echo "Es una persona extravertida, capaz de crear nuevos contactos y convivir con los demás, que prefiere su compañía a la soledad, y sensible a la importancia de las relaciones humanas. ";
        				}elseif($F19=="MEDIA") {
        					echo "Es una persona con niveles intermedios entre extraversión e introversión, con capacidad media de crear nuevos contactos y convivir con los demás, le es indiferente la soledad o la compañia. ";
        				}else{
        					echo "Se refiere al sujeto introvertido, con baja capacidad de crear nuevos contactos, que prefiere la soledad al  contacto con otras personas aunque es sensible a la importancia de las relaciones humanas. ";
        				}
        			?>
        		</td>
        		</tr>
        		<td>R</td>
        		<td>
        			<?php 
        				if($F20=="ALTA"){
        					echo "Señala a un sujeto con buenas cualidades empáticas (ponerse en lugar de tos demás, escuchar, comprender, etc.) y con posibilidades de adaptación rápida y fácil a situaciones y personas diferentes, lo cual implica capacidad de control de sí y resistencia a la frustración.";
        				}elseif($F20=="MEDIA") {
        					echo "Señala a un sujeto con cualidades empáticas intermedias (ponerse en lugar de tos demás, escuchar, comprender, etc.) y con medianas posibilidades de adaptación a situaciones y personas diferentes, lo cual implica niveles intermedios en el control de sí y la resistencia a la frustración.";
        				}else{
        					echo "Señala a un sujeto con escazas cualidades empáticas (ponerse en lugar de tos demás, escuchar, comprender, etc.) y con difultades de adaptación a situaciones y personas diferentes, escazo control de sí y baja resistencia a la frustración.";
        				}
        			?>
        		</td>
        		</tr>
        		
        		<td>A</td>
        		<td>
        			<?php 
        				if($F21=="ALTA"){
        					echo "Alta capacidad para soportar situaciones conflictivas o para provocarlas con el deseo de ganar; implica también actitud dominante, por poder o por ascendencia, en sujetos seguros, que no rechazan los riesgos por algo útil, activos y dinámicos. Se corresponde con un seguro tipo \"agresivo\" de venta, de apertura de mercados, acción competitiva ante otros clientes o productos. ";
        				}elseif($F21=="MEDIA") {
        					echo "Capacidad intermedia para soportar situaciones conflictivas o para provocarlas con el deseo de ganar; implica también actitud que puede pasar de la sumisión a la dominancia, en ocasiones pueden tomar riesgos por algo útil. Niveles intermedios de actividad y dinamismo. ";
        				}else{
        					echo "Escaza capacidad para soportar situaciones conflictivas o para provocarlas con el deseo de ganar; implica también actitud sumisa, tienden a rechazar los riesgos por algo útil, poco activos y escazo dinamismo.";
        				}
        			?>
        		</td>

        	</tr>
        </table>
					<br>
					 <script type="text/javascript">
					      google.load("visualization", "1", {packages:["corechart"]});
					      google.setOnLoadCallback(drawChart);
					      function drawChart() {
					        var data = google.visualization.arrayToDataTable([
					          ['',  ''],
					          ['DGV',  <?=$U1?>],
					          ['DGV',  <?=$U1?>],
					          ['I',       <?=$U2?>],
					          ['II',        <?=$U3?>],
					          ['III',         <?=$U4?>],
					          ['IV',        <?=$U5?>],
					          ['V',        <?=$U6?>],
					          ['VI',        <?=$U7?>],
					          ['VII',        <?=$U8?>],
					          ['VIII',        <?=$U9?>],
					          ['IX',        <?=$U10?>],
					          ['R',        <?=$U11?>],
					          ['A',        <?=$U12?>]
					        ]);

					        var options = {
					          title: '',
					          hAxis: {title: 'Valores',  titleTextStyle: {color: '#333'}},
					          vAxis: {minValue: 0}
					        };

					        var chart = new google.visualization.AreaChart(document.getElementById('chart_div'));
					        chart.draw(data, options);
					      }
					    </script>

					    <div id="chart_div" style="width: 900px; height: 400px;"></div>
					<br>
                <?php } else {
                    echo "El aspirante no ha realizado la prueba";
                    } ?>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


