
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>usuarios</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(1)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('usuarios/actualizar') ?>">
	<input type="hidden" name="usu_cod" id="usu_cod" value="<?=$usuario->usu_cod?>">

	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasUsuario") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Usuarios</th>
							
						</tr>

		
						<tr>
							<td>No. Identificación</td>
							<td>
								<input type="text" name="usu_id" id="usu_id" value="<?=$usuario->usu_id?>">
							</td>
						</tr>

						<tr>
							<td>Nombres</td>
							<td><input type="text" name="usu_nom" id="usu_nom"  value="<?=$usuario->usu_nom?>"></td>
						</tr>

						<tr>
							<td>Apellidos</td>
							<td><input type="text" name="usu_ape" id="usu_ape"  value="<?=$usuario->usu_ape?>"></td>
						</tr>

						<tr>
							<td>Email</td>
							<td><input type="text" name="usu_ema" id="usu_ema"  value="<?=$usuario->usu_ema?>"></td>
						</tr>

						<tr>
							<td>Contraseña</td>
							<td><input type="password" name="usu_con" id="usu_con" value="<?=$usuario->usu_con?>"></td>
						</tr>

						<tr>
							<td>Tipo de Usuario</td>
							<td>
								<select name="tus_cod" id="tus_cod">
									<option value="">Seleccione</option>

									<?php foreach ($tipoUsuarios as  $tip): ?>
										<option value="<?=$tip->tus_cod?>" <?php if($tip->tus_cod==$usuario->tus_cod) echo "selected='selected'" ?>><?=$tip->tus_des?></option>
									<?php endforeach ?>
								</select>

							</td>
						</tr>
						<tr>
							<td>Ciudad</td>
							<td>
								<select name="mun_cod" id="mun_cod">
									<option value="">Ciudad Residencia</option>
									<option value="126">BARRANQUILLA</option>
									<option value="149">BOGOTÁ</option>
									<?
									foreach ($municipios as $key => $mun) {
										if ($mun->mun_cod == $usuario->mun_cod){ echo '<option selected value="'.$mun->mun_cod.'">'.$mun->mun_nom.' - '.$mun->dep_nom.'</option>';}
										else{ echo '<option value="'.$mun->mun_cod.'">'.$mun->mun_nom.' - '.$mun->dep_nom.'</option>';}
									}
									?>
								</select>
							</td>
						</tr>
						




						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


