
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Prueba: Valanti</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?=$this->url->get("IngresarValanti/guardar")?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'IngresarValanti/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'IngresarValanti/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'IngresarValanti/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod" value="<?=$persona->per_cod?>">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">

					<div class="consulta">
						<p>Prueba : Valanti</p>
						<!-- <div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div> -->
					</div>
					<div class="clear"></div>

					<div id="respuesta"> 
						<table class="lista">
				             <tr>
				                <th>No. Documento</th>
				                <th>Nombres</th>
				                <th>Apellidos</th>
				                <th>Profesión</th>
				             </tr>
					       
					                <tr>
					                    <td><?=$persona->per_ide?></td>
					                    <td><?=$persona->per_pno?></td>
					                    <td><?=$persona->per_pap?></td>
					                    <td><?=$persona->per_pro?></td>
					                </tr>
					            
        				</table>
					</div>

					<br>
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Prueba Guardada!", "La prueba se ha guardado con exito");
							</script>
							<?
							return false;
						}
					?>
					<style type="text/css">
						.preguntas {
							  width: 200px;
							  margin-left: 50px;
							  overflow: hidden;
						}
						.pregunta {
						  margin-top: 10px;
						  width: 600px;
						  background-color: #e6e6e6;
						  overflow: hidden;
						  border: 1px solid #CCC;
						}
						.pregunta div {
						  float: left;
						  margin-left: 20px;
						}
						.pregunta input[type="text"] {
						  margin-top: 10px;
						  margin-left: 10px;
						  width: 30px;
						}
					</style>
					<div class="preguntas">

						<div class="pregunta">

							<div class="num">1</div>

							<div class="cajas"><input type="text" name="uno" tabindex="1"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">2</div>

							

							<div class="cajas"><input type="text" name="dos" tabindex="2"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">3</div>

						

							<div class="cajas"><input type="text" name="tres" tabindex="3"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">4</div>

							

							<div class="cajas"><input type="text" name="cuatro" tabindex="4"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">5</div>

							

							<div class="cajas"><input type="text" name="cinco" tabindex="5"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">6</div>

						

							<div class="cajas"><input type="text" name="seis" tabindex="6"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">7</div>

							

							<div class="cajas"><input type="text" name="siete" tabindex="7"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">8</div>

							

							<div class="cajas"><input type="text" name="ocho" tabindex="8"><input type="text" readonly></div>

							

						</div>

						<div class="pregunta">

							<div class="num">9</div>

							

							<div class="cajas"><input type="text" name="nueve" tabindex="9"><input type="text"  readonly="readonly"></div>

							

						</div>

					</div>



					<h3 style="margin-left:50px; color: #fff">Segunda Parte</h3>


						<div class="preguntas">

							<div class="pregunta">

								<div class="num">10</div>

								

								<div class="cajas"><input type="text" name="diez" tabindex="10"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">11</div>

								

								<div class="cajas"><input type="text" name="once" tabindex="11"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">12</div>

								

								<div class="cajas"><input type="text" name="doce" tabindex="12"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">13</div>

								

								<div class="cajas"><input type="text" name="trece" tabindex="13"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">14</div>

								

								<div class="cajas"><input type="text" name="catorce" tabindex="14"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">15</div>

								

								<div class="cajas"><input type="text" name="quince" tabindex="15"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">16</div>

								

								<div class="cajas"><input type="text" name="dieciseis" tabindex="16"><input type="text" readonly></div>

							

							</div>

							<div class="pregunta">

								<div class="num">17</div>

								

								<div class="cajas"><input type="text" name="diecisiete" tabindex="17"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">18</div>

								

								<div class="cajas"><input type="text" name="dieciocho" tabindex="18"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">19</div>

								

								<div class="cajas"><input type="text" name="diecinueve" tabindex="19"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">20</div>

								

								<div class="cajas"><input type="text" name="veinte" tabindex="20"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num ">21</div>

								

								<div class="cajas"><input type="text" name="veintiuno" tabindex="21"><input type="text" readonly></div>

								

							</div>



							<div class="pregunta">

								<div class="num">22</div>

							

								<div class="cajas"><input type="text" name="veintidos" tabindex="22"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">23</div>

								

								<div class="cajas"><input type="text" name="veintitres" tabindex="23"><input type="text" readonly></div>

					

							</div>

							<div class="pregunta">

								<div class="num ">24</div>

							

								<div class="cajas"><input type="text" name="veinticuatro" tabindex="24"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">25</div>

								

								<div class="cajas"><input type="text" name="veinticinco" tabindex="25"><input type="text" readonly></div>

								

							</div>

							<div class="pregunta">

								<div class="num">26</div>

								

								<div class="cajas"><input type="text" name="veintiseis" tabindex="26"><input type="text" readonly></div>

								

							</div>



							<div class="pregunta">

								<div class="num">27</div>

								

								<div class="cajas"><input type="text" name="veintisiete" tabindex="27"><input type="text" readonly></div>

							

							</div>

							<div class="pregunta">

								<div class="num">28</div>

								

								<div class="cajas"><input type="text" name="veintiocho" tabindex="28"><input type="text" readonly></div>

							

							</div>

							<div class="pregunta">

								<div class="num">29</div>

								

								<div class="cajas"><input type="text" name="veintinueve" tabindex="29"><input type="text" readonly></div>

							

							</div>

							<div class="pregunta">

								<div class="num">30</div>

								

								<div class="cajas"><input type="text" name="treinta" tabindex="30"><input type="text" readonly tabindex="31"></div>

								

							</div>

						</div>


					<br>
					
					

					<input type="submit" value="Guardar Y Continuar" class="boton">
					<br>
					<br>
					<br>
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


