
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Empresas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(1)").addClass('active_pestana');
	});
	</script>
    <style>
        .cargos {
            -webkit-column-count: 4;
            column-count: 4;
            -webkit-column-gap: 20px;
            column-gap: 20px;
        }
    </style>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('empresas/actualizar') ?>">
	<input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
	<input type="hidden" name="url_listar" id="url_listar" value="<?php echo $this->url->get('empresas/listar') ?>">
	<input type="hidden" name="url_comp" id="url_comp" value="<?php echo $this->url->get('empresas/guardarcomp') ?>">

	<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get('empresas/eliminar') ?>">
	<input type="hidden" name="emp_cod" id="emp_cod" value="<?=$emp_cod ?>">
        <div class="negro" onclick="cerrarModal();"></div>
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
                    <div id="modal_documentos" style="width: 700px; background: #fff; padding: 20px"></div>
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="100%">
						<tr>
							<th colspan="2">Agregar o Editar Empresa</th>

						</tr>
						<tr>
							<td>NIT</td>
							<td><input type="text" name="emp_nit" id="emp_nit" value="<?php echo $empresa->getEmpNit() ?>"></td>
						</tr>
						<tr>
							<td>Razon Social</td>
							<td><input type="text" name="emp_raz" id="emp_raz" value="<?php echo $empresa->getEmpRaz() ?>"></td>
						</tr>
						<tr>
							<td>Persona de Contacto</td>
							<td><input type="text" name="emp_con" id="emp_con" value="<?php echo $empresa->getEmpCon() ?>"></td>
						</tr>

						<tr>
							<td>Telefono</td>
							<td><input type="text" name="emp_tel" id="emp_tel" value="<?php echo $empresa->getEmpTel() ?>"></td>
						</tr>

						<tr>
							<td>Confirmación de contrato</td>
							<td><input type="text" name="emp_ema" id="emp_ema" value="<?php echo $empresa->getEmpEma() ?>"></td>
						</tr>
						<tr>
							<td>Correos Laboratorio</td>
							<td><input type="text" name="emp_exa" id="emp_exa" value="<?php echo $empresa->getEmpExa() ?>"></td>
						</tr>
						<tr>
							<td>Ordenes de contratación</td>
							<td><input type="text" name="emp_ing" id="emp_ing" value="<?php echo $empresa->getEmpIng() ?>"></td>
						</tr>
						<tr>
							<td>Contraseña</td>
							<td><input type="text" name="emp_pas" id="emp_ema" value="<?php echo $empresa->getEmpPas() ?>"></td>
						</tr>


                        <tr>
                            <td colspan="2">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                                    <tr>
                                        <td width="100%">
                                            <div class="cargos">
                                                <?
                                                foreach ($cargos as $c) {
                                                    echo "<span style='cursor: pointer' class='modal-cargos' data-id='".$c->car_cod."'>".$c->car_des."</span><br>";
                                                }
                                                ?>
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>

						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


