
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Empresas</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(1)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('empresas/guardar') ?>">

	<input type="hidden" name="url_eliminar" id="url_eliminar" value="<?php echo $this->url->get('empresas/eliminar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Empresa</th>
							
						</tr>
						<tr>
							<td>NIT</td>
							<td><input type="text" name="emp_nit" id="emp_nit"></td>
						</tr>
						<tr>
							<td>Razon Social</td>
							<td><input type="text" name="emp_raz" id="emp_raz"></td>
						</tr>
						<tr>
							<td>Persona de Contacto</td>
							<td><input type="text" name="emp_con" id="emp_con"></td>
						</tr>

						<tr>
							<td>Telefono</td>
							<td><input type="text" name="emp_tel" id="emp_con"></td>
						</tr>

						<tr>
							<td>Confirmación de contrato</td>
							<td><input type="text" name="emp_ema" id="emp_ema"></td>
						</tr>
						<tr>
							<td>Correos Laboratorio</td>
							<td><input type="text" name="emp_exa" id="emp_exa"></td>
						</tr>
						<tr>
							<td>Ordenes de contratación</td>
							<td><input type="text" name="emp_ing" id="emp_ing"></td>
						</tr>

						<tr>
							<td>Contraseña</td>
							<td><input type="text" name="emp_pas" id="emp_pas"></td>
						</tr>

						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


