

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>valanti</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
			var global_msg=false; //validar si le dio permitir a la camara
			 webcam.set_api_url( '<?php echo $this->url->get("PruebaValanti/subirFoto"); ?>' ); // Fichero de subida
			 webcam.set_swf_url( '<?php echo $this->url->get(); ?>js/jpegcam/htdocs/webcam.swf' ); // Fichero SWF
			 webcam.set_quality( 90 ); // Cálidad JPEG (1 - 100)
			 webcam.set_shutter_sound( false ); // Activar sonido
			 webcam.set_hook("onLoad", null);
			 webcam.set_hook("onComplete", null);
			 webcam.set_hook("onError", null);

			 function my_callback_function(response) {
			    console.log("Success! PHP returned: " + response);
			 }

			 jQuery(document).ready(function($) {
	
				$("#btn_comenzar").click(function(event) {
					if(!global_msg){
						alert("Debe darle permisos de grabacion a su camara web") ;  
						location.reload();
						return false;
				   }
					$(this).hide();
					$("#div_preguntas").show(500, function(){
						$('#counter').countdown({

				          image: '<?php echo $this->url->get(); ?>js/countdown/digits.png',

				          startTime: '30:00',

				          timerEnd: function(){ finalizar() },

				          format: 'mm:ss'

						});

						iniciar();//INICIAR LA TOMA DE FOTOS
					});



				});
			});

	</script>
		
</head>
<body>
<div id="counter" style="position: fixed;right:0;"></div>
	<h1>Prueba VALANTI</h1>
		<div id="camara">
			<script type="text/javascript">
				document.write( webcam.get_html(320, 240) );
			</script>
		</div>
		<input type="button" value="Comenzar Prueba" style="float: right;" id="btn_comenzar">
		<div id="div_preguntas" style="display: none">
			

			<form action="<?=$this->url->get("PruebaValanti/guardar")?>" method="post" enctype="multipart/form-data" id="frm">
				<input type="hidden" name="per_cod" id="per_cod" value="<?php echo  $this->session->get("per_cod")?>">
				<input type="hidden" name="req_cod" id="req_cod" value="<?php echo  $this->session->get("req_cod")?>">
				<div class="preguntas" >
				<p>
					Por favor, marque cero, uno, dos o tres puntos en las casillas del centro, según la importancia que usted le da a cada frase en su vida personal. Las únicas opciones de respuesta son: 3-0, 0-3, 2-1, 1-2 Siempre la suma de puntos de las dos casillas debe ser 3.
 				</p>

					<div class="pregunta">

						<div class="num">1</div>

						<div class="res">Muestro Dedicacion a las personas que amo</div>

						<div class="cajas"><input type="text" name="uno" tabindex="1"><input type="text" readonly></div>

						<div class="res medio">Actúo Con perseverancia</div>

					</div>

					<div class="pregunta">

						<div class="num">2</div>

						<div class="res medio">Soy Tolerante</div>

						<div class="cajas"><input type="text" name="dos" tabindex="3"><input type="text" readonly></div>

						<div class="res medio">Prefiero Actuar con ética</div>

					</div>

					<div class="pregunta">

						<div class="num">3</div>

						<div class="res">Al pensar utilizo mi intucion o "sexto sentido"</div>

						<div class="cajas"><input type="text" name="tres" tabindex="3"><input type="text" readonly></div>

						<div class="res medio">Me siento una persona digna</div>

					</div>

					<div class="pregunta">

						<div class="num">4</div>

						<div class="res">Logro buena concentración mental</div>

						<div class="cajas"><input type="text" name="cuatro" tabindex="4"><input type="text" readonly></div>

						<div class="res medio">Me siento una persona digna</div>

					</div>

					<div class="pregunta">

						<div class="num">5</div>

						<div class="res medio">Normalmente razono mucho</div>

						<div class="cajas"><input type="text" name="cinco" tabindex="5"><input type="text" readonly></div>

						<div class="res">Me destaco por el liderezgo en mi acciones</div>

					</div>

					<div class="pregunta">

						<div class="num">6</div>

						<div class="res medio">Pienso con integridad</div>

						<div class="cajas"><input type="text" name="seis" tabindex="6"><input type="text" readonly></div>

						<div class="res">Me coloco objetivos y metas en mi vida personal</div>

					</div>

					<div class="pregunta">

						<div class="num">7</div>

						<div class="res medio">Soy una persona con iniciativa</div>

						<div class="cajas"><input type="text" name="siete" tabindex="7"><input type="text" readonly></div>

						<div class="res">En mi trabajo normalmente soy curioso</div>

					</div>

					<div class="pregunta">

						<div class="num">8</div>

						<div class="res medio">Doy amor</div>

						<div class="cajas"><input type="text" name="ocho" tabindex="8"><input type="text" readonly></div>

						<div class="res">Para pensar hago sintesis de las distintas ideas</div>

					</div>

					<div class="pregunta">

						<div class="num">9</div>

						<div class="res medio">Me siento en calma</div>

						<div class="cajas"><input type="text" name="nueve" tabindex="9"><input type="text"  readonly="readonly"></div>

						<div class="res medio">Pienso con veracidad</div>

					</div>

					<h3>Segunda Parte</h3>

					 <p>Por Favor, marque cero, uno, dos  o tres puntos en las casillas del centro, para la frase

					 <span>mas inaceptable</span> segun su jucio. El puntaje mas alto, sera para que la frase

					 que indique lo <span>peor</span>. Las únicas opciones de respuestas son:<span> 3-0 </span>

					 <span> 0-3 </span><span> 2-1 </span><span> 1-2 </span></p>



					 <p>Siempre la suma de puntos de las dos casillas debe ser 3</p>

					 <div class="preguntas">

						<div class="pregunta">

							<div class="num">10</div>

							<div class="res medio">Irrespetar la propiedad</div>

							<div class="cajas"><input type="text" name="diez" tabindex="10"><input type="text" readonly></div>

							<div class="res medio">Sentir inquietud</div>

						</div>

						<div class="pregunta">

							<div class="num">11</div>

							<div class="res medio">Ser irresponsable</div>

							<div class="cajas"><input type="text" name="once" tabindex="11"><input type="text" readonly></div>

							<div class="res">Ser desconsiderado hacia cualquier persona</div>

						</div>

						<div class="pregunta">

							<div class="num">12</div>

							<div class="res">Caer en contradicciones al pensar</div>

							<div class="cajas"><input type="text" name="doce" tabindex="12"><input type="text" readonly></div>

							<div class="res medio">Sentir intoleracia</div>

						</div>

						<div class="pregunta">

							<div class="num">13</div>

							<div class="res medio">Ser violento </div>

							<div class="cajas"><input type="text" name="trece" tabindex="13"><input type="text" readonly></div>

							<div class="res medio">Actua con cobardia</div>

						</div>

						<div class="pregunta">

							<div class="num">14</div>

							<div class="res medio">Sentirse presumido</div>

							<div class="cajas"><input type="text" name="catorce" tabindex="14"><input type="text" readonly></div>

							<div class="res">Generar divisiones y discordia entre los seres humanos</div>

						</div>

						<div class="pregunta">

							<div class="num">15</div>

							<div class="res medio">Ser cruel</div>

							<div class="cajas"><input type="text" name="quince" tabindex="15"><input type="text" readonly></div>

							<div class="res medio">Sentir Ira</div>

						</div>

						<div class="pregunta">

							<div class="num">16</div>

							<div class="res medio">Pensar con confusion</div>

							<div class="cajas"><input type="text" name="dieciseis" tabindex="16"><input type="text" readonly></div>

							<div class="res medio">Tener odio en el corazon</div>

						</div>

						<div class="pregunta">

							<div class="num">17</div>

							<div class="res medio">Decir blasfemias</div>

							<div class="cajas"><input type="text" name="diecisiete" tabindex="17"><input type="text" readonly></div>

							<div class="res medio">Ser escandaloso</div>

						</div>

						<div class="pregunta">

							<div class="num">18</div>

							<div class="res">Crear desigualdades entre los seres humano</div>

							<div class="cajas"><input type="text" name="dieciocho" tabindex="18"><input type="text" readonly></div>

							<div class="res medio">Apasionarse por una idea</div>

						</div>

						<div class="pregunta">

							<div class="num">19</div>

							<div class="res medio">Sentirse Inconstantes</div>

							<div class="cajas"><input type="text" name="diecinueve" tabindex="19"><input type="text" readonly></div>

							<div class="res medio">Crear rivalidad hacia otros </div>

						</div>

						<div class="pregunta">

							<div class="num">20</div>

							<div class="res medio">Pensamientos Irracionales</div>

							<div class="cajas"><input type="text" name="veinte" tabindex="20"><input type="text" readonly></div>

							<div class="res medio">Traicionar a un desconocido</div>

						</div>

						<div class="pregunta">

							<div class="num ">21</div>

							<div class="res medio">Ostentar las riquezas materiales</div>

							<div class="cajas"><input type="text" name="veintiuno" tabindex="21"><input type="text" readonly></div>

							<div class="res medio">Sentirse infeliz</div>

						</div>



						<div class="pregunta">

							<div class="num">22</div>

							<div class="res ">Entorpecer la cooperacion entre los seres humanos </div>

							<div class="cajas"><input type="text" name="veintidos" tabindex="22"><input type="text" readonly></div>

							<div class="res medio">La maldad</div>

						</div>

						<div class="pregunta">

							<div class="num">23</div>

							<div class="res">Odiar a cualquier ser de la naturaleza</div>

							<div class="cajas"><input type="text" name="veintitres" tabindex="23"><input type="text" readonly></div>

							<div class="res">Hacer distinciones entre las personas</div>

						</div>

						<div class="pregunta">

							<div class="num ">24</div>

							<div class="res medio">Sentirse Intranquilo</div>

							<div class="cajas"><input type="text" name="veinticuatro" tabindex="24"><input type="text" readonly></div>

							<div class="res medio">Ser infiel</div>

						</div>

						<div class="pregunta">

							<div class="num">25</div>

							<div class="res medio">Tener la mente dispersa</div>

							<div class="cajas"><input type="text" name="veinticinco" tabindex="25"><input type="text" readonly></div>

							<div class="res medio">Mostrar apatia al pensar</div>

						</div>

						<div class="pregunta">

							<div class="num">26</div>

							<div class="res medio">La injusticia</div>

							<div class="cajas"><input type="text" name="veintiseis" tabindex="26"><input type="text" readonly></div>

							<div class="res medio">Sentirse Angustiado</div>

						</div>



						<div class="pregunta">

							<div class="num">27</div>

							<div class="res">Vengarse de los que odian a todo el mundo</div>

							<div class="cajas"><input type="text" name="veintisiete" tabindex="27"><input type="text" readonly></div>

							<div class="res">Vengarse del que hace daño a un familiar</div>

						</div>

						<div class="pregunta">

							<div class="num">28</div>

							<div class="res medio">Usar abusivamente el poder</div>

							<div class="cajas"><input type="text" name="veintiocho" tabindex="28"><input type="text" readonly></div>

							<div class="res medio">Distraerse</div>

						</div>

						<div class="pregunta">

							<div class="num">29</div>

							<div class="res">Ser desagradecido con los que ayudan </div>

							<div class="cajas"><input type="text" name="veintinueve" tabindex="29"><input type="text" readonly></div>

							<div class="res medio">Ser egoista con todos</div>

						</div>

						<div class="pregunta">

							<div class="num">30</div>

							<div class="res medio">Cualquier forma de irrespeto</div>

							<div class="cajas"><input type="text" name="treinta" tabindex="30"><input type="text" readonly tabindex="31"></div>

							<div class="res medio">Odiar</div>

						</div>

					</div>
					
				</div>
			</form>

			<input type="button" value="Finalizar" id="btn_guardar" onclick="finalizar();">
			
		</div>
		
</body>
</html>