
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Ver Documentos</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

</head>
<body>
<form id="frm" action="<?php echo $this->url->get('VerDocumentos/upload') ?>" method="post" enctype="multipart/form-data">
<input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
'Verdocumentos/consultar') ?>">
<input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
'Verdocumentos/eliminar') ?>">
<input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
'Verdocumentos/obtener') ?>">
<input type="hidden" name="per_cod" id="per_cod">

	<div id="contenedor">
			<div class="negro" onclick="cerrarModal();"></div>

		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("¡Archivo Guardado!", "Los archivos se han subido con exito");
							</script>
							<?
						}
					?>

					<?php 
						$resultado = $this->dispatcher->getParam("resultado");
						if($resultado=="1"){
							?>
							<script type="text/javascript">
								mensaje.jnAlert("Problema al Guardar!", "Ocurrio un problema al guardar");
							</script>
							<?
						}
					?>

					<div id="modal_documentos">
						<!-- <table class="form" width="100%">
							<tr>
								<th colspan="3">DOCUMENTOS</th>
								
							</tr>
							
							<tr>
								<td width="70%"><strong>Tipo de Documento</strong></td>
								<td><strong>Nombre</strong></td>
								<td><strong>Accion</strong></td>
							</tr>

							<?php foreach ($tipoDocumentos as  $tip): ?>
								<tr>
									<td style="border-bottom: 1px solid #CCC;"><?php echo $tip->tdo_des ?></td>
									<td style="border-bottom: 1px solid #CCC;">Sin adjuntar</td>
									<td><a href="#">Adjuntar</a></td>
								</tr>
							<?php endforeach ?>


			
							

							<tr>
								<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
							</tr>
						</table> -->
					</div>

					<div class="consulta">
						<p>Subir Documentos</p>
						<div class="busqueda">
							Seleccione Postulante <input type="text" placeholder="Busqueda..." id="txt_bus">
						</div>
					</div>
					<div class="clear"></div>

					<div id="respuesta"> </div>

					<br>
					
					
				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>

		
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


