<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordenes de Contratacion</title>
    <?php $this->assets->outputCss() ?>
    <?php $this->assets->outputJs() ?>


</head>
<body>

<div id="contenedor">
    <div class="negro" onclick="cerrarModal();"></div>

    <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('ordenes/eliminar') ?>">
    <input type="hidden" id="url_estado" name="url_estado" value="<?php echo $this->url->get(
        'Consultaraspirante/estado') ?>">
    <input type="hidden" id="url_consultar" name="url_consultar" value="<?php echo $this->url->get(
        'Ordenes/consultarc') ?>">
    <input type="hidden" id="url_eliminar" name="url_eliminar" value="<?php echo $this->url->get(
        'Ordenes/eliminar') ?>">
    <input type="hidden" id="url_editar" name="url_editar" value="<?php echo $this->url->get(
        'Ordenes/editar') ?>">
    <input type="hidden" id="url_editarex" name="url_editarex" value="<?php echo $this->url->get(
        'Ordenes/editarex') ?>">
    <input type="hidden" id="url_editares" name="url_editares" value="<?php echo $this->url->get(
        'Ordenes/editares') ?>">
    <input type="hidden" id="url_consulto" name="url_consulto" value="<?php echo $this->url->get(
        'Consultaraspirante/consulto') ?>">
    <input type="hidden" id="url_obs" name="url_obs" value="<?php echo $this->url->get(
        'Consultaraspirante/observaciones') ?>">
    <input type="hidden" id="url_obtener" name="url_obtener" value="<?php echo $this->url->get(
        'Verdocumentos/obtenerdoc') ?>">
    <input type="hidden" id="url_upload" name="url_upload" value="<?php echo $this->url->get(
        'Verdocumentos/uploaddoc') ?>">
    <input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
    <input type="hidden" id="txt_pag" name="txt_pag" value="">
    <?php $this->partial("shared/encabezado") ?>
    <!-- <div class="clear"></div> -->
    <div id="cuerpo">

        <div id="izq">
            <?php $this->partial("shared/menuLateral") ?>
        </div>
        <div id="central">
            <div id="cuerpo_central">
                <form id="frm-doc" enctype="multipart/form-data" method="post">
                    <input type="hidden"  id="ord_doc" name="ord_cod" >
                    <input type="hidden" name="test" value="test">
                <div id="modal_documentos_doc"></div>
                </form>
                <div id="modal_documentos_o" style="width: 500px">
                    <table class="form" width="100%">
                        <tr>
                            <th colspan="2">Observaciones</th>
                        </tr>
                        <tr>
                            <td>
                                Nombre
                            </td>
                            <td>
                                <input type="hidden" id="cod" name="cod">
                                <span id="IsNameO">Joaquin Forero</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Observaciones</td>
                            <td><textarea id="per_obs" name="per_obs" rows="10"></textarea></td>
                        </tr>
                        <tr>
                            <td>Valoración: </td>
                            <td id="valoracion"></td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="button" class="boton" onclick="observaciones();" value="Guardar"></td>
                        </tr>
                    </table>

                </div>

                <br>
                <div class="consulta">
                    <p>Listado de Ordenes de Contratacion</p>
                    <div class="busqueda">

                        <select name="oficina" id="oficina" style="width: 110px" onchange="filtrar(1)">
                            <option value="">Oficina</option>
                            <option value="126">Barranquilla</option>
                            <option value="149">Bogotá</option>
                        </select>
                        <select name="emp_cod" id="emp_cod" style="width: 130px" onchange="filtrar(1);">
                            <option value="">Usuaria / Proyecto</option>
                            <?
                            foreach ($empresas as $key => $emp) {
                                echo '<option value="'.$emp->getEmpCod().'">'.$emp->getEmpRaz().'</option>';
                            }
                            ?>
                        </select>
                        <select name="estad" id="estad" style="width: 110px" onchange="filtrar(1);">
                            <option value="">Estados</option>
                            <?
                            foreach ($estados as $key => $est) {
                                echo '<option value="'.$est->est_cod.'">'.$est->est_nom.'</option>';
                            }
                            ?>
                        </select>
                        <select name="dotacion" id="dotacion" style="width: 110px" onchange="filtrar(1)">
                            <option value="">Dotación</option>
                            <option value="SI">SI</option>
                            <option value="NO">NO</option>
                        </select>
                        <input type="text" style="width: 110px" placeholder="Busqueda..." id="txt_bus">
                    </div>
                </div>
                <br>
                <div id="respuesta"> </div>

                <br>

                <br>
                <a href="<?php echo $this->url->get('Ordenes/nuevo') ?>" class="boton"> + Agregar Nuevo</a>

            </div>
            <form id="frm">
                <input type="hidden"  id="per_cod" name="per_cod" >
                <input type="hidden"  id="ord_cod" name="ord_cod" >


                <div id="modal_documentos" style="position:absolute;background:white;top:10%;padding:20px;">

                </div>
            </form>
        </div>
        <div id="derecha">
            <?php $this->partial("shared/derecha") ?>
        </div>
    </div>

    <div id="pie">
        <?php $this->partial("shared/pie") ?>
    </div>
</div>
</body>
</html>