<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordenes de Contratacion | APSC</title>
    <?php $this->assets->outputCss() ?>

    <?php $this->assets->outputJs() ?>
</head>
<body>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $(".fecha").datepicker({

            dateFormat: "yy-mm-dd"

        });

    });
</script>
<form id="frm" enctype="multipart/form-data" method="post">
    <div id="contenedor">
        <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Ordenes/guardar') ?>">
        <input type="hidden" name="url_eliminar" id="url_eliminar"
               value="<?php echo $this->url->get('Ordenes/eliminar') ?>">
        <?php $this->partial("shared/encabezado") ?>
        <!-- <div class="clear"></div> -->
        <div id="cuerpo">
            <div id="izq">
                <?php $this->partial("shared/menuLateral") ?>
            </div>
            <div id="central">
                <div id="cuerpo_central">
                    <br>
                    <div class="clear"></div>
                    <center>
                        <table class="form" width="80%">
                            <tr>
                                <th colspan="2">Agregar o Editar Ordenes de Contratación</th>
                            </tr>
                            <tr>
                                <td>Usuario Proyecto</td>
                                <td>
                                    <select name="emp_cod" id="emp_cod">
                                        <option value="">Seleccione</option>
                                        <?php foreach ($empresas as $emp): ?>
                                            <option value="<?php echo $emp->getEmpCod() ?>"><?php echo $emp->getEmpRaz() ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Postulante</td>
                                <td style="column-count: 4;column-gap: 20px; column-rule: 1px solid #fff ;">
                                    <?php foreach ($personas as $per): ?>
                                        <input type="checkbox" name="postulant[]"
                                               value="<?php echo $per->per_cod ?>"> <?php echo $per->per_ide . " - " . $per->per_pno . " " . $per->per_pap ?>
                                        <br>
                                    <?php endforeach ?>
                                </td>
                            </tr>
                            <input type="hidden" name="ord_ftr" id="ord_ftr" value="<?= date('Y-m-d') ?>">
                            <input type="hidden" name="ord_est" id="ord_est" value="1">
                            <tr>
                                <td>Fecha de Ingreso</td>
                                <td>
                                    <input type="text" class="fecha" readonly="readonly" name="ord_fec" id="ord_fec">
                                </td>
                            </tr>
                            <tr>
                                <td>Cargo</td>
                                <td>
                                    <input type="text" name="ord_car" id="ord_car">
                                </td>
                            </tr>
                            <tr>
                                <td>Salario</td>
                                <td>
                                    <input type="text" name="ord_sal" id="ord_sal">
                                </td>
                            </tr>
                            <tr>
                                <td>Centro de Costo</td>
                                <td>
                                    <input type="text" name="ord_cto" id="ord_cto">
                                </td>
                            </tr>
                            <tr>
                                <td>Consecutivo SOT/SIT</td>
                                <td>
                                    <input type="text" name="ord_sot" id="ord_sot">
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Ingreso SIT/SOT *</td>
                                <td>
                                    <input type="text" name="ord_fec_sot" id="ord_fec_sot" class="fecha">
                                </td>
                            </tr>
                            <tr>
                                <td>% ARL</td>
                                <td>
                                    <select name="ord_arl" id="ord_arl">
                                        <option value="">Seleccione</option>
                                        <option value="0,522%">NIVEL I (0.522%)</option>
                                        <option value="1,044%">NIVEL II (​1.044%)</option>
                                        <option value="2,436%">NIVEL III (​2.436%)</option>
                                        <option value="4,350%">NIVEL IV (4.350%)</option>
                                        <option value="6,960%">NIVEL V (6.960%)</option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Tipo de Nomina</td>
                                <td>
                                    <select name="ord_tna" id="ord_tna">
                                        <option value="">Seleccione</option>
                                        <option value="Semanal">Semanal</option>
                                        <option value="Quincenal">Quincenal</option>
                                        <option value="Mensual">Mensual</option>
                                    </select>
                                </td>
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <select name="tip_cod" id="tip_cod">
                                        <option value="">Seleccione</option>
                                        <?php foreach ($bolsas as $tip): ?>
                                            <option value="<?php echo $tip->tip_cod ?>"><?php echo $tip->tip_des ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Observaciones</td>
                                <td><textarea id="ord_obs" name="ord_obs" rows="10"></textarea></td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="checkbox" name="ord_dot" value="SI"> Lleva dotación</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <?php foreach ($examenes as $exa): ?>
                                        <input type="checkbox" name="examenes[]"
                                               value="<?= $exa->exa_cod ?>"> <?= $exa->exa_nom ?> <br>
                                    <?php endforeach ?>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100"
                                                       id="btn_guardar"></td>
                            </tr>
                        </table>
                    </center>
                </div>
            </div>
            <div id="derecha">
                <?php $this->partial("shared/derecha") ?>
            </div>
        </div>
        <div id="pie">
            <?php $this->partial("shared/pie") ?>
        </div>
    </div>
</form>
</body>
</html>





