<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ordenes de Contratacion | APSC - Vista</title>
    <?php $this->assets->outputCss() ?>

    <?php $this->assets->outputJs() ?>
</head>
<body>
<script type="text/javascript">
    jQuery(document).ready(function ($) {

        $(".fecha").datepicker({

            dateFormat: "yy-mm-dd"

        });

    });
</script>
<form id="frm">
    <div id="contenedor">
        <input type="hidden" name="url" id="url" value="<?php echo $this->url->get('Ordenes/actualizar') ?>">
        <input type="hidden" name="ord_cod" id="ord_cod" value="<?= $orden->ord_cod ?>">
        <?php $this->partial("shared/encabezado") ?>
        <!-- <div class="clear"></div> -->
        <div id="cuerpo">
            <div id="izq">
                <?php $this->partial("shared/menuLateral") ?>
            </div>
            <div id="central">
                <div id="cuerpo_central">
                    <br>
                    <div class="clear"></div>
                    <center>
                        <table class="form" width="80%">
                            <tr>
                                <th colspan="2">Ordenes de Contratación</th>
                            </tr>
                            <tr>
                                <td>Usuario Proyecto</td>
                                <td>
                                    <select name="emp_cod" id="emp_cod">
                                        <option value="">Seleccione</option>
                                        <?php foreach ($empresas as $emp): ?>
                                            <option <? if ($emp->getEmpCod() == $orden->emp_cod) {
                                                echo "selected";
                                            } ?> value="<?php echo $emp->getEmpCod() ?>"><?php echo $emp->getEmpRaz() ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Postulante</td>
                                <td>
                                    <select name="pos_cod" id="pos_cod">
                                        <option value="<?php echo $persona->per_cod ?>"><?php echo $persona->per_pno . " " . $persona->per_sno . " " . $persona->per_pap . " " . $persona->per_sap ?></option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha de Ingreso</td>
                                <td>
                                    <input type="text" class="fecha" value="<?= $orden->ord_fec ?>" readonly="readonly"
                                           name="ord_fec" id="ord_fec">
                                </td>
                            </tr>
                            <tr>
                                <td>Cargo</td>
                                <td>
                                    <input type="text" name="ord_car" id="ord_car" value="<?= $orden->ord_car ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Salario</td>
                                <td>
                                    <input type="text" name="ord_sal" id="ord_sal" value="<?= $orden->ord_sal ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Centro de Costo</td>
                                <td>
                                    <input type="text" name="ord_cto" id="ord_cto" value="<?= $orden->ord_cto ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Consecutivo SOT/SIT</td>
                                <td>
                                    <input type="text" name="ord_sot" id="ord_sot" value="<?= $orden->ord_sot ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>Fecha Ingreso SIT/SOT *</td>
                                <td>
                                    <input type="text" name="ord_fec_sot" id="ord_fec_sot" class="fecha" value="<?= $orden->ord_fec_sot ?>">
                                </td>
                            </tr>
                            <tr>
                                <td>% ARL</td>
                                <td>
                                    <select name="ord_arl" id="ord_arl">
                                        <option <? if ($orden->ord_arl == "0.522%") {
                                            echo "selected";
                                        } ?> value="0.522%">NIVEL I (0.522%)
                                        </option>
                                        <option <? if ($orden->ord_arl == "1.044%") {
                                            echo "selected";
                                        } ?> value="1.044%">NIVEL II (​1.044%)
                                        </option>
                                        <option <? if ($orden->ord_arl == "2.436%") {
                                            echo "selected";
                                        } ?> value="2.436%">NIVEL III (​2.436%)
                                        </option>
                                        <option <? if ($orden->ord_arl == "4.350%") {
                                            echo "selected";
                                        } ?> value="4.350%">NIVEL IV (4.350%)
                                        </option>
                                        <option <? if ($orden->ord_arl == "6.960%") {
                                            echo "selected";
                                        } ?> value="6.960%">NIVEL V (6.960%)
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Tipo de Nomina</td>
                                <td>
                                    <select name="ord_tna" id="ord_tna">
                                        <option value="">Seleccione</option>
                                        <option <? if ($orden->ord_tna == "Semanal") {
                                            echo "selected";
                                        } ?> value="Semanal">Semanal
                                        </option>
                                        <option <? if ($orden->ord_tna == "Quincenal") {
                                            echo "selected";
                                        } ?> value="Quincenal">Quincenal
                                        </option>
                                        <option <? if ($orden->ord_tna == "Mensual") {
                                            echo "selected";
                                        } ?> value="Mensual">Mensual
                                        </option>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Empresa</td>
                                <td>
                                    <select name="tip_cod" id="tip_cod">
                                        <option value="">Seleccione</option>
                                        <?php foreach ($bolsas as $tip): ?>
                                            <option <? if ($tip->tip_cod == $orden->tip_cod) {
                                                echo "selected";
                                            } ?> value="<?php echo $tip->tip_cod ?>"><?php echo $tip->tip_des ?></option>
                                        <?php endforeach ?>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <td>Observaciones</td>
                                <td>
                                    <textarea name="ord_obs" id="ord_obs"><?= $orden->ord_obs ?></textarea>
                                </td>
                            </tr>
                        </table>
                    </center>
                </div>
            </div>
            <div id="derecha">
                <?php $this->partial("shared/derecha") ?>
            </div>
        </div>
        <div id="pie">
            <?php $this->partial("shared/pie") ?>
        </div>
    </div>
</form>
</body>
</html>





