
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Estados - Editar</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>
	<script type="text/javascript">
	jQuery(document).ready(function($) {
		//activar pestaña
		$("#pestanas ul li:nth-child(6)").addClass('active_pestana');
	});
	</script>
</head>
<body>
<form id="frm">
	<div id="contenedor">
		<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('estados/actualizar') ?>">
		<input type="hidden" name="est_cod" id="est_cod" value="<?php echo $estado->est_cod ?>">

	
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<div id="con">
						<div id="pestanas">
							<?php $this->partial("shared/pestanasEmpresa") ?>
						</div>
						<div class="botones">
							<!-- <input type="button" class="boton_simple" value="Editar">
							<input type="button" class="boton_simple" value="Eliminar"> -->
						</div>
					</div>
					<div class="clear"></div>
					<table class="form" width="50%">
						<tr>
							<th colspan="2">Agregar o Editar Estados</th>
							
						</tr>
						<tr>
							<td>Nombre</td>
							<td><input type="text" name="est_nom" id="est_nom" value="<?php echo $estado->est_nom ?>"></td>
						</tr>
						<tr>
							<td>Proceso</td>
							<td><select name="est_pro" id="est_pro">
								<option <? if ($estado->est_pro == "seleccion") echo "selected";?> value="seleccion">Selección</option>
								<option <? if ($estado->est_pro == "agenda") echo "selected";?> value="agenda">Agenda</option>
								<option <? if ($estado->est_pro == "contratacion") echo "selected";?> value="contratacion">Contratación</option>
							</select></td>
						</tr>




						<tr>
							<td colspan="2"><input type="button" value="Guardar y Continuar" class="boton w100" id="btn_guardar"></td>
						</tr>
					</table>

				</div>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</form>
</body>
</html>


