

<!DOCTYPE html>

<html lang="en">

<head>
  

	<meta charset="UTF-8">

	<title>Registrar Aspirante</title>

	<?php $this->assets->outputCss() ?>

	<?php $this->assets->outputJs() ?>
	<script>
	  $(function() {
	    $( ".fecha" ).datepicker({
	    	dateFormat:"yy-mm-dd"
	    });
	  });
  </script>
	<style>
		select{
			width: 150px;
		}
	</style>

</head>

<body>

<form id="frm"  method="post">




<div id="contenedor">

<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('registrar_hv/guardar') ?>">
<input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">


<input type="hidden" id="ambito" name="ambito" value="intranet">




		<?php $this->partial("shared/encabezado") ?>

		<!-- <div class="clear"></div> -->

		<div id="cuerpo">



		<div id="izq">

			<?php $this->partial("shared/menuLateral") ?>

		</div>

			<div id="central">

				<div id="cuerpo_central">

					<br>

					<h3 class="titulo">Registrar Hoja de Vida</h3>

					<br>

					<table class="form" width="100%" border="0">
					
											

						<tr>

							<td colspan="4" align="center">

								<?php //echo  $this->dispatcher->getParam(0); ?>

							</td>

						</tr>

						<tr>
							<td colspan="4" align="center">
								<span style="font-size: 14pt; color: red"><b>Cargo de Interés</b></span>

								<select name="car_cod" id="car_cod" class="required" style="width: 300px">
								<option value="">Seleccione</option>
									<?php 
									foreach ($cargos as $key => $car) {
											echo '<option value="'.$car->car_cod.'">'.$car->car_des.'</option>';
										
									}
									?>
								</select>
							</td>
						</tr>

						<tr>

							<td>Nombre *</td>

							<td><input type="text" class="required" name="per_pno" id="per_pno" ></td>

							<td>Segundo Nombre</td>

							<td>

								<input type="text" name="per_sno" id="per_sno" >

							</td>

						</tr>





						<tr>

							<td>Apellido *</td>

							<td>

								<input type="text" class="required" name="per_pap" id="per_pap" >

							</td>

							<td>Segundo Apellido</td>

							<td>

								<input type="text" name="per_sap" id="per_sap" >

							</td>

						</tr>

						<tr>

							<td>Tipo de Documento *</td>

							<td>

								<select name="per_tid" id="per_tid" class="required">

										<option value="">Seleccione</option>

									<?php foreach ($identificaciones as  $ide): ?>

										<option value="<?=$ide->tip_cod?>"><?=$ide->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>



							<td>No. Identificación *</td>

							<td>

								<input type="text" class="required" name="per_ide" id="per_ide" >

							</td>

						</tr>

						<tr>

							<td>Fecha de Expedición *</td>

							<td>

								<input type="text" name="per_fex" id="per_fex"  class="fecha required">

							</td>

							<td>Lugar de Expedición *</td>

							<td>

								<select name="per_cex" id="per_cex" class="required">

									<option value="">Seleccione</option>

									<?php foreach ($municipios as  $mun): ?>

										<option value="<?=$mun->mun_cod?>"><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>

									<?php endforeach ?>



								</select>

							</td>

						</tr>

						<tr>

							<td>Lugar de residencia *</td>

							<td>

								<select name="per_ciu" id="per_ciu" class="required">

									<option value="">Seleccione</option>

										<?php foreach ($municipios as  $mun): ?>

											<option value="<?=$mun->mun_cod?>"><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>

									<?php endforeach ?>

								</select>

							</td>

							<td>Dirección *</td>

							<td>

								<input type="text" class="required" name="per_dir" id="per_dir"  >

							</td>

							

						</tr>

						<tr>

							<td>Barrio *</td>

							<td>

								<input type="text" class="required" name="per_bar" id="per_bar" >

							</td>

							<td>Email *</td>

							<td>

								<input type="text" class="required email" name="per_ema" id="per_ema" >

							</td>

						</tr>


						<tr>

							<td>Teléfono</td>

							<td>

								<input type="text" name="per_tel" id="per_tel" >

							</td>

							<td>Estrato *</td>

							<td>

								<select name="per_ato" id="per_ato" class="required">

									<option value="">Seleccione</option>

									<?php foreach ($estratos as  $reg): ?>

									<option value="<?=$reg->tip_cod?>"><?=$reg->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>

						</tr>





						<tr>

							<td>Celular *</td>

							<td>

								<input type="text" class="required" name="per_cel" id="per_cel" >

							</td>

							<td>F. Nacimiento *</td>

							<td>

								<input type="text" name="per_fna" id="per_fna"  class="fecha required">

							</td>

						</tr>



						<tr>

							<td>Lugar de Nacimiento *</td>

							<td>

								<select name="per_cna" id="per_cna" class="required">

									<option value="">Seleccione</option>

									<<?php foreach ($municipios as  $mun): ?>

										<option value="<?=$mun->mun_cod?>"><?=$mun->mun_nom, " - ", $mun->dep_nom ?></option>

									<?php endforeach ?>

								</select>

							</td>

							<td>Grupo Sanguíneo *</td>

							<td>

								<select name="per_gsa" id="per_gsa" class="required">

								<option value="">Seleccione</option>

									<?php foreach ($grupos as  $reg): ?>

									<option value="<?=$reg->tip_cod?>" ><?=$reg->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>

						</tr>





						<tr>

							<td>Profesión *</td>

							<td>

								<input type="text" class="required" name="per_pro" id="per_pro" >

							</td>

							<td>Mujer Cabeza de Familia</td>

							<td>

								<select name="per_mcf" id="per_mcf">

									<option value="">Seleccione</option>

									<option value="SI" >SI</option>

									<option value="NO" >NO</option>

									

								</select>

							</td>

						</tr>



						<tr>

							<td>Sexo *</td>

							<td>

								<select name="per_sex" id="per_sex" class="required">

									<option value="">Seleccione</option>

									<?php foreach ($sexos as  $sex): ?>

									<option value="<?=$sex->tip_cod?>" ><?=$sex->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>

							<td>Estado Civil *</td>

							<td>

								<select name="per_civ" id="per_civ" class="required">

									<option value="">Seleccione</option>

									<?php foreach ($civiles as  $reg): ?>

									<option value="<?=$reg->tip_cod?>" ><?=$reg->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>

						</tr>





						<tr>

							<td>Estatura *</td>

							<td>

								<select name="per_ura" id="per_ura" class="required">

									<option value="">Seleccione</option>

									<?php foreach ($estaturas as  $reg): ?>

									<option value="<?=$reg->tip_cod?>" ><?=$reg->tip_des?></option>

									<?php endforeach ?>

								</select>

							</td>

							
							<td>Edad *</td>
							<td><input type="text" class="required" name="per_eda" id="per_eda" ></td>
						</tr>

						<tr>

							<td>Peso *</td>
							<td><input type="text" class="required" name="per_pes" id="per_pes" ></td>
							<td>Talla Camisa *</td>
							<td>

								<select name="per_tca" id="per_tca" class="required">
									<option value="">Seleccione</option>
									<option value="S">S</option>
									<option value="M">M</option>
									<option value="L">L</option>
									<option  value="XL">XL</option>
									<option value="XXL">XXL</option>
									<option value="XXXL">XXXL</option>

								</select>

							</td>
						</tr>

						<tr>

							<td>Talla Pantalón *</td>
							<td>

								<select name="per_tpa" id="per_tpa" class="required">
									<option value="">Seleccione</option>
									<? 
									for ($i=4; $i < 20; $i+=2) { 
										
											echo '<option value="'.$i.'">'.$i.'</option>';
										
									}
									for ($i=28; $i < 44; $i+=2) { 
										
											echo '<option value="'.$i.'">'.$i.'</option>';
										
									}
									?>

								</select>

							</td>
							<td>Talla Zapatos *</td>
							<td>

								<select name="per_tza" id="per_tza" class="required">
									<option value="">Seleccione</option>
									<? 
									for ($i=35; $i < 48; $i++) { 
										
											echo '<option value="'.$i.'">'.$i.'</option>';
										
									}
									?>

								</select>

							</td>
						</tr>

						<tr>

							<td>Grupo Social</td>

							<td>

								<input type="text" name="per_gso" id="per_gso" >

							</td>

							<td>Grupo Étnico</td>

							<td>

								<select name="per_get" id="per_get">
									<option value="">Seleccione</option>
									<option value="Afrocolombiano">Afrocolombiano</option>
									<option value="Indígena">Indígena</option>
									<option value="Raizal">Raizal</option>
								</select>

							</td>

						</tr>

						<tr>

							<td>No. Hermanos</td>

							<td>

								<input type="text" name="per_her" id="per_her" >

							</td>

							<td>No. de Hijos *</td>

							<td>

								<input type="text" class="required" name="per_hij" id="per_hij" >

							</td>

						</tr>

						<tr>

							<td>No. Personas a Cargo *</td>

							<td>

								<input type="text" class="required" name="per_pac" id="per_pac" >

							</td>

							<td colspan="2"></td>

						</tr>

						<tr>

							<td colspan="4">

								<h3 class="titulo">Test General</h3>

							</td>

						</tr>

						<tr>

							<td>¿Cuál es su aspiración salarial? *</td>

							<td>

								<input type="text" class="required" name="per_asp" id="per_asp" >

							</td>

							<td>¿Tiene disponibilidad para realizar turnos? *</td>

							<td>

								<select name="per_tur" id="per_tur" class="required">
									<option value="">Seleccione</option>
									<option value="SI">SI</option>
									<option value="NO">NO</option>

								</select>

							</td>

						</tr>

						<tr>

							<td>¿Tiene disponibilidad inmediata? *</td>

							<td>

								<select name="per_din" id="per_din" class="required">
									<option value="">Seleccione</option>
									<option value="SI">SI</option>
									<option value="NO">NO</option>

								</select>

							</td>

							<td>Indique fuente de reclutamiento *</td>

							<td>

								<select name="per_fre" id="per_fre" class="required">
									<option value="">Seleccione</option>
									<option value="Página Web Contactamos">Página Web Contactamos</option>
									<option value="Redes Sociales (Facebook, Twitter)">Redes Sociales (Facebook, Twitter)</option>
									<option value="Computrabajo">Computrabajo</option>
									<option value="El Empleo">El Empleo</option>
									<option value="Reclutador Contactamos">Reclutador Contactamos</option>
									<option value="Líderes de Comunidad Contactamos">Líderes de Comunidad Contactamos</option>
									<option value="Empresa Cliente">Empresa Cliente</option>
									<option value="Referido">Referido</option>
								</select>

								<input type="text" style="display: none" name="per_otr" id="per_otr" >

							</td>

						</tr>

						<tr>

							<td>N°. Tarjeta Profesional</td>

							<td>

								<input type="text" name="per_tpr" id="per_tpr" >

							</td>

							<td colspan="2"></td>

						</tr>

						<tr>

							<td colspan="4">

								<h3 class="titulo">Datos Documentos</h3>

							</td>

						</tr>



						<tr>

							<td>N°. Libreta Militar</td>

							<td>

								<input type="text" name="per_nlm" id="per_nlm" >

							</td>

							<td>Distrito</td>

							<td>

								<input type="text" name="per_dis" id="per_dis" >

							</td>

						</tr>



						<tr>

							<td>N°. Licencia de Conducir</td>

							<td>

								<input type="text" name="per_lco" id="per_lco" >

							</td>

							<td>Categoría</td>

							<td>

								<input type="text" name="per_cat" id="per_cat" >

							</td>

						</tr>



						

						<tr>

							<td colspan="4">

								<input type="button" value="GUARDAR Y CONTINUAR" class="boton w100" id="btn_guardar">

							</td>

						</tr>

					</table>

					<br>

					

					<br>







				</div>

			</div>

			<div id="derecha">

				<?php $this->partial("shared/derecha") ?>

			</div>

		</div>

		

		<div id="pie">

			<?php $this->partial("shared/pie") ?>

		</div>

	</div>

</form>

</body>

</html>





