<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Adjuntar Examanes</title>
	<?php $this->assets->outputCss() ?>
	<?php $this->assets->outputJs() ?>

	
</head>
<body>

	<div id="contenedor">
	<div class="negro" onclick="cerrarModal();"></div>
		
	<input type="hidden" name="url" id="url" value="<?php echo $this->url->get('ordenes/eliminar') ?>">
	<input type="hidden" name="url_base" id="url_base" value="<?php echo $this->url->get() ?>">
	<input type="hidden" name="url_consultar" id="url_consultar" value="<?php echo $this->url->get('adjuntar_examenes/consultar') ?>">
		<?php $this->partial("shared/encabezado") ?>
		<!-- <div class="clear"></div> -->
		<div id="cuerpo">

		<div id="izq">
			<?php $this->partial("shared/menuLateral") ?>
		</div>
			<div id="central">
				<div id="cuerpo_central">
					<br>
					<h3 class="titulo">Adjuntar Exámenes Médicos y Otros Estudios</h3>
					<div class="consulta">
						<p>Consultar Postulante</p>
						<div class="busqueda">
							<input type="text" placeholder="Digite N° documento " id="txt_bus">
						</div>
					</div>
					<div id="respuesta"></div>
					<br>
					<!-- <a href="<?php echo $this->url->get('Ordenes/nuevo') ?>" class="boton"> + Agregar Nuevo</a> -->
					
				</div> 
				<form action="<?=$this->url->get()?>adjuntar_examenes/subir" method="post" enctype="multipart/form-data" id="frm">
					<input type="hidden"  id="per_cod" name="per_cod" >
					<input type="hidden"  id="asi_cod" name="asi_cod" >

				
				<div id="modal_documentos" style="position:absolute;background:white;top:10%;padding:20px;">
				 
									
					
					<table border="1" style="border-collapse:collapse;" width="100%;" class="form">
					<tr>
						<th>ADJUNTAR EXÁMENES MÉDICOS Y OTROS ESTUDIOS</th>
					</tr>

					<tr>
							<td>
							  <input type="file" name="archivo">
							</td>
					</tr>


						<tr>
							<td>
							   Observaciones:
								<textarea name="exa_obs" id="exa_obs" cols="30" rows="10"></textarea>
							</td>
						</tr>

					</table> 

					<input type="button" value="Guardar y Finalizar" class="boton w100" id="btn_guardar">
					
				</div>
				</form>
			</div>
			<div id="derecha">
				<?php $this->partial("shared/derecha") ?>
			</div>
		</div>
		
		<div id="pie">
			<?php $this->partial("shared/pie") ?>
		</div>
	</div>
</body>
</html>